@using MVC.Presentacion.Models.Catalogos
@model MVC.Presentacion.Models.Catalogos.CentroCostoModel
@*@{
        ViewBag.Title = "Centro de Costos";
    }*@


@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }

        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )

<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script src="~/Scripts/js/CentroCostoJS.js"></script>

<script type="text/javascript">
    var Mensaje = '@ViewBag.Mjs';
    if (Mensaje != '') {
        $(window).on("load", showNotification("alert-success", Mensaje, 'top', 'center', '', ''));
    }
</script>
<section class="content home">
    <div class="container-fluid">
        @using (Html.BeginForm("Crear", "CentroCosto", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.IdEmpresa)
            @Html.HiddenFor(m => m.IdCentroCosto)
            @Html.HiddenFor(m => m.IdCAlmacenGas)
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Centro de Costos</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href=@Url.Action("Inicio", "Home")><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item">Catálogos</li>
                            <li class="breadcrumb-item">Centros de costo</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <strong>Nuevo </strong>centro de costo
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-3 form-control-label">
                                    <label>Número</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Numero, new { @class = "form-control", @placeholder = "Número de centro de costo" })

                                    </div>
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(m => m.Numero, "", new { @class = "alert-danger" })

                                    </div>
                                  
                                </div>
                                <div class="col-md-6 form-control-label">
                                    <label for="txtDescripcion">Descripción</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Descripción", @style = "max-width:initial" })

                                    </div>
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "alert-danger", @value=string.Empty })

                                    </div>
                                </div>
                                <div class="col-md-3 form-control-label">
                                    <label for="ddlTipoCentroCosto">Tipo centro de costo</label>
                                    <div class="form-group">
                                        <select id="ddlTipoCentroCosto" name="IdTipoCentroCosto" class="form-control z-index" data-live-search="true">
                                            <option value="0">Seleccione uno</option>
                                            @if (ViewBag.TiposCentrosCosto != null)
                                            {
                                                foreach (var tp in ViewBag.TiposCentrosCosto)
                                                {
                                                    if (tp.IdTipoCentroCosto == Model.IdTipoCentroCosto)
                                                    {
                                                        <option value="@tp.IdTipoCentroCosto" selected>@tp.Descripcion</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@tp.IdTipoCentroCosto">@tp.Descripcion</option>
                                                    }
                                                }
                                            }
                                        </select>

                                    </div>
                                    @Html.HiddenFor(m => m.IdTipoCentroCosto)
                                    @Html.ValidationMessageFor(m => m.IdTipoCentroCosto, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-3 form-control-label">
                                    <label for="ddlEquipoTransporte">Equipo Transporte</label>
                                    <div class="form-group">
                                        <select name="IdEquipoTransporte" class="form-control z-index" data-live-search="true">
                                            <option value="0">Seleccione uno</option>
                                            @if (ViewBag.EquipoTransporte != null)
                                            {
                                                foreach (var tp in ViewBag.EquipoTransporte)
                                                {
                                                    if (tp.IdEquipoTransporte == Model.IdEquipoTransporte)
                                                    {
                                                        <option value="@tp.IdEquipoTransporte" selected>@tp.Descripcion</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@tp.IdEquipoTransporte">@tp.Descripcion</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.IdEquipoTransporte, "", new { @class = "alert-danger" })
                                </div>
                                @*<div class="col-md-3 form-control-label">
                                    <label for="ddlVehiculo">Vehiculo</label>
                                    <div class="form-group">
                                        <select id="IdVehiculo" class="form-control z-index show-tick" disabled data-live-search="true">
                                            <option id="0">Seleccione uno</option>
                                        </select>
                                    </div>*@
                                @*<Label ID="reqVehiculo" class="alert-danger" hidden="hidden">Campo requerido</Label>*@
                                <div class="col-md-3 form-control-label">
                                    <label for="ddlUnidadAlmacenGas">Unidad de almacén de gas</label>
                                    <div class="form-group">
                                        <select name="IdCAlmacenGas" class="form-control z-index" data-live-search="true">
                                            <option value="0">Seleccione uno</option>
                                            @if (ViewBag.UnidadAlmacenGas != null)
                                            {
                                                foreach (var tp in ViewBag.UnidadAlmacenGas)
                                                {
                                                    if (tp.IdCAlmacenGas == Model.IdCAlmacenGas)
                                                    {
                                                        <option value="@tp.IdCAlmacenGas" selected>@tp.Numero</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@tp.IdCAlmacenGas">@tp.Numero</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.IdCAlmacenGas, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-3 form-control-label">
                                    <label for="ddlEstacionCarburacion">Estación de carburación</label>
                                    <div class="form-group">
                                        <select id="EstacionCarburacion" name="IdEstacionCarburacion" class="form-control z-index" data-live-search="true">
                                            <option value="0">Seleccione uno</option>
                                            @if (ViewBag.EstacionesCarburacion != null)
                                            {
                                                foreach (var tp in ViewBag.EstacionesCarburacion)
                                                {
                                                    if (tp.IdEstacionCarburacion == Model.IdEstacionCarburacion)
                                                    {
                                                        <option value="@tp.IdEstacionCarburacion" selected>@tp.Nombre</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@tp.IdEstacionCarburacion">@tp.Nombre</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    @Html.HiddenFor(m => m.IdEstacionCarburacion)
                                    @Html.ValidationMessageFor(m => m.IdEstacionCarburacion, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-3 form-control-label">
                                    <div><strong>&nbsp; </strong></div>
                                    @if (ViewBag.EsEdicion == null)
                                    {
                                        <button id="BtnCrear" formaction="Crear" class="btn btn-primary btn-icon  btn-icon-mini btn-round">
                                            <i class="zmdi zmdi-plus"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button btn id="btnUpDate" formaction="@Url.Action("ActivarEditar")" class="btn btn-primary btn-icon  btn-icon-mini btn-round">
                                            <i class="zmdi zmdi-swap"></i>
                                        </button>
                                    }
                                </div>
                            </div>
                            <div class="row clearfix">
                                @*<div class="col-md-3 form-control-label">
                                            <label for="ddlCamioneta">Camioneta</label>
                                            <div class="form-group">
                                                <select id="IdCamioneta" class="form-control z-index show-tick" disabled data-live-search="true">
                                                    <option id="0">Seleccione uno</option>
                                                </select>
                                            </div>
                                            <Label ID="reqCamnioneta" class="alert-danger" hidden="hidden">Campo requerido</Label>
                                        </div>
                                    <div class="col-md-3 form-control-label">
                                            <label for="ddlPipa">Pipa</label>
                                            <div class="form-group">
                                                <select id="IdPipa" class="form-control z-index show-tick" disabled data-live-search="true">
                                                    <option id="0">Seleccione uno</option>

                                                </select>
                                            </div>
                                            <Label ID="reqPipa" class="alert-danger" hidden="hidden">Campo requerido</Label>
                                        </div>
                                    <div class="col-md-3 form-control-label">
                                            <label for="ddlCilindroGas">Cilindro de Gas</label>
                                            <div class="form-group">
                                                <select id="IdCilindroGas" class="form-control z-index show-tick" disabled data-live-search="true">
                                                    <option id="0">Seleccione uno</option>
                                                </select>
                                            </div>
                                            <Label ID="reqCilindro" CssClass="alert-danger" hidden="hidden">Campo requerido</Label>
                                        </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                @if (ViewBag.MensajeError != null)
                {
                    <div id="DivAlerta" class="container">
                        <div class="alert alert-danger">
                            <div class="alert-icon">
                                <i class="zmdi zmdi-block"></i>
                            </div>
                            <strong>
                                @ViewBag.MensajeError
                            </strong>
                        </div>
                    </div>
                }
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            Centros de <strong>costo</strong>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-4 form-control-label">
                                    <label for="ddlFiltroGasera">Gasera</label>
                                    <div class="form-group">
                                        <select name="idEmpresa" class="form-control selectpicker" data-live-search="true">
                                            <option value="0">Seleccione uno</option>
                                            @foreach (var item in ViewBag.Empresas)
                                            {
                                                <option value="item.IdEmpresa">@item.NombreComercial</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 form-control-label">
                                    @*<label for="txtFiltroNumero">Número</label>
                                        <div class="form-group">
                                            <input type="text" id="txtFiltroNumero" class="form-control" />
                                        </div>*@
                                </div>
                                <div class="col-md-4 form-control-label">
                                    @*<label for="ddlFiltroCentroCosto">Tipo centro de costo</label>
                                        <div class="form-group">
                                            <select class="form-control selectpicker" data-live-search="true">
                                                @foreach (var item in ViewBag.TiposCentrosCosto)
                                                {
                                                    <option value="@item.IdTipoCentroCosto">@item.Descripcion</option>
                                                }
                                            </select>
                                        </div>*@
                                </div>
                            </div><br />

                            <div class="blockquote blockquote-info btn-round">
                                @Html.Partial("_CB_CentroCostos", (List<CentroCostoDTO>)TempData["DataSourceCentros"])
                                @*<div class="row clearfix">
                                        <div class="table-responsive">
                                            <table class="table table-striped filterable">
                                                <thead>
                                                    <tr>
                                                        <td><b>Gasera</b></td>
                                                        <td><b>Número</b></td>
                                                        <td><b>Descripción</b></td>
                                                        <td><b>Tipo</b></td>
                                                        <td><b>Acción</b></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.EditorFor(m => m.CentrosCostos)
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
