@using MVC.Presentacion.Models.Catalogos
@model  MVC.Presentacion.Models.Catalogos.PrecioVentaModel
<!-- Otros-->
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript">
       
        $(document).ready(function () {
            $("#txtUtilidad").keyup(function () {

                var precio = $("#PrecioPMX").val();
                var utilidad = $(this).val();
                var operacion = parseFloat(precio) + parseFloat(utilidad);
                $("#IdPrecioSalidaKg").val(operacion)

                /*****factorLitrosaKilos*****/
                var url = "/PrecioVenta/GetConfiguracionEmpresa";
                var id = $('#ddlEmpresas').find('option:selected').val();
                $.getJSON(url, { idEmpresa: id }, function (data) {
                    var factor = data;
                    $("#IdPrecioSalidaLt").val(factor)
                });
                /**********/

            });//key up.

            $("#IdA").keyup(function () {
                debugger
                var from = $("#IdDe").val();
                var To = $(this).val();
                var index = 0;
                var value = $('#IdTipoFecha').find('option:selected').val();//get value to filter of selected
                if (value == 1) {
                    index = 7;
                }
                if (value == 2) {
                    index = 8;
                }
                if (value == 3) {
                    index = 9;
                }

                var dateParts = from.split("/");
                var datefrom = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                var dateParts2 = To.split("/");
                var dateto = new Date(dateParts2[2], dateParts2[1] - 1, dateParts2[0]);

                $('#tblfilterable tbody tr').each(function () {
                    var filterdate = $(this).find("td").eq(index).html();//get value of column Fecha x
                    var dateParts3 = filterdate.split("/");
                    var datefilter = new Date(dateParts3[2].split(" ", 1), dateParts3[1] - 1, dateParts3[0]);

                    if (datefilter >= datefrom && datefilter <= dateto) {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
                    }
                    else {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
                    }
                });
            });
            $('select').on('change', function () {
                debugger
                var from = $("#IdDe").val();
                var To = $("#IdA").val();
                var value = $('#IdTipoFecha').find('option:selected').val();//get value to filter of selected
                if (from != "" && To != "" && value != 0) {

                    var index = 0;

                    if (value == 1) {
                        index = 7;
                    }
                    if (value == 2) {
                        index = 8;
                    }
                    if (value == 3) {
                        index = 9;
                    }

                    var dateParts = from.split("/");
                    var datefrom = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                    var dateParts2 = To.split("/");
                    var dateto = new Date(dateParts2[2], dateParts2[1] - 1, dateParts2[0]);

                    $('#tblfilterable tbody tr').each(function () {
                        var filterdate = $(this).find("td").eq(index).html();//get value of column Fecha Programada  x
                        var dateParts3 = filterdate.split("/");
                        var datefilter = new Date(dateParts3[2].split(" ", 1), dateParts3[1] - 1, dateParts3[0]);
                        if (datefilter >= datefrom && datefilter <= dateto) {
                            var rowindex = $(this).index();
                            $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
                        }
                        else {
                            var rowindex = $(this).index();
                            $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
                        }
                    });
                }

                if (value == 0) {
                    $('#tblfilterable tbody tr').show();
                }
            });
        });
        function OnSelectedChangeFilter(s, e) {
            debugger
            var from = IdDe.GetDate();
            //var from = $("#IdDe").GetValue();
            var To = IdA.GetDate();//$("#IdA").GetValue();
            var value = s.GetSelectedIndex();//$('#IdTipoFecha').find('option:selected').val();//get value to filter of selected
            //var value = IdTipoFecha.GetSelectedIndex();
            if (from != null && To != null && value != 0) {
                var index = 0;

                if (value == 1) {
                    index = 4;
                }
                if (value == 2) {
                    index = 7;
                }
                if (value == 3) {
                    index = 5;
                }

                var dateParts = from.split("/");
                var datefrom = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                var dateParts2 = To.split("/");
                var dateto = new Date(dateParts2[2], dateParts2[1] - 1, dateParts2[0]);

                $('#tblfilterable tbody tr').each(function () {
                    var filterdate = $(this).find("td").eq(index).html();//get value of column Fecha Programada  x
                    var dateParts3 = filterdate.split("/");
                    var datefilter = new Date(dateParts3[2].split(" ", 1), dateParts3[1] - 1, dateParts3[0]);
                    if (datefilter >= datefrom && datefilter <= dateto) {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
                    }
                    else {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
                    }
                });
            }

            if (value == 0) {
                $('#tblfilterable tbody tr').show();
            }
        }
        function keyupDateEdit(s, e) {
            debugger
            var from = IdDe.GetDate();
            //var from = $("#IdDe").GetValue();
            var To = s.GetValue();
            var index = 0;
            var value = IdTipoFecha.GetSelectedIndex();//$('#IdTipoFecha').find('option:selected').val();//get value to filter of selected
            if (value == 1) {
                index = 4;
            }
            if (value == 2) {
                index = 7;
            }
            if (value == 3) {
                index = 6;
            }
            if (from != "" && To != "") {
                $('#tblfilterable tbody tr').each(function () {
                    var filterdate = $(this).find("td").eq(index).html();//get value of column Fecha x
                    var dateParts3 = filterdate.split("/");
                    var datefilter = new Date(dateParts3[2].split(" ", 1), dateParts3[1] - 1, dateParts3[0]);

                    if (datefilter >= from && datefilter <= To) {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
                    }
                    else {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
                    }
                });
            }
            else {
                $('#tblfilterable tbody tr').show();
            }
        };
    </script>
</head>
<body style="height:100%">
    @using (Html.BeginForm("Registrar", "PrecioVentaOtro", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Precio de Venta Otros</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Catálogos</li>
                                <li class="breadcrumb-item">Precio de Venta Otros</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-sm-3">
                                        <div>
                                            <strong>Gasera</strong>
                                        </div>
                                        <div>
                                            @if (ViewBag.EsAdmin)
                                            {
                                            <select id="empresas" name="IdEmpresa" class="form-control show-tick" data-live-search="true">
                                                @foreach (var lst in ViewBag.Empresas)
                                                    {
                                                    <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                    }
                                            </select>
                                            }
                                            else
                                            {
                                            @ViewBag.Empresas
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2><strong>Registrar precio de salida</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4">

                                    <strong>Categoría:</strong>
                                    @*<select name="IdCategoria" class="form-control selectpicker z-index show-tick">
                                            <option value="0">Seleccione..</option>
                                            @foreach (var lst in ViewBag.Categoria)
                                            {
                                                <option value="@lst.IdCategoria">@lst.Categoria</option>
                                            }
                                        </select>*@
                                    @Html.DevExpress().ComboBox(settings =>
                                   {
                                       settings.Name = "IdCategoria";
                                       settings.Width = 180;
                                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                       settings.Properties.TextField = "Categoria";
                                       settings.Properties.ValueField = "IdCategoria";
                                       settings.Theme = "Material";
                                       settings.PreRender = (s, e) =>
                                       {
                                           MVCxComboBox combo = s as MVCxComboBox;
                                           combo.Properties.Items.Insert(0, new ListEditItem("Seleccione"));
                                           combo.SelectedIndex = 0;
                                       };
                                   }).BindList(ViewBag.Categoria).GetHtml()

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    @*<div class="form-group">
                                            Línea:
                                            <select name="IdProductoLinea" class="form-control selectpicker z-index show-tick">
                                                <option value="0">Seleccione..</option>
                                                @foreach (var lst in ViewBag.Linea)
                                                {
                                                <option value="@lst.IdProductoLinea">@lst.Linea</option>
                                                }
                                            </select>
                                        </div>*@
                                    <strong>Línea:</strong>
                                    @Html.DevExpress().ComboBox(settings =>
                                {
                                    settings.Name = "IdProductoLinea";
                                    settings.Width = 180;
                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                    settings.Properties.TextField = "Linea";
                                    settings.Properties.ValueField = "IdProductoLinea";
                                    settings.Theme = "Material";
                                    settings.PreRender = (s, e) =>
                                    {
                                        MVCxComboBox combo = s as MVCxComboBox;
                                        combo.Properties.Items.Insert(0, new ListEditItem("Seleccione"));
                                        combo.SelectedIndex = 0;
                                    };
                                }).BindList(ViewBag.Linea).GetHtml()
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    @*<div class="form-group">
                                            Producto:
                                            <select name="IdProducto" class="form-control selectpicker z-index show-tick">
                                                <option value="0">Seleccione..</option>
                                                @foreach (var lst in ViewBag.Producto)
                                                {
                                                <option value="@lst.IdProducto">@lst.Producto</option>
                                                }
                                            </select>
                                        </div>*@
                                    <strong>Producto:</strong>
                                    @Html.DevExpress().ComboBox(settings =>
                                {
                                    settings.Name = "IdProducto";
                                    settings.Width = 180;
                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                    settings.Properties.TextField = "Producto";
                                    settings.Properties.ValueField = "IdProducto";
                                    settings.Theme = "Material";
                                    settings.PreRender = (s, e) =>
                                    {
                                        MVCxComboBox combo = s as MVCxComboBox;
                                        combo.Properties.Items.Insert(0, new ListEditItem("Seleccione"));
                                        combo.SelectedIndex = 0;
                                    };
                                }).BindList(ViewBag.Producto).GetHtml()
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input name="PrecioVentaEstatus" type="text" class="form-control" value="Programada" hidden="hidden" />
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                        Precio Actual:
                                        <input name="PrecioActual" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                        Precio Salida:
                                        <input name="PrecioSalida" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <b>Fecha programada:</b>
                                        @*<div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="zmdi zmdi-calendar"></i>
                                                </span>
                                                <input type="text" class="form-control date" placeholder="formato: dd/mm/aaaa" />

                                            </div>*@
                                        @Html.DevExpress().DateEdit(settings =>
                               {
                                   settings.Name = "FechaProgramada";
                                   settings.Properties.UseMaskBehavior = true;
                                   settings.Properties.EditFormat = EditFormat.Custom;
                                   settings.Theme = "Material";
                                   settings.Properties.EditFormatString = "dd/MM/yyyy";
                                   settings.Properties.NullText = "dd/MM/yyyy";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(80);
                                   settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                               }).GetHtml()
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <input type="submit" id="btnRegistraPrecio" value="Registrar Precio" formmethod="post" class="btn btn-raised btn-round btn-primary float-right" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card">
                            <div class="body">                              
                                <div class="row clearfix blockquote blockquote-info btn-round" style="overflow-x:auto;">
                                    @Html.Partial("_CB_PrecioVentasOtro", (List<PrecioVentaModel>)TempData["DataSourcePrecioVentasOtro"])
                                    @*<div class="col-lg-12 col-md-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="tblfilterable" name="PreciosVenta">
                    <thead>
                        <tr>
                            <th>Gasera</th>
                            <th>Categoría</th>
                            <th>Línea</th>
                            <th>Producto</th>
                            <th>Concepto</th>
                            <th>Precio Actual</th>
                            <th>Precio Salida</th>
                            <th>Fecha Programada</th>
                            <th>FechaRegistro</th>
                            <th>FechaVencimiento</th>
                            <th>Estatus</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.ListaPV != null)
                        {
                            foreach (var item in ViewBag.ListaPV)
                            {
                                <tr>
                                    <td>@item.Empresa</td>
                                    <td>@item.Categoria</td>
                                    <td>@item.Linea</td>
                                    <td>@item.Producto</td>
                                    <td>@item.CategoriaProducto</td>
                                    <td>@item.PrecioActual</td>
                                    <td>@item.PrecioSalida</td>
                                    <td>@item.FechaProgramada</td>
                                    <td>@item.FechaRegistro</td>
                                    <td>@item.FechaVencimiento</td>
                                    <td>@item.PrecioVentaEstatus</td>
                                    @if (item.PrecioVentaEstatus == "Programado")
                                    {
                                        <td>
                                            <a href="@Url.Action("EditarPrecioVentaOtro", "PrecioVentaOtro", new { id = item.IdPrecioVenta })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">edit</i>
                                                <span>Editar precio venta</span>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>*@
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.MessageError != null)
                        {
                            <div class="row clearfix">
                                <div id="divMensajeError" class="container">
                                    <div class="alert alert-danger">
                                        <div class="alert-icon">
                                            <i class="zmdi zmdi-block"></i>
                                        </div>
                                        <strong>
                                            <label>@ViewBag.MessageError</label>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }

@*</body>
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")*@
@Scripts.Render("~/Scripts/jquery-ui.js")
@*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
</html>
