@model MVC.Presentacion.Models.Catalogos.CentroCostoDTO
@Html.HiddenFor(m => m.IdCAlmacenGas)
<tr>
    <td>@Model.Empresa </td>
    <td>@Model.Numero </ td >
    <td>@Model.Descripcion </ td >
    <td>@Model.TipoCentroCosto </ td >
    <td>
        <a href="@Url.Action("ActivarEditar", "CentroCosto", new { Id = Model.IdCentroCosto })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">edit</i>
            <span>Activar editar</span>
        </a>
        <a href="@Url.Action("Eliminar", "CentroCosto", new { Id = Model.IdCentroCosto})" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">delete</i>
            <span>Eliminar centro costo</span>
        </a>

    </td>
</tr>