@model MVC.Presentacion.Models.Catalogos.CuentaContableDTO
<tr>
    <td>@Model.Empresa</td>
    <td>@Model.Numero</td>
    <td>@Model.Descripcion</td>
    <td>
        <a href="@Url.Action("ActivarEditar", "CuentaContable", new { Id = Model.IdCuentaContable })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">edit</i>
            <span>Activar editar</span>
        </a>
        <a href="@Url.Action("Eliminar", "CuentaContable", new { Id = Model.IdCuentaContable})" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">delete</i>
            <span>Eliminar cuenta contable</span>
        </a>
    </td>
</tr>