@model MVC.Presentacion.Models.OrdenCompra.OrdenCompraPagoDTO
    <tr>
        <td>@Model.FechaRegistro</td>
        <td>@Model.</td>
        <td>@Model.FechaRegistro</td>
        <td>@Model.FechaRegistro</td>
        <td>@Model.FechaRegistro</td>
        <td>@Model.FechaRegistro</td>
    </tr>
