@model MVC.Presentacion.Models.OrdenCompra.OrdenCompraProductoDTO
<tr>
    <td>@Model.ProductoServicioTipo</td>
    <td>@Model.Producto</td>
    <td>@Model.CantidadAComprar</td>
    <td>@Model.UnidadMedida</td>
    <td>@Model.Aplicacion</td>
    <td>@Model.CentroCosto</td>
    <td>@ViewBag.Proveedor </td>
    <td>@Model.CuentaContable</td>
    <td>@Model.Precio</td>
    <td>@Model.Descuento</td>
    <td>@Model.IVA</td>
    <td>@Model.IEPS</td>
    <td>@Model.Importe</td>
</tr>