@model MVC.Presentacion.Models.OrdenCompra.ProductoOCDTO
@{

}
@Html.HiddenFor(m => m.IdProducto)
<tr>
    <td>@Model.TipoProducto</td>
    <td>@Model.Producto</td>
    <td>
        @Html.LabelFor(m => m.CantidadAComprar, Model.CantidadAComprar.ToString())
        @Html.HiddenFor(m => m.CantidadAComprar)
    </td>
    <td>@Model.Unidad</td>
    <td>@Model.Aplicacion</td>
    <td>@Model.CentroCosto</td>
    <td>@Html.DropDownListFor(model => model.IdProdveedor, ViewBag.Proveedores as IEnumerable<SelectListItem>)</td>
    <td>@Html.DropDownListFor(model => model.IdCentroCosto, ViewBag.CuentasContables as IEnumerable<SelectListItem>)</td>
    <td>@Html.TextBoxFor(m => m.Precio, new { @class = "form-control calculaPrecio ", @type = "number", @onkeyup = "javascript: CalcularImporte();", @style = "width:100px;" })</td>
    <td>@Html.TextBoxFor(m => m.Descuento, new { @type = "number", @class = "form-control calculaPrecio", @onkeyup = "javascript: CalcularImporte();", @style = "width:100px;" }) </td>
    <td>@Html.DropDownListFor(model => model.IVA, ViewBag.IVAs as IEnumerable<SelectListItem>, new { @class = "form-control calculaPrecio", @onchange = "javascript: CalcularImporte();" }) </td>
    <td>@Html.DropDownListFor(model => model.IEPS, ViewBag.IEPs as IEnumerable<SelectListItem>, new { @class = "form-control calculaPrecio", @onchange = "javascript: CalcularImporte();" })</td>
    <td class="align-right">$@Html.LabelFor(m => m.Importe, Model.Importe.ToString())
        @Html.HiddenFor(m => m.Importe)</td>
</tr>