@model MVC.Presentacion.Models.Catalogos.RolCat



@*Hidden Fields*@
<tr class="hideControl">
    <td>@Html.HiddenFor(m => m.RequisicionVerRequisiciones)</td>
    <td>@Html.HiddenFor(m => m.RequisicionGenerarNueva)</td>
    <td>@Html.HiddenFor(m => m.RequisicionRevisarExistencia)</td>
    <td>@Html.HiddenFor(m => m.RequisicionAutorizar)</td>
    <td>@Html.HiddenFor(m => m.AppCompraVerOCompra)</td>
    <td>@Html.HiddenFor(m => m.AppCompraEntraGas)</td>
    <td>@Html.HiddenFor(m => m.AppCompraGasIniciarDescarga)</td>
    <td>@Html.HiddenFor(m => m.AppCompraGasFinalizarDescarga)</td>
    <td>@Html.HiddenFor(m => m.AppAutoconsumoInventarioGral)</td>
    <td>@Html.HiddenFor(m => m.AppAutoconsumoEstacionCarb)</td>
    <td>@Html.HiddenFor(m => m.AppAutoconsumoPipa)</td>
    <td>@Html.HiddenFor(m => m.AppCalibracionEstacionCarb)</td>
    <td>@Html.HiddenFor(m => m.AppCalibracionPipa)</td>
    <td>@Html.HiddenFor(m => m.AppCalibracionCamionetaCilindro)</td>
    <td>@Html.HiddenFor(m => m.AppRecargaEstacionCarb)</td>
    <td>@Html.HiddenFor(m => m.AppRecargaPipa)</td>
    <td>@Html.HiddenFor(m => m.AppRecargaCamionetaCilindro)</td>
    <td>@Html.HiddenFor(m => m.AppTomaLecturaAlmacenPral)</td>
    <td>@Html.HiddenFor(m => m.AppTomaLecturaEstacionCarb)</td>
    <td>@Html.HiddenFor(m => m.AppTomaLecturaPipa)</td>
    <td>@Html.HiddenFor(m => m.AppTomaLecturaCamionetaCilindro)</td>
    <td>@Html.HiddenFor(m => m.AppTomaLecturaReporteDelDia)</td>
    <td>@Html.HiddenFor(m => m.AppTraspasoEstacionCarb)</td>
    <td>@Html.HiddenFor(m => m.CompraVerOCompra)</td>
    <td>@Html.HiddenFor(m => m.CompraGenerarOCompra)</td>
    <td>@Html.HiddenFor(m => m.CompraAutorizarOCompra)</td>
    <td>@Html.HiddenFor(m => m.CompraEntraProductoOCompra)</td>
    <td>@Html.HiddenFor(m => m.CompraAtiendeServicioOCompra)</td>
    <td>@Html.HiddenFor(m => m.IdRol)</td>
    <td>@Html.HiddenFor(m => m.IdEmpresa)</td>
    <td>@Html.HiddenFor(m => m.NombreRol)</td>
    <td>@Html.HiddenFor(m => m.Rol1)</td>
    <td>@Html.HiddenFor(m => m.Activo)</td>
    <td>@Html.HiddenFor(m => m.FechaRegistro)</td>
        
    </tr>
<tr>
    <td>@Model.NombreRol </td>

    <td>@Html.CheckBoxFor(m => m.CatInsertarUsuario)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarUsuario)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarUsuario)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarUsuario)</td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarProveedor)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarProveedor)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarProveedor)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarProveedor)</td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarProducto)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarProducto)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarProducto)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarProducto)</td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarCentroCosto)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarCentroCosto)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarCentroCosto)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarCentroCosto)</td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarCuentaContable)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarCuentaContable)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarCuentaContable)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarCuentaContable)</td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarCliente)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarCliente)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarCliente)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarCliente)</td>
    <td>@Html.CheckBoxFor(m => m.CatAsignarChoferPuntoVenta)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarPuntoVenta)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarPuntoVenta)</td>
    <td>@Html.CheckBoxFor(m => m.CatAsignarEquipoTransporte)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarEquipoTransporte)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarEquipoTransporte)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarEquipoTransporte) </td>

    <td>
        <a ID="lbEdit" href="@Url.Action("ActualizaNombreRol", "Roles", new { id = Model.IdRol })">
            <i class="material-icons">edit</i>
            <span class="icon-name"></span>
        </a>
        <a ID="lbBorrar" href="@Url.Action("BorrarRol", "Roles", new { id = Model.IdRol })">
            <i class="material-icons">delete</i>
            <span class="icon-name"></span>
        </a>
    </td>
</tr>
