@model MVC.Presentacion.Models.Catalogos.RolDto
@{
    var tipoRol = ViewData["tipo"] ?? new { };
}

@Html.HiddenFor(m => m.IdRol)
@Html.HiddenFor(m => m.IdEmpresa)
@Html.HiddenFor(m => m.NombreRol)
@Html.HiddenFor(m => m.Rol1)
@Html.HiddenFor(m => m.Activo)
@Html.HiddenFor(m => m.FechaRegistro)

@Html.HiddenFor(m => m.RequisicionVerRequisiciones)
@Html.HiddenFor(m => m.RequisicionGenerarNueva)
@Html.HiddenFor(m => m.RequisicionRevisarExistencia)
@Html.HiddenFor(m => m.RequisicionAutorizar)
@Html.HiddenFor(m => m.AppCompraVerOCompra)
@Html.HiddenFor(m => m.AppCompraEntraGas)
@Html.HiddenFor(m => m.AppCompraGasIniciarDescarga)
@Html.HiddenFor(m => m.AppCompraGasFinalizarDescarga)
@Html.HiddenFor(m => m.AppAutoconsumoInventarioGral)
@Html.HiddenFor(m => m.AppAutoconsumoEstacionCarb)
@Html.HiddenFor(m => m.AppAutoconsumoPipa)
@Html.HiddenFor(m => m.AppCalibracionEstacionCarb)
@Html.HiddenFor(m => m.AppCalibracionPipa)
@Html.HiddenFor(m => m.AppCalibracionCamionetaCilindro)
@Html.HiddenFor(m => m.AppRecargaEstacionCarb)
@Html.HiddenFor(m => m.AppRecargaPipa)
@Html.HiddenFor(m => m.AppRecargaCamionetaCilindro)
@Html.HiddenFor(m => m.AppTomaLecturaAlmacenPral)
@Html.HiddenFor(m => m.AppTomaLecturaEstacionCarb)
@Html.HiddenFor(m => m.AppTomaLecturaPipa)
@Html.HiddenFor(m => m.AppTomaLecturaCamionetaCilindro)
@Html.HiddenFor(m => m.AppTomaLecturaReporteDelDia)
@Html.HiddenFor(m => m.AppTraspasoEstacionCarb)
@Html.HiddenFor(m => m.CompraVerOCompra)
@Html.HiddenFor(m => m.CompraGenerarOCompra)
@Html.HiddenFor(m => m.CompraAutorizarOCompra)
@Html.HiddenFor(m => m.CompraEntraProductoOCompra)
@Html.HiddenFor(m => m.CompraAtiendeServicioOCompra)
@Html.HiddenFor(m => m.CompraCancelaOCompra)
@Html.HiddenFor(m => m.AlmacenActualizaExistencias)
@Html.HiddenFor(m => m.AlmacenVerExistencias)
@Html.HiddenFor(m => m.AlmacenVerMovimientos)
@Html.HiddenFor(m => m.AlmacenRegistrarAlmacen)
@Html.HiddenFor(m => m.AlmacenVerProductos)
@Html.HiddenFor(m => m.CobranzaVerAbonos)
@Html.HiddenFor(m => m.CobranzaVerCartera)
@Html.HiddenFor(m => m.CobranzaVerCreditoRecuperado)
@Html.HiddenFor(m => m.CobranzaGenerarAbonos)
@Html.HiddenFor(m => m.PedidoVerPedido)
@Html.HiddenFor(m => m.PedidoGenerarPedido)
@Html.HiddenFor(m => m.PedidoModificarPedido)
@Html.HiddenFor(m => m.PedidoEliminarPedido)
@Html.HiddenFor(m => m.AppDisposicionEfectivo)
@Html.HiddenFor(m => m.AppCamionetaPuntoVenta)
@Html.HiddenFor(m => m.AppEstacionCarbPuntoVenta)
@Html.HiddenFor(m => m.AppPipaPuntoVenta)
@Html.HiddenFor(m => m.ConsultarRemanenteGeneral)
@Html.HiddenFor(m => m.ETRegistrarParqueVehicular)
@Html.HiddenFor(m => m.ETConsultarParqueVehicular)
@Html.HiddenFor(m => m.ETAsignarVehiculo)
@Html.HiddenFor(m => m.ETConsultarAsignarVehiculo)
@Html.HiddenFor(m => m.ETBorrarAsignacionVehicular)
@Html.HiddenFor(m => m.ETRegistrarMantenimiento)
@Html.HiddenFor(m => m.ETBorrarMantenimiento)
@Html.HiddenFor(m => m.ETRegistrarRecargaCombustible)
@Html.HiddenFor(m => m.ETBorrarRecargaCombustible)
@Html.HiddenFor(m => m.CobranzaConsultarFactura)
@Html.HiddenFor(m => m.CobranzaFacturar)
@Html.HiddenFor(m => m.FacturasVerFacturas)
@Html.HiddenFor(m => m.FacturasFacturar)
@Html.HiddenFor(m => m.HVCargaInformacion)
@Html.HiddenFor(m => m.HistoricoVentas)
<tr>
    <td>@Model.NombreRol </td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarUsuario)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarUsuario)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarUsuario)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarUsuario)</td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarProveedor)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarProveedor)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarProveedor)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarProveedor)</td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarProducto)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarProducto)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarProducto)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarProducto)</td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarCentroCosto)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarCentroCosto)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarCentroCosto)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarCentroCosto)</td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarCuentaContable)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarCuentaContable)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarCuentaContable)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarCuentaContable)</td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarCliente)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarCliente)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarCliente)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarCliente)</td>
    <td>@Html.CheckBoxFor(m => m.CatAsignarChoferPuntoVenta)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarPuntoVenta)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarPuntoVenta)</td>
    <td>@Html.CheckBoxFor(m => m.CatAsignarEquipoTransporte)</td>
    <td>@Html.CheckBoxFor(m => m.CatModificarEquipoTransporte)</td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarEquipoTransporte)</td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarEquipoTransporte) </td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarEmpresa) </td>
    <td>@Html.CheckBoxFor(m => m.CatModificarEmpresa) </td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarEmpresa) </td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarEmpresa) </td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarRol) </td>
    <td>@Html.CheckBoxFor(m => m.CatModificarRol) </td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarRol) </td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarRol) </td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarPrecioVentaGas) </td>
    <td>@Html.CheckBoxFor(m => m.CatModificarPrecioVentaGas) </td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarPrecioVentaGas) </td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarPrecioVentaGas) </td>
    <td>@Html.CheckBoxFor(m => m.CatInsertarPrecioVenta) </td>
    <td>@Html.CheckBoxFor(m => m.CatModificarPrecioVenta) </td>
    <td>@Html.CheckBoxFor(m => m.CatEliminarPrecioVenta) </td>
    <td>@Html.CheckBoxFor(m => m.CatConsultarPrecioVenta) </td>

    <td>
        <a ID="lbEdit" href="@Url.Action("ActualizaNombreRol", "Roles", new { id = Model.IdRol })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">edit</i>
            <span>Editar nombre rol</span>
        </a>
        <a ID="lbBorrar" href="@Url.Action("BorrarRol", "Roles", new { id = Model.IdRol })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">delete</i>
            <span>Eliminar rol</span>
        </a>
    </td>
</tr>
