@model MVC.Presentacion.Models.Catalogos.RolDto
@{
    var tipoRol = ViewData["tipo"] ?? new { };
}

    @Html.HiddenFor(m => m.IdRol)
    @Html.HiddenFor(m => m.IdEmpresa)
    @Html.HiddenFor(m => m.NombreRol)
    @Html.HiddenFor(m => m.Rol1)
    @Html.HiddenFor(m => m.Activo)
    @Html.HiddenFor(m => m.FechaRegistro)
    @Html.HiddenFor(m => m.RequisicionVerRequisiciones)
    @Html.HiddenFor(m => m.RequisicionGenerarNueva)
    @Html.HiddenFor(m => m.RequisicionRevisarExistencia)
    @Html.HiddenFor(m => m.RequisicionAutorizar)
    @Html.HiddenFor(m => m.AppCompraVerOCompra)
    @Html.HiddenFor(m => m.AppCompraEntraGas)
    @Html.HiddenFor(m => m.AppCompraGasIniciarDescarga)
    @Html.HiddenFor(m => m.AppCompraGasFinalizarDescarga)
    @Html.HiddenFor(m => m.AppAutoconsumoInventarioGral)
    @Html.HiddenFor(m => m.AppAutoconsumoEstacionCarb)
    @Html.HiddenFor(m => m.AppAutoconsumoPipa)
    @Html.HiddenFor(m => m.AppCalibracionEstacionCarb)
    @Html.HiddenFor(m => m.AppCalibracionPipa)
    @Html.HiddenFor(m => m.AppCalibracionCamionetaCilindro)
    @Html.HiddenFor(m => m.AppRecargaEstacionCarb)
    @Html.HiddenFor(m => m.AppRecargaPipa)
    @Html.HiddenFor(m => m.AppRecargaCamionetaCilindro)
    @Html.HiddenFor(m => m.AppTomaLecturaAlmacenPral)
    @Html.HiddenFor(m => m.AppTomaLecturaEstacionCarb)
    @Html.HiddenFor(m => m.AppTomaLecturaPipa)
    @Html.HiddenFor(m => m.AppTomaLecturaCamionetaCilindro)
    @Html.HiddenFor(m => m.AppTomaLecturaReporteDelDia)
    @Html.HiddenFor(m => m.AppTraspasoEstacionCarb)
    @Html.HiddenFor(m => m.CompraVerOCompra)
    @Html.HiddenFor(m => m.CompraGenerarOCompra)
    @Html.HiddenFor(m => m.CompraAutorizarOCompra)
    @Html.HiddenFor(m => m.CompraEntraProductoOCompra)
    @Html.HiddenFor(m => m.CompraAtiendeServicioOCompra)
    @Html.HiddenFor(m => m.CompraCancelaOCompra)
    @Html.HiddenFor(m => m.AlmacenActualizaExistencias)
    @Html.HiddenFor(m => m.AlmacenVerExistencias)
    @Html.HiddenFor(m => m.AlmacenVerMovimientos)
    @Html.HiddenFor(m => m.CatInsertarUsuario)
    @Html.HiddenFor(m => m.CatModificarUsuario)
    @Html.HiddenFor(m => m.CatEliminarUsuario)
    @Html.HiddenFor(m => m.CatConsultarUsuario)
    @Html.HiddenFor(m => m.CatInsertarProveedor)
    @Html.HiddenFor(m => m.CatEliminarProveedor)
    @Html.HiddenFor(m => m.CatConsultarProveedor)
    @Html.HiddenFor(m => m.CatModificarProveedor)
    @Html.HiddenFor(m => m.CatInsertarProducto)
    @Html.HiddenFor(m => m.CatModificarProducto)
    @Html.HiddenFor(m => m.CatEliminarProducto)
    @Html.HiddenFor(m => m.CatConsultarProducto)
    @Html.HiddenFor(m => m.CatInsertarCentroCosto)
    @Html.HiddenFor(m => m.CatModificarCentroCosto)
    @Html.HiddenFor(m => m.CatEliminarCentroCosto)
    @Html.HiddenFor(m => m.CatConsultarCentroCosto)
    @Html.HiddenFor(m => m.CatInsertarCuentaContable)
    @Html.HiddenFor(m => m.CatModificarCuentaContable)
    @Html.HiddenFor(m => m.CatEliminarCuentaContable)
    @Html.HiddenFor(m => m.CatConsultarCuentaContable)
    @Html.HiddenFor(m => m.CatInsertarCliente)
    @Html.HiddenFor(m => m.CatModificarCliente)
    @Html.HiddenFor(m => m.CatEliminarCliente)
    @Html.HiddenFor(m => m.CatConsultarCliente)
    @Html.HiddenFor(m => m.CatAsignarChoferPuntoVenta)
    @Html.HiddenFor(m => m.CatEliminarPuntoVenta)
    @Html.HiddenFor(m => m.CatConsultarPuntoVenta)
    @Html.HiddenFor(m => m.CatAsignarEquipoTransporte)
    @Html.HiddenFor(m => m.CatModificarEquipoTransporte)
    @Html.HiddenFor(m => m.CatEliminarEquipoTransporte)
    @Html.HiddenFor(m => m.CatConsultarEquipoTransporte)
    @Html.HiddenFor(m => m.CatInsertarEmpresa)
    @Html.HiddenFor(m => m.CatModificarEmpresa)
    @Html.HiddenFor(m => m.CatEliminarEmpresa)
    @Html.HiddenFor(m => m.CatConsultarEmpresa)
    @Html.HiddenFor(m => m.CatInsertarRol)
    @Html.HiddenFor(m => m.CatModificarRol)
    @Html.HiddenFor(m => m.CatEliminarRol)
    @Html.HiddenFor(m => m.CatConsultarRol)
    @Html.HiddenFor(m => m.CatInsertarPrecioVentaGas)
    @Html.HiddenFor(m => m.CatModificarPrecioVentaGas)
    @Html.HiddenFor(m => m.CatEliminarPrecioVentaGas)
    @Html.HiddenFor(m => m.CatConsultarPrecioVentaGas)
    @Html.HiddenFor(m => m.CatInsertarPrecioVenta)
    @Html.HiddenFor(m => m.CatModificarPrecioVenta)
    @Html.HiddenFor(m => m.CatEliminarPrecioVenta)
    @Html.HiddenFor(m => m.CatConsultarPrecioVenta)

<tr>
    <td>@Model.NombreRol </td>

    @if (tipoRol.Equals("Cat"))
    {
        <td>@Html.CheckBoxFor(m => m.CatInsertarUsuario)</td>
        <td>@Html.CheckBoxFor(m => m.CatModificarUsuario)</td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarUsuario)</td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarUsuario)</td>
        <td>@Html.CheckBoxFor(m => m.CatInsertarProveedor)</td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarProveedor)</td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarProveedor)</td>
        <td>@Html.CheckBoxFor(m => m.CatModificarProveedor)</td>
        <td>@Html.CheckBoxFor(m => m.CatInsertarProducto)</td>
        <td>@Html.CheckBoxFor(m => m.CatModificarProducto)</td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarProducto)</td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarProducto)</td>
        <td>@Html.CheckBoxFor(m => m.CatInsertarCentroCosto)</td>
        <td>@Html.CheckBoxFor(m => m.CatModificarCentroCosto)</td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarCentroCosto)</td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarCentroCosto)</td>
        <td>@Html.CheckBoxFor(m => m.CatInsertarCuentaContable)</td>
        <td>@Html.CheckBoxFor(m => m.CatModificarCuentaContable)</td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarCuentaContable)</td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarCuentaContable)</td>
        <td>@Html.CheckBoxFor(m => m.CatInsertarCliente)</td>
        <td>@Html.CheckBoxFor(m => m.CatModificarCliente)</td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarCliente)</td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarCliente)</td>
        <td>@Html.CheckBoxFor(m => m.CatAsignarChoferPuntoVenta)</td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarPuntoVenta)</td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarPuntoVenta)</td>
        <td>@Html.CheckBoxFor(m => m.CatAsignarEquipoTransporte)</td>
        <td>@Html.CheckBoxFor(m => m.CatModificarEquipoTransporte)</td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarEquipoTransporte)</td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarEquipoTransporte) </td>
        <td>@Html.CheckBoxFor(m => m.CatInsertarEmpresa) </td>
        <td>@Html.CheckBoxFor(m => m.CatModificarEmpresa) </td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarEmpresa) </td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarEmpresa) </td>
        <td>@Html.CheckBoxFor(m => m.CatInsertarRol) </td>
        <td>@Html.CheckBoxFor(m => m.CatModificarRol) </td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarRol) </td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarRol) </td>
        <td>@Html.CheckBoxFor(m => m.CatInsertarPrecioVentaGas) </td>
        <td>@Html.CheckBoxFor(m => m.CatModificarPrecioVentaGas) </td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarPrecioVentaGas) </td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarPrecioVentaGas) </td>
        <td>@Html.CheckBoxFor(m => m.CatInsertarPrecioVenta) </td>
        <td>@Html.CheckBoxFor(m => m.CatModificarPrecioVenta) </td>
        <td>@Html.CheckBoxFor(m => m.CatEliminarPrecioVenta) </td>
        <td>@Html.CheckBoxFor(m => m.CatConsultarPrecioVenta) </td>
    }
    @if (tipoRol.Equals("compras"))
    {   
        <td>@Html.CheckBoxFor(m => m.CompraVerOCompra)</td>
        <td>@Html.CheckBoxFor(m => m.CompraGenerarOCompra)</td>
        <td>@Html.CheckBoxFor(m => m.CompraAutorizarOCompra)</td>
        <td>@Html.CheckBoxFor(m => m.CompraEntraProductoOCompra)</td>
        <td>@Html.CheckBoxFor(m => m.CompraAtiendeServicioOCompra)</td>
        <td>@Html.CheckBoxFor(m => m.CompraCancelaOCompra)</td>
        <td>@Html.CheckBoxFor(m => m.AlmacenActualizaExistencias)</td>
        <td>@Html.CheckBoxFor(m => m.AlmacenVerExistencias)</td>
        <td>@Html.CheckBoxFor(m => m.AlmacenVerMovimientos)</td>
    }
    @if (tipoRol.Equals("requsicion"))
    {
        <td>@Html.CheckBoxFor(m => m.RequisicionVerRequisiciones)</td>
        <td>@Html.CheckBoxFor(m => m.RequisicionGenerarNueva)</td>
        <td>@Html.CheckBoxFor(m => m.RequisicionRevisarExistencia)</td>
        <td>@Html.CheckBoxFor(m => m.RequisicionAutorizar)</td>
    }
    @if (tipoRol.Equals("movilcompra"))
    {
        <td>@Html.CheckBoxFor(m => m.AppCompraVerOCompra)</td>
        <td>@Html.CheckBoxFor(m => m.AppCompraEntraGas)</td>
        <td>@Html.CheckBoxFor(m => m.AppCompraGasIniciarDescarga)</td>
        <td>@Html.CheckBoxFor(m => m.AppCompraGasFinalizarDescarga)</td>
        <td>@Html.CheckBoxFor(m => m.AppAutoconsumoInventarioGral)</td>
        <td>@Html.CheckBoxFor(m => m.AppAutoconsumoEstacionCarb)</td>
        <td>@Html.CheckBoxFor(m => m.AppAutoconsumoPipa)</td>
        <td>@Html.CheckBoxFor(m => m.AppCalibracionEstacionCarb)</td>
        <td>@Html.CheckBoxFor(m => m.AppCalibracionPipa)</td>
        <td>@Html.CheckBoxFor(m => m.AppCalibracionCamionetaCilindro)</td>
        <td>@Html.CheckBoxFor(m => m.AppRecargaEstacionCarb)</td>
        <td>@Html.CheckBoxFor(m => m.AppRecargaPipa)</td>
        <td>@Html.CheckBoxFor(m => m.AppRecargaCamionetaCilindro)</td>
        <td>@Html.CheckBoxFor(m => m.AppTomaLecturaAlmacenPral)</td>
        <td>@Html.CheckBoxFor(m => m.AppTomaLecturaEstacionCarb)</td>
        <td>@Html.CheckBoxFor(m => m.AppTomaLecturaPipa)</td>
        <td>@Html.CheckBoxFor(m => m.AppTomaLecturaCamionetaCilindro)</td>
        <td>@Html.CheckBoxFor(m => m.AppTomaLecturaReporteDelDia)</td>
        <td>@Html.CheckBoxFor(m => m.AppTraspasoEstacionCarb)</td>
        <td>@Html.CheckBoxFor(m => m.AppTraspasoPipa)</td>
    }
    
    <td>
        <a ID="lbEdit" href="@Url.Action("ActualizaNombreRol", "Roles", new { id = Model.IdRol })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">edit</i>
            <span>Editar nombre rol</span>
        </a>
        <a ID="lbBorrar" href="@Url.Action("BorrarRol", "Roles", new { id = Model.IdRol })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">delete</i>
            <span>Eliminar rol</span>
        </a>
    </td>
</tr>
