@model MVC.Presentacion.Models.Catalogos.RolSistemaVenta

@Html.HiddenFor(m => m.IdRol)
@Html.HiddenFor(m => m.IdEmpresa)
@Html.HiddenFor(m => m.NombreRol)
@Html.HiddenFor(m => m.Rol1)
@Html.HiddenFor(m => m.Activo)
@Html.HiddenFor(m => m.FechaRegistro)

@*MovilCompra*@
@Html.HiddenFor(m => m.CompraVerOCompra)
@Html.HiddenFor(m => m.CompraGenerarOCompra)
@Html.HiddenFor(m => m.CompraAutorizarOCompra)
@Html.HiddenFor(m => m.CompraEntraProductoOCompra)
@Html.HiddenFor(m => m.CompraAtiendeServicioOCompra)
@Html.HiddenFor(m => m.CompraCancelaOCompra)
@Html.HiddenFor(m => m.AlmacenActualizaExistencias)
@Html.HiddenFor(m => m.AlmacenVerExistencias)
@Html.HiddenFor(m => m.AlmacenVerMovimientos)
@Html.HiddenFor(m => m.RequisicionVerRequisiciones)
@Html.HiddenFor(m => m.RequisicionGenerarNueva)
@Html.HiddenFor(m => m.RequisicionRevisarExistencia)
@Html.HiddenFor(m => m.RequisicionAutorizar)
@Html.HiddenFor(m => m.CatInsertarUsuario)
@Html.HiddenFor(m => m.CatModificarUsuario)
@Html.HiddenFor(m => m.CatEliminarUsuario)
@Html.HiddenFor(m => m.CatConsultarUsuario)
@Html.HiddenFor(m => m.CatInsertarProveedor)
@Html.HiddenFor(m => m.CatEliminarProveedor)
@Html.HiddenFor(m => m.CatConsultarProveedor)
@Html.HiddenFor(m => m.CatModificarProveedor)
@Html.HiddenFor(m => m.CatInsertarProducto)
@Html.HiddenFor(m => m.CatModificarProducto)
@Html.HiddenFor(m => m.CatEliminarProducto)
@Html.HiddenFor(m => m.CatConsultarProducto)
@Html.HiddenFor(m => m.CatInsertarCentroCosto)
@Html.HiddenFor(m => m.CatModificarCentroCosto)
@Html.HiddenFor(m => m.CatEliminarCentroCosto)
@Html.HiddenFor(m => m.CatConsultarCentroCosto)
@Html.HiddenFor(m => m.CatInsertarCuentaContable)
@Html.HiddenFor(m => m.CatModificarCuentaContable)
@Html.HiddenFor(m => m.CatEliminarCuentaContable)
@Html.HiddenFor(m => m.CatConsultarCuentaContable)
@Html.HiddenFor(m => m.CatInsertarCliente)
@Html.HiddenFor(m => m.CatModificarCliente)
@Html.HiddenFor(m => m.CatEliminarCliente)
@Html.HiddenFor(m => m.CatConsultarCliente)
@Html.HiddenFor(m => m.CatAsignarChoferPuntoVenta)
@Html.HiddenFor(m => m.CatEliminarPuntoVenta)
@Html.HiddenFor(m => m.CatConsultarPuntoVenta)
@Html.HiddenFor(m => m.CatAsignarEquipoTransporte)
@Html.HiddenFor(m => m.CatModificarEquipoTransporte)
@Html.HiddenFor(m => m.CatEliminarEquipoTransporte)
@Html.HiddenFor(m => m.CatConsultarEquipoTransporte)
@Html.HiddenFor(m => m.CatInsertarEmpresa)
@Html.HiddenFor(m => m.CatModificarEmpresa)
@Html.HiddenFor(m => m.CatEliminarEmpresa)
@Html.HiddenFor(m => m.CatConsultarEmpresa)
@Html.HiddenFor(m => m.CatInsertarRol)
@Html.HiddenFor(m => m.CatModificarRol)
@Html.HiddenFor(m => m.CatEliminarRol)
@Html.HiddenFor(m => m.CatConsultarRol)
@Html.HiddenFor(m => m.CatInsertarPrecioVentaGas)
@Html.HiddenFor(m => m.CatModificarPrecioVentaGas)
@Html.HiddenFor(m => m.CatEliminarPrecioVentaGas)
@Html.HiddenFor(m => m.CatConsultarPrecioVentaGas)
@Html.HiddenFor(m => m.CatInsertarPrecioVenta)
@Html.HiddenFor(m => m.CatModificarPrecioVenta)
@Html.HiddenFor(m => m.CatEliminarPrecioVenta)
@Html.HiddenFor(m => m.CatConsultarPrecioVenta)

@Html.HiddenFor(m => m.AppCompraVerOCompra)
@Html.HiddenFor(m => m.AppCompraEntraGas)
@Html.HiddenFor(m => m.AppCompraGasIniciarDescarga)
@Html.HiddenFor(m => m.AppCompraGasFinalizarDescarga)
@Html.HiddenFor(m => m.AppAutoconsumoInventarioGral)
@Html.HiddenFor(m => m.AppAutoconsumoEstacionCarb)
@Html.HiddenFor(m => m.AppAutoconsumoPipa)
@Html.HiddenFor(m => m.AppCalibracionEstacionCarb)
@Html.HiddenFor(m => m.AppCalibracionPipa)
@Html.HiddenFor(m => m.AppCalibracionCamionetaCilindro)
@Html.HiddenFor(m => m.AppRecargaEstacionCarb)
@Html.HiddenFor(m => m.AppRecargaPipa)
@Html.HiddenFor(m => m.AppRecargaCamionetaCilindro)
@Html.HiddenFor(m => m.AppTomaLecturaAlmacenPral)
@Html.HiddenFor(m => m.AppTomaLecturaEstacionCarb)
@Html.HiddenFor(m => m.AppTomaLecturaPipa)
@Html.HiddenFor(m => m.AppTomaLecturaCamionetaCilindro)
@Html.HiddenFor(m => m.AppTomaLecturaReporteDelDia)
@Html.HiddenFor(m => m.AppTraspasoEstacionCarb)
@Html.HiddenFor(m => m.AppTraspasoPipa)
<tr>
    <td>@Model.NombreRol </td>
    <td>@Html.CheckBoxFor(m => m.CobranzaVerAbonos)</td>
    <td>@Html.CheckBoxFor(m => m.CobranzaVerCartera)</td>
    <td>@Html.CheckBoxFor(m => m.CobranzaVerCreditoRecuperado)</td>
    <td>@Html.CheckBoxFor(m => m.CobranzaGenerarAbonos)</td>
    <td>@Html.CheckBoxFor(m => m.PedidoVerPedido)</td>
    <td>@Html.CheckBoxFor(m => m.PedidoGenerarPedido)</td>
    <td>@Html.CheckBoxFor(m => m.PedidoModificarPedido)</td>
    <td>@Html.CheckBoxFor(m => m.PedidoEliminarPedido)</td>
    <td>
        <a ID="lbEdit" href="@Url.Action("ActualizaNombreRol", "Roles", new { id = Model.IdRol })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">edit</i>
            <span>Editar nombre rol</span>
        </a>
        <a ID="lbBorrar" href="@Url.Action("BorrarRol", "Roles", new { id = Model.IdRol })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">delete</i>
            <span>Eliminar rol</span>
        </a>
    </td>
</tr>

 
 
 
 

 
 
