@model MVC.Presentacion.Models.Catalogos.UnidadMedidaDTO
<tr>
    <td>@Model.Nombre </td>
    <td>@Model.Acronimo </td>
    <td>@Model.Descripcion </td>    
    <td>
        <a href="@Url.Action("EditarUnidadMedida", "Producto", new { Id = Model.IdUnidadMedida })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">edit</i>
            <span>Editar unidad medida</span>
        </a>
        <a href="@Url.Action("EliminarUnidadMedida", "Producto", new { Id = Model.IdUnidadMedida })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">delete</i>
            <span>Eliminar unidad medida</span>
        </a>
    </td>
</tr>

