@model MVC.Presentacion.Models.Requisicion.RequisicionDTO
@{
    string EnabledAdminCentral = Convert.ToBoolean(ViewBag.EsAdminCentral).Equals(false) ? "disabled" : "";
    string EnabledEsNueva = Convert.ToBoolean(ViewBag.EsNueva).Equals(true) ? "" : "disabled";
    string txtbutton = ViewBag.BtnCrear == null ? "Crear" : ViewBag.BtnCrear;
}
<script language="JavaScript" type="text/javascript" src="~/assets/plugins/jquery/jquery-v3.2.1.min.js"></script>
<link rel="stylesheet" href="~/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />

<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="50" height="50" alt="Alpino"></div>
        <p>Procesando</p>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#selectTipo").on('change', function () {
            var url = "/Requisicion/GetProductos";
            var id = $('#selectTipo').find('option:selected').val();
            document.getElementById("unidadPord").innerHTML = "";
            $.getJSON(url, { idTipo: id }, function (data) {
                var $select = $('#productos');
                if (data == "[]") {
                    $select.find('option').remove().end().append('<option selected="selected" value="0">No haty productos</option>').val('0')
                    $select.selectpicker("refresh")
                }
                else {
                    $select.find('option').remove().end().append('<option selected="selected" value="0">Seleccione un producto</option>').val('0')
                    $.each(JSON.parse(data), function (key, val) {
                        $select.append($('<option />', { value: (val['IdProducto']), text: val['Descripcion'] }));
                    });
                    $select.selectpicker("refresh");
                }
            });
        });
        $("#productos").on('change', function () {
            var url = "/Requisicion/GetUnidadMedida";
            var id = $('#productos').find('option:selected').val();
            if (id == '0') {
                document.getElementById("unidadPord").innerHTML = "";
            }
            else {
                $.getJSON(url, { idPord: id }, function (data) {
                    var $unidad = $('#unidadPord');
                    if (data == "[]") {
                        document.getElementById("unidadPord").innerHTML = "";
                    }
                    else {
                        document.getElementById("unidadPord").innerHTML = data;
                    }
                });
            }
        });
    });
</script>
<body>
    @using (Html.BeginForm("CrearRequisicion", "Requisicion", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Requisición</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="~/DashBoard/Vista/Dashboard.aspx"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Requisición</li>
                                <li class="breadcrumb-item active"> Nueva </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="header">
                                   <strong>Crear</strong> nueva requisición
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <select id="ddlEmpresas" name="IdEmpresa" class="form-control show-tick" @EnabledAdminCentral data-live-search="true">
                                                    @foreach (var lst in ViewBag.Empresas)
                                                    {
                                                        <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                    }
                                                </select>
                                                @Html.HiddenFor(m => m.IdEmpresa)
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label>Número de Requisición:</label>&nbsp;
                                                    <Label ID="lblIdRequisicion">@Model.NumeroRequisicion</Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix z-index" id="divCamposRequi">
                                        <div class="col-lg-3">
                                            <b>Fecha requerida:</b>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                                                @Html.TextBoxFor(c => c.FechaRequerida, new { @class = "form-control date", @placeholder = "formato: dd/mm/aaaa" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <b>Solicitante:</b>
                                            <select id="ddlSoliciante" name="IdUsuarioSolicitante" class="form-control show-tick" @EnabledAdminCentral data-live-search="true">
                                                @foreach (var lst in ViewBag.Usuarios)
                                                {
                                                    <option value="@lst.IdUsuario">@lst.Nombre @lst.Apellido1</option>
                                                }
                                            </select>
                                            @Html.HiddenFor(m => m.IdUsuarioSolicitante)
                                        </div>
                                        <div class="col-lg-3">
                                            <b>Motivo de compra:</b>
                                            <div class="blockquote blockquote-info btn-round">
                                                <textarea name="MotivoRequisicion" class="form-control  no-resize" @EnabledEsNueva placeholder="Motivo de la compra..." rows="4">@Model.MotivoRequisicion</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <b>Se requiere en:</b>
                                            <div class="blockquote blockquote-info btn-round">
                                                <textarea name="RequeridoEn" class="form-control no-resize" @EnabledEsNueva placeholder="Se requiere en..." rows="4">@Model.RequeridoEn</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(ViewBag.MensajeError))
                                    {
                                        <div class="row clearfix">
                                            <div id="divCampos" class="container">
                                                <div class="alert alert-danger">
                                                    <div class="alert-icon">
                                                        <i class="zmdi zmdi-block"></i>
                                                    </div>
                                                    <strong>
                                                        <label>@ViewBag.MensajeError</label>
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (ViewBag.EsNueva)
                                    {
                                        <div class="row clearfix">
                                            <div class="col-lg-2">
                                                <b>Tipo de compra:</b>
                                                <select name="IdTipoProducto" id="selectTipo" class="form-control show-tick" onchange='filtrarProd()'>
                                                    <option value="2">Producto</option>
                                                    <option value="3">Servicio</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4">
                                                <b>Producto:</b>
                                                <select id="productos" name="IdProducto" class="form-control z-index show-tick selectpicker" data-live-search="true">
                                                    <option value="0">Seleccione uno</option>
                                                    @if (ViewBag.Productos != null)
                                                    {
                                                        foreach (var lst in ViewBag.Productos)
                                                        {
                                                            if (Model != null)
                                                            {
                                                                if (lst.IdProducto == Model.IdProducto)
                                                                {
                                                                    <option value="@lst.IdProducto" selected>@lst.Descripcion</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@lst.IdProducto">@lst.Descripcion</option>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <option value="@lst.IdProducto">@lst.Descripcion</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-lg-2">
                                                <b>
                                                    <label> Cantidad: <b id="unidadPord"> </b> </label>
                                                </b>
                                                <div class="form-group">
                                                    <input type="number" id="Cantidad" class="form-control" placeholder="Cantidad" name="Cantidad" value="@Model.Cantidad" />
                                                </div>
                                                @*<asp:Label runat="server" ID="reqCant" CssClass="alert-danger" Visible="false" Text="Campo requerido" />*@
                                            </div>
                                            <div class="col-lg-3">
                                                <b>Centro de costo:</b>
                                                <select class="form-control z-index show-tick selectpicker" data-live-search="true" name="IdCentroCosto">
                                                    <option value="0">Seleccione uno</option>
                                                    @foreach (var lst in ViewBag.CentrosCostos)
                                                    {
                                                        if (Model != null)
                                                        {
                                                            if (lst.IdCentroCosto == Model.IdCentroCosto)
                                                            {
                                                                <option value="@lst.IdCentroCosto" selected>@lst.Descripcion</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@lst.IdCentroCosto">@lst.Descripcion</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="@lst.IdCentroCosto">@lst.Descripcion</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row clearfix js-sweetalert">
                                            <div class="col-lg-8">

                                                <b>Aplicación:</b>
                                                <div class="form-group">
                                                    <input type="text" placeholder="Comentarios..." Class="form-control" name="Aplicacion" />
                                                </div>
                                                @*<asp:Label runat="server" ID="reqApli" CssClass="alert-danger" Visible="false" Text="Campo requerido" />*@
                                            </div>
                                            <div class="col-lg-2 col-md-6">
                                                <label>&nbsp; </label>
                                                <div class="form-group">
                                                    <input type="submit" value="Agregar" formaction="Agregar" class="btn btn-danger btn-simple btn-round btn-sm" />
                                                    @* <button id="btnAgregar" class="btn btn-danger btn-simple btn-round btn-sm" onclick="location.href='@Url.Action(" Agregar", "Requisicion" )'"></button>*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (ViewBag.MensajeError != null)
                                    {
                                        <div id="DivCamposPord" class="container">
                                            <div class="alert alert-danger">
                                                <div class="alert-icon">
                                                    <i class="zmdi zmdi-block"></i>
                                                </div>
                                                <strong>
                                                    <label>@ViewBag.MensajeError</label>
                                                </strong>
                                            </div>
                                        </div>
                                    }
                                    <!--Grid productos agregados nueva requisicion-->
                                    @if (Model.Productos != null)
                                    {
                                        <div class="row clearfix">
                                            <div class="table-responsive">
                                                <table class="table table table-bordered table-striped table-hover js-basic-example dataTable" name="RequisicionProductos">
                                                    <thead>
                                                        <tr>
                                                            <td><b>Tipo</b></td>
                                                            <td><b>Producto</b></td>
                                                            <td><b>Cantidad</b></td>
                                                            <td><b>Unidad</b></td>
                                                            <td><b>Aplicacion</b></td>
                                                            <td><b>Centro de Costo</b></td>
                                                            <td><b>Accion</b></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var prodReq in Model.Productos)
                                                        {

                                                            <tr>
                                                                <td>@prodReq.TipoProducto</td>
                                                                <td>@prodReq.Producto</td>
                                                                <td>@prodReq.Cantidad</td>
                                                                <td>@prodReq.Unidad</td>
                                                                <td>@prodReq.Aplicacion</td>
                                                                <td>@prodReq.CentroCosto</td>
                                                                <td>
                                                                    <a ID="lbEdit" href="@Url.Action(" Editar", "Requisicion" , new { id=prodReq.IdProducto })">
                                                                        <i class="material-icons">edit</i>
                                                                        <span class="icon-name"></span>
                                                                    </a>
                                                                    <a ID="lbBorrar" href="@Url.Action(" Borrar", "Requisicion" , new { id=prodReq.IdProducto })">
                                                                        <i class="material-icons">delete</i>
                                                                        <span class="icon-name"></span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }

                                    @if (ViewBag.reqGrid != null)
                                    {
                                        <Label id="reqGrid" class="alert-danger">ViewBag.reqGrid</Label>
                                    }
                                    <div class="row clearfix">
                                        <div class="col-lg-4 col-md-8 text-center">
                                            <a href="@Url.Action(" Requisiciones", "Requisicion" )" ID="btnRegresar" class="btn btn-raised btn-primary btn-round" Text="Regresar">
                                                Regresar
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-8 text-center">
                                            <a href="#ModalCancelar" data-toggle="modal" id="btnCancel" data-target="#ModalCancelar" class="btn btn-raised btn-primary btn-round disabled">
                                                Cancelar
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-8 text-center">

                                            <a href="#ModalConfirmacion" data-toggle="modal" id="btnok" data-target="#ModalConfirmacion" class="btn btn-raised btn-primary btn-round @Convert.ToBoolean(ViewBag.EsNueva) ? 'disabled' : ''">
                                                @txtbutton
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" style="display: none;" id="btnShowPopup" class="btn btn-primary btn-lg"
                                                data-toggle="modal" data-target="#myModal">
                                            Launch demo modal
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="ModalCancelar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalCancelarLabel">Motivo de cancelcion</h4>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            <div class="col-sm-12">
                                <textarea name="MotivoCancela" class="form-control" Rows="5" placeholder="Cual es el motivo de la cancelacion..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-raised btn-primary btn-round" value="Cancelar" formaction="Cancelar" />
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalConfirmacionLabel">¿Esta seguro?</h4>
                    </div>
                    <div class="modal-footer">
                        @if (ViewBag.OtraAccion == null)
                        {
                            <input type="submit" value="Si" formaction="CrearRequisicion" class="btn btn-raised btn-primary btn-round waves-effect" />
                        }
                        else
                        {
                            if (ViewBag.OtraAccion == "R")
                            {
                                <input type="submit" value="Si" formaction="Revision" class="btn btn-raised btn-primary btn-round waves-effect" />
                            }
                            else
                            {
                                @*<a href="@Url.Action(" Revision", "Requisicion" )" class="btn btn-raised btn-primary btn-round">
                                        Si
                                    </a>*@
                                @*<input type="submit" value="Si" formaction='@Url.Action("Revision", "Requisicion")' class="btn btn-raised btn-primary btn-round waves-effect" />*@
                                @*<input type="submit" value="Si" formaction="CrearRequisicion" class="btn btn-raised btn-primary btn-round waves-effect" />*@
                            }
                        }
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
<script src="~/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js -->
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="~/assets/plugins/bootstrap-select/css/bootstrap-select.css"></script>
<script src="~/assets/js/pages/forms/basic-form-elements.js"></script>
<script src="~/assets/js/pages/forms/advanced-form-elements.js"></script>

