MVC.Presentacion.Models.Requisicion
@using PagedList.Mvc;
@using PagedList;
@model MVC.Presentacion.Models.Requisicion.RequisicionesModel

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
<body style="padding-top:10px">
    @using (Html.BeginForm("Requisicion", "Requisicion", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Requisición</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="~/DashBoard/Vista/Dashboard.aspx"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item active">
                                    <label id="lblRuta">Requisiciones</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="header">
                                    <h2><strong></strong><small></small></h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <select id="ddlEmpresas" class="form-control selectpicker z-index show-tick" data-live-search="true" onchange="">
                                                @foreach (var lst in Model.Empresas)
                                                {
                                                    <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                }
                                            </select>
                                     
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" id="txtNumRequisicion" class="form-control" placeholder="N° de Requisición" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input id="BtnNuevaReq" type="submit" onclick="location.href='@Url.Action("Requisicion", "Requisicion")'" value="Requisicion" class="btn btn-primary btn-round btn-block" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="header">
                                    <h2><strong></strong><small></small></h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-lg-3">
                                            <label>Estatus</label>
                                            <select id="estatus" class="form-control selectpicker show-tick" data-live-search="true">
                                                @foreach (var lst in Model.Estatus)
                                                {
                                                    <option value="@lst.IdRequisicionEstatus">@lst.Estatus</option>
                                                }
                                            </select>
                                            @*<asp:DropDownList CssClass="form-control show-tick" runat="server" ID="ddlFiltroEstatus" AutoPostBack="true">
                                                </asp:DropDownList>*@
                                        </div>
                                        <div class="col-lg-2">
                                            <label>Fecha de registro</label>
                                            <div class="form-group">
                                                <div>
                                                    @Html.EditorFor(model => model.FechaCreacionDe, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FechaCreacionDe, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            @*<dtp:DateTimePicker ID="dtpFechaRegiistrDe" CssClass="dataTxt" />*@
                                        </div>
                                        <div class="col-lg-2">
                                            <label>&nbsp; </label>
                                            <div class="form-group">
                                                <div>
                                                    @Html.EditorFor(model => model.FechaCreacionA, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FechaCreacionA, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @*<dtp:DateTimePicker ID="dtpFechaRegiistrA" CssClass="dataTxt" />*@
                                        </div>
                                        <div class="col-lg-2">
                                            <label>Fecha de requisición</label>
                                            <div class="form-group">
                                                <div>
                                                    @Html.EditorFor(model => model.FechaRequeridaDe, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FechaRequeridaDe, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @*<dtp:DateTimePicker ID="dtpFechaRequisicionDe" CssClass="dataTxt" />*@
                                        </div>
                                        <div class="col-lg-2">
                                            <label>&nbsp; </label>
                                            <div class="form-group">
                                                <div>
                                                    @Html.EditorFor(model => model.FechaRequeridaA, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FechaRequeridaA, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @*<dtp:DateTimePicker ID="dtpFechaRequisicionA" CssClass="dataTxt" />*@

                                        </div>
                                        <div class="col-lg-1">
                                            <button class="btn btn-primary btn-round btn-block text-center" OnClick="btnBuscar_Click">
                                                <i class="material-icons">search</i>
                                                <span class="icon-name"></span>
                                            </button>

                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="table-responsive">
                                            <table class="table table table-bordered table-striped table-hover js-basic-example dataTable" name="RequisicionProductos">
                                                <thead>
                                                    <tr>
                                                        <td>Gasera</td>
                                                        <td>No. Requisicion</td>
                                                        <td>Fecha Requerida</td>
                                                        <td>Solicitante</td>
                                                        <td>Estatus</td>
                                                        <td>Accion</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var req in ViewBag.Requisiciones)
                                                    {
                                                        <tr>
                                                            <td>@req.NombreComercial</td>
                                                            <td>@req.NumeroRequisicion</td>
                                                            <td>@req.FechaRequerida</td>
                                                            <td>@req.UsuarioSolicitante</td>
                                                            <td>@req.RequisicionEstatus</td>
                                                            <td>
                                                                @if (req.IdRequisicionEstatus.Equals(1))
                                                                {
                                                                    <a id="lbDgOjo" href="">
                                                                        <i class="material-icons">picture_as_pdf</i>
                                                                        <span class="icon-name"></span>
                                                                    </a>
                                                                    <a id="lbDgPDF" href="@Url.Action("RequisicionRevision", "Requisicion", new { Id = req.IdRequisicion, estatus = req.IdRequisicionEstatus })">
                                                                        <i class="material-icons">content_paste</i>
                                                                        <span class="icon-name"></span>
                                                                    </a>
                                                                }
                                                                @if (req.IdRequisicionEstatus.Equals(3) || req.IdRequisicionEstatus.Equals(4))
                                                                {
                                                                    <a id="lbDgPDF" href="">
                                                                        <i class="material-icons">picture_as_pdf</i>
                                                                        <span class="icon-name"></span>
                                                                    </a>
                                                                    <a id="lbAutoriza" href="@Url.Action("RequisicionAutorizacion", "Requisicion", new { Id = req.IdRequisicion, estatus = req.IdRequisicionEstatus })">
                                                                        <i class="material-icons">spellcheck</i>
                                                                        <span class="icon-name"></span>
                                                                    </a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            Pagina @(ViewBag.Requisiciones.PageCount < ViewBag.Requisiciones.PageNumber ? 0 : ViewBag.Requisiciones.PageNumber) de @ViewBag.Requisiciones.PageCount
                                        </div>
                                        <div class="col-md-6 text-right">
                                            @Html.PagedListPager((IPagedList)ViewBag.Requisiciones, page => Url.Action("Requisiciones", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }
</body>
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>





