@model MVC.Presentacion.Models.Requisicion.RequisicionAutorizacionModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RequisicionAutorizacion</title>
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <script src="~/Scripts/js/RequisicionAutorizacionJS.js"></script>
    <script type="text/javascript">
        var Cancelar = function () {
            var url = "/Requisicion/Cancelar";
            var id = '@Model.IdRequisicion'
            var motivo = $("#MotivoCancelacion").val()
            $.get(url, { IdRequisicion: id, MotivoCancela: motivo }, function (data) {

                window.location.href = '@Url.Action("Requisiciones", "Requisicion")';
            });
        };
    </script>
</head>
<body>
    @using (Html.BeginForm("Autorizacion", "Requisicion", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IdRequisicion)
        @Html.HiddenFor(m => m.IdUsuarioSolicitante)
        @Html.HiddenFor(m => m.RequisicionEstatus)
        @Html.HiddenFor(m => m.IdEmpresa)
        @Html.HiddenFor(m => m.MotivoRequisicion)
        @Html.HiddenFor(m => m.RequeridoEn)
        @Html.HiddenFor(m => m.NumeroRequisicion)
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Requisición</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item active">
                                    <label id="lblRuta">Requisición / Autorización </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="header">
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <strong>Gasera: </strong>
                                                @foreach (var item in @ViewBag.Empresas)
                                                {
                                                    @item.NombreComercial
                                                }
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <strong>Número de Requisición: </strong>@Model.NumeroRequisicion
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix" id="divCamposRequi">
                                        <div class="col-lg-3">
                                            <b>Fecha requerida:</b>
                                            <div>
                                                @Model.FechaRequerida
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <b>Solicitante:</b>
                                            <div>
                                                @ViewBag.Usuarios.Nombre @ViewBag.Usuarios.Apellido1
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group form-float">
                                                <b>Motivo de compra:</b>
                                                @Html.TextAreaFor(m => m.MotivoRequisicion, new { @class = "form-control no-resize btn-round", @disabled = "disabled", @placeholder = "Motivo de la compra...", @rows = "4" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group form-float">
                                                <b>Se requiere en:</b>
                                                @Html.TextAreaFor(m => m.RequeridoEn, new { @class = "form-control no-resize btn-round", @disabled = "disabled", @placeholder = "Motivo de la compra...", @rows = "4" })
                                            </div>
                                        </div>
                                    </div>
                                    @if (ViewBag.MensajeError != null && !ViewBag.MensajeError.Equal(string.Empty))
                                    {
                                        <div class="row clearfix">
                                            <div id="divCampos" class="container">
                                                <div class="alert alert-danger">
                                                    <div class="alert-icon">
                                                        <i class="zmdi zmdi-block"></i>
                                                    </div>
                                                    <strong>
                                                        <label>@ViewBag.MensajeError</label>
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <strong>Opinión de Almacen</strong>
                                            <div class="row clearfix">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @*<textarea Rows="4" name="OpinionAlmacen" class="form-control no-resize" placeholder="Porfavor escriba su opinion">@Model.OpinionAlmacen</textarea>*@
                                                            @Html.TextAreaFor(m => m.OpinionAlmacen, new { @class = "form-control no-resize btn-round", @Rows = 4, @disabled = true })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix blockquote blockquote-info btn-round ">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <td><b>Tipo</b></td>
                                                        <td><b>Producto</b></td>
                                                        <td><b>Cantidad</b></td>
                                                        <td><b>Unidad</b></td>
                                                        <td><b>Aplicación</b></td>
                                                        <td><b>Centro de Costo</b></td>
                                                        <td><b>Existencias</b></td>
                                                        <td><b>Autoriza entrega</b></td>
                                                        <td><b>Requiere comprar</b></td>
                                                        <td><b>Autoriza Compra</b></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.EditorFor(x => x.Productos)
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-4 col-md-8 text-center">
                                            <a href="@Url.Action("Requisiciones", "Requisicion")" ID="btnRegresar" class="btn btn-raised btn-primary btn-round" Text="Regresar">
                                                Regresar
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-8 text-center">
                                            <a href="#ModalCancelar" data-toggle="modal" id="btnCancel" data-target="#ModalCancelar" class="btn btn-raised btn-primary btn-round">
                                                Cancelar
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-8 text-center">
                                            <a href="#ModalConfirmacion" data-toggle="modal" id="btnok" data-target="#ModalConfirmacion" class="btn btn-raised btn-primary btn-round @Convert.ToBoolean(ViewBag.EsNueva) ? 'disabled' : ''">
                                                Finalizar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="ModalCancelar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong>Motivo de cancelción</strong>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            <div class="body">
                                <div class="col-sm-12 blockquote blockquote-info btn-round">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(m => m.MotivoCancelacion, new { @class = "form-control no-resize", @Rows = 4 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelar" class="btn btn-raised btn-primary btn-round" onclick="Cancelar()">Cancelar</button> 
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalConfirmacionLabel">¿Esta seguro?</h4>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Si" id="btnFinalizar" class="btn btn-raised btn-primary btn-round waves-effect" />
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
