@using MVC.Presentacion.Models.Requisicion
@model RequisicionModel
<link href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
@using (Html.BeginForm("CrearRequisicion", "Requisicion", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Compras</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="~/DashBoard/Vista/Dashboard.aspx"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">
                                <label id="lblRuta">Requisición / Nueva </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select id="ddlEmpresas" name="IdEmpresa" class="form-control selectpicker z-index show-tick" data-live-search="true">
                                                @foreach (var lst in ViewBag.Empresas)
                                                {
                                                    <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Número de Requisición:</label>&nbsp;
                                                <Label ID="lblIdRequisicion">@ViewBag.NumeroRequisicion</Label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix z-index" id="divCamposRequi">
                                    <div class="col-lg-3">

                                        <b>Fecha requerida:</b>
                                        @Html.TextBoxFor(c => c.FechaRequerida, new { id = "datepicker" })
                                        @*<dtp:DateTimePicker ID="txtFechaRequerida" CssClass="dataTxt z-index" runat="server" />*@
                                    </div>
                                    <div class="col-lg-3">

                                        <b>Solicitante:</b>
                                        <select id="ddlSoliciante" name="IdUsuarioSolicitante" class="form-control selectpicker show-tick" data-live-search="true">
                                            @foreach (var lst in ViewBag.Usuarios)
                                            {
                                                <option value="@lst.IdUsuario">@lst.Nombre @lst.Apellido1</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-3">

                                        <b>Motivo de compra:</b>
                                        <input Type="text" name="MotivoRequisicion" class="form-control" placeholder="Motivo de la compra..." TextMode="MultiLine" />
                                        @*<asp:Label runat="server" ID="reqMotivo" CssClass="alert-danger" Visible="false" Text="Campo requerido" />*@
                                    </div>
                                    <div class="col-lg-3">

                                        <b>Se requiere en:</b>
                                        <input type="text" name="RequeridoEn" class="form-control" placeholder="Se requiere en..." TextMode="MultiLine" />
                                        @*<asp:Label runat="server" ID="reqReq" CssClass="alert-danger" Visible="false" Text="Campo requerido" />*@
                                    </div>
                                </div>
                                @if (ViewBag.MensajeError != null && !ViewBag.MensajeError.Equal(string.Empty))
                                {
                                    <div class="row clearfix">
                                        <div id="divCampos" class="container">
                                            <div class="alert alert-danger">
                                                <div class="alert-icon">
                                                    <i class="zmdi zmdi-block"></i>
                                                </div>
                                                <strong>
                                                    <label>@ViewBag.MensajeError</label>
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @*@using (Html.BeginForm("Agregar", "Requisicion", FormMethod.Post))
                                    {*@
                                <div class="row clearfix">
                                    <div class="col-lg-2">

                                        <b>Tipo de compra:</b>
                                        <select name="IdTipoProducto" class="form-control z-index show-tick">
                                            <option value="2">Producto</option>
                                            <option value="3">Servicio</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">

                                        <b>Producto:</b>
                                        <select id="IdProducto" name="IdProducto" class="form-control show-tick" data-live-search="true">
                                            <option value="0">Seleccione uno</option>
                                            @foreach (var lst in Model.Productos)
                                            {
                                                <option value="@lst.IdProducto">@lst.Descripcion</option>
                                            }
                                        </select>

                                    </div>
                                    <div class="col-lg-2">
                                        <b>
                                            <label> Cantidad: @ViewBag.Unidad </label>
                                        </b>
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="Cantidad" name="Cantidad" />
                                        </div>
                                        @*<asp:Label runat="server" ID="reqCant" CssClass="alert-danger" Visible="false" Text="Campo requerido" />*@
                                    </div>
                                    <div class="col-lg-3">
                                        <b>Centro de costo:</b>
                                        <select class="form-control selectpicker z-index show-tick" data-live-search="true" name="IdCentroCosto">
                                            @foreach (var lst in Model.CentrosCostos)
                                            {
                                                <option value="@lst.IdCentroCosto">@lst.Descripcion</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row clearfix js-sweetalert">
                                    <div class="col-lg-8">

                                        <b>Aplicación:</b>
                                        <div class="form-group">
                                            <input type="text" placeholder="Comentarios..." Class="form-control" name="Aplicacion" />
                                        </div>
                                        @*<asp:Label runat="server" ID="reqApli" CssClass="alert-danger" Visible="false" Text="Campo requerido" />*@
                                    </div>
                                    <div class="col-lg-2 col-md-6">
                                        <label>&nbsp; </label>
                                        <div class="form-group">
                                            <input type="submit" value="Agregar" formaction="Agregar" class="btn btn-danger btn-simple btn-round btn-sm" />
                                            @* <button id="btnAgregar" class="btn btn-danger btn-simple btn-round btn-sm" onclick="location.href='@Url.Action("Agregar", "Requisicion")'" ></button>*@
                                        </div>
                                    </div>
                                </div>
                                @if (ViewBag.MensajeError != null)
                                {
                                    <div id="DivCamposPord" class="container">
                                        <div class="alert alert-danger">
                                            <div class="alert-icon">
                                                <i class="zmdi zmdi-block"></i>
                                            </div>
                                            <strong>
                                                <label>@ViewBag.MensajeError</label>
                                            </strong>
                                        </div>
                                    </div>
                                }

                                <!--Grid productos agregados nueva requisicion-->
                                <div class="row clearfix">
                                    <div class="table-responsive">
                                        <table class="table table table-bordered table-striped table-hover js-basic-example dataTable" name="RequisicionProductos">
                                            <thead>
                                                <tr>
                                                    <td><p>Tipo</p></td>
                                                    <td><p>Producto</p></td>
                                                    <td><p>Cantidad</p></td>
                                                    <td><p>Unidad</p></td>
                                                    <td><p>Aplicacion</p></td>
                                                    <td><p>Centro de Costo</p></td>
                                                    <td><p>Accion</p></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var prodReq in Model.RequisicionProductos)
                                                {
                                                    <tr>
                                                        <td>@prodReq.TipoProducto</td>
                                                        <td>@prodReq.Producto</td>
                                                        <td>@prodReq.Cantidad</td>
                                                        <td>@prodReq.Unidad</td>
                                                        <td>@prodReq.Aplicacion</td>
                                                        <td>@prodReq.CentroCosto</td>
                                                        <td>
                                                            <a ID="lbEdit" href="@Url.Action("Editar", "Requisicion", new { id = prodReq.IdProducto })">
                                                                <i class="material-icons">edit</i>
                                                                <span class="icon-name"></span>
                                                            </a>
                                                            <a ID="lbBorrar" href="@Url.Action("Borrar", "Requisicion", new { id = prodReq.IdProducto } )">
                                                                <i class="material-icons">delete</i>
                                                                <span class="icon-name"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                @*Grid productos revision*@
                                @if (Model.RequisicionRevicion != null)
                                {
                                    <div class="row clearfix">
                                        <div class="table-responsive">
                                            <table id="ProductosRevision" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <td><b>Tipo</b></td>
                                                        <td><b>Producto</b></td>
                                                        <td><b>Cantidad</b></td>
                                                        <td><b>Unidad</b></td>
                                                        <td><b>Aplicación</b></td>
                                                        <td><b>Centro de Costo</b></td>
                                                        <td><b>Almacen</b></td>
                                                        <td><b> Revision Fisica</b></td>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.RequisicionRevicion.ListaProductos != null)
                                                    {
                                                        @foreach (var item in Model.RequisicionRevicion.ListaProductos)
                                                            {
                                                                <tr>
                                                                    <td><b>@item.TipoProducto</b></td>
                                                                    <td><b>@item.Producto</b></td>
                                                                    <td><b>@item.Cantidad</b></td>
                                                                    <td><b>@item.Unidad</b></td>
                                                                    <td><b>@item.Aplicacion</b></td>
                                                                    <td><b>@item.CentroCosto</b></td>
                                                                    <td><b>@item.CantidadAlmacenActual</b></td>
                                                                    <td>
                                                                        @Html.CheckBoxFor(x => x.RequisicionRevicion.ListaProductos[item.IdProducto].RevisionFisica)
                                                                        <div class="checkbox">
                                                                            <input id="cbRevision" name="checkResp" type="checkbox">
                                                                            <label for="cbRevision">
                                                                                Unchecked
                                                                            </label>
                                                                        </div>
                                                                </td>
                                                            </tr>
                                                    }
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                }


                                <div class="row clearfix">
                                    <div class="table-responsive">
                                        @*<asp:GridView ID="gvProductoAut" runat="server" AutoGenerateColumns="false" OnRowCommand="gvProductoAut_RowCommand" OnRowDataBound="gvProductoAut_RowDataBound" CssClass="table table-hover" OnSelectedIndexChanged="gvProductoAut_SelectedIndexChanged">
                                                <Columns>
                                                    <asp:TemplateField>
                                                        <%--0 Tipo de compra--%>
                                                        <HeaderTemplate>
                                                            <b>Tipo</b>
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:Label ID="lbldgTipo" runat="server" Text='<%# Bind("TipoProducto") %>' />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField>
                                                        <%--1 Producto--%>
                                                        <HeaderTemplate>
                                                            <b>Producto</b>
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:Label ID="lbldgProducto" runat="server" Text='<%# Bind("Producto") %>' />
                                                            <asp:Label ID="lbldgProductoID" runat="server" Text='<%# Bind("IdProducto") %>' Visible="false" />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField>
                                                        <%--2 Cantidad--%>
                                                        <HeaderTemplate>
                                                            <b>Cantidad</b>
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:Label ID="lbldgCantidad" runat="server" Text='<%# Bind("Cantidad") %>' />
                                                            <asp:Label ID="lblCantidadNA" runat="server" Text="NA" Visible="false" />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField>
                                                        <%--3 Unidad--%>
                                                        <HeaderTemplate>
                                                            <b>Unidad</b>
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:Label ID="lbldgUnidad" runat="server" Text='<%# Bind("Unidad") %>' />
                                                            <asp:Label ID="lblUnidadNA" runat="server" Text='<%# Bind("Unidad") %>' Visible="false" />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField>
                                                        <%--4 Aplicacion--%>
                                                        <HeaderTemplate>
                                                            <b>Aplicación</b>
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:Label ID="lbldgAplicacion" runat="server" Text='<%# Bind("Aplicacion") %>' />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField>
                                                        <%--5 Centro de costo--%>
                                                        <HeaderTemplate>
                                                            <b>Centro de Costo</b>
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:Label ID="lbldgCentroCosto" runat="server" Text='<%# Bind("CentroCosto") %>' />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField>
                                                        <%--6 Almacen--%>
                                                        <HeaderTemplate>
                                                            Existencias
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:Label ID="lblAlmacen" runat="server" Text='<%# Bind("CantidadAlmacenActual") %>' />
                                                            <asp:Label ID="lblAlmacenNA" runat="server" Text="NA" Visible="false" />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField>
                                                        <%--7 Autoriza Entrega--%>
                                                        <HeaderTemplate>
                                                            Autoriza entrega
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:CheckBox ID="chbAutEntrega" runat="server" />
                                                        </ItemTemplate>
                                                        <ItemStyle HorizontalAlign="Center" />
                                                    </asp:TemplateField>
                                                    <asp:TemplateField>
                                                        <%-- 8 Requiere comprar--%>
                                                        <HeaderTemplate>
                                                            Requiere comprar
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:TextBox ID="txtRequiereComp" CssClass="form-control" runat="server" Text='<%# Bind("CantidadAComprar") %>' TextMode="Number"></asp:TextBox>
                                                            <asp:Label ID="lblCantidadAComprarNA" runat="server" Text="NA" Visible="false" />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                                                    <asp:TemplateField>
                                                        <%--9 Autoriza Compra--%>
                                                        <HeaderTemplate>
                                                            Autoriza Compra
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:CheckBox ID="chbAutCompra" runat="server" />
                                                        </ItemTemplate>
                                                        <ItemStyle HorizontalAlign="Center" />
                                                    </asp:TemplateField>
                                                </Columns>
                                            </asp:GridView>*@
                                    </div>
                                </div>
                                @if (ViewBag.reqGrid != null)
                                {
                                    <Label id="reqGrid" class="alert-danger">ViewBag.reqGrid</Label>
                                }
                                @if (ViewBag.EsRevicion != null)
                                {
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h2><strong></strong></h2>
                                                </div>
                                                <div class="body">
                                                    <h2 class="card-inside-title">Opinión de Almacen</h2>
                                                    <div class="row clearfix">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <input type="text" id="txtOpinion" Rows="4" CssClass="form-control no-resize " placeholder="Porfavor escriba su opinion" />
                                                                    @if (ViewBag.reqOpinion != null)
                                                                    {
                                                                        <Label id="reqOpinion" class="alert-danger">@ViewBag.reqOpinion</Label>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-8 text-center">
                                        <a href="@Url.Action("Requisiciones", "Requisicon")" ID="btnRegresar" CssClass="btn btn-raised btn-primary btn-round" Text="Regresar">
                                            Regresar
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-8 text-center">
                                        <a href="#ModalCancelar" data-toggle="modal" id="btnCancel" data-target="#ModalCancelar" class="btn btn-raised btn-primary btn-round disabled">
                                            Cancelar
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-8 text-center">
                                        <a href="#ModalConfirmacion" data-toggle="modal" id="btnok" data-target="#ModalConfirmacion" class="btn btn-raised btn-primary btn-round">
                                            @ViewBag.btnCrear
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" style="display: none;" id="btnShowPopup" class="btn btn-primary btn-lg"
                                            data-toggle="modal" data-target="#myModal">
                                        Launch demo modal
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="ModalCancelar" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="ModalCancelarLabel">Motivo de cancelcion</h4>
                </div>
                <div class="modal-body">
                    <div class="body">
                        <div class="col-sm-12">
                            <asp:TextBox ID="txtMotivoCancela" TextMode="MultiLine" CssClass="form-control tex" Rows="5" placeholder="Cual es el motivo de la cancelacion..."></asp:TextBox>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <asp:Button ID="btnCancelar" CssClass="btn btn-raised btn-primary btn-round" Text="Cancelar" OnClick="btnCancelar_Click" />
                    <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="ModalConfirmacionLabel">¿Esta seguro?</h4>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Si" formaction="CrearRequisicion" class="btn btn-danger btn-simple btn-round waves-effect" />
                    <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js -->
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="~/assets/js/pages/forms/basic-form-elements.js"></script>
<script src="~/assets/js/pages/forms/advanced-form-elements.js"></script>

