@model MVC.Presentacion.Models.Requisicion.RequisicionDTO
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
@{
    string EnabledAdminCentral = Convert.ToBoolean(ViewBag.EsAdmin).Equals(false) ? "disabled" : "";
    string EnabledEsNueva = Convert.ToBoolean(ViewBag.EsNueva).Equals(true) ? "" : "disabled";
    string txtbutton = ViewBag.BtnCrear == null ? "Crear" : ViewBag.BtnCrear;
}

<script src="~/Scripts/js/RequisicionJS.js"></script>
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="50" height="50" alt="Alpino"></div>
        <p>Procesando</p>
    </div>
</div>
<body>
    @using (Html.BeginForm("CrearRequisicion", "Requisicion", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Requisición</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href=@Url.Action("Inicio", "Home" )><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Requisición</li>
                                <li class="breadcrumb-item"> Nueva </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="header">

                                    <strong>Crear</strong> nueva requisición
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div>
                                                    <strong>Gasera:</strong>
                                                </div>
                                                @if (ViewBag.EsAdmin)
                                                {
                                                    <select id="empresas" name="IdEmpresa" class="form-control show-tick" data-live-search="true">
                                                        @foreach (var lst in ViewBag.Empresas)
                                                        {
                                                            <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    @ViewBag.Empresas
                                                }
                                                @Html.HiddenFor(m => m.IdEmpresa)
                                            </div>
                                        </div>
                                        @*<div class="col-sm-6">
                                            <div id="divServ">
                                                <div class="form-group">
                                                    @Html.CheckBoxFor(m => m.EsExterno, new { id = "cbEsExterno", @style = "width: 20px; height: 20px;" })
                                                    <label for="cbServicioTransporte" class="z-index:8">
                                                        ¿Requisición Externa?
                                                    </label>
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                    <div class="row clearfix z-index" id="divCamposRequi">
                                        <div class="col-lg-3">
                                            <b>Fecha requerida:</b>

                                            @Html.DevExpress().DateEdit(settings =>
                                   {
                                       settings.Name = "FechaRequerida";
                                       settings.Properties.UseMaskBehavior = true;
                                       //settings.Properties.NullText = "dd/MM/yyyy";
                                       settings.Properties.EditFormat = EditFormat.Custom;
                                       settings.Properties.EditFormatString = "dd/MM/yyyy hh:mm";
                                       settings.Properties.DisplayFormatString = "dd, MMMM yyyy";
                                       //settings.Properties.TimeSectionProperties.Visible = true;
                                       //settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Custom;
                                       //settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormatString = "HH:mm";
                                       //settings.PopupCalendarOwnerName = "FechaRequerida";
                                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                       settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                                       settings.Theme = "Material";
                                   }).Bind(Model.FechaRequerida).GetHtml()
                                            @*<div class="input-group">
                                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                                                    @Html.TextBoxFor(c => c.FechaRequerida, new { @class = "form-control date", @placeholder = "formato: dd/mm/aaaa" })
                                                </div>*@
                                            @Html.ValidationMessageFor(m => m.FechaRequerida, "", new { @class = "alert-danger" })
                                            @Html.HiddenFor(m => m.FechaRequerida)
                                        </div>
                                        <div class="col-lg-3">
                                            <b>Solicitante:</b>
                                            <select id="ddlSoliciante" name="IdUsuarioSolicitante" class="form-control show-tick" @EnabledAdminCentral data-live-search="true">
                                                @foreach (var lst in ViewBag.Usuarios)
                                                {
                                                    <option value="@lst.IdUsuario">@lst.Nombre @lst.Apellido1</option>
                                                }
                                            </select>
                                            @Html.HiddenFor(m => m.IdUsuarioSolicitante)
                                            @Html.ValidationMessageFor(m => m.IdUsuarioSolicitante, "", new { @class = "alert-danger" })
                                        </div>
                                        <div class="col-lg-3">
                                            <b>Motivo de compra:</b>
                                            <div class="blockquote blockquote-info btn-round">
                                                @if (ViewBag.EsNueva)
                                                {
                                                    @Html.TextAreaFor(m => m.MotivoRequisicion, new { @class = "form-control no-resize", @placeholder = "Se requiere en...", @rows = "4" })
                                                }
                                                else
                                                {
                                                    @Html.TextAreaFor(m => m.MotivoRequisicion, new { @class = "form-control no-resize", @placeholder = "Se requiere en...", @disabled = "disabled", @rows = "4" })
                                                }
                                            </div>
                                            @Html.ValidationMessageFor(m => m.MotivoRequisicion, "", new { @class = "alert-danger" })
                                            @Html.HiddenFor(m => m.MotivoRequisicion)
                                        </div>
                                        <div class="col-lg-3 ">
                                            <b>Se requiere en:</b>
                                            <div class="blockquote blockquote-info btn-round">
                                                @if (ViewBag.EsNueva)
                                                {
                                                    @Html.TextAreaFor(m => m.RequeridoEn, new { @class = "form-control no-resize", @placeholder = "Se requiere en...", @rows = "4" })
                                                }
                                                else
                                                {
                                                    @Html.TextAreaFor(m => m.RequeridoEn, new { @class = "form-control no-resize", @placeholder = "Se requiere en...", @disabled = "disabled", @rows = "4" })
                                                }
                                                @*<textarea name="RequeridoEn" class="form-control no-resize" @EnabledEsNueva placeholder="Se requiere en..." rows="4">@Model.RequeridoEn</textarea>*@
                                            </div>
                                            @Html.ValidationMessageFor(m => m.RequeridoEn, "", new { @class = "alert-danger" })
                                            @Html.HiddenFor(m => m.RequeridoEn)
                                        </div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(ViewBag.MensajeError))
                                    {
                                        <div class="row clearfix">
                                            <div id="divCampos" class="container">
                                                <div class="alert alert-danger">
                                                    <div class="alert-icon">
                                                        <i class="zmdi zmdi-block"></i>
                                                    </div>
                                                    <strong>
                                                        <label>@ViewBag.MensajeError</label>
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (ViewBag.EsNueva)
                                    {
                                        <div class="row clearfix">
                                            <div class="col-lg-2">
                                                <b>Tipo de compra:</b>
                                                <select name="IdTipoProducto" id="selectTipo" class="form-control z-index show-tick">
                                                    @if (ViewBag.ProductoEdit != null)
                                                    {
                                                        foreach (var lst in ViewBag.ProductoEdit)
                                                        {
                                                            <option value="@lst.IdTipoProducto" selected>@lst.TipoProducto</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="0">Seleccione</option>
                                                        <option value="2">Producto</option>
                                                        <option value="3">Servicio</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-lg-4">
                                                <b>Producto:</b>
                                                <select id="productos" name="IdProducto" class="form-control z-index show-tick" data-live-search="true">
                                                    @if (ViewBag.ProductoEdit != null)
                                                    {
                                                        foreach (var lst in ViewBag.ProductoEdit)
                                                        {
                                                            <option value="@lst.IdProducto" selected>@lst.Producto</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="0">No hay productos</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <strong>
                                                    <label>Cantidad: <b id="unidadPord"></b> </label>
                                                </strong>
                                                @Html.TextBoxFor(m => m.Cantidad, Model.Cantidad.ToString(), new { @class = "form-control", @type = "number" })
                                                @Html.ValidationMessageFor(m => m.Cantidad, "", new { @class = "alert-danger" })
                                            </div>
                                            <div class="col-lg-3">
                                                <b>Centro de costo:</b>
                                                <select class="form-control z-index show-tick" data-live-search="true" id="IdCentroCosto" name="IdCentroCosto">
                                                    @if (ViewBag.ProductoEdit != null)
                                                    {
                                                        foreach (var lst in ViewBag.ProductoEdit)
                                                        {
                                                            <option value="@lst.IdCentroCosto" selected>@lst.CentroCosto</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="0">Seleccione uno</option>
                                                        foreach (var lst in ViewBag.CentrosCostos)
                                                        {
                                                            if (Model != null)
                                                            {
                                                                if (lst.IdCentroCosto == Model.IdCentroCosto)
                                                                {
                                                                    <option value="@lst.IdCentroCosto" selected>@lst.Descripcion</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@lst.IdCentroCosto">@lst.Descripcion</option>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <option value="@lst.IdCentroCosto">@lst.Descripcion</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row clearfix">
                                            <div class="col-md-8">
                                                <b>Aplicación:</b>
                                                <div class="form-group">
                                                    @if (ViewBag.ProductoEdit != null)
                                                    {
                                                        foreach (var lst in ViewBag.ProductoEdit)
                                                        {
                                                            @*@Html.LabelFor(model => model.Aplicacion, lst.Aplicacion, new { @class = "form-control" })*@
                                                            <input type="text" value="@lst.Aplicacion" name="Aplicacion" readonly="readonly" class="form-control" />
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m.Aplicacion, new { @class = "form-control" })
                                                    }
                                                    @*<input type="text" placeholder="Comentarios..." Class="form-control" name="Aplicacion" />*@
                                                </div>
                                                @*<asp:Label runat="server" ID="reqApli" CssClass="alert-danger" Visible="false" Text="Campo requerido" />*@
                                            </div>
                                            <div class="col-md-4">
                                                <label>&nbsp; </label>
                                                <div class="form-group">
                                                    <input type="submit" value="Agregar" formaction="Agregar" class="btn btn-danger btn-simple btn-round btn-sm" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <!--Grid productos agregados nueva requisicion-->
                                    @if (Model.Productos != null)
                                    {
                                        <div class="row clearfix blockquote blockquote-info btn-round">
                                            <div class="table-responsive">
                                                <table class="table table-hover" name="RequisicionProductos">
                                                    <thead>
                                                        <tr>
                                                            <td><b>Tipo</b></td>
                                                            <td><b>Producto</b></td>
                                                            <td><b>Cantidad</b></td>
                                                            <td><b>Unidad</b></td>
                                                            <td><b>Aplicación</b></td>
                                                            <td><b>Centro de Costo</b></td>
                                                            <td><b>Acción</b></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var prodReq in Model.Productos)
                                                        {
                                                            <tr>
                                                                <td>@prodReq.TipoProducto</td>
                                                                <td>@prodReq.Producto</td>
                                                                <td>@prodReq.Cantidad</td>
                                                                <td>@prodReq.Unidad</td>
                                                                <td>@prodReq.Aplicacion</td>
                                                                <td>@prodReq.CentroCosto</td>
                                                                <td>
                                                                    <a href="@Url.Action(" Editar", "Requisicion" , new { id=prodReq.IdProducto })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="material-icons">edit</i>
                                                                        <span>Editar</span>
                                                                    </a>
                                                                    <a href="@Url.Action(" Borrar", "Requisicion" , new { id=prodReq.IdProducto })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="material-icons">delete</i>
                                                                        <span>Eliminar</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }

                                    @if (ViewBag.reqGrid != null)
                                    {
                                        <Label id="reqGrid" class="alert-danger">ViewBag.reqGrid</Label>
                                    }
                                    <div class="row clearfix">
                                        <div class="col-lg-4 col-md-8 text-center">
                                            <a href="@Url.Action(" Requisiciones", "Requisicion" )" ID="btnRegresar" class="btn btn-raised btn-primary btn-round" Text="Regresar">
                                                Regresar
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-8 text-center">
                                            <a href="#ModalCancelar" data-toggle="modal" id="btnCancel" data-target="#ModalCancelar" class="btn btn-raised btn-primary btn-round disabled">
                                                Cancelar
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-8 text-center">

                                            <a href="#ModalConfirmacion" data-toggle="modal" id="btnok" data-target="#ModalConfirmacion" class="btn btn-raised btn-primary btn-round @Convert.ToBoolean(ViewBag.EsNueva) ? 'disabled' : ''">
                                                @txtbutton
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" style="display: none;" id="btnShowPopup" class="btn btn-primary btn-lg"
                                                data-toggle="modal" data-target="#myModal">
                                            Launch demo modal
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="ModalCancelar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalCancelarLabel">Motivo de cancelación </h4>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            <div class="col-sm-12">
                                <textarea name="MotivoCancela" class="form-control" Rows="5" placeholder="Cual es el motivo de la cancelación..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-raised btn-primary btn-round" value="Cancelar" formaction="CrearCancelar" />
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalConfirmacionLabel">¿Está seguro?</h4>
                    </div>
                    <div class="modal-footer">
                        @if (ViewBag.OtraAccion == null)
                        {
                            <input type="submit" value="Si" formaction="CrearRequisicion" class="btn btn-raised btn-primary btn-round waves-effect" />
                        }
                        else
                        {
                            if (ViewBag.OtraAccion == "R")
                            {
                                <input type="submit" value="Si" formaction="Revision" class="btn btn-raised btn-primary btn-round waves-effect" />
                            }
                            else
                            {
                                @*<a href="@Url.Action(" Revision", "Requisicion" )" class="btn btn-raised btn-primary btn-round">
                                        Si
                                    </a>*@
                                @*<input type="submit" value="Si" formaction='@Url.Action("Revision", "Requisicion")' class="btn btn-raised btn-primary btn-round waves-effect" />*@
                                @*<input type="submit" value="Si" formaction="CrearRequisicion" class="btn btn-raised btn-primary btn-round waves-effect" />*@
                            }
                        }
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
