@model  MVC.Presentacion.Models.Catalogos.EquipoTransporteDTO
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<!DOCTYPE html>

<html>
<head>
    <link href="~/Resources/css/toggleCl.css" rel="stylesheet" />
    <script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="~/assets/js/pages/ui/notifications.js"></script>
    <script type="text/javascript">

        var mensaje = '@ViewBag.Msj';
        var tipo = '@ViewBag.Tipo';
        if (mensaje != '') {
            $(window).on("load", showNotification(tipo, mensaje, 'top', 'center', '', ''));
        }
        function AsignarEliminar(idEquipo) {
            $("#btnEliminar").attr("data-id", idEquipo);
        }
        $(function () {
            $("#btnEliminar").click(function () {
                var idEquipo = $("#btnEliminar").attr("data-id")
                window.location = window.location.protocol + "//" + window.location.host + "/EquipoTransporte/BorrarVehiculo/" + idEquipo;
            });
        });
    </script>
</head>
<body>
    @using (Html.BeginForm("Alta", "EquipoTransporte", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IdEmpresa)
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Equipo de Transporte</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Equipo de Transporte</li>
                                <li class="breadcrumb-item">Catálogo Parque Vehícular</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="row clearfix">
                                        <div class="col-sm-3">
                                            <b>Número de Placas:</b>
                                            @Html.TextBoxFor(m => m.PlacasBusq, new { @class = "form-control", placeholder = "Número de Placas" })
                                        </div>
                                        <div class="col-sm-3">
                                            <b>Palabra Clave:</b>
                                            @Html.TextBoxFor(m => m.AliasUnidadBusq, new { @class = "form-control", placeholder = "Palabra Clave" })
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="submit" name="Buscar" value="Buscar" formaction=@Url.Action("Buscar") formmethod="post" class="btn btn-raised btn-primary btn-round float-left" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.MensajeError != null)
                    {
                        <div class="row clearfix">
                            <div id="divMensajeError" class="container">
                                <div class="alert alert-danger">
                                    <div class="alert-icon">
                                        <i class="zmdi zmdi-block"></i>
                                    </div>
                                    <strong>
                                        <label>@ViewBag.MensajeError</label>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card">
                        <div class="header">
                            <h2>Información <strong>Vehícular</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Número de Identificación:*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.NumIdVehicular, new { @class = "form-control", @placeholder = "Número de Identificación" })
                                        @Html.ValidationMessageFor(m => m.NumIdVehicular, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Número de Placas:*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Placas, new { @class = "form-control", @placeholder = "Número de Placas" })
                                        @Html.ValidationMessageFor(m => m.Placas, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Número de Motor:*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.NumMotor, new { @class = "form-control", @placeholder = "Número de Motor" })
                                        @Html.ValidationMessageFor(m => m.NumMotor, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Vehículo:*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.DescVehiculo, new { @class = "form-control", @placeholder = "Vehículo" })
                                        @Html.ValidationMessageFor(m => m.DescVehiculo, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Marca:*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Marca, new { @class = "form-control", @placeholder = "Marca" })
                                        @Html.ValidationMessageFor(m => m.Marca, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Modelo:*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control", @placeholder = "Modelo" })
                                        @Html.ValidationMessageFor(m => m.Modelo, "", new { @class = "alert-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Color:*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Color, new { @class = "form-control", @placeholder = "Color" })
                                        @Html.ValidationMessageFor(m => m.Color, "", new { @class = "alert-danger" })
                                    </div>
                                </div>  <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Cilindros:*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Cilindros, new { @class = "form-control", @placeholder = "Cilindros" })
                                        @Html.ValidationMessageFor(m => m.Cilindros, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Tipo de Combustible:*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.DevExpress().ComboBox(settings =>
                                    {
                                        settings.Name = "IdTipoCombustible";
                                        settings.Width = 180;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Theme = "Material";
                                        settings.Properties.TextField = "TipoCombustible";
                                        settings.Properties.ValueField = "Id_Combustible";
                                        //settings.ClientEnabled = true;
                                        //settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectedChangeFilter";
                                        settings.PreRender = (s, e) =>
                                        {
                                            MVCxComboBox combo = s as MVCxComboBox;
                                            combo.Properties.Items.Insert(0, new ListEditItem("Seleccione uno"));
                                            combo.Properties.ValueType = typeof(int);
                                            combo.SelectedIndex = Model.IdTipoCombustible;
                                        };
                                    }).BindList(ViewBag.TipoCombustible).GetHtml()
                                        @Html.ValidationMessageFor(m => m.IdTipoCombustible, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Tipo de Unidad:*
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.DevExpress().ComboBox(settings =>
                                    {
                                        settings.Name = "IdTipoUnidad";
                                        settings.Width = 180;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Theme = "Material";
                                        settings.Properties.TextField = "TipoCombustible";
                                        settings.Properties.ValueField = "IdTipoUnidad";
                                        //settings.ClientEnabled = true;
                                        //settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectedChangeFilter";
                                        settings.PreRender = (s, e) =>
                                        {
                                            MVCxComboBox combo = s as MVCxComboBox;
                                            combo.Properties.Items.Insert(0, new ListEditItem("Seleccione uno"));
                                            combo.Properties.Items.Insert(1, new ListEditItem("Camioneta"));
                                            combo.Properties.Items.Insert(2, new ListEditItem("Pipa"));
                                            combo.Properties.Items.Insert(3, new ListEditItem("Utilitario"));
                                            combo.Properties.ValueType = typeof(int);
                                            combo.SelectedIndex = Model.IdTipoUnidad;
                                        };
                                    }).Bind(Model.IdTipoUnidad).GetHtml()
                                        @Html.ValidationMessageFor(m => m.IdTipoUnidad, "", new { @class = "alert-danger" })
                                    </div>
                                </div>  <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Unidad Activa:
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label class="switch">
                                            @Html.CheckBoxFor(m => m.Activo, new { @class = "form-control" })
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <div>
                                            <label>
                                                Alias de Unidad:
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.AliasUnidad, new { @class = "form-control", @placeholder = "Alias de Unidad" })
                                        @Html.ValidationMessageFor(m => m.AliasUnidad, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        @if (ViewBag.EsEdicion == false || ViewBag.EsEdicion == null)
                                        {
                                            <button class="btn btn-round btn-primary float-right">
                                                <i class="zmdi zmdi-plus"></i> Agregar
                                            </button>
                                        }
                                        else
                                        {
                                            <button btn formaction="EditarClienteLoc" class="btn btn-primary btn-round float-right">
                                                <i class="zmdi zmdi-swap"></i> Actualizar
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="col-lg-12 col-md-12 col-sm-12 blockquote blockquote-info btn-round">
                                <div class="row clearfix">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover" name="EmpresasGaseras">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Número de Placa</th>
                                                    <th>Vehículo</th>
                                                    <th>Alias</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.Vehiculos != null)
                                                    {
                                                        foreach (var item in ViewBag.Vehiculos)
                                                        {
                                                    <tr>
                                                        <th>@item.IdEquipoTransporte</th>
                                                        <th>@item.Placas</th>
                                                        <td>@item.AliasUnidad</td>
                                                        <td>@item.Descripcion</td>
                                                        <td>
                                                            <a ID="lbEdit" href="@Url.Action("EditarVehiculo", "EquipoTransporte", new { id = item.IdEquipoTransporte })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">edit</i>
                                                                <span>Editar vehículo</span>
                                                            </a>
                                                            @if (ViewBag.EsAdmin)
                                                                    {
                                                                    <a href="#ModalConfirmacion" data-toggle="modal" data-id="@item.IdEquipoTransporte" id="btnok" class="tip" onclick="javascript: AsignarEliminar(@item.IdEquipoTransporte)" data-target="#ModalConfirmacion" role="button" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="material-icons">delete</i>
                                                                        <span>Eliminar vehículo</span>
                                                                    </a>
                                                                    }
                                                        </td>
                                                    </tr>
                                                        }
                                                    }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalConfirmacionLabel">¿Está seguro?</h4>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="btnEliminar" value="Si" class="btn btn-raised btn-primary btn-round waves-effect" />
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>