@using MVC.Presentacion.Models.Catalogos
@model  ClienteLocacionMod
@{
    ViewBag.Title = "Catálogo / Clientes / Locaciones";
}

<script src="~/Resources/js/lib/jquery-1.9.1.js"></script>
<script src="~/Resources/js/Clientes.js"></script>
<link href="~/Resources/css/Clientes.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnRegresarIndex").click(function () {

            var form = $(this).parent("form");
            form.attr('action', '<%= Url.RouteUrl(new { Controller = "Clientes", Action = "EditarLocaciones" }) %>');
            form.attr('method', 'post');
        });
    });
</script>
@using (Html.BeginForm("ActualizarLocacion", "Clientes", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h3>&nbsp;Catálogo / Clientes / Locaciones</h3>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <div>
                                                <input id="Nombre" type="text" name="Nombre" readonly="readonly" class="form-control" value="@((ViewBag.IdCliente[0].RazonSocial=="")?ViewBag.IdCliente[0].Nombre + " " +ViewBag.IdCliente[0].Apellido1 + " " +ViewBag.IdCliente[0].Apellido2:ViewBag.IdCliente[0].RazonSocial )" />
                                                <input type="text" name="IdCliente" hidden="hidden" value="@ViewBag.IdCliente[0].IdCliente" readonly="readonly" class="form-control" />
                                                <input type="text" name="Orden" hidden="hidden" value="@ViewBag.Locaciones.Orden" readonly="readonly" class="form-control" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <div>
                                            <label for="txtNume">
                                                Tipo de locación(Lugar):
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input type="text" name="TipoLocacion" class="form-control" value="@ViewBag.Locaciones.TipoLocacion">
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <div class="form-group">
                                        <div>
                                            Localización Manual
                                            <label class="switch">
                                                <input type="checkbox" id="payMethod">
                                                <span class="slider round"></span>
                                            </label>
                                            Localización Google Maps
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix" id="Dir">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <div>
                                            <label for="txtNume">
                                                Dirección del Lugar:
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div class="form-group">
                                        <input type="text" name="txtDir" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div id="DirManual">
                                <div class="row clearfix">
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Pais:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <select id="ddlPais" name="IdPais" class="form-control selectpicker z-index show-tick">
                                                @foreach (var lst in ViewBag.ListaPaises)
                                                {
                                                    <option value="@lst.IdPais">@lst.Pais</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Estado:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <select name="IdEstadoRep" id="ddlEdo" class="form-control selectpicker z-index show-tick" data-live-search="true">
                                                @foreach (var lst in ViewBag.ListaEstados)
                                                {
                                                    <option value="@lst.IdEstadoRep">@lst.Estado</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Municipio:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="Municipio" class="form-control" value="@ViewBag.Locaciones.Municipio" />
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Municipio, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Colonia:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="Colonia" class="form-control" value="@ViewBag.Locaciones.Colonia" />
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Colonia, "", new { @class = "alert-danger" })
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Calle:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <div class="form-group">
                                            <input type="text" name="Calle" class="form-control" value="@ViewBag.Locaciones.Calle" />
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Calle, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Núm Ext:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="NumExt" class="form-control" value="@ViewBag.Locaciones.NumExt" />
                                        </div>
                                        @Html.ValidationMessageFor(m => m.NumExt, "", new { @class = "alert-danger" })
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Núm. Int:
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="NumInt" class="form-control" value="@ViewBag.Locaciones.NumInt" />
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Cod. Postal:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="CodigoPostal" class="form-control" value="@ViewBag.Locaciones.CodigoPostal" />
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CodigoPostal, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-5 col-sm-5">
                                    <div class="form-group">
                                        <input type="submit" id="btnRegresarIndex" value="Regresar" formaction=@Url.Action("EditarLocaciones", new { id = @ViewBag.IdCliente[0].IdCliente}) class="btn btn-raised btn-primary float-left" />
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <div class="form-group">
                                        <button class="btn btn-raised btn-primary float-right">Actualizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.MessageError != null)
                {
                <div class="row clearfix">
                    <div id="divMensajeError" class="container">
                        <div class="alert alert-danger">
                            <div class="alert-icon">
                                <i class="zmdi zmdi-block"></i>
                            </div>
                            <strong>
                                <label>@ViewBag.MessageError</label>
                            </strong>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}