@using MVC.Presentacion.Models.Catalogos
@model  ClientesModel
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )

<script src="~/Resources/js/Clientes.js"></script>
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var message = '@ViewBag.MessageExito';
    if (message != '') {
        $(window).on("load", showNotification('alert-success', message, 'top', 'center', '', ''));
    }
</script>
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
@using (Html.BeginForm("Nuevo", "Clientes", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Clientes</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item">Catálogos</li>
                            <li class="breadcrumb-item">Clientes</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <div class="row clearfix col-lg-12 col-md-12 col-sm-12">
                            <div class="col-md-5">
                                <div>
                                    <strong>Gasera</strong>
                                </div>
                                <div>
                                    @if (ViewBag.EsAdmin)
                                    {
                                        <select id="empresas" name="IdEmpresa" class="form-control show-tick" data-live-search="true">
                                            @foreach (var lst in ViewBag.Empresas)
                                            {
                                                <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        @ViewBag.Empresas
                                    }
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-3">
                                &nbsp;
                                <div class="form-group">
                                    <input id="BtnNuevo" type="submit" value="Nuevo" class="btn btn-raised btn-round btn-primary btn-round " />
                                </div>
                            </div>
                        </div>

                        @if (ViewBag.MessageError != null)
                        {
                            <div class="row clearfix">
                                <div id="divMensajeError" class="container">
                                    <div class="alert alert-danger">
                                        <div class="alert-icon">
                                            <i class="zmdi zmdi-block"></i>
                                        </div>
                                        <strong>
                                            <label>@ViewBag.MessageError</label>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        }
                        <br />
                        <div class="row clearfix blockquote blockquote-info btn-round">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="table-responsive">
                                    @Html.Action("GridClientes", (List<ClientesDto>)ViewBag.Clientes)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
