@using MVC.Presentacion.Models.Catalogos
@model  ClientesModel

@{
    ViewBag.Title = "Index";
}

<!-- Bootstrap Select Css -->
<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<script src="~/Resources/js/lib/jquery-1.9.1.js"></script>
<script src="~/Resources/js/Clientes.js"></script>
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var message = '@ViewBag.MessageExito';
    if (message != '') {
        $(window).on("load", showNotification('alert-success', message, 'top', 'center', '', ''));
    }
</script>
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
@using (Html.BeginForm("Nuevo", "Clientes", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-sm-3">
                                    <b>Gasera</b>
                                    <select name="IdEmpresa" id="ddlEmpresas" class="form-control selectpicker z-index show-tick" data-live-search="true" onchange="">
                                        @foreach (var lst in ViewBag.Empresas)
                                        {
                                            <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <input id="BtnNuevo" type="submit" value="Nuevo" class="btn btn-raised btn-primary float-right" />
                            </div>
                        </div>
                        <br />
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <b>Tipo persona</b>
                                <select name="IdTipoPersona" id="ddlTipoPersona" class="form-control selectpicker z-index show-tick" data-live-search="true">
                                    @foreach (var lst in ViewBag.TipoPersona)
                                    {
                                        <option value="@lst.IdTipoPersona">@lst.Descripcion</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <b>Regimen Fiscal</b>
                                <select name="IdRegimenFiscal" class="form-control show-tick" data-live-search="true">
                                    @foreach (var lst in ViewBag.RegimenFiscal)
                                    {
                                        <option value="@lst.IdRegimenFiscal">@lst.Descripcion</option>
                                    }
                                </select>
                            </div>
                        </div> <br />
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="row clearfix">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="txtRfc">
                                                Rfc:
                                            </label>
                                            <input type="text" name="Rfc" id="txtRfc" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="txtRS">
                                                Razón social o Nombre completo
                                            </label>
                                            <input type="text" name="RazonSocial" id="txtRS" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="submit" id="btnBuscar" name="Buscar" value="Buscar" formaction=@Url.Action("Buscar") formmethod="post" class="btn btn-raised btn-primary float-left" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table table-bordered table-striped table-hover js-basic-example dataTable" name="EmpresasGaseras">
                                                <thead>
                                                    <tr>
                                                        <th>Gasera</th>
                                                        <th>Tipo Persona</th>
                                                        <th>Regimen Fiscal</th>
                                                        <th>Razón social</th>
                                                        <th>RFC</th>
                                                        <th>CreditoMonto</th>
                                                        <th>CreditoDias</th>
                                                        <th>Descuento</th>
                                                        <th>Celular</th>
                                                        <th>Telefono</th>
                                                        <th>Correo elect.</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in @ViewBag.Clientes)
                                                    {
                                                        <tr>
                                                            <td>@item.Empresa</td>
                                                            <td>@item.TipoPersonaFiscal</td>
                                                            <td>@item.RegimenFiscal</td>
                                                            <td>@item.RazonSocial</td>
                                                            <td>@item.Rfc</td>
                                                            <td>@item.limiteCreditoMonto</td>
                                                            <td>@item.limiteCreditoDias</td>
                                                            <td>@item.DescuentoXKilo</td>
                                                            <td>@item.Celular</td>
                                                            <td>@item.Telefono1</td>
                                                            <td>@item.Email1</td>
                                                            <td>
                                                                <a ID="lblCrear" href="@Url.Action("EditarCliente", "Clientes", new { id = item.IdCliente })">
                                                                    <i class="material-icons">edit</i>
                                                                    <span class="icon-name"></span>
                                                                </a>
                                                                <a ID="lbEdit" href="@Url.Action("EditarLocaciones", "Clientes", new { id = item.IdCliente })">
                                                                    <i class="material-icons">edit_location</i>
                                                                    <span class="icon-name"></span>
                                                                </a>
                                                                <a ID="lbBorrar" href="@Url.Action("BorrarClientes", "Clientes", new { id = item.IdCliente })">
                                                                    <i class="material-icons">delete</i>
                                                                    <span class="icon-name"></span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.MessageError != null)
                {
                    <div class="row clearfix">
                        <div id="divMensajeError" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    <label>@ViewBag.MessageError</label>
                                </strong>
                            </div>
                        </div>
                    </div>
                }            
            </div>
        </div>
    </section>
}
