@using MVC.Presentacion.Models.Seguridad
@model  LoginModel
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )

@{
    ViewBag.Title = "Iniciar sesión";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
</head>

<body class="theme-black">
    <div class="authentication">
        @using (Html.BeginForm("Inicio", "Home", FormMethod.Post))
        {
            <div class="container">
                <div class="col-md-12 content-center">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="company_detail">
                                <h4 class="logo">
                                    <img src="assets/images/LogoCorpKonsilio183x183.png" alt="" />
                                    Corporativo Konsilio
                                </h4>
                                <h3>SAGAS. Sistema de Administración de Gas <strong style="text-transform: lowercase;">Ver. 1.0</strong></h3>
                                <p>
                                </p>
                                <div class="footer">
                                    <hr>
                                    <ul>
                                        <li>
                                            <div class="demo-google-material-icon">
                                                <a href="http://192.168.0.13:7013/SAGAS_APK/app-sagas-release.apk">
                                                    <i class="material-icons">android</i> <span class="icon-name">App móvil (v1.0.20190703)</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="demo-google-material-icon">
                                                <a href="@Url.Action("Index", "Facturacion")">
                                                    <i class="material-icons">monetization_on</i> 
                                                    <span class="icon-name">Facturación</span>                                                   
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 offset-lg-1">
                            <div class="card-plain">
                                <div class="header">
                                    <h5>Inicio de Sesión</h5>
                                </div>
                                <div class="from">
                                    <div class="form-group">

                                        @*@Html.DevExpress().ComboBox(settings =>
                                                    {
                                                        settings.Name = "IdEmpresa";
                                                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                        settings.SelectedIndex = 0;
                                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                        settings.Properties.ValueType = typeof(int);
                                                        settings.Properties.TextField = "NombreComercial";
                                                        settings.Properties.ValueField = "IdEmpresa";
                                                    }).BindList(ViewBag.Empresas).Bind(Model.IdEmpresa).GetHtml()
                                        @Html.ValidationMessageFor(m => m.IdEmpresa, "", new { @class = "alert-danger" })*@



                                        <select name="IdEmpresa" id="empresas" class="form-control selectpicker" data-live-search="true">
                                            @foreach (var lst in Model.Empresas)
                                            {
                                                if (lst.IdEmpresa.Equals(2))
                                                {
                                                    <option value="@lst.IdEmpresa" selected>@lst.NombreComercial</option>
                                                }
                                                else
                                                {
                                                    <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Usuario" name="Usuario" />
                                        <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                                    </div>
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Contraseña" name="Password" />
                                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                    </div>

                                </div>
                                <div class="footer">
                                    <input type="submit" value="Iniciar" class="btn btn-primary btn-round btn-block" />
                                </div>
                                @if (Model.Respuesta != null)
                                {
                                    if (!Model.Respuesta.Exito)
                                    {
                                        <div class="alert alert-danger" id="divMensaje">
                                            <label id="lblMensajeError">@Model.Respuesta.Mensaje.ToString() </label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
<script src="~/assets/plugins/jquery/jquery-v3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>

@*<script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script>  Lib Scripts Plugin Js*@