@model MVC.Presentacion.Models.Catalogos.CuentaContableModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
</head>

<body style="padding-top:10px;">   
    @using (Html.BeginForm("Crear", "CuentaContable", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IdCuentaContable)
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="~/DashBoard/Vista/Dashboard.aspx"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item active">
                                    <Label>Catalogos / Cuentas contables </Label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <b><strong>Insertar Cuenta contable</strong></b>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <b>Número</b>
                                        @Html.TextBoxFor(m => m.Numero, new { @class = "form-control", placeholder = "N° de cuenta contable" })
                                    </div>
                                    <Label class="alert-danger" hidden="hidden">Campo requerido</Label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <b>Descripción</b>
                                        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Descripción" })
                                    </div>
                                    <Label class="alert-danger" hidden="hidden">Campo requerido</Label>
                                </div>
                                <div class="col-md-1">
                                    <b>&nbsp; </b>
                                    <div class="form-group">
                                        @if (ViewBag.EsEdicion == null)
                                        {
                                            <button btn id="BtnCrear" formaction="Crear" class="btn btn-primary btn-icon  btn-icon-mini btn-round">
                                                <i class="zmdi zmdi-plus"></i>
                                            </button>                               
                                        }
                                        else
                                        {
                                            <button btn id="btnUpDate" formaction="Modificar" class="btn btn-primary btn-icon  btn-icon-mini btn-round">
                                                <i class="zmdi zmdi-swap"></i>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.MensajeError != null)
                    {
                        <div id="DivAlerta" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    @ViewBag.MensajeError
                                </strong>
                            </div>
                        </div>
                    }
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <b>Gasera</b>
                                    <select id="ddlEmpresas" name="IdEmpresa" class="form-control show-tick" data-live-search="true">
                                        @foreach (var lst in ViewBag.Empresas)
                                        {
                                            <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <b>Numero</b>
                                        <input type="text" ID="txtNumeroCtaCtble" class="form-control" OnTextChanged="txtNumeroCtaCtble_TextChanged" />
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <td><b>Gasera</b></td>
                                                <td><b>Número</b></td>
                                                <td><b>Descripción</b></td>
                                                <td><b>Acción</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @Html.EditorFor(m => m.CuentasContables)
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>      
    }
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnUpDate").click(function () {
            var form = $(this).parent("form");
            form.attr('action', '<%= Url.RouteUrl(new { Controller = "CuentaContable", Action = "Modificar" }) %>');
            form.attr('method', 'post');
        });
    });
</script>
