@using MVC.Presentacion.Models
@model  MVC.Presentacion.Models.Almacen.RemanenteModel
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )

<script language="JavaScript" type="text/javascript">
    function ChangeTipo(s, e) {
        var sel = s.GetValue();
       
        if (sel == 0 || sel == 1) {
            $('#PuntoVentaCampos').hide();
            $('#PuntoVentaTabla').hide();
            $('#RemaneteTracto').hide();
            $('#RemaneteGeneralDatos').show();
            $('#RemaneteGeneralTabla').show();
        }
        if (sel == 2) {
            $('#PuntoVentaCampos').show();
            $('#PuntoVentaTabla').show();
            $('#RemaneteTracto').hide();
            $('#RemaneteGeneralDatos').hide();
            $('#RemaneteGeneralTabla').hide();
        }
        if (sel == 3) {
            $('#PuntoVentaCampos').hide();
            $('#PuntoVentaTabla').hide();
            $('#RemaneteTracto').show();
            $('#RemaneteGeneralDatos').hide();
            $('#RemaneteGeneralTabla').hide();
        }
    };
</script>
<body>
    @using (Html.BeginForm("Buscar", "Remanente", FormMethod.Post))
    {
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="50" height="50" alt="Alpino"></div>
                <p>Procesando</p>
            </div>
        </div>
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Remanente</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href=@Url.Action("Inicio", "Home")><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Remanente</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="header">
                            Resumen de<strong> remanente</strong>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <strong>Gasera:</strong>
                                    @Html.DevExpress().ComboBox(settings =>
                               {
                                   settings.Name = "IdEmpresa";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.SelectedIndex = 1;

                                   settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                   settings.Properties.ValueType = typeof(short);
                                   settings.Properties.TextField = "NombreComercial";
                                   settings.Properties.ValueField = "IdEmpresa";
                               }).BindList(ViewBag.Empresas).Bind(Model.IdEmpresa).GetHtml()
                                </div>
                                <div class="col-md-2">
                                    <strong>Tipo:</strong>
                                    @Html.DevExpress().ComboBox(settings =>
                               {
                                   settings.Name = "IdTipo";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.SelectedIndex = 0;
                                   settings.Properties.DisplayFormatString = "{0}";
                                   settings.Properties.ValueType = typeof(int);
                                   settings.ClientEnabled = true;
                                   settings.Properties.ClientSideEvents.SelectedIndexChanged = "ChangeTipo";
                                   settings.Properties.ClientSideEvents.Init = "ChangeTipo";
                                   settings.Properties.Items.Add("Seleccione", 0);
                                   settings.Properties.Items.Add("General", 1);
                                   settings.Properties.Items.Add("Por punto de venta", 2);
                                   settings.Properties.Items.Add("Por tracto", 3);

                               }).Bind(Model.IdTipo).GetHtml()
                                </div>
                                <div class="col-md-3" id="PuntoVentaCampos">
                                    <strong>Punto de venta</strong>
                                    @Html.Action("cbPuntosventaPartial", Model)
                                </div>
                                <div class="col-md-2">
                                    <strong>Periodo</strong>
                                    @Html.DevExpress().DateEdit(settings =>
                               {
                                   settings.Name = "Fecha";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                   settings.Properties.PickerType = DatePickerType.Months;
                                   settings.Properties.CalendarProperties.FastNavProperties.InitialView = DatePickerType.Years;
                                   settings.Properties.CalendarProperties.FastNavProperties.MaxView = DatePickerType.Years;
                                   settings.Date = DateTime.Today;
                               }).Bind(Model.Fecha).GetHtml()
                                </div>
                                <div class="col-md-1">
                                    <strong> </strong>
                                    <button class="btn btn-round btn-default"> Buscar</button>
                                </div>
                            </div>
                            <br />
                            @*Remanenten General*@
                            <div class="row clearfix blockquote blockquote-info btn-round" id="RemaneteGeneralTabla">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <td><strong>Día</strong></td>
                                                <td><strong>Inv. Inicial del mes</strong></td>
                                                <td><strong>Compras descargas</strong></td>
                                                <td><strong>Ventas (Camionetas y Pipas)</strong></td>
                                                <td><strong>Carburación</strong></td>
                                                <td><strong>Inv. Final(Libro)</strong></td>
                                                <td><strong>Inv. Físicio</strong></td>
                                                <td><strong>Gas sobrante</strong></td>
                                                <td><strong>Rema (%)</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.RemaGeneral != null)
                                            {
                                                foreach (var item in ViewBag.RemaGeneral)
                                                {
                                                    <tr>
                                                        <td>@item.dia</td>
                                                        <td>@item.InventarioInicial</td>
                                                        <td>@item.AcumuladoCompras</td>
                                                        <td>@item.Ventas</td>
                                                        <td>@item.Carburacion</td>
                                                        <td>@item.InventarioLibro</td>
                                                        <td>@item.InventarioFisico</td>
                                                        <td>@item.GasSobrante</td>
                                                        <td>@item.RemanenteDecimal</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="RemaneteGeneralDatos">
                                @if (ViewBag.RemaGeneralFinal != null)
                                {

                                    <div class="row clearfix">
                                        <div class="col-md-3">Remanente Generado al : @ViewBag.RemaGeneralFinal.dia</div>
                                        <div class="col-md-3"> (Toneladas)</div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3">Remanente de Venta</div>
                                        <div class="col-md-3">$ @ViewBag.RemaGeneralFinal.Ventas</div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3">Remanente de Transporte</div>
                                        <div class="col-md-3"> @ViewBag.RemaGeneralFinal.Carburacion</div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3">Total de Remanente Determinado</div>
                                        <div class="col-md-3"> @ViewBag.RemaGeneralFinal.InventarioLibro</div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3">Gas Sobrante (O faltante)</div>
                                        <div class="col-md-3">@ViewBag.RemaGeneralFinal.GasSobrante</div>
                                    </div>
                                    @*<div class="row clearfix">
                                            <div class="col-md-3">0.00</div>
                                        </div>*@

                                }
                            </div>

                            @*Remanente por unidad de venta*@
                            <div class="row clearfix blockquote blockquote-info btn-round" id="PuntoVentaTabla">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <td><strong>Nombre</strong></td>
                                                @if (ViewBag.RemaPuntoVenta != null && ViewBag.RemaPuntoVenta.Count > 0)
                                                {
                                                    foreach (var item in ((List<RemanentePuntoVentaTodosDTO>)ViewBag.RemaPuntoVenta).FirstOrDefault().RemaentePuntoVenta.ToList())
                                                    {
                                                        {
                                                            <td><strong>@item.dia</strong></td>
                                                        }
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.RemaPuntoVenta != null)
                                            {
                                                foreach (var puntoVenta in ((List<RemanentePuntoVentaTodosDTO>)ViewBag.RemaPuntoVenta))
                                                {
                                                    <tr>
                                                        <td>
                                                            @puntoVenta.RemaentePuntoVenta.FirstOrDefault().NombrePuntoVenta
                                                        </td>

                                                        @foreach (var remaPtv in puntoVenta.RemaentePuntoVenta)
                                                        {
                                                            <td>
                                                                @remaPtv.Remanente 
                                                                (@remaPtv.Porcentaje %)
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                    </table>
                                </div>
                            </div>
                            <div class="row clearfix blockquote blockquote-info btn-round" id="RemaneteTracto">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <td><strong>Día</strong></td>                                             
                                                <td><strong>Remanente acumulado (kg)</strong></td>
                                                <td><strong>Remanente generado (kg)</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.RemaTracto != null)
                                            {
                                                foreach (var item in ViewBag.RemaTracto)
                                                {
                                                    <tr>
                                                        <td>@item.dia</td>                                                       
                                                        <td>@item.AcumuladoCompras</td>                                                      
                                                        <td>@item.RemanenteDecimal</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>