@model MVC.Presentacion.Models.Catalogos.PartialViewModel
@{
    ViewBag.Title = "Index";
}
<!-- Bootstrap Select Css -->
<script src="~/Resources/js/Roles.js"></script>
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var message = '@ViewBag.MessageExito';
    if (message != '') {
        $(window).on("load", showNotification('alert-success', message, 'top', 'center', '', ''));
    }
</script>
<script src="~/Resources/js/lib/jquery-1.9.1.js"></script>
<script type="text/javascript">
    //$(function () {
    //    $('#empresas').on('change', function () {
    //        //$('.tblfilterable tbody tr').each(function () {
    //        debugger

    //        var url = "/Roles/Index";
    //        var id = $('#empresas').find('option:selected').val();
    //        $.getJSON(url, { idempresa: id }, function (data) {
    //            debugger
    //            var factor = data;
    //            $("#tblfilterable").append(factor);
    //        });
    //        //});
    //    });
    //});
    $(function () {
        $('#exampleempresas').on('change', function () {
         
            var id = $(this).val();
           
            var url = '@Url.Action("Index", "Roles", new { idempresa = "__param__" })';
            window.location.href = url.replace('__param__', encodeURIComponent(id));
           });
    });

</script>
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
@using (Html.BeginForm("AgregarNuevoRol", "Roles", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Roles</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item">Catálogos</li>
                            <li class="breadcrumb-item">Roles</li>
                        </ul>
                    </div>
                </div>
                <!--Empresa-->
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <b>Gasera</b>                                   
                                    <div>
                                        @if (ViewBag.EsAdmin)
                                        {
                                            <select id="exampleempresas" name="IdEmpresa" class="form-control z-index show-tick" data-live-search="true">
                                                @foreach (var lst in ViewBag.Empresas)
                                                {
                                                    if (ViewBag.IdEmpresa != 0)
                                                    {
                                                        if (lst.IdEmpresa == ViewBag.IdEmpresa)
                                                        {
                                                            <option value="@lst.IdEmpresa" selected="selected">@lst.NombreComercial</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                    }
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            @ViewBag.Empresas
                                        }
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <b>Estatus</b>
                                    <select name="IdStatus" class="form-control show-tick" data-live-search="true">
                                        <option value="Enfunciones">En funciones</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Alta Rol-->
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <div>
                                        <label for="txtNume">
                                            Nombre rol:
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input id="NombreRol" type="text" name="NombreRol" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <div>
                                        <button class="btn btn-raised btn-primary btn-round"><i class="glyphicon glyphicon-open-file"></i>  Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- Nav tabs all menu-->
                            <ul class="nav nav-tabs" role="tablist">
                                @*active show*@
                                <li class="nav-item" id="homeRequisicion"><a class="nav-link" id="homeRequisicion" data-toggle="tab" href="#window_Requsicion"><i class="zmdi zmdi-apps"></i> Requisición </a></li>
                                <li class="nav-item"><a class="nav-link" id="homeCompra" data-toggle="tab" href="#window_Compra"> <i class="zmdi zmdi-money-box"></i> Compra </a></li>
                                <li class="nav-item"><a class="nav-link" id="homeInventario" data-toggle="tab" href="#window_Inventario"><i class="zmdi zmdi-file"></i> Inventario </a></li>
                                <li class="nav-item"><a class="nav-link" id="homeVentas" data-toggle="tab" href="#window_Ventas"><i class="zmdi zmdi-money"></i> Ventas </a></li>
                                <li class="nav-item"><a class="nav-link" id="homeCatalogos" data-toggle="tab" href="#window_Catalogos"><i class="zmdi zmdi-settings-square"></i> Catálogos </a></li>
                            </ul>
                        </div>
                        <!-- Tab panes -->
                        <div class="row clearfix">
                            <div class="tab-content">
                                <!--Compra tab menu-->
                                <div id="window_Compra" class="tab-pane">
                                    <ul class="nav nav-tabs" id="compras_tabs" role="tablist">
                                        <li class="nav-item"><a class="nav-link" href="#SistemaCompra" data-toggle="tab"><i class="zdmi"></i>Sistema</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#MovilCompra" data-toggle="tab"><i class="zmdi"></i>App móvil</a></li>
                                    </ul>
                                </div>
                                <!--ventas tab content-->
                                <div id="window_Ventas" class="tab-pane">
                                    <ul class="nav nav-tabs" id="ventas_tabs" role="tablist">
                                        <li class="nav-item"><a class="nav-link" href="#SistemaVentas" data-toggle="tab">Sistema</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#MovilVentas" data-toggle="tab">App móvil</a></li>
                                    </ul>
                                </div>
                                <!--Inventario tab menu-->
                                <div id="window_Inventario" class="tab-pane">
                                    <ul class="nav nav-tabs" id="inventario_tabs" role="tablist">
                                        <li class="nav-item"><a class="nav-link" href="#SistemaInventario" data-toggle="tab">Sistema</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#MovilInventario" data-toggle="tab">App móvil</a></li>
                                    </ul>
                                </div>
                                <!--Requisicion tab content-->
                                <div id="window_Requsicion" class="tab-pane">
                                    <ul class="nav nav-tabs" id="requisicion_tabs" role="tablist">
                                        <li class="nav-item"><a class="nav-link" href="#SistemaRequsicion" data-toggle="tab">Sistema</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#MovilRequsicion" data-toggle="tab">App móvil</a></li>
                                    </ul>
                                </div>
                                <!--Catalogo tab menu-->
                                <div id="window_Catalogos" class="tab-pane">
                                    <ul class="nav nav-tabs" id="catalogos_tabs" role="tablist">
                                        <li class="nav-item"><a class="nav-link" href="#SistemaCatalogo" data-toggle="tab"><i class="zdmi"></i>Sistema</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#MovilCatalogo" data-toggle="tab"><i class="zmdi"></i>App móvil</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix table-responsive">
                            <!--Catalogo tab content-->
                            <div class="tab-content">
                                <div id="SistemaCatalogo" role="tabpanel" class="tab-pane">
                                    <div class="row clearfix" id="btnCatalogo">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" id="btnGuardaP" name="Guardar" value="Guardar" formaction=@Url.Action("GuardarPermisos") formmethod="post" class="btn btn-raised btn-primary float-right btn-round" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blockquote-info blockquote btn-round">
                                        <div class="table-responsive" id="hide_divCat">
                                            <table class="table table-striped table-hover tblfilterable" id="ItemList">
                                                <thead>
                                                    <tr>
                                                        <th>Rol</th>
                                                        <th>Insertar Usuario</th>
                                                        <th>Modificar Usuario</th>
                                                        <th>Eliminar Usuario</th>
                                                        <th>Consultar Usua</th>
                                                        <th>CatInsertarProveedor</th>
                                                        <th>CatEliminarProveedor</th>
                                                        <th>CatConsultarProveedor</th>
                                                        <th>CatModificarProveedor</th>
                                                        <th>CatInsertarProducto</th>
                                                        <th>CatModificarProducto</th>
                                                        <th>CatEliminarProducto</th>
                                                        <th>CatConsultarProducto</th>
                                                        <th>CatInsertarCentroCosto</th>
                                                        <th>CatModificarCentroCosto</th>
                                                        <th>CatEliminarCentroCosto</th>
                                                        <th>CatConsultarCentroCosto</th>
                                                        <th>CatInsertarCuentaContable</th>
                                                        <th>CatModificarCuentaContable</th>
                                                        <th>CatEliminarCuentaContable</th>
                                                        <th>CatConsultarCuentaContable</th>
                                                        <th>CatInsertarCliente</th>
                                                        <th>CatModificarCliente</th>
                                                        <th>CatEliminarCliente</th>
                                                        <th>CatConsultarCliente</th>
                                                        <th>CatAsignarChoferPuntoVenta</th>
                                                        <th>CatEliminarPuntoVenta</th>
                                                        <th>CatConsultarPuntoVenta</th>
                                                        <th>CatAsignarEquipoTransporte</th>
                                                        <th>CatModificarEquipoTransporte</th>
                                                        <th>CatEliminarEquipoTransporte</th>
                                                        <th>CatConsultarEquipoTransporte</th>
                                                        <th>CatInsertarEmpresa</th>
                                                        <th>CatModificarEmpresa</th>
                                                        <th>CatEliminarEmpresa</th>
                                                        <th>CatConsultarEmpresa</th>
                                                        <th>CatInsertarRol</th>
                                                        <th>CatModificarRol</th>
                                                        <th>CatEliminarRol</th>
                                                        <th>CatConsultarRol</th>
                                                        <th>CatInsertarPrecioVentaGas</th>
                                                        <th>CatModificarPrecioVentaGas</th>
                                                        <th>CatEliminarPrecioVentaGas</th>
                                                        <th>CatConsultarPrecioVentaGas</th>
                                                        <th>CatInsertarPrecioVenta</th>
                                                        <th>CatModificarPrecioVenta</th>
                                                        <th>CatEliminarPrecioVenta</th>
                                                        <th>CatConsultarPrecioVenta</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.EditorFor(m => m.ListaRoles, new { tipo =  "Cat"})
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="MovilCatalogo" class="tab-pane">
                                    <i>Movil Catalogo sin datos para mostrar</i>
                                </div>
                            </div>
                            <!--Compra tab content-->
                            <div class="tab-content">
                                <div id="SistemaCompra" role="tabpanel" class="tab-pane">
                                    <div class="row clearfix" id="btnCompra">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" id="btnGuardaPCompra" name="Guardar" value="Guardar" formaction=@Url.Action("GuardarPermisosCompra") formmethod="post" class="btn btn-raised btn-primary float-right btn-round" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blockquote-info blockquote btn-round">
                                        <div class="table-responsive" id="divgvwCompra">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Rol</th>
                                                        <th>CompraVerOCompra</th>
                                                        <th>CompraGenerarOCompra</th>
                                                        <th>CompraAutorizarOCompra</th>
                                                        <th>CompraEntraProductoOCompra</th>
                                                        <th>CompraAtiendeServicioOCompra</th>
                                                        <th>CompraCancelaOCompra</th>
                                                        <th>AlmacenActualizaExistencias</th>
                                                        <th>AlmacenVerExistencias</th>
                                                        <th>AlmacenVerMovimientos</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.EditorFor(m => m.ListaRolesCom)
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="MovilCompra" role="tabpanel" class="tab-pane">
                                    <div class="row clearfix" id="btnMovilCompra">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" id="btnGuardaPCompra" name="Guardar" value="Guardar" formaction=@Url.Action("GuardarPerMovilCompra") formmethod="post" class="btn btn-raised btn-primary float-right btn-round" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blockquote-info blockquote btn-round">
                                        <div class="table-responsive" id="DivgvwMovilCompra">
                                            <table id="tabSisCompra" class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Rol</th>
                                                        <th>AppCompraVerOCompra</th>
                                                        <th>AppCompraEntraGas</th>
                                                        <th>AppCompraGasIniciarDescarga</th>
                                                        <th>AppCompraGasFinalizarDescarga</th>
                                                        <th>AppAutoconsumoInventarioGral</th>
                                                        <th>AppAutoconsumoEstacionCarb</th>
                                                        <th>AppAutoconsumoPipa</th>
                                                        <th>AppCalibracionEstacionCarb</th>
                                                        <th>AppCalibracionPipa</th>
                                                        <th>AppCalibracionCamionetaCilindro</th>
                                                        <th>AppRecargaEstacionCarb</th>
                                                        <th>AppRecargaPipa</th>
                                                        <th>AppRecargaCamionetaCilindro</th>
                                                        <th>AppTomaLecturaAlmacenPral</th>
                                                        <th>AppTomaLecturaEstacionCarb</th>
                                                        <th>AppTomaLecturaPipa</th>
                                                        <th>AppTomaLecturaCamionetaCilindro</th>
                                                        <th>AppTomaLecturaReporteDelDia</th>
                                                        <th>AppTraspasoEstacionCarb</th>
                                                        <th>AppTraspasoPipa</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.EditorFor(m => m.ListaMovilCompra)                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--ventas tab content-->
                            <div class="tab-content">
                                <div id="SistemaVentas" class="tab-pane">
                                    <i>Sistema Ventas sin datos para mostrar</i>
                                </div>
                                <div id="MovilVentas" class="tab-pane">
                                    <i>Móvil Ventas sin datos para mostrar</i>
                                </div>
                            </div>
                            <!--Inventario tab content-->
                            <div class="tab-content">
                                <div id="SistemaInventario" class="tab-pane">
                                    <i>Sistema Inventario sin datos para mostrar</i>
                                </div>
                                <div id="MovilInventario" class="tab-pane">
                                    <i>Móvil Inventario sin datos para mostrar</i>
                                </div>
                            </div>
                            <!--Requisicion tab content-->
                            <div class="tab-content">
                                <div id="SistemaRequsicion" role="tabpanel" class="tab-pane">
                                    <div class="row clearfix" id="btnRrequisicion">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" id="btnGuardaPCompra" name="Guardar" value="Guardar" formaction=@Url.Action("GuardarPermisoRequisicion") formmethod="post" class="btn btn-raised btn-primary float-right btn-round" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blockquote-info blockquote btn-round" id="divReq">
                                        <div class="table-responsive" id="gvwSistemaReq">
                                            <table class="table table-striped table-hover" name="EmpresasGaseras">
                                                <thead>
                                                    <tr>
                                                        <th>Rol</th>
                                                        <th>RequisicionVerRequisiciones</th>
                                                        <th>RequisicionGenerarNueva</th>
                                                        <th>RequisicionRevisarExistencia</th>
                                                        <th>RequisicionAutorizar</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.EditorFor(m => m.ListaRequsicion)
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="MovilRequsicion" class="tab-pane">
                                    <i>Móvil Requsición sin datos para mostrar</i>
                                </div>
                            </div>
                            <!-- Tab panes -->
                        </div>
                    </div>
                </div>
                @if (ViewBag.MessageError != null)
                {
                    <div class="row clearfix">
                        <div id="divMensajeError" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    <label>@ViewBag.MessageError</label>
                                </strong>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
}