@model MVC.Presentacion.Models.Catalogos.PartialViewModel
@{
    ViewBag.Title = "Index";
}

<!-- Bootstrap Select Css -->
<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<script src="~/Resources/js/lib/jquery-1.9.1.js"></script>
<script src="~/Resources/js/Roles.js"></script>
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var message = '@ViewBag.MessageExito';
    if (message != '') {
        $(window).on("load", showNotification('alert-success', message, 'top', 'center', '', ''));
    }
</script>
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
@using (Html.BeginForm("AgregarNuevoRol", "Roles", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <!--Empresa-->
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <b>Gasera</b>
                                            <select name="IdEmpresa" id="ddlEmpresas" class="form-control selectpicker z-index show-tick" data-live-search="true" onchange="">
                                                @foreach (var lst in ViewBag.listaEmpresas)
                                                {
                                                    <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <b>Estatus</b>
                                            <select name="IdStatus" class="form-control show-tick" data-live-search="true">
                                                <option value="Enfunciones">En funciones</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <!--Alta Rol-->
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Nombre rol:
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <input id="NombreRol" type="text" name="NombreRol" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <div>
                                                <button class="btn btn-raised btn-primary"><i class="glyphicon glyphicon-open-file"></i>  Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="body">
                    <!-- Nav tabs all menu-->
                    <ul class="nav nav-tabs" role="tablist">
                        @*active show*@
                        <li class="nav-item" id="homeRequisicion"><a class="nav-link" id="homeRequisicion" data-toggle="tab" href="#window_Requsicion"><i class="zmdi zmdi-apps"></i> Requisicion </a></li>
                        <li class="nav-item"><a class="nav-link" id="homeCompra" data-toggle="tab" href="#window_Compra"> <i class="zmdi zmdi-money-box"></i> Compra </a></li>
                        <li class="nav-item"><a class="nav-link" id="homeInventario" data-toggle="tab" href="#window_Inventario"><i class="zmdi zmdi-file"></i> Inventario </a></li>
                        <li class="nav-item"><a class="nav-link" id="homeVentas" data-toggle="tab" href="#window_Ventas"><i class="zmdi zmdi-money"></i> Ventas </a></li>
                        <li class="nav-item"><a class="nav-link" id="homeCatalogos" data-toggle="tab" href="#window_Catalogos"><i class="zmdi zmdi-settings-square"></i> Catalogos </a></li>
                    </ul>
                    @*<div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" id="btnGuardaP" name="Guardar" value="Guardar" formaction=@Url.Action("GuardarPermisos") formmethod="post" class="btn btn-raised btn-primary float-right" />
                                </div>
                            </div>
                        </div>*@
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!--Compra tab menu-->
                        <div id="window_Compra" class="tab-pane">
                            <ul class="nav nav-tabs" id="compras_tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link" href="#SistemaCompra" data-toggle="tab"><i class="zdmi"></i> Sistema</a></li>
                                <li class="nav-item"><a class="nav-link" href="#MovilCompra" data-toggle="tab"><i class="zmdi"></i> App móvil</a></li>
                            </ul>
                        </div>

                        <!--ventas tab content-->
                        <div id="window_Ventas" class="tab-pane">
                            <ul class="nav nav-tabs" id="ventas_tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link" href="#SistemaVentas" data-toggle="tab">Sistema</a></li>
                                <li class="nav-item"><a class="nav-link" href="#MovilVentas" data-toggle="tab">App móvil</a></li>
                            </ul>
                        </div>

                        <!--Inventario tab menu-->
                        <div id="window_Inventario" class="tab-pane">
                            <ul class="nav nav-tabs" id="inventario_tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link" href="#SistemaInventario" data-toggle="tab">Sistema</a></li>
                                <li class="nav-item"><a class="nav-link" href="#MovilInventario" data-toggle="tab">App móvil</a></li>
                            </ul>
                        </div>

                        <!--Requisicion tab content-->
                        <div id="window_Requsicion" class="tab-pane">
                            <ul class="nav nav-tabs" id="requisicion_tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link" href="#SistemaRequsicion" data-toggle="tab">Sistema</a></li>
                                <li class="nav-item"><a class="nav-link" href="#MovilRequsicion" data-toggle="tab">App móvil</a></li>
                            </ul>
                        </div>

                        <!--Catalogo tab menu-->
                        <div id="window_Catalogos" class="tab-pane">
                            <ul class="nav nav-tabs" id="catalogos_tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link" href="#SistemaCatalogo" data-toggle="tab"><i class="zdmi"></i> Sistema</a></li>
                                <li class="nav-item"><a class="nav-link" href="#MovilCatalogo" data-toggle="tab"><i class="zmdi"></i> App móvil</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Catalogo tab content-->
                    <div class="tab-content">
                        <div id="SistemaCatalogo" class="tab-pane">
                            <div class="row clearfix" id="btnCatalogo">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" id="btnGuardaP" name="Guardar" title="Catalogos" value="Guardar" formaction=@Url.Action("GuardarPermisos") formmethod="post" class="btn btn-raised btn-primary float-right" />
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" id="hide_divCat">
                                <table class="table table table-bordered table-striped table-hover js-basic-example dataTable" id="ItemList">
                                    <thead>
                                        <tr>
                                            <th>Rol</th>
                                            <th>CatInsertarUsuario</th>
                                            <th>CatModificarUsuario</th>
                                            <th>CatEliminarUsuario</th>
                                            <th>CatConsultarUsuario</th>
                                            <th>CatInsertarProveedor</th>
                                            <th>CatEliminarProveedor</th>
                                            <th>CatConsultarProveedor</th>
                                            <th>CatModificarProveedor</th>
                                            <th>CatInsertarProducto</th>
                                            <th>CatModificarProducto</th>
                                            <th>CatEliminarProducto</th>
                                            <th>CatConsultarProducto</th>
                                            <th>CatInsertarCentroCosto</th>
                                            <th>CatModificarCentroCosto</th>
                                            <th>CatEliminarCentroCosto</th>
                                            <th>CatConsultarCentroCosto</th>
                                            <th>CatInsertarCuentaContable</th>
                                            <th>CatModificarCuentaContable</th>
                                            <th>CatEliminarCuentaContable</th>
                                            <th>CatConsultarCuentaContable</th>
                                            <th>CatInsertarCliente</th>
                                            <th>CatModificarCliente</th>
                                            <th>CatEliminarCliente</th>
                                            <th>CatConsultarCliente</th>
                                            <th>CatAsignarChoferPuntoVenta</th>
                                            <th>CatEliminarPuntoVenta</th>
                                            <th>CatConsultarPuntoVenta</th>
                                            <th>CatAsignarEquipoTransporte</th>
                                            <th>CatModificarEquipoTransporte</th>
                                            <th>CatEliminarEquipoTransporte</th>
                                            <th>CatConsultarEquipoTransporte</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.EditorFor(m => m.ListaRolesCat)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="MovilCatalogo" class="tab-pane">
                            <i>MovilCatalogo interests go here</i>
                        </div>
                    </div>

                    <!--Compra tab content-->
                    <div class="tab-content">
                        <div id="SistemaCompra" class="tab-pane">
                            <div class="row clearfix" id="btnCompra">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" id="btnGuardaPCompra" name="Guardar" title="Compras" value="Guardar" formaction=@Url.Action("GuardarPermisosCompra") formmethod="post" class="btn btn-raised btn-primary float-right" />
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" id="divgvwCompra">
                                <table class="table table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>Rol</th>
                                            <th>CompraVerOCompra</th>
                                            <th>CompraGenerarOCompra</th>
                                            <th>CompraAutorizarOCompra</th>
                                            <th>CompraEntraProductoOCompra</th>
                                            <th>CompraAtiendeServicioOCompra</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.EditorFor(m => m.ListaRolesCom)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="MovilCompra" class="tab-pane">
                            <div class="row clearfix" id="btnMovilCompra">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" id="btnGuardaPCompra" name="Guardar" title="MovilCompra" value="Guardar" formaction=@Url.Action("GuardarPerMovilCompra") formmethod="post" class="btn btn-raised btn-primary float-right" />
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" id="DivgvwMovilCompra">
                                <table id="tabSisCompra" class="table table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>Rol</th>
                                            <th>AppCompraVerOCompra</th>
                                            <th>AppCompraEntraGas</th>
                                            <th>AppCompraGasIniciarDescarga</th>
                                            <th>AppCompraGasFinalizarDescarga</th>
                                            <th>AppAutoconsumoInventarioGral</th>
                                            <th>AppAutoconsumoEstacionCarb</th>
                                            <th>AppAutoconsumoPipa</th>
                                            <th>AppCalibracionEstacionCarb</th>
                                            <th>AppCalibracionPipa</th>
                                            <th>AppCalibracionCamionetaCilindro</th>
                                            <th>AppRecargaEstacionCarb</th>
                                            <th>AppRecargaPipa</th>
                                            <th>AppRecargaCamionetaCilindro</th>
                                            <th>AppTomaLecturaAlmacenPral</th>
                                            <th>AppTomaLecturaEstacionCarb</th>
                                            <th>AppTomaLecturaPipa</th>
                                            <th>AppTomaLecturaCamionetaCilindro</th>
                                            <th>AppTomaLecturaReporteDelDia</th>
                                            <th>AppTraspasoEstacionCarb</th>
                                            <th>AppTraspasoPipa</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.EditorFor(m => m.ListaMovilCompra)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--ventas tab content-->
                    <div class="tab-content">
                        <div id="SistemaVentas" class="tab-pane">
                            <i>SistemaVentas interests go here</i>
                        </div>
                        <div id="MovilVentas" class="tab-pane">
                            <i>MovilVentas interests go here</i>
                        </div>
                    </div>

                    <!--Inventario tab content-->
                    <div class="tab-content">
                        <div id="SistemaInventario" class="tab-pane">
                            <i>SistemaInventario interests go here</i>
                        </div>
                        <div id="MovilInventario" class="tab-pane">
                            <i>MovilInventario interests go here</i>
                        </div>
                    </div>

                    <!--Requisicion tab content-->
                    <div class="tab-content">
                        <div id="SistemaRequsicion" class="tab-pane">
                            <div class="row clearfix" id="btnRrequisicion">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" id="btnGuardaPCompra" name="Guardar" value="Guardar" title="Requisicion" formaction=@Url.Action("GuardarPermisoRequisicion") formmethod="post" class="btn btn-raised btn-primary float-right" />
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" id="gvwSistemaReq">
                                <table class="table table table-bordered table-striped table-hover js-basic-example dataTable" name="EmpresasGaseras">
                                    <thead>
                                        <tr>
                                            <th>Rol</th>
                                            <th>RequisicionVerRequisiciones</th>
                                            <th>RequisicionGenerarNueva</th>
                                            <th>RequisicionRevisarExistencia</th>
                                            <th>RequisicionAutorizar</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.EditorFor(m => m.ListaRequsicion)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="MovilRequsicion" class="tab-pane">
                            <i>MovilRequsicion interests go here</i>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    @*<div class="tab-content">
                            <div role="tabpanel" class="tab-pane in active show" id="window_Ventas">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#window_SistemaVentas"> <i class="zmdi zmdi-home"></i> Sistema </a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#window_SistemaMovilVentas"> <i class="zmdi zmdi-home"></i> App móvil </a></li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="window_Requsicion">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#window_SistemaRequsicion"> <i class="zmdi zmdi-home"></i> Sistema </a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#window_SistemaMovilRequsicion"> <i class="zmdi zmdi-home"></i> App móvil </a></li>
                                </ul>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="window_Inventario">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#window_SistemaInventario"> <i class="zmdi zmdi-home"></i> Sistema </a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#window_SistemaMovilInventario"> <i class="zmdi zmdi-home"></i> App móvil </a></li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="window_Compra">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#window_SistemaCompra"> <i class="zmdi zmdi-home"></i> Sistema </a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#window_SistemaMovilCompra"> <i class="zmdi zmdi-home"></i> App móvil </a></li>
                                </ul>
                            </div>
                        </div>*@
                </div>
                @if (ViewBag.MessageError != null)
                {
                    <div class="row clearfix">
                        <div id="divMensajeError" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    <label>@ViewBag.MessageError</label>
                                </strong>
                            </div>
                        </div>
                    </div>
                }              
            </div>
        </div>
    </section>
}