@model MVC.Presentacion.Models.Historico.HistoricoVentaModel
@using PagedList.Mvc;
@using PagedList;
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    //$(document).ready(function () {

    //    $("#idUrl").change(function (event) {

    //        var reader = new FileReader();
    //        reader.readAsDataURL(event.srcElement.files[0]);

    //        reader.onload = function () {
    //            var fileContent = reader.result;
    //            console.log(fileContent);
    //        }

    //        $("#Url").val($("idUrl").val());
    //    });
    //});
    window.addEventListener("load", function() {
        document.getElementById("idUrl").onchange = function(event) {
            var reader = new FileReader();
            reader.readAsDataURL(event.srcElement.files[0]);
            var me = this;
            reader.onload = function () {
                var fileContent = reader.result;
                console.log(reader);
                $("#Url").val(reader);
            }
        }
    });

</script>
<body>
    <section class="content home">
        <div class="container-fluid">
            @using (Html.BeginForm("Crear", "Historico", FormMethod.Post , new { enctype = "multipart/form-data" }))
            {
                
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Histórico de ventas</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="~/DashBoard/Vista/Dashboard.aspx"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Equipo de Transporte</li>
                                <li class="breadcrumb-item">Histórico de ventas</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <strong>Mantenimiento</strong>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <b>Archivo a Cargar:</b>
                                        @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Url, "", new { @class = "alert-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">

                                        @*<label class="btn btn-default btn btn-primary btn-round">
                                            Seleccionar Ruta <input type="file" id="idUrl" >
                                        </label>*@                                        
                                            <input type="file" id="dataFile" name="upload" />                                                                                              
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">                                    
                                            <input type="submit" value="Upload" class="btn btn-default" />                                        
                                        @*<button id="BtnCargar" formaction=@Url.Action("Crear") class="btn btn-primary btn-round">Pre-Cargar</button>*@
                                    </div>
                                </div>


                            </div>

                            @if (ViewBag.MensajeError != null)
                            {
                                <div id="DivAlerta" class="container">
                                    <div class="alert alert-danger">
                                        <div class="alert-icon">
                                            <i class="zmdi zmdi-block"></i>
                                        </div>
                                        <strong>
                                            @ViewBag.MensajeError
                                        </strong>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            Validacion de <strong>Informacion</strong>
                        </div>
                        <div class="body">

                            <div class="row clearfix blockquote blockquote-info btn-round">
                                <div class="table-responsive">
                                    <table class="table table-striped  filterable">
                                        <thead>
                                            <tr>
                                                <td><strong>Id</strong></td>
                                                <td><strong>Mes</strong></td>
                                                <td><strong>Año</strong></td>
                                                <td><strong>Monto Venta</strong></td>
                                                <td><strong>Pipa</strong></td>
                                                <td><strong>Camioneta</strong></td>
                                                <td><strong>Local</strong></td>
                                                <td><strong>Foranea</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@foreach (var mant in ViewBag.Mantenimientos)
                                            {
                                                <tr>
                                                    <td>@mant.Id_DetalleMtto</td>
                                                    <td>@mant.Vehiculo</td>
                                                    <td>@mant.DescripcionMtto</td>
                                                    <td>@mant.FechaMtto</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>


                                                </tr>
                                            }*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row clearfix">
                                @*<div class="col-md-6">
                                    Página @(ViewBag.Mantenimientos.PageCount < ViewBag.Mantenimientos.PageNumber ? 0 : ViewBag.Mantenimientos.PageNumber) de @ViewBag.Mantenimientos.PageCount
                                </div>
                                <div class="col-md-6 text-right">
                                    @Html.PagedListPager((IPagedList)ViewBag.Mantenimientos, page => Url.Action("Index", new { page, @class = "btn btn-primary btn-simple" }))
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</body>