@model  MVC.Presentacion.Models.Ventas.CajaGeneralModel
@using PagedList.Mvc;
@using PagedList;
<!DOCTYPE html>

<html>
<head>
    @{
        ViewBag.Title = "Index";
    }
</head>
<body style="height:100%">
    @using (Html.BeginForm("Liquidar", "CajaGeneral", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-sm-3">
                                        <b>Gasera</b>
                                        <select name="IdEmpresa" id="ddlEmpresas" class="form-control selectpicker z-index show-tick">
                                            @foreach (var lst in ViewBag.Empresas)
                                            {
                                                <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-1">
                                    <b>Fecha:</b>
                                </div>
                                <div class="col-sm-2">
                                    <b>De:</b>
                                    <input type="text" id="IdDe" class="form-control" />
                                </div>
                                <div class="col-sm-2">
                                    <b>A:</b>
                                    <input type="text" id="IdA" class="form-control" />
                                </div>
                                <div class="col-sm-2">
                                    <b>Entidad:</b>
                                    <select id="IdTipoFecha" class="form-control selectpicker z-index show-tick">
                                        <option value="0">Seleccione</option>
                                        @*@foreach (var lst in ViewBag.Entidad)
                                            {
                                                <option value="@lst.IdPrecioVentaEstatus">@lst.Descripción</option>
                                            }*@
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <b>Concepto:</b>
                                    <select id="IdTipoFecha" class="form-control selectpicker z-index show-tick">
                                        <option value="0">Seleccione</option>
                                        @*@foreach (var lst in ViewBag.Entidad)
                                            {
                                                <option value="@lst.IdPrecioVentaEstatus">@lst.Descripción</option>
                                            }*@
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" id="btnRegistraPrecio" value="Consultar" formmethod="post" class="btn btn-raised btn-primary float-right" />
                                </div>
                                <div class="col-sm-1">
                                    <input type="submit" id="btnRegistraPrecio" value="Liquidar" formmethod="post" class="btn btn-raised btn-primary float-right" />
                                </div>
                            </div>
                            <br />
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table table-bordered table-striped table-hover js-basic-example dataTable" id="tblfilterable">
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Entidad</th>
                                                    <th>Operador/Chofer</th>
                                                    <th>Concepto</th>
                                                    <th>Descripcion</th>
                                                    <th>Ingreso</th>
                                                    <th>Egreso</th>
                                                    <th>Saldo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.CajaGralCamioneta != null)
                                                {
                                                    foreach (var item in ViewBag.CajaGralCamioneta)
                                                    {
                                                <tr>
                                                    <td>@item.Fecha</td>
                                                    <td>@item.Entidad</td>
                                                    <td>@item.Operador/Chofer</td>
                                                    <td>@item.Concepto</td>
                                                    <td>@item.Descripcion</td>
                                                    <td>@item.Ingreso</td>
                                                    <td>@item.Egreso</td>
                                                    <td>@item.Saldo</td>
                                                </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                @if (ViewBag.CajaGralCamioneta != null)
                                {
                                    <div class="col-md-6">
                                        Pagina @(ViewBag.CajaGralCamioneta.PageCount < ViewBag.CajaGralCamioneta.PageNumber ? 0 : ViewBag.CajaGralCamioneta.PageNumber) de @ViewBag.CajaGralCamioneta.PageCount
                                    </div>
                                    <div class="col-md-6 text-right">
                                        @Html.PagedListPager((IPagedList)ViewBag.CajaGralCamioneta, page => Url.Action("CajaGeneral", new { page, @class = "btn btn-primary btn-simple" }))
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.MessageExito != "" && ViewBag.MessageExito != null)
                {

                        <div data-notify="container" class="bootstrap-notify-container alert alert-dismissible bg-green p-r-35 animated fadeInDown"
                             role="alert" data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031;
                         bottom: 20px; left: 0px; right: 0px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="position: absolute; right: 10px; top: 5px; z-index: 1033;">x</a>
                            <span data-notify="icon"></span>
                            <span data-notify="title"></span> <span data-notify="message">@ViewBag.MessageExito</span>
                            <a href="#" target="_blank" data-notify="url"></a>
                        </div>
                    }
                    @if (ViewBag.MessageError != "" && ViewBag.MessageError != null)
                {
                        <div data-notify="container" class="bootstrap-notify-container alert alert-dismissible bg-red p-r-35 animated fadeInDown"
                             role="alert" data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031;
                         bottom: 20px; left: 0px; right: 0px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="position: absolute; right: 10px; top: 5px; z-index: 1033;">x</a>
                            <span data-notify="icon"></span>
                            <span data-notify="title"></span> <span data-notify="message">@ViewBag.MessageError</span><a href="#" target="_blank" data-notify="url"></a>
                        </div>
                    }

                </div>
            </div>
        </section>
    }

</body>
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/jquery-ui.js")
</html>
