@model  MVC.Presentacion.Models.Ventas.CorteCajaDTO
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<!DOCTYPE html>
<html>
<head>

    @{
        ViewBag.Title = "Liquidación";
    }
    <script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="~/assets/js/pages/ui/notifications.js"></script>
    <script src="~/Resources/js/CajaGeneral.js" type="text/javascript"></script>
    <link href="~/Resources/css/CreateForm.css" rel="stylesheet" />
    <script src="~/Scripts/js/LiquidarTiket.js"></script>
    <script type="text/javascript">
        var mensaje = '@ViewBag.Mensaje';
        if (mensaje != '') {
            $(window).on("load", showNotification('alert-success', mensaje, 'top', 'center', '', ''));
        };
    </script>
</head>

<body style="height:100%">
    @using (Html.BeginForm("GuardarLiquidar", "CajaGeneral", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Liquidación</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Caja General</li>
                                <li class="breadcrumb-item">Liquidación</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-05">
                                    <b>Clave Reporte:</b>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="FolioOperacionDia" class="form-control" value="@Model.FolioOperacionDia" />
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" id="btnBuscar" name="Buscar" value="Buscar" formaction=@Url.Action("Buscar") formmethod="post" class="btn btn-raised btn-round btn-primary float-left" />
                                </div>
                            </div>
                        </div>
                        <br />
                        @if (ViewBag.MensajeError != null)
                        {
                            <div class="row clearfix">
                                <div id="divMensajeError" class="container">
                                    <div class="alert alert-danger">
                                        <div class="alert-icon">
                                            <i class="zmdi zmdi-block"></i>
                                        </div>
                                        <strong>
                                            <label>@ViewBag.MensajeError</label>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card">
                        <div class="body">
                            <div class="col-lg-12 col-md-12 col-sm-12 blockquote blockquote-info btn-round">
                                <div class="row clearfix">
                                    <div class="col-md-4">
                                        <b>Operador:</b>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OperadorChofer, Model.OperadorChofer, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <b>Punto de venta:</b>
                                            @Html.LabelFor(model => model.NombreUnidad, Model.NombreUnidad, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b>Fecha de reporte:</b>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Fecha, Model.Fecha.ToShortDateString(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row clearfix">
                                    <div class="col-md-3">
                                        @if (Model.TipoUnidad == 2)
                                        {
                                            <b>Total de venta en Kilos:</b>
                                        }
                                        else
                                        {
                                            <b>Total de venta en Litros:</b>
                                        }
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TotalCantidad, Model.TotalCantidad.ToString(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b>Total de venta real: ($)</b>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TotalVenta, Model.TotalVenta.ToString(), new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                @if (Model.TipoUnidad != 2)
                                {
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Concepto</th>
                                                            <th>P5000 Inicial</th>
                                                            <th>P5000 Final</th>
                                                            <th>Cantidad(Lt)</th>
                                                            <th>Venta</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Lecturas != null)
                                                        {
                                                            foreach (var item in Model.Lecturas)
                                                            {
                                                                <tr>
                                                                    <td>@item.Concepto</td>
                                                                    <td>@item.P5000Inicial</td>
                                                                    <td>@item.P5000Final</td>
                                                                    <td>@Math.Truncate(item.CantidadLt)</td>
                                                                    <td>$@Math.Truncate(item.Venta)</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Concepto</th>
                                                            <th>Salida</th>
                                                            <th>Recepciones</th>
                                                            <th>Venta</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Lecturas != null)
                                                        {
                                                            foreach (var item in Model.Lecturas)
                                                            {
                                                                <tr>
                                                                    <td>@item.Concepto</td>
                                                                    <td>@Math.Truncate(item.P5000Inicial)</td>
                                                                    <td>@Math.Truncate(item.P5000Final)</td>
                                                                    <td>@Math.Truncate(item.CantidadLt)</td>
                                                                    <td>$@Math.Truncate(item.Venta)</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <hr />
                                <div class="card">
                                    <div class="body">
                                        <div class="row clearfix blockquote blockquote-info btn-round">
                                            <div class="table-responsive">
                                                @if (TempData["FolioVenta"] != null)
                                                {
                                                    @Html.Partial("_tikets", Model.Tickets)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Total Venta:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.TotalVenta, Model.TotalVenta.ToString(), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Otros ingresos:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.TotalOtros, Model.TotalOtros.ToString(), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Creditos:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.TotalCredito, Model.TotalCredito.ToString(), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Descuentos:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.Descuentos, Model.Descuentos.ToString(), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Bonificaciones:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.Bonidificaciones, Model.Bonidificaciones.ToString(), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Efectivo a recibir:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.TotalEfectio, Model.TotalEfectio.ToString(), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>¿Todo esta correcto?:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="checkbox" id="Chkboxcorrecto" name="Correcto" class="form-control" />
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-7">
                                            <input type="submit" value="Regresar" id="btnRegresarIndex" formaction=@Url.Action("Index") class="btn btn-raised btn-round btn-primary float-right" />
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="submit" id="btnLiquidar" disabled value="Liquidar" formaction=@Url.Action("GuardarLiquidar") formmethod="post" class="btn btn-raised btn-round btn-primary float-right" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    @*<script type="text/javascript">

            $(document).ready(function () {



                MVCxClientGlobalEvents.AddControlsInitializedEventHandler(AttachEditorValueChangedEvent);

                function AttachEditorValueChangedEvent() {
                    var demoOptionNames = ["EditMode", "StartEditAction", "HighlightDeletedRows"];
                    $.each(demoOptionNames, function (i, name) {
                        var editor = ASPxClientControl.GetControlCollection().GetByName(name);
                    });
                }
                function OnBatchEditEndEditing(s, e) {
                    s.batchEditApi.SetCellValue(e.visibleIndex, null, true);
                }
                function OnBeginGridCallback(s, e) {
                    e.customArgs = MVCxClientUtils.GetSerializedEditorValuesInContainer("options");
                }


                MVCxClientGlobalEvents.AddControlsInitializedEventHandler(AttachEditorValueChangedEvent);

                function AttachEditorValueChangedEvent() {
                    var demoOptionNames = ["EditMode", "StartEditAction", "HighlightDeletedRows"];
                    $.each(demoOptionNames, function (i, name) {
                        var editor = ASPxClientControl.GetControlCollection().GetByName(name);
                    });
                }
                function OnBatchEditEndEditing(s, e) {
                    s.batchEditApi.SetCellValue(e.visibleIndex, null, true);
                }
                function OnBeginGridCallback(s, e) {
                    e.customArgs = MVCxClientUtils.GetSerializedEditorValuesInContainer("options");
                }

            });

        </script>*@
</body>
</html>
