@model  MVC.Presentacion.Models.Ventas.CajaGeneralCamionetaModel

<!DOCTYPE html>

<html>
<head>
    @{
        ViewBag.Title = "Index";
    }
    <style type="text/css">
        .col-sm-05 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 8.666667%;
            text-align: center;
        }

        .col-sm-005 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 10.666667%;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Chkboxcorrecto').click(function () {
                if (!$(this).is(':checked')) {
                    $("#btnLiquidar").prop("disabled", true);
                }
                else {
                    $("#btnLiquidar").prop("disabled", false);
                }

            });
        });
    </script>
</head>
<body style="height:100%">
    @using (Html.BeginForm("Corte", "CajaGeneral", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-05">
                                    <b>Clave Reporte:</b>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="FolioOperacionDia" class="form-control" />
                                </div>
                                <div class="col-sm-2">
                                    @*<input type="submit" value="Buscar" formmethod="post" class="btn btn-raised btn-primary float-left" />*@
                                    <input type="submit" name="Buscar" value="Buscar" formaction=@Url.Action("Buscar") formmethod="post" class="btn btn-raised btn-primary float-left" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-1">
                                    <b>Operador:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.OperadorChofer, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].OperadorChofer), new { @class = "form-control" })

                                </div>
                                <div class="col-sm-05">
                                    <b>Camioneta:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.PuntoVenta, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].PuntoVenta), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-2">
                                    <b>Fecha de reporte:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.FechaRegistro, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].FechaRegistro), new { @class = "form-control" })
                                </div>
                            </div>
                            <br />
                            <div class="row clearfix">
                                <div class="col-sm-05">
                                    <b>Venta total:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.VentaTotal, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].VentaTotal), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-005">
                                    <b>Venta en efectivo:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.VentaTotalContado, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].VentaTotalContado), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-005">
                                    <b>Venta a crédito:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.VentaTotalCredito, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].VentaTotalCredito), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-05">
                                    <b>Otras ventas:</b>
                                </div>
                                <div class="col-sm-05">
                                    @Html.LabelFor(model => model.OtrasVentas, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].OtrasVentas), new { @class = "form-control" })
                                </div>
                            </div>
                            <br />
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="table-responsive">
                                        <table class="table table table-bordered table-striped table-hover js-basic-example dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Concepto</th>
                                                    <th>Salidas</th>
                                                    <th>Recepciones</th>
                                                    <th>Ventas</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*@if (ViewBag.ListaPV != null)
                                                    {
                                                        foreach (var item in ViewBag.ListaPV)
                                                        {
                                                            <tr>
                                                                <td>@item.Empresa</td>
                                                                <td>@item.PrecioPemexKg</td>
                                                                <td>@item.UtilidadEsperadaKg</td>
                                                                <td>@item.PrecioSalidaKg</td>
                                                                <td>@item.FechaProgramada</td>
                                                            </tr>
                                                        }
                                                    }*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="table-responsive">
                                        <table class="table table table-bordered table-striped table-hover js-basic-example dataTable">
                                            <thead>
                                                <tr>
                                                    <th># Ticket</th>
                                                    <th>Tipo</th>
                                                    <th>Descuento</th>
                                                    <th>Subtotal</th>
                                                    <th>IVA</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.CajaGeneralCamioneta != null)
                                                {
                                                    foreach (var item in ViewBag.CajaGeneralCamioneta)
                                                    {
                                                        <tr>
                                                            <td>@item.OperadorChofer</td>
                                                            <td>@item.OperadorChofer</td>
                                                            <td>@item.Descuento</td>
                                                            <td>@item.Subtotal</td>
                                                            <td>@item.Iva</td>
                                                            <td>@item.Total</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Descuento:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.Descuento, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].Descuento), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Total:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.Total, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].Total), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Efectivo a recibir:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.EfectivoRecibido, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].EfectivoRecibido), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>¿Todo esta correcto?:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="checkbox" id="Chkboxcorrecto" name="Correcto" class="form-control" />
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-7">
                                            <input type="submit" value="Regresar" id="btnRegresarIndex" formaction=@Url.Action("Index") class="btn btn-raised btn-primary float-right" />
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="submit" id="btnLiquidar" disabled value="Liquidar Camioneta" formaction=@Url.Action("GuardarLiquidar") formmethod="post" class="btn btn-raised btn-primary float-right" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.MessageExito != "" && ViewBag.MessageExito != null)
                {

                        <div data-notify="container" class="bootstrap-notify-container alert alert-dismissible bg-green p-r-35 animated fadeInDown"
                             role="alert" data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031;
                         bottom: 20px; left: 0px; right: 0px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="position: absolute; right: 10px; top: 5px; z-index: 1033;">x</a>
                            <span data-notify="icon"></span>
                            <span data-notify="title"></span> <span data-notify="message">@ViewBag.MessageExito</span>
                            <a href="#" target="_blank" data-notify="url"></a>
                        </div>
                    }
                    @if (ViewBag.MessageError != "" && ViewBag.MessageError != null)
                {
                        <div data-notify="container" class="bootstrap-notify-container alert alert-dismissible bg-red p-r-35 animated fadeInDown"
                             role="alert" data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031;
                         bottom: 20px; left: 0px; right: 0px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="position: absolute; right: 10px; top: 5px; z-index: 1033;">x</a>
                            <span data-notify="icon"></span>
                            <span data-notify="title"></span> <span data-notify="message">@ViewBag.MessageError</span><a href="#" target="_blank" data-notify="url"></a>
                        </div>
                    }

                </div>
            </div>
        </section>
    }

</body>

@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/jquery-ui.js")
</html>
