@model  MVC.Presentacion.Models.Ventas.CajaGeneralCamionetaModel

<!DOCTYPE html>

<html>
<head>
    @{
        ViewBag.Title = "Index";
    }
    <script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="~/assets/js/pages/ui/notifications.js"></script>
    <script src="~/Resources/js/CajaGeneral.js"></script>
    <link href="~/Resources/css/CreateForm.css" rel="stylesheet" />
    <script type="text/javascript">
        var message = '@ViewBag.MessageExito';
        if (message != '') {
            $(window).on("load", showNotification('alert-success', message, 'top', 'center', '', ''));
        }
    </script>
</head>
<body style="height:100%">
    @using (Html.BeginForm("GuardarLiquidar", "CajaGeneral", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-05">
                                    <b>Clave Reporte:</b>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="FolioOperacionDia" class="form-control" />
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" value="Buscar" formaction=@Url.Action("Buscar") formmethod="post" class="btn btn-raised btn-primary float-left" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-1">
                                    <b>Operador:</b>
                                </div>
                                <div class="col-sm-3">
                                    @Html.LabelFor(model => model.OperadorChofer, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].OperadorChofer), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-05">
                                    <b>Pipa:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.PuntoVenta, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].PuntoVenta), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-005">
                                    <b>Fecha de reporte:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.FechaRegistro, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].FechaRegistro.ToString()), new { @class = "form-control" })
                                </div>
                            </div>
                            <br />
                            <div class="row clearfix">
                                <div class="col-sm-05">
                                    <b>Venta total:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.VentaTotal, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].VentaTotal.ToString()), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-005">
                                    <b>Venta en efectivo:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.VentaTotalContado, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].VentaTotalContado.ToString()), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-005">
                                    <b>Venta a crédito:</b>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.VentaTotalCredito, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].VentaTotalCredito.ToString()), new { @class = "form-control" })
                                </div>
                                <div class="col-sm-05">
                                    <b>Otras ventas:</b>
                                </div>
                                <div class="col-sm-05">
                                    @Html.LabelFor(model => model.OtrasVentas, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].OtrasVentas.ToString()), new { @class = "form-control" })
                                </div>
                            </div>
                            <br />
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="table-responsive">
                                        <table class="table table table-bordered table-striped table-hover js-basic-example dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Concepto</th>
                                                    <th>P5000 Inicial</th>
                                                    <th>P5000 Final</th>
                                                    <th>Cantidad(Lt)</th>
                                                    <th>Venta</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*@if (ViewBag.ListaPV != null)
                                                    {
                                                        foreach (var item in ViewBag.ListaPV)
                                                        {
                                                            <tr>
                                                                <td>@item.Empresa</td>
                                                                <td>@item.PrecioPemexKg</td>
                                                                <td>@item.UtilidadEsperadaKg</td>
                                                                <td>@item.PrecioSalidaKg</td>
                                                                <td>@item.FechaProgramada</td>
                                                            </tr>
                                                        }
                                                    }*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="table-responsive">
                                        <table class="table table table-bordered table-striped table-hover js-basic-example dataTable">
                                            <thead>
                                                <tr>
                                                    <th># Ticket</th>
                                                    <th>Tipo</th>
                                                    <th>Descuento</th>
                                                    <th>Subtotal</th>
                                                    <th>IVA</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.CajaGeneralCamioneta != null)
                                                {
                                                    foreach (var item in ViewBag.CajaGeneralCamioneta)
                                                    {
                                                <tr>
                                                    <td>@item.FolioOperacionDia</td>
                                                    <td>Contado</td>
                                                    <td>@item.Descuento</td>
                                                    <td>@item.Subtotal</td>
                                                    <td>@item.Iva</td>
                                                    <td>@item.Total</td>
                                                </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Descuento:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.Descuento, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].Descuento.ToString()), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Total:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.Total, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].Total.ToString()), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>Efectivo a recibir:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.VentaTotalContado, (string)((@ViewBag.CajaGeneralCamioneta == null) ? "value" : @ViewBag.CajaGeneralCamioneta[0].VentaTotalContado.ToString()), new { @class = "form-control" })
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-8" style="text-align:right">
                                            <b>¿Todo esta correcto?:</b>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="checkbox" id="Chkboxcorrecto" name="Correcto" class="form-control" />
                                        </div>
                                    </div><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-7">
                                            @*<input type="submit" value="Regresar" id="btnRegresarIndex" formaction=@Url.Action("Index") class="btn btn-raised btn-primary float-right" />*@
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="submit" id="btnLiquidar" disabled value="Liquidar Camioneta" formaction=@Url.Action("GuardarLiquidar") formmethod="post" class="btn btn-raised btn-primary float-right" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

</body>
</html>
