@using MVC.Presentacion.Models.Catalogos
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
@model List<ClienteLocacionMod>
@{
    ViewBag.Title = "Catálogo / Clientes";
}

<script src="~/Resources/js/lib/jquery-1.9.1.js"></script>
<script src="~/Resources/js/Clientes.js"></script>
<link href="~/Resources/css/Clientes.css" rel="stylesheet" />
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var message = '@ViewBag.Msj';
    if (message != '') {
        $(window).on("load", showNotification('alert-success', message, 'top', 'center', '', ''));
    }
    function OnSelectedChangeCountry(s, e) {
        debugger
        var value = s.GetValue();
        if (value == 1)//Mexico
        {           
            $('#txtEdoP').hide();
            $('#IdEstadoRep').show();
        }
        if (value == 2)//EU
        {
            $('#IdEstadoRep').hide();
            $('#txtEdoP').show();
        }
    }
    function OnSelectedChangeCountry2(s, e) {
        debugger
        var value = s.GetValue();
        if (value == 1)//Mexico
        {
            $('#txtEdoP').hide();
            $('#IdEstadoRep').show();
        }
        if (value == 2)//EU
        {
            $('#IdEstadoRep').hide();
            $('#txtEdoP').show();
        }
    }
</script>
<style type="text/css">
    .hid {
        display: none;
    }
</style>

@using (Html.BeginForm("GuardarLocaciones", "Pedidos", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Clientes</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item">Catálogos</li>
                            <li class="breadcrumb-item">Clientes</li>
                            <li class="breadcrumb-item">Locaciones</li>
                        </ul>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div>
                                                    @if (Model.Count > 0)
                                                    {
                                                        <input type="text" name="IdCliente" hidden="hidden" value="@((ViewBag.Locaciones!=null)?ViewBag.Locaciones.IdCliente:Model[0].IdCliente)" />
                                                    } 
                                                    @*<input type="text" name="Orden" hidden="hidden" value="@((ViewBag.Locaciones!=null)?ViewBag.Locaciones.Orden:0)" />*@
                                                    <input type="text" name="Orden" hidden="hidden" value="@Model.Count" />
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        @ViewBag.Cliente
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Tipo de locación(Lugar):
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="TipoLocacion" class="form-control" placeholder="Sucursal/Oficina/Tienda/Vacío/etc." value="@((ViewBag.Locaciones!=null)? @ViewBag.Locaciones.TipoLocacion:"")">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">

                                    </div>
                                </div>
                                <div class="row clearfix" id="Dir">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Dirección del Lugar:
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="form-group">
                                            <input type="text" name="txtDir" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div id="DirManual">
                                    <div class="row clearfix">
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="form-group">
                                                <div>
                                                    <label for="txtNume">
                                                        País:*
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                @*<select id="ddlPais" name="IdPais" class="form-control selectpicker z-index show-tick">
                                                        @if (ViewBag.Locaciones == null)
                                                        {
                                                            foreach (var lst in ViewBag.ListaPaises)
                                                            {
                                                                <option value="@lst.IdPais">@lst.Pais</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            foreach (var lst in ViewBag.ListaPaises)
                                                            {
                                                                if (lst.IdPais == ViewBag.Locaciones.IdPais)
                                                                {
                                                                    <option value="@lst.IdPais" selected>@lst.Pais</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@lst.IdPais">@lst.Pais</option>
                                                                }
                                                            }
                                                        }
                                                    </select>*@
                                                @if (ViewBag.Locaciones == null)
                                                {
                                                    @Html.DevExpress().ComboBox(settings =>
                                               {
                                                   settings.Name = "IdPais";
                                                   settings.Width = 180;
                                                   settings.SelectedIndex = 0;
                                                   settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                   settings.Theme = "Material";
                                                   settings.Properties.TextField = "Pais";
                                                   settings.Properties.ValueField = "IdPais";
                                                   settings.Properties.ValueType = typeof(int);
                                                   settings.ClientEnabled = true;
                                                   settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectedChangeCountry";
                                               }).BindList(ViewBag.ListaPaises).GetHtml()
                                                }
                                                else
                                                {
                                                    foreach (var lst in ViewBag.ListaPaises)
                                                    {

                                                        if (lst.IdPais == ViewBag.Locaciones.IdPais)
                                                        {
                                                            @*<option value="@lst.IdPais" selected>@lst.Pais</option>*@
                                                            @Html.DevExpress().ComboBox(settings =>
                                                       {
                                                           settings.Name = "IdPais2";
                                                           settings.Width = 180;
                                                           settings.SelectedIndex = @lst.IdPais;
                                                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                           settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                           settings.Theme = "Material";
                                                           settings.Properties.TextField = "Pais";
                                                           settings.Properties.ValueField = "IdPais";
                                                           settings.ClientEnabled = true;
                                                           settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectedChangeCountry2";
                                                       }).BindList(ViewBag.ListaPaises).GetHtml()
                                                        }                                                     
                                                    }
                                                }

                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="form-group">
                                                <div>
                                                    <label for="txtNume">
                                                        Estado:*
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                @*<select name="IdEstadoRep" id="ddlEdo" class="form-control selectpicker z-index show-tick" data-live-search="true">
                                                        @if (ViewBag.Locaciones == null)
                                                        {
                                                            foreach (var lst in ViewBag.ListaEstados)
                                                            {
                                                                <option value="@lst.IdEstadoRep">@lst.Estado</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            foreach (var lst in ViewBag.ListaEstados)
                                                            {
                                                                if (lst.IdEstadoRep == ViewBag.Locaciones.ListaEstados)
                                                                {
                                                                    <option value="@lst.IdEstadoRep" selected>@lst.Estado</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@lst.IdEstadoRep">@lst.Estado</option>
                                                                }
                                                            }
                                                        }
                                                    </select>*@
                                                @*@Html.TextBoxFor(m => m[0].EstadoProvincia, new { @id = "txtEdoP", @class = "form-control hid", @placeholder = "Estado" })*@
                                                <input type="text" name="EstadoProvincia" id ="txtEdoP" class="form-control hid" placeholder = "Estado"/>

                                                @if (ViewBag.Locaciones == null)
                                                {
                                                    @Html.DevExpress().ComboBox(settings =>
                                               {
                                                   settings.Name = "IdEstadoRep";
                                                   settings.Width = 180;
                                                   settings.SelectedIndex = 0;
                                                   settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                   settings.Theme = "Material";
                                                   settings.Properties.TextField = "Estado";
                                                   settings.Properties.ValueField = "IdEstadoRep";
                                               }).BindList(ViewBag.ListaEstados).GetHtml()
                                                }
                                                else
                                                {
                                                    foreach (var lst in ViewBag.ListaEstados)
                                                    {

                                                        if (lst.IdEstadoRep == ViewBag.Locaciones.IdEstadoRep)
                                                        {
                                                            @Html.DevExpress().ComboBox(settings =>
                                               {
                                                   settings.Name = "IdEstadoRep2";
                                                   settings.Width = 180;
                                                   settings.SelectedIndex = @lst.IdEstadoRep;
                                                   settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                   settings.Theme = "Material";
                                                   settings.Properties.TextField = "Estado";
                                                   settings.Properties.ValueField = "IdEstadoRep";
                                               }).BindList(ViewBag.ListaEstados).GetHtml()
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="form-group">
                                                <div>
                                                    <label for="txtNume">
                                                        Municipio:*
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <input type="text" name="Municipio" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.Municipio:"")" />
                                                @*@if (ViewBag.EsEdicion == null)
                                                    {
                                                        <input type="text" name="Municipio" class="form-control" />
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m[0].Municipio, new { @class = "form-control" })
                                                    }*@
                                            </div>
                                            @Html.ValidationMessageFor(m => m[0].Municipio, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="form-group">
                                                <div>
                                                    <label for="txtNume">
                                                        Colonia:*
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <input type="text" name="Colonia" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.Colonia:"")" />
                                                @*@if (ViewBag.EsEdicion == null)
                                                    {
                                                        <input type="text" name="Colonia" class="form-control" />
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m[0].Colonia, new { @class = "form-control" })
                                                    }*@
                                            </div>
                                            @Html.ValidationMessageFor(m => m[0].Colonia, "", new { @class = "alert-danger" })
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="form-group">
                                                <div>
                                                    <label for="txtNume">
                                                        Calle:*
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            <div class="form-group">
                                                <input type="text" name="Calle" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.Calle:"")" />
                                                @*@if (ViewBag.EsEdicion == null)
                                                    {
                                                        <input type="text" name="Calle" class="form-control" />
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m[0].Calle, new { @class = "form-control" })
                                                    }*@
                                            </div>
                                            @Html.ValidationMessageFor(m => m[0].Calle, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="form-group">
                                                <div>
                                                    <label for="txtNume">
                                                        Núm Ext:*
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <input type="text" name="NumExt" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.NumExt:"")" />
                                                @*@if (ViewBag.EsEdicion == null)
                                                    {
                                                        <input type="text" name="NumExt" class="form-control" />
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m[0].NumExt, new { @class = "form-control" })
                                                    }*@
                                            </div>
                                            @Html.ValidationMessageFor(m => m[0].NumExt, "", new { @class = "alert-danger" })
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="form-group">
                                                <div>
                                                    <label for="txtNume">
                                                        Núm. Int:
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <input type="text" name="NumInt" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.NumInt:"")" />
                                                @*@if (ViewBag.EsEdicion == null)
                                                    {
                                                        <input type="text" name="NumInt" class="form-control" />
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m[0].NumInt, new { @class = "form-control" })
                                                    }*@
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="form-group">
                                                <div>
                                                    <label for="txtNume">
                                                        Cod. Postal:*
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <input type="text" name="CodigoPostal" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.CodigoPostal:"")" />
                                                @*@if (ViewBag.EsEdicion == null)
                                                    {

                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m[0].CodigoPostal, new { @class = "form-control" })
                                                    }*@

                                            </div>
                                            @Html.ValidationMessageFor(m => m[0].CodigoPostal, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <div>
                                                    <label for="txtNume">
                                                        Referencia Google Maps:*
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10">
                                            <div class="form-group">
                                                <input type="text" name="formatted_address" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.formatted_address:"")" />
                                                @*@if (ViewBag.EsEdicion == null)
                                                    {
                                                         <input type="text" name="formatted_address" class="form-control" />
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m[0].formatted_address, new { @class = "form-control" })
                                                    }*@

                                            </div>
                                            @Html.ValidationMessageFor(m => m[0].formatted_address, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <div class="form-group">
                                            @if (Model.Count > 0)
                                            {
                                                <input type="submit" id="btnRegresarIndexNC" value="Regresar" formaction=@Url.Action("Index") class="btn btn-raised btn-round btn-primary float-left" />
                                            }
                                            else
                                            {
                                                <input type="submit" id="btnRegresarIndexNC" value="Regresar" formaction=@Url.Action("AltaCliente") class="btn btn-raised btn-round btn-primary float-left" />
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <div class="form-group">
                                            @if (ViewBag.EsEdicion == false || ViewBag.EsEdicion == null)
                                            {
                                                <button class="btn btn-round btn-primary float-right">
                                                    <i class="zmdi zmdi-plus"></i> Agregar
                                                </button>
                                            }
                                            else
                                            {
                                                <button btn formaction="EditarClienteLoc" class="btn btn-primary btn-round float-right">
                                                    <i class="zmdi zmdi-swap"></i> Actualizar
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>País</th>
                                                        <th>Estado</th>
                                                        <th>Municipio</th>
                                                        <th>Tipo Locación</th>
                                                        <th>Cod Postal</th>
                                                        <th>Colonia</th>
                                                        <th>Calle</th>
                                                        <th>Núm Int</th>
                                                        <th>Núm Ext</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model != null)
                                                    {
                                                        foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>@item.Pais</td>
                                                                @if (@item.EstadoProvincia != "" && @item.EstadoProvincia != null)
                                                                {
                                                                    <td>@item.EstadoProvincia</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@item.Estado</td>
                                                                }
                                                                <td>@item.Municipio</td>
                                                                <td>@item.TipoLocacion</td>
                                                                <td>@item.CodigoPostal</td>
                                                                <td>@item.Colonia</td>
                                                                <td>@item.Calle</td>
                                                                <td>@item.NumInt</td>
                                                                <td>@item.NumExt</td>
                                                                <td>
                                                                    <a href="@Url.Action("EditarClienteLoc", "Pedidos", new { id = item.IdCliente , idOrden = item.Orden })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="material-icons">edit</i>
                                                                        <span>Editar locacion</span>
                                                                    </a>
                                                                    <a href="@Url.Action("BorrarClienteLoc", "Pedidos", new { id = item.IdCliente , idOrden = item.Orden })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="material-icons">delete</i>
                                                                        <span>Eliminar locacion</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <div class="form-group">
                                            @*@if (ViewBag.Locaciones == null && ViewBag.EsEdicion != null && ViewBag.EsEdicion != true)
                                                {
                                                    <input type="submit" value="Finalizar" formaction=@Url.Action("Nuevo") class="btn btn-raised btn-round btn-primary float-right" />
                                                }*@
                                            @if (Model.Count > 0)
                                            { }
                                            else
                                            {
                                                <input type="submit" value="Finalizar" formaction=@Url.Action("Nuevo") class="btn btn-raised btn-round btn-primary float-right" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.MensajeError != null)
                {
                    <div class="row clearfix">
                        <div id="divMensajeError" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    <label>@ViewBag.MensajeError</label>
                                </strong>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}