@model  MVC.Presentacion.Models.Pedidos.PedidoModel
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<script src="~/Resources/js/Clientes.js"></script>
<link href="~/Resources/css/Clientes.css" rel="stylesheet" />
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var message = '@ViewBag.Msj';
    if (message != '') {
        $(window).on("load", showNotification('alert-success', message, 'top', 'center', '', ''));
    }

    function OnSelectedChangeCountry(s, e) {
        debugger
        var value = s.GetValue();
        if (value == 1)//Mexico
        {
            $('#txtEdoP').hide();
            $('#IdEstadoRep').show();
        }
        if (value == 2)//EU
        {
            $('#IdEstadoRep').hide();
            $('#txtEdoP').show();
        }
    }
</script>
<style type="text/css">

    .hid {
        display: none;
    }
</style>
@using (Html.BeginForm("GuardarLocaciones", "Pedidos"))
{
    @Html.HiddenFor(m => m.cliente.Orden)
    @Html.HiddenFor(m => m.cliente.IdCliente)
    @Html.HiddenFor(m => m.cliente.Locacion.IdCliente)
    @Html.HiddenFor(m => m.cliente.Locacion.Orden)
    @Html.HiddenFor(m => m.cliente.Locacion.IdPais,1)

    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Clientes</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="@Url.Action(" Inicio", "Home" )"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item">Catálogos</li>
                            <li class="breadcrumb-item">Clientes</li>
                            <li class="breadcrumb-item">Locaciones</li>
                        </ul>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div>
                                                    @if (Model.cliente != null)
                                                    {
                                                        if (Model.cliente.IdCliente > 0)//.Locaciones.Count > 0)
                                                        {
                                                            @*<input type="text" name="IdCliente" hidden="hidden" value="@((ViewBag.Locaciones!=null)?ViewBag.Locaciones.IdCliente:Model[0].IdCliente)" />*@
                                                            <input type="text" name="IdCliente" hidden="hidden" />
                                                        }
                                                    }
                                                    @*<input type="text" name="Orden" hidden="hidden" value="@((ViewBag.Locaciones!=null)?ViewBag.Locaciones.Orden:0)" />*@
                                                    <input type="text" name="Orden" hidden="hidden" value="@Model.cliente.Locaciones.Count" />
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        @ViewBag.Cliente
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Tipo de locación(Lugar):
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            @*<input type="text" name="TipoLocacion" class="form-control" placeholder="Sucursal/Oficina/Tienda/Vacío/etc." value="@((ViewBag.Locaciones!=null)? @ViewBag.Locaciones.TipoLocacion:" ")">*@
                                            @Html.TextBoxFor(m => m.cliente.Locacion.TipoLocacion, new { @class = "form-control", @placeholder = "Sucursal/Oficina/Tienda/Vacío/etc" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.cliente.Locacion.TipoLocacion, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    @*<div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    País:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            @Html.DevExpress().ComboBox(settings =>
                                                {
                                                    settings.Name = "cliente.Locacion.IdPais";
                                                    settings.Width = 180;
                                                    settings.SelectedIndex = 1;
                                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                    settings.Theme = "Material";
                                                    settings.Properties.TextField = "Pais";
                                                    settings.Properties.ValueField = "IdPais";
                                                    settings.Properties.ValueType = typeof(byte);
                                                    settings.ClientEnabled = true;
                                                    settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectedChangeCountry";*@
                                            @*}).BindList(ViewBag.ListaPaises).Bind(Model.cliente.Locacion.IdPais).GetHtml()*@
                                            @*@Html.ValidationMessageFor(model => model.cliente.Locacion.IdPais, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Estado:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="EstadoProvincia" id="txtEdoP" class="form-control hid" placeholder="Estado" />
                                            @Html.DevExpress().ComboBox(settings =>
                                       {
                                           settings.Name = "cliente.Locacion.IdEstadoRep";
                                           settings.Width = 180;
                                           settings.SelectedIndex = 12;
                                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                           settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                           settings.Theme = "Material";
                                           settings.Properties.TextField = "Estado";
                                           settings.Properties.ValueField = "IdEstadoRep";
                                           settings.Properties.ValueType = typeof(byte?);
                                       }).BindList(ViewBag.ListaEstados).Bind(Model.cliente.Locacion.IdEstadoRep).GetHtml()
                                            @*@Html.ValidationMessageFor(m => m.cliente.Locacion.IdEstadoRep, "", new { @class = "alert-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Municipio:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            @*<input type="text" name="Municipio" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.Municipio:" ")" />*@
                                            @Html.TextBoxFor(m => m.cliente.Locacion.Municipio, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.cliente.Locacion.Municipio, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Colonia:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            @*<input type="text" name="Colonia" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.Colonia:" ")" />*@
                                            @Html.TextBoxFor(m => m.cliente.Locacion.Colonia, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.cliente.Locacion.Colonia, "", new { @class = "alert-danger" })
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Calle:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <div class="form-group">
                                            @*<input type="text" name="Calle" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.Calle:" ")" />*@
                                            @Html.TextBoxFor(m => m.cliente.Locacion.Calle, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.cliente.Locacion.Calle, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Núm Ext:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            @*<input type="text" name="NumExt" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.NumExt:" ")" />*@
                                            @Html.TextBoxFor(m => m.cliente.Locacion.NumExt, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.cliente.Locacion.NumExt, "", new { @class = "alert-danger" })
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Núm. Int:
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            @*<input type="text" name="NumInt" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.NumInt:" ")" />*@
                                            @Html.TextBoxFor(m => m.cliente.Locacion.NumInt, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Cod. Postal:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            @*<input type="text" name="CodigoPostal" class="form-control" value="@((ViewBag.Locaciones!=null)? ViewBag.Locaciones.CodigoPostal:" ")" />*@
                                            @Html.TextBoxFor(m => m.cliente.Locacion.CodigoPostal, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.cliente.Locacion.CodigoPostal, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="form-group">
                                            <div>
                                                @*<label for="txtNume">Por solicitud del cliente se renombra para referencia visual del domicilio
                                                        Referencia Google Maps:*
                                                    </label>*@
                                                <label for="txtNume">
                                                    Referencia:*
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.cliente.Locacion.formatted_address, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.cliente.Locacion.formatted_address, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <div class="form-group">
                                            @if (Model.cliente != null)
                                            {
                                                if (Model.cliente.Locaciones.Count > 0)
                                                {
                                                    <input type="submit" value="Regresar" formaction=@Url.Action("Nuevo") class="btn btn-raised btn-round btn-primary float-left" />
                                                }
                                                else
                                                {
                                                    <input type="submit" value="Regresar" formaction=@Url.Action("AltaCliente") class="btn btn-raised btn-round btn-primary float-left" />
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <div class="form-group">
                                            @if (ViewBag.EsEdicion == false || ViewBag.EsEdicion == null)
                                            {
                                                <button class="btn btn-round btn-primary float-right">
                                                    <i class="zmdi zmdi-plus"></i> Agregar
                                                </button>
                                            }
                                            else
                                            {
                                                <button btn formaction=@Url.Action("EditarClienteLoc") class="btn btn-primary btn-round float-right">
                                                    <i class="zmdi zmdi-swap"></i> Actualizar
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table table-bordered table-striped table-hover js-basic-example dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>País</th>
                                                        <th>Estado</th>
                                                        <th>Municipio</th>
                                                        <th>Tipo Locación</th>
                                                        <th>Cod Postal</th>
                                                        <th>Colonia</th>
                                                        <th>Calle</th>
                                                        <th>Núm Int</th>
                                                        <th>Núm Ext</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.cliente != null)
                                                    {
                                                        if (Model.cliente.IdCliente > 0)
                                                        {
                                                            foreach (var item in Model.cliente.Locaciones)
                                                            {
                                                                <tr>
                                                                    <td>@item.Pais</td>
                                                                    @if (@item.EstadoProvincia != "" && @item.EstadoProvincia != null)
                                                                    {
                                                                        <td>@item.EstadoProvincia</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@item.Estado</td>
                                                                    }
                                                                    <td>@item.Municipio</td>
                                                                    <td>@item.TipoLocacion</td>
                                                                    <td>@item.CodigoPostal</td>
                                                                    <td>@item.Colonia</td>
                                                                    <td>@item.Calle</td>
                                                                    <td>@item.NumInt</td>
                                                                    <td>@item.NumExt</td>
                                                                    <td>
                                                                        <a href="@Url.Action("EditarClienteLoc", "Pedidos" , new { id=item.IdCliente , idOrden=item.Orden })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="material-icons">edit</i>
                                                                            <span>Editar locacion</span>
                                                                        </a>
                                                                        <a href="@Url.Action("BorrarClienteLoc", "Pedidos" , new { id=item.IdCliente , idOrden=item.Orden })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="material-icons">delete</i>
                                                                            <span>Eliminar locacion</span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <div class="form-group">
                                            @if (Model.cliente != null)
                                            {
                                                if (Model.cliente.Locaciones.Count > 0)
                                                {
                                                    <input type="submit" value="Continuar" formaction="Terminar" formmethod="post" class="btn btn-raised btn-primary btn-round float-right" />
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.MensajeError != null)
                {
                    <div class="row clearfix">
                        <div id="divMensajeError" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    <label>@ViewBag.MensajeError</label>
                                </strong>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}