@model  MVC.Presentacion.Models.Pedidos.PedidoModel

@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<!DOCTYPE html>

<html>
<head>
    <script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="~/assets/js/pages/ui/notifications.js"></script>

    <script type="text/javascript">
        var mensaje = '@ViewBag.Msj';
        var tipo = '@ViewBag.Tipo';
        if (mensaje != '') {
            $(window).on("load", showNotification(tipo, mensaje, 'top', 'center', '', ''));
        }
        function AsignarEliminar(idPedido) {
            $("#btnEliminar").attr("data-id", idPedido);
        }

        var Cancelar = function () {
            var url = "/Pedidos/CancelarPedido";
            var id = $("#btnEliminar").attr("data-id")
            var motivoC = $("#motivo").val()
            $.get(url, { idPedido: id, MotivoCancela: motivoC }, function (data) {
                window.location.href = '@Url.Action("Index", "Pedidos")';
            });
        };
    </script>
</head>
<body>
    @using (Html.BeginForm("Nuevo", "Pedidos", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.cliente.IdCliente)
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Call Center</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Call Center</li>
                                <li class="breadcrumb-item">Pedidos</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="row clearfix">
                                        <div class="col-sm-3">
                                            <div>
                                                <strong>Gasera</strong>
                                            </div>
                                            <div>
                                                @if (ViewBag.EsAdmin)
                                                {
                                                    <select id="empresas" name="IdEmpresa" class="form-control show-tick" data-live-search="true">
                                                        @foreach (var lst in ViewBag.Empresas)
                                                        {
                                                            <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    @ViewBag.Empresas
                                                }
                                            </div>
                                        </div>
                                        <div class="col-sm-6">

                                        </div>
                                        <div class="col-sm-3">
                                            &nbsp;
                                            <div class="form-group">                                               
                                                <input type="submit" id="btnNuevoCte" value="Nuevo" class="btn btn-raised btn-primary btn-round float-right" />
                                                @*<input type="submit" name="Buscar" value="Buscar" formaction=@Url.Action("Buscar") formmethod="post" class="btn btn-raised btn-primary btn-round float-left" />*@
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                            <br />
                            @*<div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="row clearfix">                                       
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="submit" id="btnNuevoCte" value="Nuevo" class="btn btn-raised btn-primary btn-round float-right" />
                                                <input type="submit" name="Buscar" value="Buscar" formaction=@Url.Action("Buscar") formmethod="post" class="btn btn-raised btn-primary btn-round float-left" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <br />
                            @if (ViewBag.MensajeError != null)
                            {
                                <div class="row clearfix">
                                    <div id="divMensajeError" class="container">
                                        <div class="alert alert-danger">
                                            <div class="alert-icon">
                                                <i class="zmdi zmdi-block"></i>
                                            </div>
                                            <strong>
                                                <label>@ViewBag.MensajeError</label>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 blockquote blockquote-info btn-round">
                                    <div class="table-responsive">
                                        @Html.Action("Pedidos")                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
            <div class="modal fade" id="ModalCancelar" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="title" id="ModalConfirmacionLabel">Motivo de la cancelación</h5>
                        </div>
                        <div class="modal-body">
                            <div class="body">
                                <div class="col-sm-12">
                                    <div class="blockquote blockquote-info btn-round">
                                        <textarea id="motivo" name="MotivoCancelacion" class="form-control" Rows="5" placeholder="Cual es el motivo de la cancelación?.."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            @*<input type="button" id="btnEliminar" value="Aceptar" class="btn btn-raised btn-primary btn-round waves-effect" />*@
                            <button type="button" id="btnEliminar" class="btn btn-raised btn-primary btn-round" onclick="Cancelar()">Aceptar</button>
                            <button type="button" id="btnclose" class="btn btn-danger btn-round waves-effect" data-dismiss="modal">Cancelar</button>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
    }
</body>
</html>
