@model  MVC.Presentacion.Models.Pedidos.RegistrarPedidoModel
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Metropolis" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Metropolis" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Metropolis" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Office365" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Office365" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Office365" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<!DOCTYPE html>
<html>
<head>
    <script src="~/Resources/js/Pedidos.js"></script>
    <script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="~/assets/js/pages/ui/notifications.js"></script>
    <script type="text/javascript">
        var mensaje = '@ViewBag.Msj';
        if (mensaje != '') {
            $(window).on("load", showNotification('alert-success', mensaje, 'top', 'center', '', ''));
        }
        @*var idCliente = '@Model.IdCliente';
        if (idCliente > 0) {
            $('#btnBuscarC').click();
        }*@

    </script>
</head>
<body style="height:100%">
    @using (Html.BeginForm(FormMethod.Post)) //"Nuevo", "Pedidos",
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Call Center</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Call Center</li>
                                <li class="breadcrumb-item">Pedidos</li>
                                <li class="breadcrumb-item">Nuevo</li>
                            </ul>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.IdEmpresa)
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="header">
                                    <h2>Localizar <strong>Cliente</strong></h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="row clearfix">
                                                <div class="col-sm-3">
                                                    <b>Teléfono del cliente:</b>
                                                    @Html.TextBoxFor(m => m.Telefono1, new { @class = "form-control", @id = "txtTel1", placeholder = "Teléfono del cliente" })
                                                </div>
                                                <div class="col-sm-3">
                                                    <b>Nombre o Apellido:</b>
                                                    @Html.TextBoxFor(m => m.Rfc, new { @class = "form-control", @id = "txtRfc", placeholder = "Nombre " })
                                                </div>
                                                <div class="col-sm-3" style="top: 10px;">
                                                    <div class="form-group">
                                                        <input type="button" id="btnBuscarC" value="Buscar" formaction=@Url.Action("BuscarClientesPedido") formmethod="post" class="btn btn-raised btn-primary btn-round float-left" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.MensajeError != null)
                    {
                        <div class="row clearfix">
                            <div id="divMensajeError" class="container">
                                <div class="alert alert-danger">
                                    <div class="alert-icon">
                                        <i class="zmdi zmdi-block"></i>
                                    </div>
                                    <strong>
                                        <label>@ViewBag.MensajeError</label>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="header">
                                    <h2>Datos del <strong>Pedido</strong></h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="row clearfix">
                                                <div class="col-sm-3">
                                                    <b>Cliente:</b>
                                                    @*@Html.Partial("_DatosCliente")*@
                                                    @if (ViewBag.ListaCliente != null)
                                                    {
                                                        Html.DevExpress().ComboBox(settings =>
                                                        {
                                                            settings.Name = "IdCliente";
                                                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                            //settings.SelectedIndex = 0;
                                                            settings.Properties.DropDownWidth = 550;
                                                            settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                                                            settings.Properties.CallbackPageSize = 30;
                                                            settings.Properties.TextFormatString = "{0} {1}";
                                                            settings.Properties.ValueField = "IdCliente";
                                                            settings.Properties.ValueType = typeof(int);                                                           
                                                            settings.Properties.Columns.Add("Nombre", "Nombre", 130);
                                                            settings.Properties.Columns.Add("Apellido1", "Apellido", 130);
                                                            settings.Properties.Columns.Add("Rfc", "RFC", 230);                                                       
                                                        }).BindList(ViewBag.ListaCliente).Bind(Model.IdCliente).GetHtml();
                                                    }
                                                    else
                                                    {
                                                        Html.DevExpress().ComboBox(settings =>
                                                        {
                                                            settings.Name = "IdCliente";
                                                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                            settings.SelectedIndex = 0;
                                                            settings.Properties.DropDownWidth = 550;
                                                            settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                                                            settings.Properties.CallbackPageSize = 30;
                                                            // settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                            settings.Properties.TextFormatString = "{0} {1}";
                                                            settings.Properties.ValueType = typeof(int);
                                                            settings.Properties.Columns.Add("Nombre", "Nombre", 130);
                                                            settings.Properties.Columns.Add("Apellido1", "Apellido", 130);
                                                            settings.Properties.Columns.Add("Rfc", "RFC", 230);
                                                        }).GetHtml();
                                                    }

                                                </div>
                                                <div class="col-sm-2" style="top: 10px;">
                                                    <div class="form-group">
                                                        <input type="button" id="btnCrearCte" onclick="@("window.location.href='" + @Url.Action("AltaCliente", "Pedidos") + "'");" value="Crear cliente" class="btn btn-raised btn-primary btn-round float-center" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <b>Fecha:</b>
                                                    <div class="container">
                                                        <div class="editor">                                                       
                                                           
                                                                @Html.DevExpress().DateEdit(settings =>
                                                           {
                                                               settings.Name = "FechaPedido";
                                                               settings.Properties.UseMaskBehavior = true;
                                                               settings.Theme = "Office365";                                                              
                                                               settings.Properties.EditFormat = EditFormat.Custom;
                                                               settings.Properties.EditFormatString = "dd/MM/yyyy hh:mm tt";
                                                               settings.Properties.TimeSectionProperties.Visible = true;
                                                               settings.Properties.TimeSectionProperties.Adaptive = true;
                                                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Custom;
                                                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormatString = "hh:mm tt";
                                                               settings.Date = DateTime.Now;
                                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                               settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                                                           }).GetHtml()                                                       
                                                        </div>
                                                        @Html.ValidationMessageFor(m => m.FechaPedido, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.IdCliente, "", new { @class = "alert-danger" })
                                            <div class="row clearfix">
                                                <div class="col-sm-3">
                                                    <b>Domicilio:</b>
                                                    @if (ViewBag.ListaDomicilios != null)
                                                    {
                                                        Html.DevExpress().ComboBox(settings =>
                                                        {

                                                            settings.Name = "Orden";
                                                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);                                                            
                                                            settings.Properties.DropDownWidth = 550;
                                                            settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                                                            settings.Properties.CallbackPageSize = 30;
                                                            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                            settings.Properties.TextFormatString = "{0} {1} {2}";
                                                            settings.Properties.ValueField = "Orden";
                                                            settings.Properties.ValueType = typeof(int);
                                                            settings.Properties.Columns.Add("Calle", "Calle", 130);
                                                            settings.Properties.Columns.Add("NumExt", "NumExt", 130);
                                                            settings.Properties.Columns.Add("Colonia", "Colonia", 230);
                                                        }).BindList(ViewBag.ListaDomicilios).GetHtml();
                                                    }
                                                    else
                                                    {
                                                        Html.DevExpress().ComboBox(settings =>
                                                        {
                                                            settings.Name = "Orden";
                                                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                            settings.SelectedIndex = 0;
                                                            settings.Properties.DropDownWidth = 550;
                                                            settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                                                            settings.Properties.CallbackPageSize = 30;
                                                            settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                            settings.Properties.TextFormatString = "{0}";
                                                            settings.Properties.ValueType = typeof(int);
                                                            settings.Properties.Columns.Add("Calle", "Calle", 130);
                                                            settings.Properties.Columns.Add("NumExt", "NumExt", 130);
                                                            settings.Properties.Columns.Add("Colonia", "Colonia", 230);
                                                        }).GetHtml();
                                                    }
                                                </div>

                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="input-group">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="top: 20px;">
                                                    <div class="input-group">
                                                    </div>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Orden, "", new { @class = "alert-danger" })
                                            <div class="row clearfix">
                                                <div class="col-sm-3">
                                                    <b>Tipo unidad:</b>
                                                    @Html.Partial("_TipoUnidad")
                                                </div>
                                                <div class="col-sm-4">
                                                    <b>Estatus pedido:</b>
                                                    @Html.DevExpress().ComboBox(settings =>
                                               {
                                                   settings.Name = "IdEstatusPedido";
                                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                   settings.SelectedIndex = 0;
                                                   settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                   //dxeListBoxItem_Material itemst dxeListBoxItemSelected_Material
                                                   settings.Properties.ItemStyle.SelectedStyle.CssClass = "ddlSelect";
                                                   settings.Properties.ButtonStyle.CssClass = "ddlbtn";
                                                   settings.Properties.ButtonStyle.Cursor = "pointer";
                                                   settings.Properties.ButtonStyle.HoverStyle.CssClass = "btnhover";
                                                   settings.Theme = "Material";
                                                   //settings.Properties.DropDownHeight =25; altura listbox desplegable
                                                   settings.ControlStyle.CssClass = "devExpressDropDown";
                                                   settings.Properties.CaptionStyle.CssClass = "BoldCaption";
                                                   settings.Properties.ItemStyle.CssClass = "itemst";
                                                   settings.Properties.TextField = "Descripcion";
                                                   settings.Properties.ValueField = "IdEstatusPedido";
                                               }).BindList(ViewBag.Estatus).GetHtml()
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.TipoUnidad, "", new { @class = "alert-danger" })
                                            @Html.ValidationMessageFor(m => m.IdEstatusPedido, "", new { @class = "alert-danger" })
                                            <div class="row clearfix selPipa" style="display:none">
                                                <div class="col-sm-3">
                                                    <b>Unidad:</b>
                                                    @Html.Action("_Pipas")
                                                </div>
                                            </div>
                                            <div class="row clearfix selPipa" style="display:none">
                                                <div class="col-sm-3">
                                                    <b>Cantidad:</b>
                                                    <input name="Cantidad" type="number" id="Cantidad" value="0" class="form-control" />
                                                </div>
                                                <div class="col-sm-1" style="top: 22px;">
                                                    <div class="form-group">
                                                        kg.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix selCamioneta">
                                                <div class="col-sm-3">
                                                    <b>Unidad:</b>
                                                    @Html.Action("_Camionetas")
                                                </div>
                                                @Html.ValidationMessageFor(m => m.IdCamioneta, "", new { @class = "alert-danger" })
                                            </div>
                                            <div class="row clearfix selCamioneta">
                                                <div class="col-sm-3">
                                                    <b>Cantidad:</b>
                                                    <input name="Cantidad45" type="number" id="Cantidad45" value="0" class="form-control" />
                                                </div>
                                                <div class="col-sm-2" style="top: 22px;">
                                                    <div class="form-group">
                                                        Cilindro(s) de 45 kg.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix selCamioneta">
                                                <div class="col-sm-3">
                                                    <b>Cantidad:</b>
                                                    <input name="Cantidad30" type="number" value="0" id="Cantidad30" class="form-control" />
                                                </div>
                                                <div class="col-sm-2" style="top: 22px;">
                                                    <div class="form-group">
                                                        Cilindro(s) de 30 kg.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix selCamioneta">
                                                <div class="col-sm-3">
                                                    <b>Cantidad:</b>
                                                    <input name="Cantidad20" type="number" value="0" id="Cantidad20" class="form-control" />
                                                </div>
                                                <div class="col-sm-2" style="top: 22px;">
                                                    <div class="form-group">
                                                        Cilindro(s) de 20 kg.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br /><br /><br />
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="button" value="Cancelar" formaction=@Url.Action("Index") formmethod="post" class="btn btn-raised btn-primary btn-round float-left" />
                                            </div>
                                            <div class="form-group">
                                                @*id="altaPedido"*@
                                                <input type="submit" value="Crear pedido" formaction=@Url.Action("CrearPedido") formmethod="post" class="btn btn-raised btn-primary btn-round float-right" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 id="ModalConfirmacionLabel" style="text-align:center">No se encontraron resultados</h6>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            <div class="col-sm-12">
                                <div>
                                    Click en el botón <img src="~/Resources/img/ccte.png" /> para crear un nuevo cliente.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-right:98px">
                        <button type="button" class="btn btn-raised btn-primary btn-round float-center" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
