@model  MVC.Presentacion.Models.Pedidos.RegistrarPedidoModel
<!DOCTYPE html>

<html>
<head>
    <script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="~/assets/js/pages/ui/notifications.js"></script>

    <script type="text/javascript">
        var mensaje = '@ViewBag.Msj';
        if (mensaje != '') {
            $(window).on("load", showNotification('alert-success', mensaje, 'top', 'center', '', ''));
        }

    </script>
</head>
<body style="height:100%">
    @using (Html.BeginForm("EditarPedido", "Pedidos", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IdPedido)
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Call Center</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Pedido</li>
                                <li class="breadcrumb-item">Revisión</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="header">
                                    <h2>Datos del <strong>Pedido</strong></h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <strong>Pedido: </strong>
                                                    @Model.IdPedido

                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <strong>Estatus: </strong>
                                                    @Model.EstatusPedido
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <strong>Fecha y hora de entrega: </strong>
                                                    @Model.FechaPedido
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <strong>Cliente: </strong>
                                                    @Model.NombreRfc - @Model.Rfc
                                                    <input type="hidden" name="NombreRfc" value="@Model.NombreRfc" />
                                                    <input type="hidden" name="IdCliente" value="@Model.IdCliente" />
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <strong>Fecha y hora solicitud: </strong>
                                                    @Model.FechaPedido
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <strong>Calle: </strong>
                                                    @Model.Calle
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <strong>Colonia: </strong>
                                                    @Model.Colonia
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <strong>Teléfono: </strong>
                                                    @Model.Telefono1
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <strong>Referencia: </strong> @Model.ReferenciaUbicacion
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="form-group">
                                                    <strong>Unidad: </strong>
                                                    @Model.Unidad
                                                </div>
                                            </div>
                                            @if (Model.IdPipa > 0)
                                            {
                                                <div class="row clearfix">
                                                    <div class="form-group">
                                                        <strong>Cantidad: </strong>
                                                        @Model.Cantidad
                                                    </div>
                                                </div>
                                            }
                                            @if (Model.IdCamioneta > 0)
                                            {
                                                <div class="row clearfix">
                                                    <div class="form-group">
                                                        <strong>Cantidad 45 Kg:</strong>
                                                        @if (Model.Cantidad45.Equals(string.Empty))
                                                        {
                                                            <label>0</label>
                                                        }
                                                        else
                                                        {
                                                            @Model.Cantidad45
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="form-group">
                                                        <strong>Cantidad 30 Kg: </strong>
                                                        @if (Model.Cantidad30.Equals(string.Empty))
                                                        {
                                                            <label>0</label>
                                                        }
                                                        else
                                                        {
                                                            @Model.Cantidad30
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="form-group">
                                                        <strong>Cantidad 20 Kg: </strong>
                                                        @if (Model.Cantidad20.Equals(string.Empty))
                                                        {
                                                            <label>0</label>
                                                        }
                                                        else
                                                        {
                                                            @Model.Cantidad20
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                  
                                    @if (Model.MotivoCancelacion != null)
                                    {
                                        <div class="row clearfix">

                                            <strong>Motivo de Cancelación:</strong>
                                            <div class="col-md-12">
                                                <div class="blockquote blockquote-info btn-round">
                                                    @Html.TextAreaFor(m => m.MotivoCancelacion, new { @class = "form-control no-resize", @rows = "4" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-4">
                                                @*<div class="form-group">
                                                    <input type="submit" value="Editar dirección del cliente" formmethod="post" disabled class="btn btn-raised btn-primary btn-round float-left" />
                                                </div>*@
                                            </div>
                                            <div class="col-sm-4">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input type="submit" value="Modificar pedido"  formmethod="post" disabled class="btn btn-raised btn-primary btn-round float-right" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row clearfix">
                                            <div class="col-sm-4">
                                                @*<div class="form-group">
                                                    <input type="submit" value="Editar dirección del cliente " formaction=@Url.Action("AltaClienteDireccion") formmethod="post" class="btn btn-raised btn-primary btn-round float-left" />
                                                </div>*@
                                            </div>
                                            <div class="col-sm-4">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input type="submit" value="Modificar pedido" formaction=@Url.Action("EditarPedido") formmethod="post" class="btn btn-raised btn-primary btn-round float-right" />
                                                </div>
                                            </div>
                                        </div>
                                    }                                 
                                    <hr />
                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="submit" value="Regresar" formaction=@Url.Action("Buscar") formmethod="post" class="btn btn-raised btn-primary btn-round float-left" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>

</html>
