@model  MVC.Presentacion.Models.Catalogos.PrecioVentaModel
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<!DOCTYPE html>
<html>
<head>
    @{
        ViewBag.Title = "Index";
    }
    <script src="~/Resources/js/lib/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnActualizaPrecio").click(function () {

                var form = $(this).parent("form");
                form.attr('action', '<%= Url.RouteUrl(new { Controller = "PrecioVenta", Action = "ActualizarPrecioVenta" }) %>');
                form.attr('method', 'post');
            });

            $("#btnRegresarIndex").click(function () {
                var form = $(this).parent("form");
                form.attr('action', '<%= Url.RouteUrl(new { Controller = "PrecioVenta", Action = "Index" }) %>');
                form.attr('method', 'post');
            });

            $("#txtFlete").keyup(function () {
                var precio = $("#PrecioPMX").val();
                var flete = $("#txtFlete").val();
                var utilidad = $(this).val();

                var operacion = parseFloat(precio) + parseFloat(utilidad) + parseFloat(flete);

                $("#IdPrecioSalidaKg").val(operacion)

                //$("#IDPrecioSalidaKg").val(operacion);
                // alert($('#IdPrecioSalidaKg').val());
                /*****factorLitrosaKilos*****/
                var url = "/PrecioVenta/GetConfiguracionEmpresa";
                var id = $('#ddlEmpresas').find('option:selected').val();
                if (id == undefined) {
                    id = $('#lblIdEmpresa').text();
                }

                $.getJSON(url, { idEmpresa: id }, function (data) {
                    var factor = (precio + flete) - data;
                    $("#IdPrecioSalidaLt").val(factor)
                });

                /**********/
            });//key up.

        });
    </script>
    <style type="text/css">
        .col-sm-01 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 2.666667%;
            text-align: left;
        }

        .col-sm-013 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 13.666667%;
            text-align: right;
        }

        .col-sm-05 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 8.666667%;
            text-align: center;
        }

        .col-sm-005 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 12.666667%;
            text-align: center;
        }
    </style>
</head>
<body style="height:100%">
    @using (Html.BeginForm("ActualizarPrecioVenta", "PrecioVenta", FormMethod.Post))
    {
        @Html.HiddenFor(m=>m.IdPrecioVenta)
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <label id="lblIdEmpresa" style="visibility:hidden">@ViewBag.IdEmpresa</label>
                    <input type="text" name="IdEmpresa" hidden value="@ViewBag.IdEmpresa" />
                    @*<input type="text" name="IdPrecioVenta" hidden />*@
                    <div class="card">
                        <div class="header">
                            <h2><strong>Registrar precio de salida</strong></h2>
                        </div>
                        <div class="body">
                            @*<div class="row clearfix">
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Precio PEMEX:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group">
                                        <input name="PrecioPemexKg" id="PrecioPMX" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-01">
                                    <div class="form-group">
                                        kg.
                                    </div>
                                </div>
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Utilidad esperada:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group">
                                        <input name="UtilidadEsperadaKg" id="txtUtilidad" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-01">
                                    <div class="form-group">
                                        kg.
                                    </div>
                                </div>
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Precio salida:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group">
                                        <input id="IdPrecioSalidaKg" name="PrecioSalidaKg" type="text" class="form-control" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="col-sm-01">
                                    <div class="form-group">
                                        kg.
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group">
                                        <input name="PrecioSalidaLt" id="IdPrecioSalidaLt" type="text" class="form-control" readonly="readonly" />
                                        <input name="PrecioVentaEstatus" type="text" class="form-control" value="Programada" hidden="hidden" />
                                        <input name="EsGas" type="text" class="form-control" value="true" hidden="hidden" />
                                        <input type="text" name="Categoria" class="form-control date" hidden="hidden" value="Combustibles" />
                                        <input type="text" name="Linea" class="form-control date" hidden="hidden" value="Gas" />
                                        <input type="text" name="Producto" class="form-control date" hidden="hidden" value="Gas" />
                                    </div>
                                </div>
                                <div class="col-sm-01">
                                    <div class="form-group">
                                        Lt.
                                    </div>
                                </div>
                            </div>*@
                            <div class="row clearfix">
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Precio compra:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group" style="top:-10px">
                                        <input name="PrecioPemexKg" id="PrecioPMX" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        kg.
                                    </div>
                                </div>
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Utilidad esperada:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group" style="top:-10px">
                                        <input name="UtilidadEsperadaKg" id="txtUtilidad" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        kg.
                                    </div>
                                </div>
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Precio flete:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group" style="top:-10px">
                                        <input name="PrecioFlete" id="txtFlete" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Precio salida:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group" style="top:-10px">
                                        <input id="IdPrecioSalidaKg" name="PrecioSalidaKg" type="text" class="form-control" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        kg.
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group" style="top:-10px">
                                        <input name="PrecioSalidaLt" id="IdPrecioSalidaLt" type="text" class="form-control" readonly="readonly" />
                                        <input name="PrecioVentaEstatus" type="text" class="form-control" value="Programada" hidden="hidden" />
                                        <input name="EsGas" type="text" class="form-control" value="true" hidden="hidden" />
                                        <input type="text" name="Categoria" class="form-control date" hidden="hidden" value="Combustibles" />
                                        <input type="text" name="Linea" class="form-control date" hidden="hidden" value="Gas" />
                                        <input type="text" name="Producto" class="form-control date" hidden="hidden" value="Gas" />
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        Lt.
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <b>Fecha programada:</b>
                                </div>
                                <div class="col-sm-3">
                                    @Html.DevExpress().DateEdit(settings =>
                               {
                                   settings.Name = "FechaProgramada";
                                   settings.Properties.UseMaskBehavior = true;
                                   settings.Properties.EditFormat = EditFormat.Custom;
                                   settings.Theme = "Material";
                                   settings.Properties.EditFormatString = "dd/MM/yyyy";
                                   settings.Properties.NullText = "dd/MM/yyyy";
                                   //settings.Attributes.Clear();
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(80);
                                   settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                               }).Bind(Model.FechaProgramada).GetHtml()
                                </div>
                                <div class="col-sm-7">
                                    <input type="submit" id="btnRegistraPrecio" value="Actualizar Precio" formmethod="post" class="btn btn-raised btn-round btn-primary float-right" />
                                </div>
                            </div>
                            @*<div class="row clearfix">
                                <div class="col-sm-2">
                                    <b>Fecha programada:</b>
                                </div>
                                <div class="col-sm-3">
                                    @Html.DevExpress().DateEdit(settings =>
                               {
                                   settings.Name = "FechaProgramada";
                                   settings.Properties.UseMaskBehavior = true;
                                   settings.Properties.EditFormat = EditFormat.Custom;
                                   settings.Theme = "Material";
                                   settings.Properties.EditFormatString = "dd/MM/yyyy";
                                   settings.Properties.NullText = "dd/MM/yyyy";
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(80);
                                   settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                               }).GetHtml()
                                </div>
                                <div class="col-sm-7">
                                    <input type="submit" id="btnRegistraPrecio" value="Registrar Precio" formmethod="post" class="btn btn-raised btn-round btn-primary float-right" />
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <div class="form-group">
                                    <input type="submit" value="Regresar" id="btnRegresarIndex" formaction=@Url.Action("Index") class="btn btn-raised btn-round btn-primary float-left" />
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.MessageExito != "" && ViewBag.MessageExito != null)
                {

                        <div data-notify="container" class="bootstrap-notify-container alert alert-dismissible bg-green p-r-35 animated fadeInDown"
                             role="alert" data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031;
                         bottom: 20px; left: 0px; right: 0px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="position: absolute; right: 10px; top: 5px; z-index: 1033;">x</a>
                            <span data-notify="icon"></span>
                            <span data-notify="title"></span> <span data-notify="message">@ViewBag.MessageExito</span>
                            <a href="#" target="_blank" data-notify="url"></a>
                        </div>
                    }
                    @if (ViewBag.MessageError != "" && ViewBag.MessageError != null)
                {
                        <div data-notify="container" class="bootstrap-notify-container alert alert-dismissible bg-red p-r-35 animated fadeInDown"
                             role="alert" data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031;
                         bottom: 20px; left: 0px; right: 0px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="position: absolute; right: 10px; top: 5px; z-index: 1033;">x</a>
                            <span data-notify="icon"></span>
                            <span data-notify="title"></span> <span data-notify="message">@ViewBag.MessageError</span><a href="#" target="_blank" data-notify="url"></a>
                        </div>
                    }

                </div>
            </div>
        </section>
    }

</body>
</html>