@using MVC.Presentacion.Models.Catalogos
@model  MVC.Presentacion.Models.Catalogos.PrecioVentaModel
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtFlete").keyup(function () {
                var precio = $("#PrecioPMX").val();
                var flete = $("#txtFlete").val();

                var utilidad = $("#txtUtilidad").val();

                var operacion = parseFloat(precio) + parseFloat(utilidad) + parseFloat(flete);
                //isNaN(operacion)
                if (operacion !== operacion)
                    operacion = '';

                $("#IdPrecioSalidaKg").val(operacion.toFixed(2))


                /*****factorLitrosaKilos*****/
                var url = "/PrecioVenta/GetConfiguracionEmpresa";
                var id = $('#ddlEmpresas').find('option:selected').val();
                if (id == undefined) {
                    id = $('#lblIdEmpresa').text();
                }

                $.getJSON(url, { idEmpresa: id }, function (data) {
                    var factor = (parseFloat(precio) + parseFloat(flete)) - parseFloat(data);
                    $("#IdPrecioSalidaLt").val(factor.toFixed(2))
                });

                /**********/

            });//key up.
            /*******/
            ////Iniciar pagina
            //var value = $.trim($("#IdPrecioSalidaKg").val());
            //if (value.length < 1) {
            //    $("#btnRegistraPrecio").attr('disabled', true);
            //} else {
            //    $("#btnRegistraPrecio").attr('disabled', false);
            //}
            ////Primer input
            //$("#IdPrecioSalidaKg").click(function () {

            //    if ($("#IdPrecioSalidaLt").val() > 0 && $(".dxeEditArea_Material").val() != "") {
            //        $("#btnRegistraPrecio").attr('disabled', false);
            //    }
            //    else if ($("#IdPrecioSalidaLt").val() < 1 || $(".dxeEditArea_Material").val() == "") {
            //        $("#btnRegistraPrecio").attr('disabled', true);
            //    }


            //});

            ////Segundo input
            //$("#IdPrecioSalidaLt").click(function () {

            //    if ($("#IdPrecioSalidaKg").val() > 0 && $(".dxeEditArea_Material").val() != "") {
            //        $("#btnRegistraPrecio").attr('disabled', false);
            //    }
            //    else if ($("#IdPrecioSalidaKg").val() < 1 || $(".dxeEditArea_Material").val() == "") {
            //        $("#btnRegistraPrecio").attr('disabled', true);
            //    }


            //});



            ////Tercer input
            //$(".dxeButton").click(function () {

            //    if ($("#IdPrecioSalidaKg").val() > 0 && $("#IdPrecioSalidaLt").val() > 0) {
            //        $("#btnRegistraPrecio").attr('disabled', false);
            //    }
            //    else if ($("#IdPrecioSalidaKg").val() < 1 || $("#IdPrecioSalidaLt").val() < 1) {
            //        $("#btnRegistraPrecio").attr('disabled', true);
            //    }


            //});



            $("#IdA").keyup(function () {
                debugger
                var from = $("#IdDe").val();
                var To = $(this).val();
                var index = 0;
                var value = $('#IdTipoFecha').find('option:selected').val();//get value to filter of selected
                if (value == 1) {
                    index = 4;
                }
                if (value == 2) {
                    index = 7;
                }
                if (value == 3) {
                    index = 6;
                }

                var dateParts = from.split("/");
                var datefrom = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                var dateParts2 = To.split("/");
                var dateto = new Date(dateParts2[2], dateParts2[1] - 1, dateParts2[0]);

                $('#tblfilterable tbody tr').each(function () {
                    var filterdate = $(this).find("td").eq(index).html();//get value of column Fecha x
                    var dateParts3 = filterdate.split("/");
                    var datefilter = new Date(dateParts3[2].split(" ", 1), dateParts3[1] - 1, dateParts3[0]);

                    if (datefilter >= datefrom && datefilter <= dateto) {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
                    }
                    else {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
                    }
                });
            });
            $('#Estacion').on('change', function () {

                $("#Estacion").val();
                debugger;

            });

            $('selectnull').on('change', function () {
                var from = $("#IdDe").val();
                var To = $("#IdA").val();
                var value = $('#IdTipoFecha').find('option:selected').val();//get value to filter of selected
                if (from != "" && To != "" && value != 0) {

                    var index = 0;

                    if (value == 1) {
                        index = 4;
                    }
                    if (value == 2) {
                        index = 7;
                    }
                    if (value == 3) {
                        index = 5;
                    }

                    var dateParts = from.split("/");
                    var datefrom = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                    var dateParts2 = To.split("/");
                    var dateto = new Date(dateParts2[2], dateParts2[1] - 1, dateParts2[0]);

                    $('#tblfilterable tbody tr').each(function () {
                        var filterdate = $(this).find("td").eq(index).html();//get value of column Fecha Programada  x
                        var dateParts3 = filterdate.split("/");
                        var datefilter = new Date(dateParts3[2].split(" ", 1), dateParts3[1] - 1, dateParts3[0]);
                        if (datefilter >= datefrom && datefilter <= dateto) {
                            var rowindex = $(this).index();
                            $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
                        }
                        else {
                            var rowindex = $(this).index();
                            $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
                        }
                    });
                }

                if (value == 0) {
                    $('#tblfilterable tbody tr').show();
                }
            });
        });
        function OnSelectedChangeFilter(s, e) {
            var from = IdDe.GetDate();
            //var from = $("#IdDe").GetValue();
            var To = IdA.GetDate();//$("#IdA").GetValue();
            var value = s.GetSelectedIndex();//$('#IdTipoFecha').find('option:selected').val();//get value to filter of selected
            //var value = IdTipoFecha.GetSelectedIndex();
            if (from != null && To != null && value != 0) {
                var index = 0;

                if (value == 1) {
                    index = 4;
                }
                if (value == 2) {
                    index = 7;
                }
                if (value == 3) {
                    index = 5;
                }

                var dateParts = from.split("/");
                var datefrom = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                var dateParts2 = To.split("/");
                var dateto = new Date(dateParts2[2], dateParts2[1] - 1, dateParts2[0]);

                $('#tblfilterable tbody tr').each(function () {
                    var filterdate = $(this).find("td").eq(index).html();//get value of column Fecha Programada  x
                    var dateParts3 = filterdate.split("/");
                    var datefilter = new Date(dateParts3[2].split(" ", 1), dateParts3[1] - 1, dateParts3[0]);
                    if (datefilter >= datefrom && datefilter <= dateto) {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
                    }
                    else {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
                    }
                });
            }

            if (value == 0) {
                $('#tblfilterable tbody tr').show();
            }
        }
        function keyupDateEdit(s, e) {
            var from = IdDe.GetDate();
            //var from = $("#IdDe").GetValue();
            var To = s.GetValue();
            var index = 0;
            var value = IdTipoFecha.GetSelectedIndex();//$('#IdTipoFecha').find('option:selected').val();//get value to filter of selected
            if (value == 1) {
                index = 4;
            }
            if (value == 2) {
                index = 7;
            }
            if (value == 3) {
                index = 6;
            }
            if (from != "" && To != "") {
                $('#tblfilterable tbody tr').each(function () {
                    var filterdate = $(this).find("td").eq(index).html();//get value of column Fecha x
                    var dateParts3 = filterdate.split("/");
                    var datefilter = new Date(dateParts3[2].split(" ", 1), dateParts3[1] - 1, dateParts3[0]);

                    if (datefilter >= from && datefilter <= To) {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
                    }
                    else {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
                    }
                });
            }
            else {
                $('#tblfilterable tbody tr').show();
            }
        };
    </script>
    <style type="text/css">

        .col-sm-005 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 12.666667%;
            text-align: center;
        }
    </style>
    <script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="~/assets/js/pages/ui/notifications.js"></script>
    <script type="text/javascript">
        var mensaje = '@ViewBag.Msj';
        var tipo = '@ViewBag.Tipo';
        if (mensaje != '') {
            $(window).on("load", showNotification(tipo, mensaje, 'top', 'center', '', ''));
        }
    </script>
</head>
<body style="height:100%">
    @using (Html.BeginForm("Registrar", "PrecioVenta", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Precio de Venta</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Catálogos</li>
                                <li class="breadcrumb-item">Precio de Venta</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-sm-3">
                                        <div>
                                            <strong>Gasera</strong>
                                        </div>
                                        <div>
                                            @if (ViewBag.EsAdmin)
                                            {
                                                <select id="ddlEmpresas" name="IdEmpresa" class="form-control show-tick" data-live-search="true">
                                                    @foreach (var lst in ViewBag.Empresas)
                                                    {
                                                        if (ViewBag.IdEmpresa == lst.IdEmpresa)
                                                        {
                                                            <option value="@lst.IdEmpresa" selected>@lst.NombreComercial</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                @ViewBag.Empresas
                                                <label id="lblIdEmpresa" style="visibility:hidden">@ViewBag.IdEmpresa</label>
                                                <input type="text" name="IdEmpresa" hidden value="@ViewBag.IdEmpresa" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="card">
                            <div class="header">
                                <h2><strong>Registrar precio de salida</strong></h2>
                            </div>
                            < como estaba antes div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-005" style="text-align:center">
                                        <div class="form-group">
                                            Precio compra:
                                        </div>
                                    </div>
                                    <div class="col-sm-005">
                                        <div class="form-group" style="top:-10px">
                                            <input name="PrecioPemexKg" id="PrecioPMX" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            kg.
                                        </div>
                                    </div>
                                    <div class="col-sm-005" style="text-align:center">
                                        <div class="form-group">
                                            Utilidad esperada:
                                        </div>
                                    </div>
                                    <div class="col-sm-005">
                                        <div class="form-group" style="top:-10px">
                                            <input name="UtilidadEsperadaKg" id="txtUtilidad" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            kg.
                                        </div>
                                    </div>
                                    <div class="col-sm-005" style="text-align:center">
                                        <div class="form-group">
                                            Precio flete:
                                        </div>
                                    </div>
                                    <div class="col-sm-005">
                                        <div class="form-group" style="top:-10px">
                                            <input name="PrecioFlete" id="txtFlete" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-005" style="text-align:center">
                                        <div class="form-group">
                                            Precio salida:
                                        </div>
                                    </div>
                                    <div class="col-sm-005">
                                        <div class="form-group" style="top:-10px">
                                            <input id="IdPrecioSalidaKg" name="PrecioSalidaKg" type="text" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            kg.
                                        </div>
                                    </div>
                                    <div class="col-sm-005">
                                        <div class="form-group" style="top:-10px">
                                            <input name="PrecioSalidaLt" id="IdPrecioSalidaLt" type="text" class="form-control" readonly="readonly" />
                                            <input name="PrecioVentaEstatus" type="text" class="form-control" value="Programada" hidden="hidden" />
                                            <input name="EsGas" type="text" class="form-control" value="true" hidden="hidden" />
                                            <input type="text" name="Categoria" class="form-control date" hidden="hidden" value="Combustibles" />
                                            <input type="text" name="Linea" class="form-control date" hidden="hidden" value="Gas" />
                                            <input type="text" name="Producto" class="form-control date" hidden="hidden" value="Gas" />
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-group">
                                            Lt.
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <b>Fecha programada:</b>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.DevExpress().DateEdit(settings =>
                                   {
                                       settings.Name = "FechaProgramada";
                                       settings.Properties.UseMaskBehavior = true;
                                       settings.Properties.EditFormat = EditFormat.Custom;
                                       settings.Theme = "Material";
                                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                                       settings.Properties.NullText = "dd/MM/yyyy";
                                       //settings.Attributes.Clear();
                                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(80);
                                       settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                                   }).GetHtml()
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="submit" id="btnRegistraPrecio" value="Registrar Precio" formmethod="post" class="btn btn-raised btn-round btn-primary float-right" />
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="card">
                        <div class="header">
                            <h2><strong>Registrar precio de salida</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Precio salida:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group" style="top:-10px">
                                        @*<input id="IdPrecioSalidaKg" name="PrecioSalidaKg" type="number" class="form-control" required />
                     @Html.ValidationMessageFor(m => m.PrecioSalidaKg, "", new { @class = "alert-danger",

                    @type = "number",
                    @min = "0"
                })*@
                                        @Html.TextBoxFor(m => m.PrecioSalidaKg, Model.PrecioSalidaKg.ToString(), new
                                              {
                                                  @class = "form-control",
                                                  @type = "number",
                                                  @min = "0"
                                              })
                                        @Html.ValidationMessageFor(m => m.PrecioSalidaKg, "", new { @class = "alert-danger" })
                                    </div>

                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        kg.
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group" style="top:-10px">
                                        @*<input name="PrecioSalidaLt" id="IdPrecioSalidaLt" type="number" class="form-control" required />
                @Html.ValidationMessageFor(m => m.PrecioSalidaLt, "", new { @class = "alert-danger" })*@
                                        @Html.TextBoxFor(m => m.PrecioSalidaLt, Model.PrecioSalidaLt.ToString(), new
                                             {
                                                 @class = "form-control",
                                                 @type = "number",
                                                 @min = "0"
                                             })
                                        @Html.ValidationMessageFor(m => m.PrecioSalidaLt, "", new { @class = "alert-danger" })
                                        <input name="PrecioVentaEstatus" type="text" class="form-control" value="Programada" hidden="hidden" />
                                        <input name="EsGas" type="text" class="form-control" value="true" hidden="hidden" />
                                        <input type="text" name="Categoria" class="form-control date" hidden="hidden" value="Combustibles" />
                                        <input type="text" name="Linea" class="form-control date" hidden="hidden" value="Gas" />
                                        <input type="text" name="Producto" class="form-control date" hidden="hidden" value="Gas" />

                                    </div>

                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        Lt.
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <b>Fecha programada:</b>
                                </div>
                                <div class="col-sm-3">
                                    @Html.DevExpress().DateEdit(settings =>
                               {
                                   settings.Name = "FechaProgramada";
                                   settings.Properties.UseMaskBehavior = true;
                                   settings.Properties.EditFormat = EditFormat.Custom;
                                   settings.Theme = "Material";
                                   settings.Properties.EditFormatString = "dd/MM/yyyy";
                                  // settings.Properties.NullText = "dd/MM/yyyy";
                                   //settings.Attributes.Clear();
                                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(80);
                                   settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;

                               }).GetHtml()
                                    @Html.ValidationMessageFor(m => m.FechaProgramada, "", new { @class = "alert-danger", })
                                </div>

                                <div class="col-md-3 form-control-label" style="border-radius:20px;">
                                    <label for="ddlEstacionCarburacion">Estación de carburación</label>
                                    <div class="form-group" >
                                        <select id="Estacion" name="Estacion" class="form-control z-index" data-live-search="true">
                                            <option value="0">Seleccione uno</option>
                                            @if (ViewBag.EstacionesCarburacion != null)
                                            {
                                                foreach (var tp in ViewBag.EstacionesCarburacion)
                                                {
                                                    if (tp.IdEstacionCarburacion == Model.IdEstacion)
                                                    {
                                                       
                                                        <option value="@tp.IdEstacionCarburacion" selected>@tp.Nombre</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@tp.IdEstacionCarburacion">@tp.Nombre</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                   @Html.HiddenFor(m => m.IdEstacion)
                                    @Html.ValidationMessageFor(m => m.IdEstacion, "", new { @class = "alert-danger" })
                                </div>

                                <div class="col-sm-7">
                                    <input type="submit" id="btnRegistraPrecio" value="Registrar Precio" formmethod="post" class="btn btn-raised btn-round btn-primary float-right" />
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.MensajeError != null)
                    {
                        <div class="row clearfix">
                            <div id="divMensajeError" class="container">
                                <div class="alert alert-danger">
                                    <div class="alert-icon">
                                        <i class="zmdi zmdi-block"></i>
                                    </div>
                                    <strong>
                                        <label>@ViewBag.MensajeError</label>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    }
                    <br />
                    <div class="card">
                        <div class="body">
                            @*<div class="row clearfix">
                                    <div class="col-sm-3" style="top: 20px;">
                                        @Html.DevExpress().ComboBox(settings =>
                                   {
                                       settings.Name = "IdTipoFecha";
                                       settings.Width = 180;
                                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                       settings.Theme = "Material";
                                       settings.ClientEnabled = true;
                                       settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectedChangeFilter";
                                       settings.PreRender = (s, e) =>
                                       {
                                           MVCxComboBox combo = s as MVCxComboBox;
                                           combo.Properties.Items.Insert(0, new ListEditItem("Seleccione"));
                                           combo.Properties.Items.Insert(1, new ListEditItem("Fecha Programada"));
                                           combo.Properties.Items.Insert(2, new ListEditItem("Fecha Registro"));
                                           combo.Properties.Items.Insert(3, new ListEditItem("Fecha Vencimiento"));
                                           combo.Properties.ValueField = "IdTipoFecha";
                                           combo.SelectedIndex = 0;
                                       };
                                   }).GetHtml()
                                    </div>
                                    <div class="col-sm-3">
                                        <b>De:</b>
                                        @Html.DevExpress().DateEdit(settings =>
                                   {
                                       settings.Name = "IdDe";
                                       settings.Properties.UseMaskBehavior = true;
                                       settings.Properties.EditFormat = EditFormat.Custom;
                                       settings.Theme = "Material";
                                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                                       settings.Properties.NullText = "dd/MM/yyyy";
                                       //settings.Attributes.Clear();
                                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(80);
                                       settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;

                                   }).GetHtml()
                                    </div>
                                    <div class="col-sm-3">
                                        <b>A:</b>
                                        @Html.DevExpress().DateEdit(settings =>
                                   {
                                       settings.Name = "IdA";
                                       settings.Properties.UseMaskBehavior = true;
                                       settings.Properties.EditFormat = EditFormat.Custom;
                                       settings.Theme = "Material";
                                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                                       settings.Properties.NullText = "dd/MM/yyyy";
                                       settings.Attributes.Clear();
                                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(80);
                                       settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                                       settings.ClientEnabled = true;
                                       settings.Properties.ClientSideEvents.DateChanged = "keyupDateEdit";
                                   }).GetHtml()
                                    </div>
                                </div>
                                <br />*@
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                @Html.Partial("_CB_PrecioVentas", (List<PrecioVentaModel>)TempData["DataSourcePrecioVentas"])
                                @*<div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table table-striped table-hover" id="tblfilterable" name="PreciosVenta">
                                            <thead>
                                                <tr>
                                                    <th>Gasera</th>*@
                                @*<th>Precio Compra(kg)</th>
                                    <th>Utilidad Esperada(kg)</th>*@
                                @*<th>Precio Salida Kg</th>
                                            <th>Precio Salida Lts</th>
                                            <th>Fecha Programada</th>
                                            <th>FechaVencimiento</th>
                                            <th>Estatus</th>
                                            <th>FechaRegistro</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.ListaPV != null)
                                        {
                                            foreach (var item in ViewBag.ListaPV)
                                            {
                                        <tr>
                                            <td>@item.Empresa</td>*@
                                @*<td>@item.PrecioPemexKg</td>
                                    <td>@item.UtilidadEsperadaKg</td>*@
                                @*<td>@item.PrecioSalidaKg</td>
                                                        <td>@item.PrecioSalidaLt</td>
                                                        <td>@item.FechaProgramada</td>
                                                        <td>@item.FechaVencimiento</td>
                                                        <td>@item.PrecioVentaEstatus</td>
                                                        <td>@item.FechaRegistro</td>
                                                        @if (item.PrecioVentaEstatus == "Programado")
                                                        {
                                                            <td>
                                                                <a href="@Url.Action("EditarPrecioVenta", "PrecioVenta", new { id = item.IdPrecioVenta })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="material-icons">edit</i>
                                                                    <span>Editar precio venta</span>
                                                                </a>
                                                                <a href="@Url.Action("BorrarPrecioVenta", "PrecioVenta", new { id = item.IdPrecioVenta })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="material-icons">delete</i>
                                                                    <span>Eliminar precio venta</span>
                                                                </a>
                                                            </td>
                                                        }
                                                    </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
@*@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")*@
@Scripts.Render("~/Scripts/jquery-ui.js")
</html>
