@model  MVC.Presentacion.Models.Catalogos.PrecioVentaModel
<!DOCTYPE html>
<html>
<head>
    @{
        ViewBag.Title = "Index";
    }

    <script src="~/Resources/js/lib/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        //$(function () {
        //    $('select').on('change', function () {
        //        $('#tblfilterable tbody tr').each(function () {
        //            var value = $('#IdTipoFecha').find('option:selected').text();//get value to filter of selected
        //            var hiderow = $(this).find("td").eq(6).html();//get value of column status
        //            if (value != hiderow) {
        //                var rowindex = $(this).index();
        //                $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
        //            }
        //            if (value == hiderow) {
        //                var rowindex = $(this).index();
        //                $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
        //            }
        //            if (value == 'Seleccione') {
        //                $('#tblfilterable tbody tr').show();
        //            }
        //        });
        //    });
        //});

        $(document).ready(function () {
            $("#txtUtilidad").keyup(function () {
                // debugger

                var precio = $("#PrecioPMX").val();

                var utilidad = $(this).val();

                var operacion = parseFloat(precio) + parseFloat(utilidad);

                $("#IdPrecioSalidaKg").val(operacion)


                /*****factorLitrosaKilos*****/
                var url = "/PrecioVenta/GetConfiguracionEmpresa";
                var id = $('#ddlEmpresas').find('option:selected').val();
                $.getJSON(url, { idEmpresa: id }, function (data) {
                    var factor = data;
                    $("#IdPrecioSalidaLt").val(factor)
                });

                /**********/

            });//key up.

            /*******/
            $("#IdA").keyup(function () {
                var from = $("#IdDe").val();
                var To = $(this).val();
                var index = 0;
                var value = $('#IdTipoFecha').find('option:selected').val();//get value to filter of selected
                if (value == 1) {
                    index = 4;
                }
                if (value == 2) {
                    index = 7;
                }
                if (value == 3) {
                    index = 6;
                }

                var dateParts = from.split("/");
                var datefrom = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                var dateParts2 = To.split("/");
                var dateto = new Date(dateParts2[2], dateParts2[1] - 1, dateParts2[0]);

                $('#tblfilterable tbody tr').each(function () {
                    var filterdate = $(this).find("td").eq(index).html();//get value of column Fecha x
                    var dateParts3 = filterdate.split("/");
                    var datefilter = new Date(dateParts3[2].split(" ", 1), dateParts3[1] - 1, dateParts3[0]);

                    if (datefilter >= datefrom && datefilter <= dateto) {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
                    }
                    else {
                        var rowindex = $(this).index();
                        $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
                    }
                });
            });
            $('select').on('change', function () {

                var from = $("#IdDe").val();
                var To = $("#IdA").val();
                var value = $('#IdTipoFecha').find('option:selected').val();//get value to filter of selected
                if (from != "" && To != "" && value != 0) {

                    var index = 0;

                    if (value == 1) {
                        index = 4;
                    }
                    if (value == 2) {
                        index = 7;
                    }
                    if (value == 3) {
                        index = 5;
                    }

                    var dateParts = from.split("/");
                    var datefrom = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                    var dateParts2 = To.split("/");
                    var dateto = new Date(dateParts2[2], dateParts2[1] - 1, dateParts2[0]);

                    $('#tblfilterable tbody tr').each(function () {
                        var filterdate = $(this).find("td").eq(index).html();//get value of column Fecha Programada  x
                        var dateParts3 = filterdate.split("/");
                        var datefilter = new Date(dateParts3[2].split(" ", 1), dateParts3[1] - 1, dateParts3[0]);
                        if (datefilter >= datefrom && datefilter <= dateto) {
                            var rowindex = $(this).index();
                            $('#tblfilterable tbody tr:eq(' + rowindex + ')').show();
                        }
                        else {
                            var rowindex = $(this).index();
                            $('#tblfilterable tbody tr:eq(' + rowindex + ')').hide();
                        }
                    });
                }

                if (value == 0) {
                    $('#tblfilterable tbody tr').show();
                }
            });
        });
    </script>
    <style type="text/css">
        .col-sm-01 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 2.666667%;
            text-align: left;
        }

        .col-sm-013 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 13.666667%;
            text-align: right;
        }

        .col-sm-05 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 8.666667%;
            text-align: center;
        }

        .col-sm-005 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 12.666667%;
            text-align: center;
        }
    </style>
</head>
<body style="height:100%">
    @using (Html.BeginForm("Registrar", "PrecioVenta", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Precio de Venta</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Catálogos</li>
                                <li class="breadcrumb-item">Precio de Venta</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-sm-3">
                                        <div>
                                            <strong>Gasera</strong>
                                        </div>
                                        <div>
                                            @if (ViewBag.EsAdmin)
                                            {
                                                <select id="empresas" name="IdEmpresa" class="form-control show-tick" data-live-search="true">
                                                    @foreach (var lst in ViewBag.Empresas)
                                                    {
                                                        <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                @ViewBag.Empresas
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2><strong>Registrar precio de salida</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Precio PEMEX:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group">
                                        <input name="PrecioPemexKg" id="PrecioPMX" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-01">
                                    <div class="form-group">
                                        kg.
                                    </div>
                                </div>
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Utilidad esperada:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group">
                                        <input name="UtilidadEsperadaKg" id="txtUtilidad" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-01">
                                    <div class="form-group">
                                        kg.
                                    </div>
                                </div>
                                <div class="col-sm-005" style="text-align:center">
                                    <div class="form-group">
                                        Precio salida:
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group">
                                        <input id="IdPrecioSalidaKg" name="PrecioSalidaKg" type="text" class="form-control" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="col-sm-01">
                                    <div class="form-group">
                                        kg.
                                    </div>
                                </div>
                                <div class="col-sm-005">
                                    <div class="form-group">
                                        <input name="PrecioSalidaLt" id="IdPrecioSalidaLt" type="text" class="form-control" readonly="readonly" />
                                        <input name="PrecioVentaEstatus" type="text" class="form-control" value="Programada" hidden="hidden" />
                                        <input name="EsGas" type="text" class="form-control" value="true" hidden="hidden" />
                                        <input type="text" name="Categoria" class="form-control date" hidden="hidden" value="Combustibles" />
                                        <input type="text" name="Linea" class="form-control date" hidden="hidden" value="Gas" />
                                        <input type="text" name="Producto" class="form-control date" hidden="hidden" value="Gas" />
                                    </div>
                                </div>
                                <div class="col-sm-01">
                                    <div class="form-group">
                                        Lt.
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-2">
                                    <b>Fecha programada:</b>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-calendar"></i>
                                        </span>
                                        <input type="text" name="FechaProgramada" class="form-control date" placeholder="formato: dd/mm/aaaa" />
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <input type="submit" id="btnRegistraPrecio" value="Registrar Precio" formmethod="post" class="btn btn-raised btn-round btn-primary float-right" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <b>Tipo de Fecha:</b>
                                    <select id="IdTipoFecha" class="form-control selectpicker z-index show-tick">
                                        <option value="0">Seleccione</option>
                                        <option value="1">Fecha Programada</option>
                                        <option value="2">Fecha Registro</option>
                                        <option value="3">Fecha Vencimiento</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <b>De:</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-calendar"></i>
                                        </span>
                                        <input type="text" id="IdDe" class="form-control date" placeholder="formato: dd/mm/aaaa" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <b>A:</b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-calendar"></i>
                                        </span>
                                        <input type="text" id="IdA" class="form-control date" placeholder="formato: dd/mm/aaaa" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table table-striped table-hover" id="tblfilterable" name="PreciosVenta">
                                            <thead>
                                                <tr>
                                                    <th>Gasera</th>
                                                    <th>Precio PEMEX(kg)</th>
                                                    <th>Utilidad Esperada(kg)</th>
                                                    <th>Precio Salida</th>
                                                    <th>Fecha Programada</th>
                                                    <th>FechaVencimiento</th>
                                                    <th>Estatus</th>
                                                    <th>FechaRegistro</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.ListaPV != null)
                                                {
                                                    foreach (var item in ViewBag.ListaPV)
                                                    {
                                                        <tr>
                                                            <td>@item.Empresa</td>
                                                            <td>@item.PrecioPemexKg</td>
                                                            <td>@item.UtilidadEsperadaKg</td>
                                                            <td>@item.PrecioSalidaKg</td>
                                                            <td>@item.FechaProgramada</td>
                                                            <td>@item.FechaVencimiento</td>
                                                            <td>@item.PrecioVentaEstatus</td>
                                                            <td>@item.FechaRegistro</td>
                                                            @if (item.PrecioVentaEstatus == "Programado")
                                                            {
                                                                <td>
                                                                    <a ID="lbEdit" href="@Url.Action("EditarPrecioVenta", "PrecioVenta", new { id = item.IdPrecioVenta })">
                                                                        <i class="material-icons">edit</i>
                                                                        <span class="icon-name"></span>
                                                                    </a>
                                                                    <a ID="lbBorrar" href="@Url.Action("BorrarPrecioVenta", "PrecioVenta", new { id = item.IdPrecioVenta })">
                                                                        <i class="material-icons">delete</i>
                                                                        <span class="icon-name"></span>
                                                                    </a>
                                                                </td>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.MensajeError != null)
                {
                        <div class="row clearfix">
                            <div id="divMensajeError" class="container">
                                <div class="alert alert-danger">
                                    <div class="alert-icon">
                                        <i class="zmdi zmdi-block"></i>
                                    </div>
                                    <strong>
                                        <label>@ViewBag.MensajeError</label>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    }
                    @*@if (ViewBag.MessageExito != "" && ViewBag.MessageExito != null)
                        {
                                <div data-notify="container" class="bootstrap-notify-container alert alert-dismissible bg-green p-r-35 animated fadeInDown"
                                     role="alert" data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031;
                                 bottom: 20px; left: 0px; right: 0px;">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="position: absolute; right: 10px; top: 5px; z-index: 1033;">x</a>
                                    <span data-notify="icon"></span>
                                    <span data-notify="title"></span> <span data-notify="message">@ViewBag.MessageExito</span>
                                    <a href="#" target="_blank" data-notify="url"></a>
                                </div>
                            }
                            @if (ViewBag.MessageError != "" && ViewBag.MessageError != null)
                        {
                                <div data-notify="container" class="bootstrap-notify-container alert alert-dismissible bg-red p-r-35 animated fadeInDown"
                                     role="alert" data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031;
                                 bottom: 20px; left: 0px; right: 0px;">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="position: absolute; right: 10px; top: 5px; z-index: 1033;">x</a>
                                    <span data-notify="icon"></span>
                                    <span data-notify="title"></span> <span data-notify="message">@ViewBag.MessageError</span><a href="#" target="_blank" data-notify="url"></a>
                                </div>
                            }*@
                </div>
            </div>
        </section>
    }
</body>
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/jquery-ui.js")
</html>
