@using MVC.Presentacion.Models.Catalogos
@model  UsuarioDTO

@{
    ViewBag.Title = "Catálogo / Usuarios";
}

<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<script src="~/Resources/js/lib/jquery-1.9.1.js"></script>
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var message = '@ViewBag.MessageExito';
    if (message != '') {
        $(window).on("load", showNotification('alert-success', message, 'top', 'center', '', ''));
    }
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnRegresarIndex").click(function () {

            var form = $(this).parent("form");
            form.attr('action', '<%= Url.RouteUrl(new { Controller = "Usuarios", Action = "Index" }) %>');
            form.attr('method', 'post');
        });

    });
</script>
@using (Html.BeginForm("GuardarCredenciales", "Usuarios", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">

            <div class="row clearfix">               
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Usuarios</h2>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item">Catálogo</li>
                        <li class="breadcrumb-item">Usuarios</li>
                        <li class="breadcrumb-item">Credenciales</li>                       
                    </ul>
                </div>
            </div>

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div>
                                                    <input id="Nombre" type="text" name="Nombre" readonly="readonly" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser.Nombre + " " +ViewBag.IdUser.Apellido1 + " " +ViewBag.IdUser.Apellido2 )" />
                                                    <input type="text" name="IdUsuario" hidden="hidden" value="@ViewBag.IdUser.IdUsuario" readonly="readonly" id="IdUsuario" class="form-control" />
                                                    <input type="text" name="Nombre" hidden="hidden" value="@ViewBag.IdUser.Nombre" readonly="readonly" class="form-control" />
                                                    <input type="text" name="Apellido1" hidden="hidden" value="@ViewBag.IdUser.Apellido1" readonly="readonly" class="form-control" />
                                                    <input type="text" name="IdPais" hidden="hidden" value="@ViewBag.IdUser.IdPais" readonly="readonly" class="form-control" />
                                                    <input type="text" name="Municipio" hidden="hidden" value="@ViewBag.IdUser.Municipio" readonly="readonly" lass="form-control" />
                                                    <input type="text" name="CodigoPostal" hidden="hidden" value="@ViewBag.IdUser.CodigoPostal" readonly="readonly" class="form-control" />
                                                    <input type="text" name="Colonia" hidden="hidden" value="@ViewBag.IdUser.Colonia" readonly="readonly" class="form-control" />
                                                    <input type="text" name="Calle" hidden="hidden" value="@ViewBag.IdUser.Calle" readonly="readonly" class="form-control" />
                                                    <input type="text" name="NumExt" hidden="hidden" value="@ViewBag.IdUser.NumExt" readonly="readonly" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label for="txtmail">
                                                    Correo elect.:*
                                                </label>
                                                <input type="text" name="Email1" value="@ViewBag.IdUser.Email1" id="txtmail" class="form-control">
                                                @Html.ValidationMessageFor(m => m.Email1, "",new { @class = "alert-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label for="txtpwd">
                                                    Contraseña:*
                                                </label>
                                                <input type="password" name="Password" id="txtpwd" class="form-control">
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "alert-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <input type="submit" id="btnRegresarIndex" value="Regresar" formaction=@Url.Action("Index") class="btn btn-raised btn-primary btn-round float-left"/>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="form-group">
                                <button class="btn btn-raised btn-primary btn-round float-right"> Actualizar</button>

                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.MessageError != null)
                {
                    <div class="row clearfix">
                        <div id="divMensajeError" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    <label>@ViewBag.MessageError</label>
                                </strong>
                            </div>
                        </div>
                    </div>
                }
            </div>

    </section>
}
