@using MVC.Presentacion.Models.Seguridad
@model  UsuarioRolModel

@{
    ViewBag.Title = "Catálogo / Usuarios";
}

<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var message = '@ViewBag.Msj';
    var tipo = '@ViewBag.Tipo';  
    if (message != '') {

        $(window).on("load", showNotification(tipo, message, 'top', 'center', '', ''));
    }
</script>
@using (Html.BeginForm("GuardarRol", "Usuarios", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h3>&nbsp;Catálogo / Usuarios / Roles</h3>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-12">
                                    <input id="Nombre" type="text" name="Nombre" readonly="readonly" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Nombre + " " +ViewBag.IdUser[0].Apellido1 + " " +ViewBag.IdUser[0].Apellido2 )" />
                                    <input type="text" name="IdUsuario" hidden="hidden" value="@ViewBag.IdUser[0].IdUsuario" readonly="readonly" id="IdUsuario" class="form-control" />
                                </div>

                            </div><br />
                            <div class="col-sm-12">
                                <div class="row clearfix">
                                    <div class="col-sm-5">
                                        <select id="ddlRoles" name="IdRol" class="form-control selectpicker z-index show-tick">
                                            <option value="0">Seleccione..</option>
                                            @foreach (var lst in ViewBag.AllRoles)
                                            {
                                                <option value="@lst.IdRol">@lst.NombreRol</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <button class="btn btn-raised btn-primary float-right"> Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="table-responsive">
                        <table class="table table table-bordered table-striped table-hover js-basic-example dataTable" name="EmpresasGaseras">
                            <thead>
                                <tr>
                                    <th>Roles Asignados</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itemUser in @ViewBag.IdUser)
                                {
                                    foreach (var item in @ViewBag.IdUser[0].Roles)
                                    {
                                        <tr>
                                            <th>@item.NombreRol</th>
                                            <td>
                                                <a ID="lbBorrar" href="@Url.Action("BorrarRol", "Usuarios", new { id = item.IdRol, idUsr = itemUser.IdUsuario })">
                                                    <i class="material-icons">delete</i>
                                                    <span class="icon-name"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <input type="submit" value="Regresar" formaction=@Url.Action("Index") class="btn btn-raised btn-primary float-left" />
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.MessageError != null)
                {
                <div class="row clearfix">
                    <div id="divMensajeError" class="container">
                        <div class="alert alert-danger">
                            <div class="alert-icon">
                                <i class="zmdi zmdi-block"></i>
                            </div>
                            <strong>
                                <label>@ViewBag.MessageError</label>
                            </strong>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
