@using MVC.Presentacion.Models.Catalogos

@model  UsuarioDTO

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<script src="~/Resources/js/lib/jquery-1.9.1.js"></script>
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var message = '@ViewBag.MessageExito';
    if (message != '') {
        $(window).on("load", showNotification('alert-success', message, 'top', 'center', '', ''));
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnBuscar").click(function () {
            var form = $(this).parent("form");
            form.attr('action', '<%= Url.RouteUrl(new { Controller = "Usuarios", Action = "Buscar" }) %>');
            form.attr('method', 'post');
        });
    });

</script>

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
@using (Html.BeginForm("Nuevo", "Usuarios", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Usuarios</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item">Catálogos</li>
                            <li class="breadcrumb-item">Usuarios</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <div>
                                    <strong>Gasera:</strong>
                                    @if (ViewBag.EsAdmin)
                                    {
                                        <select id="empresas" name="IdEmpresa" class="form-control show-tick" data-live-search="true">
                                            @foreach (var lst in ViewBag.Empresas)
                                            {
                                                <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        @ViewBag.Empresas
                                    }
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row clearfix">

                        </div>
                        <br />
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="row clearfix">
                                    <div class="col-sm-3">
                                        <strong>Nombre:</strong>
                                        <select id="ddlUser" name="IdUsuario" class="form-control selectpicker z-index show-tick" data-live-search="true" onchange="">
                                            <option value="0">Seleccione uno</option>
                                            @foreach (var lst in ViewBag.ListaUsuarios)
                                            {
                                                <option value="@lst.IdUsuario">@lst.Nombre</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <strong>Correo Elect. (Acceso):</strong>
                                        <select id="ddlUser" name="Email1" class="form-control show-tick" data-live-search="true">
                                            <option value="0">Seleccione uno</option>
                                            @foreach (var lst in ViewBag.ListaUsuarios)
                                            {
                                                <option value="@lst.Email1">@lst.Email1</option>
                                            }
                                        </select>

                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div> &nbsp; </div>
                                            <input type="submit" id="btnBuscar" name="Buscar" value="Buscar" formaction=@Url.Action("Buscar") formmethod="post" class="btn btn-raised btn-primary btn-round float-left" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div> &nbsp; </div>
                                            <input id="BtnNuevo" type="submit" value="Nuevo" class="btn btn-raised btn-primary btn-round float-right" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 blockquote blockquote-info btn-round">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover" name="EmpresasGaseras">
                                        <thead>
                                            <tr>
                                                <th>Gasera</th>
                                                <th>Nombre</th>
                                                <th>E-mail (Acceso)</th>
                                                <th>Celular</th>
                                                <th>Teléfono</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Listausuarios)
                                            {
                                                <tr>
                                                    <th>@item.Empresa</th>
                                                    <td>@item.Nombre @item.Apellido1 @item.Apellido2 </td>
                                                    <td>@item.Email1</td>
                                                    <td>@item.Celular1</td>
                                                    <td>@item.Telefono1</td>
                                                    <td>
                                                        <a href="@Url.Action("EditarUsuario", "Usuarios", new { id = item.IdUsuario })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <i class="material-icons">edit</i>
                                                            <span>Editar usuario</span>
                                                        </a>
                                                        <a ID="lbEdit" href="@Url.Action("ActualizaCredenciales", "Usuarios", new { id = item.IdUsuario })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <i class="zmdi zmdi-settings"></i>
                                                            <span>Actualiza credenciales</span>
                                                        </a>
                                                        <a ID="lbEdit" href="@Url.Action("ActualizaRoles", "Usuarios", new { id = item.IdUsuario })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <i class="material-icons">dashboard</i>
                                                            <span>Actualiza roles</span>
                                                        </a>
                                                        <a ID="lbBorrar" href="@Url.Action("BorrarUsuario", "Usuarios", new {  id=item.IdUsuario } )" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <i class="material-icons">delete</i>
                                                            <span>Eliminar usuario</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @if (ViewBag.MessageError != null)
                {
                    <div class="row clearfix">
                        <div id="divMensajeError" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    <label>@ViewBag.MessageError</label>
                                </strong>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}


