@using MVC.Presentacion.Models.Catalogos
@model  EmpresaModel

@{
    ViewBag.Title = "Catálogo / Usuarios";
}

<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">

<!-- Custom Css -->
<link rel="stylesheet" href="~/assets/css/main.css">
<link rel="stylesheet" href="~/assets/css/color_skins.css">
<link rel="stylesheet" href="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
<!-- Bootstrap Select Css -->
<link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<script src="~/assets/bundles/libscripts.bundle.js"></script>
<script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
@using (Html.BeginForm("Guardar", "Usuarios", FormMethod.Post)) //"Crear", "Empresas", FormMethod.Post
{
    <section class="content home">
        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h3>&nbsp;Catálogo /Usuarios</h3>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Responsable de la gasera</strong></h2>
                        </div>
                        <div class="body">
                            <form>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div>
                                                    <label for="txtNomC">
                                                        Nombres:*
                                                    </label>
                                                    <input type="text" name="Nombre" id="txtNom" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Contacto</strong></h2>
                        </div>
                        <div class="body">
                            <form>
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            Teléfono 1: <input id="txtTel1" name="Telefono1" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                Celular 1:
                                                <input id="txtCel1" type="text" name="Celular1" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            Teléfono 2:
                                            <input id="txtTel2" name="Telefono2" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                Celular 2:
                                                <input id="txtCel2" name="Celular2" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            Teléfono 3:
                                            <input id="txtTel3" name="Telefono3" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                Celular 3:
                                                <input id="txtCel3" type="text" name="Celular3" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            Correo elect. 2:
                                            <input id="txtmail2" name="Email2" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <div>
                                                Sitio web 1:
                                                <input id="txtweb1" name="SitioWeb1" type="text" class="form-control" />

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            Correo elect. 3:
                                            <input id="txtmail3" name="Email3" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <div>
                                                Sitio web 2:
                                                <input id="txtweb2" name="SitioWeb2" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            Sitio web 3:
                                            <input id="txtweb3" name="SitioWeb3" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Dirección</strong></h2>
                        </div>
                        <div class="body">
                            <form>
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                <label for="ddlPais">
                                                    Pais:*
                                                </label>
                                                <select name="IdPais" id="ddlPais" class="form-control selectpickershow-tick" data-live-search="true">
                                                    <option value="1">Seleccionar</option>
                                                    <option value="2">Mexico</option>
                                                    <option value="3">Estados Unidos</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="ddlEdo">
                                                Estado:*
                                            </label>
                                            <select name="IdEstadoRep" id="ddlEdo" class="form-control selectpickershow-tick" data-live-search="true">
                                                <option value="1">Seleccionar</option>
                                                <option value="2">Aguascalientes</option>
                                                <option value="3">Zacatecas</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="txtMun">
                                                Municipio:*
                                            </label>
                                            <input type="text" name="Municipio" id="txtMun" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="txtCP">
                                                C.P.:*
                                            </label>
                                            <input type="text" name="CodigoPostal" id="txtCP" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtCol">
                                                    Colonia:*
                                                </label>
                                                <input type="text" name="Colonia" id="txtCol" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label for="txtCalle">
                                                Calle:*
                                            </label>
                                            <input type="text" name="Calle" id="txtCalle" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Núm. Ext.:*
                                                </label>
                                                <input type="text" name="NumExt" id="txtNume" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="form-group">
                                            <label for="txtNumI">
                                                Núm. Int.:
                                            </label>
                                            <input type="text" name="NumInt" id="txtNumI" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body">
                <form>
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                @*<input id="BtnRegreso" type="submit" value="Index" class="btn btn-raised btn-primary float-right" onclick="location.href='@Html.Action("Index", "Empresas")'" />*@
                                @*<button id="btnRegreso" value="Index" class="btn btn-raised btn-primary float-right" onclick="location.href='@Html.Action("Index", "Empresas")'"></button>onclick="location.href='@Html.Action("Crear", "Empresas")'" *@
                                <input type="submit" value="Regresar" class="btn btn-raised btn-primary float-left" formaction="Index" />

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                @*<button id="BtnAgregar" formaction="Crear" class="btn btn-raised btn-primary float-right" onclick="location.href='@Html.Action("Crear", "Empresas")'"></button>*@
                                @*<button id="BtnAgregar" value="Crear" />*@
                                @*<input type="button" value="Crear" class="btn btn-raised btn-primary float-right" onclick="location.href='@Html.Action("Crear", "Empresas" )'" />*@
                                <input type="submit" value="Crear" formaction="Crear" class="btn btn-raised btn-primary float-right" />
                                @*@Html.ActionLink("Crear", "Crear")*@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
}