@using MVC.Presentacion.Models.Catalogos
@model  UsuarioDTO
@{
    ViewBag.Title = "Catálogo / Usuarios";
}

<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Resources/js/lib/jquery-1.9.1.js"></script>

<script type="text/javascript">
    $(function () {

        $('select').on('change', function () {

            if ($('#ddlPais').find('option:selected').text() != 'México')
            {
               $('#ddlEdo').parent().hide();
                $('#txtEdoP').show();
            }

            if ($('#ddlPais').find('option:selected').text() == 'México' || $('#ddlPais').find('option:selected').text() == 'Seleccione') {
                 $('#ddlEdo').parent().show();
                $('#txtEdoP').hide();
            }

        });

    });

    $(document).ready(function () {
        $("#btnGuardaEdicion").click(function () {

            var form = $(this).parent("form");
            form.attr('action', '<%= Url.RouteUrl(new { Controller = "Usuarios", Action = "GuardaEdicionUsuario" }) %>');
            form.attr('method', 'post');
        });
        $("#btnRegresarIndex").click(function () {

            var form = $(this).parent("form");
            form.attr('action', '<%= Url.RouteUrl(new { Controller = "Usuarios", Action = "Index" }) %>');
            form.attr('method', 'post');
        });

    });
</script>
<style type="text/css">
    .col-sm-05 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 8.666667%;
        text-align: center;
    }

    a.tip {
        text-decoration: none;
    }

        a.tip:hover {
            cursor: help;
            position: relative;
        }

        a.tip span {
            display: none;
        }

        a.tip:hover span {
            padding: 5px 20px 5px 5px;
            display: block;
            z-index: 100;
            /*background: url('../../assets/images/back-tooltip.png') no-repeat 100% 5%;*/  
            background-image: url('../../assets/images/back-tooltip.png') !important;
            background-repeat: repeat-x;
            left: 0px;
            margin: 10px;
            width: 250px;
            position: absolute;
            top: 10px;
            text-decoration: none;
            border-radius: 6px;
            color:white;
        }
</style>
@using (Html.BeginForm((ViewBag.IdUser == null) ? "GuardarUsuario" : "GuardaEdicionUsuario", "Usuarios", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h3>&nbsp;Catálogo / Usuarios</h3>
                </div>
            </div>
            <div class="card">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <b>Gasera</b>
                            <select id="ddlEmpresas" name="IdEmpresa" class="form-control selectpicker z-index show-tick" data-live-search="true" onchange="">
                                @foreach (var lst in ViewBag.Empresas)
                                {
                                    <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                }
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Responsable de la gasera</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group float-right">
                                        Nombres:*
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input type="text" name="Nombre" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Nombre)" />
                                        <input id="IdUsuario" type="text" name="IdUsuario" hidden="hidden" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].IdUsuario)" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group float-right">
                                        Correo elect:*
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input type="text" name="Email1" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Email1)" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                       <a href="javascript:void(0);" class="tip" role="button" aria-haspopup="true" aria-expanded="false"> <i class="material-icons">help</i><span>Nombre de Usuario para accesar al sistema</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-05">
                                    <div class="form-group">
                                        Apellido 1:*
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Apellido1)" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group float-right">
                                        Contraseña:*
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        <a href="javascript:void(0);" class="tip" role="button" aria-haspopup="true" aria-expanded="false"> <i class="material-icons">help</i><span>Contraseña para accesar al sistema, podrá ser cambiada</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group float-right">
                                        Apellido 2:
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input type="text" name="Apellido2" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Apellido2)" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Contacto</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        Teléfono 1:
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input id="txtTel1" name="Telefono1" type="text" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Telefono1)" />
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        Celular 1:
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input id="txtCel1" type="text" name="Celular1" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Celular1)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        Teléfono 2:
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input id="txtTel2" name="Telefono2" type="text" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Telefono2)" />
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        Celular 2:
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input id="txtCel2" name="Celular2" type="text" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Celular2)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        Teléfono 3:
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input id="txtTel3" name="Telefono3" type="text" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Telefono3)" />
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <div class="form-group">
                                        Celular 3:
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input id="txtCel3" type="text" name="Celular3" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Celular3)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-05">
                                    <div class="form-group">
                                        Correo elect. 2:
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <input id="txtmail2" name="Email2" type="text" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Email2)" />
                                    </div>
                                </div>
                                <div class="col-sm-05">
                                    <div class="form-group">
                                        Sitio web 1:
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <input id="txtweb1" name="SitioWeb1" type="text" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].SitioWeb1)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-05">
                                    <div class="form-group">
                                        Correo elect. 3:
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <input id="txtmail3" name="Email3" type="text" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Email3)" />
                                    </div>
                                </div>
                                <div class="col-sm-05">
                                    <div class="form-group">
                                        Sitio web 2:
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <input id="txtweb2" name="SitioWeb2" type="text" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].SitioWeb2)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-05">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-sm-05">
                                    <div class="form-group">
                                        Sitio web 3:
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <input id="txtweb3" name="SitioWeb3" type="text" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].SitioWeb3)" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Dirección</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label for="ddlPais">
                                            Pais:*
                                        </label>
                                        <select id="ddlPais" name="IdPais" class="form-control selectpicker z-index show-tick">
                                            @foreach (var lst in ViewBag.ListaPaises)
                                            {
                                                <option value="@lst.IdPais">@lst.Pais</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label for="ddlEdo">
                                            Estado:*
                                        </label><input type="text" name="EstadoProvincia" style="display:none" id="txtEdoP" class="form-control" value="@((ViewBag.Empresas==null)?"":ViewBag.Empresas[0].EstadoProvincia)" />

                                        <select name="IdEstadoRep" id="ddlEdo" class="form-control selectpicker z-index show-tick" data-live-search="true">
                                            @foreach (var lst in ViewBag.ListaEstados)
                                            {
                                                <option value="@lst.IdEstadoRep">@lst.Estado</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label for="txtMun">
                                            Municipio:*
                                        </label>
                                        <input type="text" name="Municipio" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Municipio)" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label for="txtCP">
                                            C.P.:*
                                        </label>
                                        <input type="text" name="CodigoPostal" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].CodigoPostal)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <div>
                                            <label for="txtCol">
                                                Colonia:*
                                            </label>
                                            <input type="text" name="Colonia" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Colonia)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label for="txtCalle">
                                            Calle:*
                                        </label>
                                        <input type="text" name="Calle" id="txtCalle" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].Calle)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <div>
                                            <label for="txtNume">
                                                Núm. Ext.:*
                                            </label>
                                            <input type="text" name="NumExt" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].NumExt)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <label for="txtNumI">
                                            Núm. Int.:
                                        </label>
                                        <input type="text" name="NumInt" class="form-control" value="@((ViewBag.IdUser==null)?"":ViewBag.IdUser[0].NumInt)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="form-group">
                            <input type="submit" id="btnRegresarIndex" formaction=@Url.Action("Index") value="Regresar" class="btn btn-raised btn-primary float-left" />
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="form-group">
                            @if (@ViewBag.Empresas == null)
                            {
                                <input type="submit" value="Crear" formaction="GuardarUsuario" formmethod="post" class="btn btn-raised btn-primary float-right" />
                            }
                            else
                            {
                                <input type="submit" id="btnGuardaEdicion" value="Actualizar" formmethod="post" class="btn btn-raised btn-primary float-right" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/js/pages/tables/jquery-datatable.js"></script>