@model MVC.Presentacion.Models.MantenimientoDetalleModel
@using MVC.Presentacion.Models
@using PagedList.Mvc;
@using PagedList;
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var mensaje = '@ViewBag.Msj';
    if (mensaje != '') {
        $(window).on("load", showNotification('alert-success', mensaje, 'top', 'center', '', ''));
    }
    function OnSelectedIndexChanged(s, e) {
        var item = id_vehiculo.cphidenVehiculos[id_vehiculo.GetSelectedIndex()].split("|")
        $("#esCamioneta").val(item[0])
        $("#esPipa").val(item[1])
        $("#esUtilitario").val(item[2])
    }
</script>
<body>
    <section class="content home">
        <div class="container-fluid">
            @using (Html.BeginForm("Crear", "Mantenimiento", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Id_DetalleMtto)

                <input type="text" hidden="hidden" name="esCamioneta" id="esCamioneta" />
                <input type="text" hidden="hidden" name="esPipa" id="esPipa" />
                <input type="text" hidden="hidden" name="esUtilitario" id="esUtilitario" />

                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Mantenimiento Vehicular</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="~/DashBoard/Vista/Dashboard.aspx"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Equipo de Transporte</li>
                                <li class="breadcrumb-item">Mantenimiento</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <strong>Mantenimiento</strong>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <strong>Fecha del Mantenimiento*</strong>
                                        @Html.DevExpress().DateEdit(settings =>
                                   {
                                       settings.Name = "FechaMtto";
                                       settings.Properties.UseMaskBehavior = true;
                                       settings.Properties.EditFormat = EditFormat.Custom;
                                       settings.Properties.EditFormatString = "dd/MM/yyyy hh:mm";
                                       settings.Properties.DisplayFormatString = "dd, MMMM yyyy";
                                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                       settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                                   }).Bind(Model.FechaMtto).GetHtml()
                                        @Html.ValidationMessageFor(m => m.FechaMtto, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <strong>Vehículo*</strong>
                                        @Html.DevExpress().ComboBox(settings =>
                                   {
                                       settings.Name = "id_vehiculo";
                                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                       settings.SelectedIndex = 0;
                                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                       settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                                       settings.Properties.DropDownWidth = 550;
                                       //settings.Properties.TextField = "Descripcion";
                                       settings.Properties.ValueField = "IdEquipoTransporte";
                                       settings.Properties.ValueType = typeof(int);
                                       settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectedIndexChanged";
                                       settings.Properties.TextFormatString = "{0}";
                                       settings.Properties.Columns.Add("Descripcion", "Descripción", 130);
                                       settings.Properties.Columns.Add("Chofer", "Chofer", 130);
                                       settings.CustomJSProperties = (sender, e) =>
                                       {
                                           System.Collections.ArrayList list = new System.Collections.ArrayList();
                                           MVCxComboBox comb = sender as MVCxComboBox;
                                           foreach (ListEditItem item in comb.Items)
                                           {
                                               list.Add(item.GetValue("EsCamioneta") + "|" + item.GetValue("EsPipa") + "|" + item.GetValue("EsUtilitario"));
                                           }
                                           e.Properties["cphidenVehiculos"] = list;
                                       };
                                   }).BindList(ViewBag.Vehiculos).Bind(Model.id_vehiculo).GetHtml()
                                        @Html.ValidationMessageFor(m => m.id_vehiculo, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <strong>Tipo de Mantenimiento*</strong>
                                        @Html.DevExpress().ComboBox(settings =>
                                   {
                                       settings.Name = "Id_tipomtto";
                                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                       settings.SelectedIndex = 0;
                                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                       settings.Properties.TextField = "Mantenimiento";
                                       settings.Properties.ValueField = "Id_Mantenimiento";
                                       settings.Properties.ValueType = typeof(int);
                                   }).BindList(ViewBag.CMantenimiento).Bind(Model.Id_tipomtto).GetHtml()
                                        @Html.ValidationMessageFor(m => m.Id_tipomtto, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <strong>Kilometraje Actual*</strong>
                                        @*@Html.DevExpress().TextBox(settings =>
                                            {

                                                settings.Name = "Kilometraje_Actual";
                                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                settings.Properties.MaskSettings.Mask = "<0..999999>";
                                                settings.Properties.MaskSettings.ErrorText = "Kilometraje Actual";
                                                settings.Properties.ValidationSettings.Display = Display.Dynamic;
                                            }).GetHtml()*@
                                        @Html.TextBoxFor(m => m.Kilometraje_Actual, Model.Kilometraje_Actual.ToString(), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Kilometraje_Actual, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <strong>Numero de OC</strong>
                                        @Html.TextBoxFor(m => m.NumeroOC, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NumeroOC, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <b>Descripcion del Servicio*</b>
                                        @Html.TextBoxFor(m => m.DescripcionMtto, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DescripcionMtto, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <strong>Costo Mantenimiento*</strong>
                                        @*@Html.DevExpress().TextBox(settings =>
                                            {
                                                settings.Name = "Monto";
                                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                settings.Properties.DisplayFormatString = "f2";
                                                settings.Properties.MaskSettings.ErrorText = "Monto";
                                                settings.Properties.ValidationSettings.Display = Display.Dynamic;
                                                //settings.Attributes.Add("class", "form-control");
                                            }).GetHtml()*@
                                        @Html.TextBoxFor(m => m.Monto, Model.Monto.ToString(), new { @class = "form-control number" })
                                        @Html.ValidationMessageFor(m => m.Monto, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <b></b>
                                    <div class="form-group">
                                        @if (ViewBag.EsEdicion == null)
                                        {
                                            <button id="BtnCrear" formaction=@Url.Action("Crear") class="btn btn-primary btn-icon  btn-icon-mini btn-round">
                                                <i class="zmdi zmdi-plus"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button id="btnUpDate" formaction=@Url.Action("Modificar") class="btn btn-primary btn-icon  btn-icon-mini btn-round">
                                                <i class="zmdi zmdi-swap"></i>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <strong>Cuenta Contable*</strong>
                                        @Html.DevExpress().ComboBox(settings =>
                                       {
                                           settings.Name = "IdCuentaContable";
                                           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                           //settings.SelectedIndex = 0;
                                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                           settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                           settings.Properties.TextField = "Descripcion";
                                           settings.Properties.ValueField = "IdCuentaContable";
                                           settings.Properties.ValueType = typeof(int);
                                       }).BindList(ViewBag.CuentasContables).Bind(Model.IdCuentaContable).GetHtml()
                                        @Html.ValidationMessageFor(m => m.IdCuentaContable, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                            </div>

                            @if (ViewBag.MensajeError != null)
                            {
                                <div id="DivAlerta" class="container">
                                    <div class="alert alert-danger">
                                        <div class="alert-icon">
                                            <i class="zmdi zmdi-block"></i>
                                        </div>
                                        <strong>
                                            @ViewBag.MensajeError
                                        </strong>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            Registro de <strong>Mantenimientos</strong>
                        </div>
                        <div class="body">
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                @Html.Partial("_CB_Mantenimientos", (List<MantenimientoDetalleModel>)TempData["DataSourceMantenimientos"])
                                @*<div class="table-responsive">
                                        <table class="table table-striped  filterable">
                                            <thead>
                                                <tr>
                                                    <td><strong>Id</strong></td>
                                                    <td><strong>Vehiculo</strong></td>
                                                    <td><strong>Servicio Realizado</strong></td>
                                                    <td><strong>Fecha Servicio</strong></td>
                                                    <td><strong>Acción</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var mant in ViewBag.Mantenimientos)
                                                {
                                                    <tr>
                                                        <td>@mant.Id_DetalleMtto</td>
                                                        <td>@mant.Vehiculo</td>
                                                        <td>@mant.DescripcionMtto</td>
                                                        <td>@mant.FechaMtto</td>
                                                        <td>

                                                            <a href="@Url.Action("Modificar", "Mantenimiento", new { Id = mant.Id_DetalleMtto })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">edit</i>
                                                                <span>Editar</span>
                                                            </a>
                                                            <a href="@Url.Action("Eliminar", "Mantenimiento", new { Id = mant.Id_DetalleMtto })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">delete</i>
                                                                <span>Eliminar</span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>*@
                            </div>
                            @*<div class="row clearfix">
                                    <div class="col-md-6">
                                        Página @(ViewBag.Mantenimientos.PageCount < ViewBag.Mantenimientos.PageNumber ? 0 : ViewBag.Mantenimientos.PageNumber) de @ViewBag.Mantenimientos.PageCount
                                    </div>
                                    <div class="col-md-6 text-right">
                                        @Html.PagedListPager((IPagedList)ViewBag.Mantenimientos, page => Url.Action("Index", new { page, @class = "btn btn-primary btn-simple" }))
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</body>