@model  MVC.Presentacion.Models.OrdenCompra.OrdenCompraComplementoGasDTO

@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var mensaje = '@ViewBag.Msj';
    if (mensaje != '') {
        $(window).on("load", showNotification('alert-success', mensaje, 'top', 'center', '', ''));
    }
</script>
<script src="~/Scripts/js/OrdenCompraComplementoGasJS.js"></script>
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
<section class="content home">
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.FactorLitrosAKilos)
            @Html.HiddenFor(m => m.OrdenCompraExpedidor.IdOrdenCompra)
            @Html.HiddenFor(m => m.OrdenCompraExpedidor.FechaAutorizacion)
            @Html.HiddenFor(m => m.OrdenCompraPorteador.IdOrdenCompra)
            @Html.HiddenFor(m => m.OrdenCompraPorteador.FechaAutorizacion)
            @*@Html.HiddenFor(m => m.Fe)*@
            @* @Html.HiddenFor(m => m.OrdenCompraPorteador)*@
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <h2>Compras</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href=@Url.Action("Inicio", "Home" )><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item">Compras</li>
                            <li class="breadcrumb-item">Orden de Compra</li>
                            <li class="breadcrumb-item">Complemento para Gas</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        Datos <strong> generales</strong>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> @Model.NombreComercial</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div>
                                        <b>Número de Requisición: </b> @Model.NumeroRequisicion
                                    </div>
                                    <div>
                                        <b>Número de Orden de Compra Expedidor: </b> @Model.OrdenCompraExpedidor.NumOrdenCompra
                                    </div>
                                    <div>
                                        <b>Número de Orden de Compra Porteador: </b> @Model.OrdenCompraPorteador.NumOrdenCompra
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-12">
                                <div class="form-group form-float">
                                    <b>Fecha requerida:</b>
                                    @Html.TextBoxFor(m => m.FechaRequerida, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <div class="form-group form-float">
                                    <b>Solicitante:</b>
                                    @Html.TextBoxFor(m => m.UsuarioSolicitante, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 form-float">
                                <div class="form-group">
                                    <div class="form-group">
                                        <b>Motivo de compra:</b>
                                        @Html.TextAreaFor(m => m.MotivoRequisicion, new { @class = "form-control  no-resize btn-round", @placeholder = "Error de carga", @rows = "4", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <div class="form-group form-float">
                                    <div class="form-group">
                                        <b>Se requiere en:</b>
                                        @Html.TextAreaFor(m => m.RequeridoEn, new { @class = "form-control  no-resize btn-round", @placeholder = "Error de carga", @rows = "4", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (ViewBag.MensajeError != null)
                        {
                            <div class="row clearfix">
                                <div id="divMensajeError" class="container">
                                    <div class="alert alert-danger">
                                        <div class="alert-icon">
                                            <i class="zmdi zmdi-block"></i>
                                        </div>
                                        <strong>
                                            <label>@ViewBag.MensajeError</label>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row clearfix blockquote blockquote-info btn-round">
                            <div class="table-responsive">
                                @Html.Partial("_ProductosComplementoGasPartial", Model.Productos)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        Información de la <strong>descarga</strong>
                    </div>
                    <div class="body">
                        <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-primary">
                                <div class="panel-heading" role="tab" id="heading_Papeleta">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_Papeleta" aria-expanded="true" aria-controls="collapse_Papeleta">Datos de la descarga</a></h4>
                                </div>
                                <div id="collapse_Papeleta" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_Papeleta">
                                    <div class="panel-body">
                                        <div class="blockquote blockquote-info btn-round">
                                            <div class="row clearfix">
                                                <div class="col-md-2">
                                                    <h6>Papeleta</h6>
                                                </div>
                                                <div class="col-md-10">
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="dtpFechaPapeleta">Fecha papeleta:</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-calendar"></i>
                                                            </span>
                                                            @*@Html.TextBoxFor(m => m.Fecha, new { @class = "form-control datetimepicker" })*@
                                                            <input type="text" name="Fecha" value="@ViewBag.Complemeto.Fecha" class="form-control datetimepicker" />
                                                            @*@Html.HiddenFor(m => m.Fecha)*@
                                                        </div>
                                                        @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="dtpFechaEmbarque">Fecha embarque:</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-calendar"></i>
                                                            </span>
                                                            @*@Html.TextBoxFor(m => m.FechaEmbarque, new { @class = "form-control datetimepicker" })
                                                                @Html.HiddenFor(m => m.FechaEmbarque)*@
                                                            <input type="text" name="FechaEmbarque" value="@ViewBag.Complemeto.FechaEmbarque" class="form-control datetimepicker" />
                                                        </div>
                                                        @Html.ValidationMessageFor(m => m.FechaEmbarque, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Número embarque</label>
                                                        @Html.TextBoxFor(m => m.NumeroEmbarque, new { @class = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.NumeroEmbarque, "", new { @class = "alert-danger" })
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Valor Carga</label>
                                                        @Html.TextBoxFor(m => m.ValorCarga, new { @class = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.ValorCarga, "", new { @class = "alert-danger" })
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Sello</label>
                                                        @Html.TextBoxFor(m => m.Sello, new { @class = "form-control" })
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.Sello, "", new { @class = "alert-danger" })
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Nombre Responsable</label>
                                                        @Html.TextBoxFor(m => m.NombreResponsable, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.NombreResponsable, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label>% Magnatel tractor (papeleta)</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.TextBoxFor(m => m.PorcentajeTanque, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.PorcentajeTanque, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blockquote blockquote-info btn-round">
                                                <div class="row clearfix">
                                                    <div class="col-md-2">
                                                        <h6>Tractor</h6>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Placa tractor:</label>
                                                            @Html.TextBoxFor(m => m.PlacasTractor, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.PlacasTractor, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Nombre operador:</label>
                                                            @Html.TextBoxFor(m => m.NombreOperador, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.NombreOperador, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Presión tanque tractor:</label>
                                                            @Html.TextBoxFor(m => m.PresionTanque, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.PresionTanque, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Número tanque tractor:</label>
                                                            @Html.TextBoxFor(m => m.NumeroTanque, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.NumeroTanque, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Capacidad (Ltr) tanque tractor:</label>
                                                            @Html.TextBoxFor(m => m.CapacidadTanque, new { @class = "form-control", @onchange = "javascript: CalcularKilosFinales();" })
                                                            @Html.ValidationMessageFor(m => m.CapacidadTanque, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>% Magnatel tractor (Ocultar)</label>
                                                            @Html.TextBoxFor(m => m.PorcentajeMedidor, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.PorcentajeMedidor, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blockquote blockquote-info btn-round">
                                            <div class="row clearfix">
                                                <div class="col-md-2">
                                                    <h6>Descarga</h6>
                                                </div>
                                                <div class="col-md-10">
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Fecha descarga:</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-calendar"></i>
                                                            </span>
                                                            @*@Html.TextBoxFor(m => m.FechaEntraGas, new { @class = "form-control datetimepicker" })
                                                                @Html.HiddenFor(m => m.FechaEntraGas)*@
                                                            <input type="text" name="FechaEntraGas" value="@ViewBag.Complemeto.FechaEntraGas" class="form-control datetimepicker" />
                                                        </div>
                                                        @Html.ValidationMessageFor(m => m.FechaEntraGas, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-3 content-center">
                                                    <div class="form-group">
                                                        <label>% Magnatel Tractor</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Inicial</label>
                                                        @Html.TextBoxFor(m => m.PorcenMagnatelOcularTractorINI, new { @class = "form-control", @onchange = "javascript: CalcularKilosFinales();" })
                                                        @Html.ValidationMessageFor(m => m.PorcenMagnatelOcularTractorINI, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Final</label>
                                                        @Html.TextBoxFor(m => m.PorcenMagnatelOcularTractorFIN, new { @class = "form-control", @onchange = "javascript: CalcularKilosFinales();" })
                                                        @Html.ValidationMessageFor(m => m.PorcenMagnatelOcularTractorFIN, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                                @*<div class="col-md-3 content-center">
                                                        <div class="checkbox">
                                                            <input id="chBoxAlmacenPrestado" type="checkbox">
                                                            <label for="chBoxAlmacenPrestado">¿Almacen alterno?</label>
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-3 content-center">
                                                    <div class="form-group">
                                                        <label>% Magnatel Almacén</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Inicial</label>
                                                        @Html.TextBoxFor(m => m.PorcenMagnatelOcularAlmacenINI, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.PorcenMagnatelOcularAlmacenINI, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Final</label>
                                                        @Html.TextBoxFor(m => m.PorcenMagnatelOcularAlmacenFIN, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.PorcenMagnatelOcularAlmacenFIN, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blockquote blockquote-info btn-round">
                                            <div class="row clearfix">
                                                <div class="col-md-2">
                                                    <h6>Kilos Finales</h6>
                                                </div>
                                                <div class="col-md-10">
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Papeleta</label>
                                                        @Html.TextBoxFor(m => m.KilosPapeleta, new { @class = "form-control", @onchange = "javascript: CalcularKilosFinales();" })
                                                        @Html.ValidationMessageFor(m => m.KilosPapeleta, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Descargados</label>
                                                        @Html.TextBoxFor(m => m.KilosDescargados, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.KilosDescargados, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Diferencia</label>
                                                        @Html.TextBoxFor(m => m.KilosDiferencia, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.KilosDiferencia, "", new { @class = "alert-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-md-2">
                                                <input type="submit" formaction=@Url.Action("GuardarDatosPapeleta") class="btn btn-raised btn-primary btn-round" value="Confirmar Datos" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*--------------------------------------------------------------------------------------------------------------------------------------------------*@
                            <div class="panel panel-primary">
                                <div class="panel-heading" role="tab" id="headingCostos">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseCostos" aria-expanded="false"
                                           aria-controls="collapseCostos">Costos</a>
                                    </h4>
                                </div>
                                <div id="collapseCostos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCostos">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6 blockquote blockquote-info btn-round">
                                                <div class="row clearfix">
                                                    <div class="col-md-12 text-center">
                                                        Pago al <strong>expedidor</strong> de gas
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="txtReferenciaPormedioMensualGallon">Referencia promedio mensual MB Non Tet Propano Galón</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.OrdenCompraExpedidor.MontBelvieuDlls, new { @class = "form-control", @onchange = "javascript: CalcularImporteExpedidor()" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="txtReferenciaPormedioMensualGallon">(En dólares)</label>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="txtTarifaServicioGallon">Tarifa de Servicio por Galón</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.OrdenCompraExpedidor.TarifaServicioPorGalonDlls, new { @class = "form-control", @onchange = "javascript: CalcularImporteExpedidor()" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.TarifaServicioPorGalonDlls, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="txtTarifaServicioGallon">(En dólares)</label>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="txtTipoCambioDOF">Tipo de cambio DOF:</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.OrdenCompraExpedidor.TipoDeCambioDOF, new { @class = "form-control", @onchange = "javascript: CalcularImporteExpedidor()" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.TipoDeCambioDOF, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="form-control-label">(En pesos)</label>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="lbPlPrecioPorGalon">Precio por galón</label>
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <div class="form-group">
                                                            <div class="form-group">
                                                                $ @Html.LabelFor(m => m.OrdenCompraExpedidor.PrecioPorGalon, new { id = "PrecioPorGalon" })
                                                                @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.PrecioPorGalon, "", new { @class = "alert-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="lbPlPrecioPorGalon">(En pesos)</label>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-4 form-control-label">
                                                        <label for="txtFactorConvercionGaL">Factor de conversión Galones a litros:</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.OrdenCompraExpedidor.FactorGalonALitros, new { @class = "form-control", @onchange = "javascript: CalcularImporteExpedidor()" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.FactorGalonALitros, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="lblImporteLitros">Importe en Litros</label>
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <div class="form-group">
                                                            $ @Html.LabelFor(m => m.OrdenCompraExpedidor.ImporteEnLitros, new { id = "ImporteEnLitros" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.ImporteEnLitros, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="lblImporteLitros">(En pesos)</label>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-4 form-control-label">
                                                        <label for="txtFactorConvercionaKg">Factor de conversión a Kilogramos:</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.OrdenCompraExpedidor.FactorCompraLitrosAKilos, new { @class = "form-control", @onchange = "javascript: CalcularImporteExpedidor()" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.FactorCompraLitrosAKilos, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="txtPVMP">PVPM($/Kg) CON DESCUENTO:</label>
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <div class="form-group">
                                                            $ @Html.LabelFor(m => m.OrdenCompraExpedidor.PVPM, new { id = "PVPM" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.PVPM, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="txtPVMP">(En pesos)</label>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-4 form-control-label">
                                                        <label for="ddlIVACostos">IVA</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <select name="OrdenCompraExpedidor.Iva" id="IVAExpedidor" class="form-control" data-live-search="true" onchange="javascript: CalcularImporteExpedidor()">
                                                               
                                                                    @foreach (var item in ViewBag.IVAs)
                                                                    {
                                                                        if (ViewBag.Complemeto.OrdenCompraExpedidor.Iva.ToString() == item.Value)
                                                                        {
                                                                            <option value="@item.Value" selected>@item.Text</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@item.Value">@item.Text</option>
                                                                        }
                                                                    }
                                                                   
                                                            </select>
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.Iva, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="txtPrecioConIVA">PRECIO DE VENTA CON IVA:</label>
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <div class="form-group">
                                                            $ @Html.LabelFor(m => m.OrdenCompraPorteador.PVPM, new { id = "PrecioConIVA" })
                                                            @Html.ValidationMessageFor(m => m.PrecioConIVA, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="txtPrecioConIVA">(En Pesos)</label>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="btnSolicitarPagoExpedidor">IMPORTE A PAGAR</label>
                                                    </div>
                                                    <div class="col-md-4 form-control-label text-right">
                                                        $ @Html.LabelFor(m => m.OrdenCompraExpedidor.Total, new { id = "ImporteExpedidor" })
                                                        @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.Total, "", new { @class = "alert-danger" })
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="lblImporteAPagar">(En pesos)</label>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row clearfix">
                                                    <div class="col-md-3 col-sm-4 form-control-label">
                                                        <label>Folio Fiscal</label>
                                                    </div>
                                                    <div class="col-md-9 col-sm-8">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.OrdenCompraExpedidor.FolioFiscalUUID, new { @class = "form-control", @placeholder = "UUID de la factura" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.FolioFiscalUUID, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-3 col-sm-4 form-control-label">
                                                        <label>Folio Factura</label>
                                                    </div>
                                                    <div class="col-md-9 col-sm-8">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.OrdenCompraExpedidor.FolioFactura, new { @class = "form-control", @placeholder = "Folio de la factura" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraExpedidor.FolioFactura, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row clearfix">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="submit" ID="btnGuardarDatosExpedidor" class="btn btn-raised btn-primary btn-round" value="Guardar" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">                                                            
                                                            @if (ViewBag.Expedidor == false)
                                                            {
                                                                <input type="submit" class="btn btn-raised btn-primary btn-round" disabled formaction=@Url.Action("SolicitarPagoExpedidor") value="Solicitar Pago" />
                                                            }
                                                            else
                                                            {
                                                                <input type="submit" class="btn btn-raised btn-primary btn-round" formaction=@Url.Action("SolicitarPagoExpedidor") value="Solicitar Pago" />
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*---------------------------------------------------------------------------------------------------------------------------------------------*@
                                            <div class="col-md-6 blockquote blockquote-info btn-round">
                                                <div class="row clearfix text-center">
                                                    <div class="col-md-12 text-center">
                                                        Pago al <strong>porteador</strong> de gas
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="txtFactorConversion">Factor de conversión</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                           @Html.TextBoxFor(m => m.OrdenCompraPorteador.FactorConvTransporte, new { @class = "form-control", @onchange = "javascript: CalcularImportePortador()" })
                                                          
                                                            @Html.HiddenFor(m => m.OrdenCompraPorteador.FactorConvTransporte)
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraPorteador.FactorConvTransporte, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="lblPrecioTransporte">Precio del transporte:</label>
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <div class="form-group">
                                                            $ @Html.LabelFor(m => m.OrdenCompraPorteador.PrecioTransporte, new { id = "PrecioTransporte" })
                                                            
                                                            @Html.HiddenFor(m => m.OrdenCompraPorteador.PrecioTransporte)
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraPorteador.PrecioTransporte, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3  form-control-label">
                                                        <label for="lblPrecioTransporte">(En pesos)</label>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="txtCasetas">Casetas:</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.OrdenCompraPorteador.Casetas, new { @class = "form-control", @onchange = "javascript: CalcularImportePortador()" })
                                                            
                                                            @Html.HiddenFor(m => m.OrdenCompraPorteador.Casetas)
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraPorteador.Casetas, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="txtCasetas">(En pesos)</label>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="lblSubtotal">Subtotal:</label>
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <div class="form-group">
                                                            $ @Html.LabelFor(m => m.OrdenCompraPorteador.SubtotalSinIva, new { id = "SubTotoalPorteador" })
                                                         
                                                            @Html.HiddenFor(m => m.OrdenCompraPorteador.SubtotalSinIva)
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraPorteador.SubtotalSinIva, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="lblSubtotal">(En pesos)</label>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-4 form-control-label">
                                                        <label for="ddlIvaPorteador">IVA</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <select name="Iva" id="IVAPorteador" class="form-control" data-live-search="true" onchange="javascript: CalcularImportePortador()">
                                                                @foreach (var item in ViewBag.IVAs)
                                                                {
                                                                    if (ViewBag.Complemeto.OrdenCompraPorteador.Iva.ToString() == item.Value)
                                                                    {
                                                                        <option value="@item.Value" selected>@item.Text</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item.Value">@item.Text</option>
                                                                    }
                                                                }
                                                            </select>
                                                            @Html.TextBoxFor(m => m.OrdenCompraPorteador.Iva, new { @class = "form-control", @id = "iva" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraPorteador.Iva, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row clearfix">
                                                    <div class="col-md-5 form-control-label">
                                                        <label for="btnSolicitarPaogPorteador">IMPORTE A PAGAR</label>
                                                    </div>
                                                    <div class="col-md-4 form-control-label text-right">
                                                        
                                                         @Html.LabelFor(m => m.OrdenCompraPorteador.Total, new { id = "ImportePorteador" })
                                                       
                                                        @Html.HiddenFor(m => m.OrdenCompraPorteador.Total)
                                                        @Html.ValidationMessageFor(m => m.OrdenCompraPorteador.Total, "", new { @class = "alert-danger" })
                                                    </div>
                                                    <div class="col-md-3 form-control-label">
                                                        <label for="btnSolicitarPaogPorteador">(En pesos)</label>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row clearfix">
                                                    <div class="col-md-3 col-sm-4 form-control-label">
                                                        <label>Folio Fiscal</label>
                                                    </div>
                                                    <div class="col-md-9 col-sm-8">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.OrdenCompraPorteador.FolioFiscalUUID, new { @class = "form-control", @placeholder = "UUID de la factura" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraPorteador.FolioFiscalUUID, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-3 col-sm-4 form-control-label">
                                                        <label>Folio Factura</label>
                                                    </div>
                                                    <div class="col-md-9 col-sm-8">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.OrdenCompraPorteador.FolioFactura, new { @class = "form-control", @placeholder = "Folio de la factura" })
                                                            @Html.ValidationMessageFor(m => m.OrdenCompraPorteador.FolioFactura, "", new { @class = "alert-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row clearfix">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="submit" ID="btnGuardarDatosPorteador" class="btn btn-raised btn-primary btn-round" value="Guardar" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @if (ViewBag.enabled == false)
                                                            {
                                                                <input type="submit" class="btn btn-raised btn-primary btn-round" disabled formaction=@Url.Action("SolicitarPagoPorteador") value="Solicitar Pago" />
                                                            }
                                                            else
                                                            {
                                                                <input type="submit" class="btn btn-raised btn-primary btn-round" formaction=@Url.Action("SolicitarPagoPorteador") value="Solicitar Pago" />
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading" role="tab" id="headingImagenes">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseImagenes" aria-expanded="false"
                                           aria-controls="collapseImagenes">Imágenes</a>
                                    </h4>
                                </div>
                                <div id="collapseImagenes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingImagenes">
                                    <div class="panel-body">
                                        <div class="blockquote blockquote-info btn-round">
                                            <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                                                @*Imagenes*@
                                                @if (Model.Fotos != null)
                                                {
                                                    foreach (var item in Model.Fotos)
                                                    {
                                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                                            <a href="@item.UrlImg">
                                                                <img class="img-fluid img-thumbnail" src="@item.UrlImg" alt="">
                                                            </a>
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <strong>Nombre: </strong>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    @item.Tipo
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <strong>Evento: </strong>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    @item.Momento
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <strong>Lectura: </strong>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    @item.Lectura
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row clearfix">
                
                <div class="col-sm-4 center">
                    <a href="@Url.Action("Ordenes", "OrdenCompra" )" ID="btnRegresar" class="btn btn-raised btn-primary btn-round" Text="Regresar">
                        Regresar
                    </a>
                </div>
                <div class="col-sm-4 center">
                    <a href="#ModalCancelar" data-toggle="modal" id="btnCancel" data-target="#ModalCancelar" class="btn btn-raised btn-primary btn-round disabled">
                        Cancelar
                    </a>
                </div>
                <div class="col-sm-4 center">
                    <a href="#ModalConfirmacion" data-toggle="modal" id="btnok" data-target="#ModalConfirmacion" class="btn btn-raised btn-primary btn-round ">
                        Terminar
                    </a>
                </div>
            </div>
        }
    </div>
</section>

<script src="~/assets/js/pages/medias/image-gallery.js"></script>
<script src="~/assets/plugins/light-gallery/js/lightgallery-all.min.js"></script>
<script src="~/Scripts/js/OrdenCompraComplementoGasJS.js"></script>
<script src="~/Scripts/js/UtileriasJS.js"></script>
