@model MVC.Presentacion.Models.OrdenCompra.OrdenCompraModel
<!DOCTYPE html>

<html>
<head>

    <style>
        .calculaPrecio {
        }
    </style>
    <script type="text/javascript">
        var CalcularImporte = function () {

            var index;
            var idtxtPrec;
            var idtxtDesc;
            var idddlIVA;
            var idddlIEPS;
            var precio = 0;
            var descuento = 0;
            var cantidad = 0;
            var iva;
            var ieps;
            var total;
            var subtotal;
            var id = $(".calculaPrecio").prevObject[0].activeElement.id;
            if (id == "")
                id = $(".calculaPrecio").prevObject[0].activeElement.dataset.id;

            if (id.includes("Precio")) {
                index = id.replace("OrdenCompraProductos_", "").replace("__Precio", "");
            }
            if (id.includes("Descuento")) {
                index = id.replace("OrdenCompraProductos_", "").replace("__Descuento", "");
            }
            if (id.includes("IVA")) {
                index = id.replace("OrdenCompraProductos_", "").replace("__IVA", "");
            }
            if (id.includes("IEPS")) {
                index = id.replace("OrdenCompraProductos_", "").replace("__IEPS", "");
            }

            idtxtPrec = "#OrdenCompraProductos_" + index + "__Precio";
            idtxtDesc = "#OrdenCompraProductos_" + index + "__Descuento";
            idddlIVA = "#OrdenCompraProductos_" + index + "__IVA";
            idddlIEPS = "#OrdenCompraProductos_" + index + "__IEPS";
            idCantidad = "OrdenCompraProductos_" + index + "__CantidadAComprar";
            idTotlaImporte = "OrdenCompraProductos_" + index + "__Importe";

            precio = parseFloat($(idtxtPrec).val());
            cantidad = parseFloat($("label[for = '" + idCantidad + "']").text());
            descuento = ((precio * cantidad) * ($(idtxtDesc).val() / 100));
            subtotal = (precio * cantidad) - (descuento);
            iva = ((subtotal) * ($(idddlIVA + " option:selected").val().replace("IVA", "") / 100));
            ieps = ((subtotal) * ($(idddlIEPS + " option:selected").val().replace("IEPS", "") / 100));
            total = subtotal + iva + ieps;
            $("label[for = '" + idTotlaImporte + "']").text(total.toFixed(2));
        }

        $(document).ready(function () {
            $("#btnCrear").click(function () {
                var form = $(this).parent("form");
                form.attr('action', '<%= Url.RouteUrl(new { Controller = "OrdenCompra", Action = "CrearOrdenCompra" }) %>');
                form.attr('method', 'post');
            });      
        });

    </script>
</head>

<body>
    @using (Html.BeginForm("CrearOrdenCompra", "OrdenCompra", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IdEmpresa)
        @Html.HiddenFor(m => m.IdSolicitante)
        @Html.HiddenFor(m => m.IdEmpresa)
        @Html.HiddenFor(m => m.FechaRequisicion)
        @Html.HiddenFor(m => m.IdRequisicion)
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
                <p>Espere por favor</p>
            </div>
        </div>
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Compras</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="~/DashBoard/Vista/Dashboard.aspx"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item active">
                                    <label>Compras / Ordern de Compra / Nueva </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label> @Model.Empresa</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <b>Número de Requisición:</b>&nbsp;
                                            <label> @Model.NumeroRequisicion</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-12">
                                    <div class="form-group form-float">
                                        <b>Fecha requerida:</b>
                                        <input type="text" value="@Model.FechaRequisicion" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="form-group form-float">
                                        <b>Solicitante:</b>
                                        <input name="Solicitante" value="@Model.Solicitante" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 form-float">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <b>Motivo de compra:</b>
                                            <textarea name="MotivoCompra" class="form-control  no-resize btn-round" disabled placeholder="Error de carga" rows="4">@Model.MotivoRequisicion</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="form-group form-float">
                                        <div class="form-group">
                                            <b>Se requiere en:</b>
                                            <textarea name="RequeridoEn" class="form-control  no-resize btn-round" disabled placeholder="Error de carga" rows="4">@Model.RequeridoEn</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (ViewBag.NombrePorvedor != null)
                            {
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <b>Proveedor:</b>&nbsp;
                                                <label>@ViewBag.NombrePorvedor</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <dtp:DateTimePicker ID="dtpFechaEntrada" />
                                    </div>
                                </div>
                            }
                            @if (ViewBag.MensajeError != null)
                            {
                                <div class="row clearfix">
                                    <div id="divMensajeError" class="container">
                                        <div class="alert alert-danger">
                                            <div class="alert-icon">
                                                <i class="zmdi zmdi-block"></i>
                                            </div>
                                            <strong>
                                                <label>@ViewBag.MensajeError</label>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row clearfix">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <td><b>Tipo</b></td>
                                                <td><b>Producto</b></td>
                                                <td><b>Cantidad</b></td>
                                                <td><b>Unidad</b></td>
                                                <td><b>Aplicación</b></td>
                                                <td><b>Centro de costo</b></td>
                                                <td><b>Proveedor</b></td>
                                                <td><b>Cuenta Contable</b></td>
                                                <td><b>Precio</b></td>
                                                <td><b>%Desc</b></td>
                                                <td><b>%IVA</b></td>
                                                <td><b>%IEPS</b></td>
                                                <td><b>Importe</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @Html.EditorFor(m => m.OrdenCompraProductos)
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div hidden="hidden" class="card" id="divDatosComplementoGas">
                                <div class="body">
                                    <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="heading_Papeleta">
                                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_Papeleta" aria-expanded="true" aria-controls="collapse_Papeleta">Papeleta</a></h4>
                                            </div>
                                            <div id="collapse_Papeleta" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_Papeleta">
                                                <div class="panel-body">
                                                    <div class="row clearfix">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="dtpFechaPapeleta">Fecha papeleta:</label>
                                                                <dtp:DateTimePicker ID="dtpFechaPapeleta" CssClass="dataTxt form-control-sm" Enabled="True" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="dtpFechaEmbarque">Fecha embarque:</label>
                                                                <dtp:DateTimePicker ID="dtpFechaEmbarque" CssClass="dataTxt form-control-sm" Enabled="True" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="">Número embarque</label>
                                                                <asp:TextBox ID="txtNumEmbarque" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-md-4">
                                                            <label>% Magnatel tractor (papeleta)</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <asp:TextBox ID="txtPorcentajeMagnatelPapeleta" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row clearfix">
                                                        <h6>Tractor</h6>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Placa tractor:</label>
                                                                <asp:TextBox ID="txtPlacaTractor" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Nombre operador:</label>
                                                                <asp:TextBox ID="txtNombreOperador" CssClass="form-control" />
                                                            </div>

                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Presión tanque tractor:</label>
                                                                <asp:TextBox ID="txtPrecsionTantqueTractor" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Número tanque tractor:</label>
                                                                <asp:TextBox ID="txtNumeroTanqueTractor" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Capasidad (Ltr) tanque tractor:</label>
                                                                <asp:TextBox ID="txtCapasidadLtrTanqueTractor" CssClass="form-control " />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>% Magnatel tractor (Ocultar)</label>
                                                                <asp:TextBox ID="txtPorcentajeMagnatelTractorOcultar" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row clearfix">
                                                        <h6>Descarga</h6>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Fecha descarga:</label>
                                                                <dtp:DateTimePicker ID="dtpFechaDescarga" CssClass="dataTxt" Enabled="True" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-md-3 content-center">
                                                            <div class="form-group">
                                                                <label>% Magnatel Tractor</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Inicial</label>
                                                                <asp:TextBox ID="txtMagnatelTractorInicial" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Final</label>
                                                                <asp:TextBox ID="txtMagnatelTractorFinal" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 content-center">
                                                            <div class="checkbox">
                                                                <input id="chBoxAlmacenPrestado" type="checkbox">
                                                                <label for="chBoxAlmacenPrestado">¿Almacen alterno?</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-md-3 content-center">
                                                            <div class="form-group">
                                                                <label>% Magnatel Almacen</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Inicial</label>
                                                                <asp:TextBox ID="txtMagnatelAlmacenInicial" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Final</label>
                                                                <asp:TextBox ID="txtMagnatelAlmacenFinal" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row clearfix">
                                                        <h6>Kilos Finales</h6>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Papeleta</label>
                                                                <asp:TextBox ID="txtKFinalesPapeleta" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Descargados</label>
                                                                <asp:TextBox ID="txtKFinalesDescargados" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Diferencia</label>
                                                                <asp:TextBox ID="txtKFinalesDiferencia" CssClass="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row clearfix">
                                                        <div class="col-md-2">
                                                            <asp:Button ID="btnGuardarDatosPapeleta" CssClass="btn btn-raised btn-primary btn-round" Text="Guardar" OnClick="btnGuardarDatosPapeleta_Click" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingCostos">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseCostos" aria-expanded="false"
                                                       aria-controls="collapseCostos">Costos</a>
                                                </h4>
                                            </div>
                                            <div id="collapseCostos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCostos">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <%--Pago al expedidor de gas--%>
                                                        <div class="col-md-6 blockquote blockquote-info">
                                                            <div class="row clearfix">
                                                                <b>Pago al expedidor de gas </b>
                                                            </div>
                                                            <hr>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="txtReferenciaPormedioMensualGallon">Referencia promedio mensual MB Non Tet Propano Gallon</label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <asp:TextBox ID="txtReferenciaPormedioMensualGallon" CssClass="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="txtReferenciaPormedioMensualGallon">(En dolares)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="txtTarifaServicioGallon">Tarifa de Servicio por gallon</label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <asp:TextBox ID="txtTarifaServicioGallon" CssClass="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="txtTarifaServicioGallon">(En dolares)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="txtTipoCambioDOF">Tipo de cambio DOF:</label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <asp:TextBox ID="txtTipoCambioDOF" CssClass="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="form-control-label">(En pesos)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="lbPlPrecioPorGalon">Precio por galon</label>
                                                                </div>
                                                                <div class="col-md-4 text-right">
                                                                    <div class="form-group">
                                                                        <div class="form-group">
                                                                            <asp:Label ID="lbPlPrecioPorGalon" Text="$ 0.00" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="lbPlPrecioPorGalon">(En pesos)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-4 form-control-label">
                                                                    <label for="txtFactorConvercionGaL">Factor de convercion Galones a litros:</label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <asp:TextBox ID="txtFactorConvercionGaL" CssClass="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="lblImporteLitros">Importe en Litros</label>
                                                                </div>
                                                                <div class="col-md-4 text-right">
                                                                    <div class="form-group">
                                                                        <asp:Label ID="lblImporteLitros" Text="$ 0.00" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="lblImporteLitros">(En pesos)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-4 form-control-label">
                                                                    <label for="txtFactorConvercionaKg">Factor de conversion a Kilogramos:</label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <asp:TextBox ID="txtFactorConvercionaKg" CssClass="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="txtPVMP">PVPM($/Kg) CON DESCUENTO:</label>
                                                                </div>
                                                                <div class="col-md-4 text-right">
                                                                    <div class="form-group">
                                                                        <asp:Label ID="txtPVMP" Text="$ 0.00" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="txtPVMP">(En pesos)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-4 form-control-label">
                                                                    <label for="ddlIVACostos">IVA</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <asp:DropDownList ID="ddlIVACostos" CssClass="form-control z-index">
                                                                        </asp:DropDownList>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="txtPrecioConIVA">PRECIO DE VENTA CON IVA:</label>
                                                                </div>
                                                                <div class="col-md-4 text-right">
                                                                    <div class="form-group">
                                                                        <asp:Label ID="txtPrecioConIVA" Text="$ 0.00" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="txtPrecioConIVA">(En pesos)</label>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="btnSolicitarPagoExpedidor">IMPORTE A PAGAR</label>
                                                                </div>
                                                                <div class="col-md-4 form-control-label text-right">
                                                                    <asp:Label ID="lblImporteAPagar" Text="$ 0.00" />
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="lblImporteAPagar">(En pesos)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <asp:Button ID="btnguardarDatosExpedidor" CssClass="btn btn-raised btn-primary btn-round" Text="Guardar" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <asp:Button ID="btnSolicitarPagoExpedidor" CssClass="btn btn-raised btn-primary btn-round" Text="Solisitar pago" OnClick="btnSolicitarPagoExpedidor_Click" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <%--pago al porteador--%>
                                                        <div class="col-md-6 blockquote blockquote-info">
                                                            <div class="row clearfix">
                                                                <b>Pago al porteador de gas</b>
                                                            </div>
                                                            <hr>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="txtFactorConversion">Factor de conversión</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <asp:TextBox ID="txtFactorConversion" CssClass="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="lblPrecioTransporte">Precio del transporte:</label>
                                                                </div>
                                                                <div class="col-md-4 text-right">
                                                                    <div class="form-group">
                                                                        <asp:Label ID="lblPrecioTransporte" Text="$ 0.00" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3  form-control-label">
                                                                    <label for="lblPrecioTransporte">(En pesos)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="txtCasetas">Casetas:</label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <asp:TextBox ID="txtCasetas" CssClass="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="txtCasetas">(En pesos)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="lblSubtotal">Subtotal:</label>
                                                                </div>
                                                                <div class="col-md-4 text-right">
                                                                    <div class="form-group">
                                                                        <asp:Label ID="lblSubtotal" Text="$ 0.00" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="lblSubtotal">(En pesos)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-4 form-control-label">
                                                                    <label for="ddlIvaPorteador">IVA</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <asp:DropDownList ID="ddlIvaPorteador" CssClass="form-control z-index">
                                                                        </asp:DropDownList>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row clearfix">
                                                                <div class="col-md-5 form-control-label">
                                                                    <label for="btnSolicitarPaogPorteador">IMPORTE A PAGAR</label>
                                                                </div>
                                                                <div class="col-md-4 form-control-label text-right">
                                                                    <asp:Label ID="ImportePagarPorteador" Text="$ 00.0" />
                                                                </div>
                                                                <div class="col-md-3 form-control-label">
                                                                    <label for="btnSolicitarPaogPorteador">(En pesos)</label>
                                                                </div>
                                                            </div>
                                                            <div class="row clearfix">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <asp:Button ID="btnGuardarDatosPorteador" CssClass="btn btn-raised btn-primary btn-round" Text="Guardar" OnClick="btnSolicitarPaogPorteador_Click" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <asp:Button ID="btnSolicitarPaogPorteador" CssClass="btn btn-raised btn-primary btn-round" Text="Solicitar Pago" OnClick="btnSolicitarPaogPorteador_Click" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div hidden="hidden" class="card" id="divImagenes">
                                <div class="body">
                                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                                        <!-- Imagenes -->
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                            <a href="../../assets/images/image-gallery/1.jpg">
                                                <img class="img-fluid img-thumbnail" src="../../assets/images/image-gallery/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                            <a href="../../assets/images/image-gallery/2.jpg">
                                                <img class="img-fluid img-thumbnail" src="../../assets/images/image-gallery/2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                            <a href="../../assets/images/image-gallery/3.jpg">
                                                <img class="img-fluid img-thumbnail" src="../../assets/images/image-gallery/3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b-20">
                                            <a href="../../assets/images/image-gallery/4.jpg">
                                                <img class="img-fluid img-thumbnail" src="../../assets/images/image-gallery/4.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-4 center">
                                    <asp:Button ID="btnRegresar" CssClass="btn btn-raised btn-primary btn-round" Text="Regresar" OnClick="btnRegresar_Click" />
                                </div>
                                <div class="col-sm-4 center">
                                    <a href="#ModalCancelar" data-toggle="modal" id="btnCancel" data-target="#ModalCancelar" class="btn btn-raised btn-primary btn-round disabled">
                                        Cancelar
                                    </a>
                                </div>
                                <div class="col-sm-4 center">
                                    <a href="#ModalConfirmacion" data-toggle="modal" id="btnok" data-target="#ModalConfirmacion" class="btn btn-raised btn-primary btn-round ">
                                        Crear
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalConfirmacionLabel">¿Esta seguro?</h4>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Si" id="btnCrear" class="btn btn-raised btn-primary btn-round" />

                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalCancelar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalCancelarLabel">Motivo de cancelcion</h4>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            <div class="col-sm-12">
                                <asp:TextBox ID="txtMotivoCancela" TextMode="MultiLine" CssClass="form-control tex" Rows="5" placeholder="Cual es el motivo de la cancelacion..."></asp:TextBox>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <asp:Button ID="btnCancelar" CssClass="btn btn-raised btn-primary btn-round" Text="Cancelar" OnClick="btnCancelar_Click" Enabled="false" />
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalMensaje" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalMensajeLabel">Orden de Compra exitosa</h4>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            <div class="col-sm-12">
                                <asp:Label ID="lblMensajeOrdenCompra" TextMode="MultiLine" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <asp:Button ID="btnCrear12" CssClass="btn btn-raised btn-primary btn-round" Text="Crear" OnClick="BtnCrear_Click" />
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/jquery-ui.js")
</html>
