@using MVC.Presentacion.Models.OrdenCompra;
@using PagedList.Mvc;
@using PagedList;
@using System.Configuration;
@model OrdenesCompraModel
@{
    string EnabledAdminCentral = Convert.ToBoolean(ViewBag.EsAdminCentral).Equals(false) ? "disabled" : "";
}
<link rel="stylesheet" href="~/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />

<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>

<script type="text/javascript">
    var mensaje = '@ViewBag.Msj';
    if (mensaje != '') {
        $(window).on("load", showNotification('alert-success', mensaje, 'top', 'center', '', ''));
    }
</script>
<body style="padding-top:10px">
    @using (Html.BeginForm("Ordenes", "OrdenCompra", FormMethod.Post))
    {
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
                <p>Espere por favor</p>
            </div>
        </div>
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Compras</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href=@Url.Action("Inicio", "Home")><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Compras</li>
                                <li class="breadcrumb-item">Ordern de Compra</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <strong>Gasera: </strong>
                                    <select name="IdEmpresa" class="form-control show-tick selectpicker" @EnabledAdminCentral data-live-search="true">
                                        @foreach (var lst in ViewBag.Empresas)
                                        {
                                            <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <strong>Buscar:</strong>
                                        <input name="NumRequisicion" class="form-control" placeholder="N° de Requisición" />
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <td><b>Gasera</b></td>
                                                <td><b>N° Requisición</b></td>
                                                <td><b>Fecha Requerida</b></td>
                                                <td><b>Solicitante</b></td>
                                                <td><b>Estatus</b></td>
                                                <td><b>Accion</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var _req in ViewBag.Requisiciones)
                                            {
                                                <tr>
                                                    <td>@_req.NombreComercial</td>
                                                    <td>@_req.NumeroRequisicion</td>
                                                    <td>@_req.FechaRequerida.ToString(ConfigurationManager.AppSettings["FechaHora_F24H"])</td>
                                                    <td>@_req.UsuarioSolicitante</td>
                                                    <td>Generar orden de compra</td>
                                                    <td>
                                                        <a ID="lblAction" href="@Url.Action("OrdenCompra", "OrdenCompra", new { id = _req.IdRequisicion })">
                                                            <i class="material-icons">launch</i>
                                                            <span class="icon-name"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row clearfix text-center">
                                <div class="col-md-5">
                                    Pagina @(ViewBag.Requisiciones.PageCount < ViewBag.Requisiciones.PageNumber ? 0 : ViewBag.Requisiciones.PageNumber) de @ViewBag.Requisiciones.PageCount
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    @Html.PagedListPager((IPagedList)ViewBag.Requisiciones, pageR => Url.Action("Ordenes", new { pageR, @class = "btn btn-primary btn-simple" }))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input name="NumeroRequisicion" class="form-control" placeholder="N° de Requisición" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input name="NumeroOrdenCompra" class="form-control" placeholder="N° Orden de Compra" />
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>Proveedor</label>
                                    <select name="IdProveedor" class="form-control z-index show-tick selectpicker" data-live-search="true">
                                        @foreach (var lst in ViewBag.Proveedores)
                                        {
                                            <option value="@lst.IdProveedor">@lst.NombreComercial</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label>Estatus</label>
                                    <select name="Estatus" class="form-control z-index show-tick selectpicker" data-live-search="true">
                                        @foreach (var lst in ViewBag.Estatus)
                                        {
                                            <option value="@lst.IdOrdenCompraEstatus">@lst.Descripcion</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="demo-masked-input">
                                <div class="row clearfix">
                                    <div class="col-sm-3">
                                        <label>Fecha de registro</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                                            @Html.TextBoxFor(model => model.FechaRegistroDe, new { @class = "form-control date", @placeholder = "Ej: 30/07/2016" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FechaRequeridaDe, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-3">
                                        <label>&nbsp; </label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                                            @Html.TextBoxFor(model => model.FechaRegistroA, new { @class = "form-control date", @placeholder = "Ej: 30/07/2016" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FechaRequeridaDe, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Fecha de requisición</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                                            @Html.TextBoxFor(model => model.FechaRequeridaDe, new { @class = "form-control date", @placeholder = "Ej: 30/07/2016" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FechaRequeridaDe, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-3">
                                        <label>&nbsp;</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i> </span>
                                            @Html.TextBoxFor(model => model.FechaRequeridaA, new { @class = "form-control date", @placeholder = "Ej: 30/07/2016" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FechaRequeridaDe, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="input-group">
                                            <b>&nbsp; </b>

                                            <button ID="lblAction" class="tn btn-danger btn-simple btn-round btn-sm" formaction="Buscar">
                                                <i class="material-icons">search</i>
                                                <span class="icon-name"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <td><strong>Gasera</strong></td>
                                                <td><strong>N° Requisición</strong></td>
                                                <td><strong>No. Orden de Compra</strong></td>
                                                <td><strong>Solicitante</strong></td>
                                                <td><strong>Proveedor</strong></td>
                                                <td><strong>Importe</strong></td>
                                                <td><strong>Estatus</strong></td>
                                                <td><strong>Accion</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var _oc in ViewBag.Ordenes)
                                            {
                                                <tr>
                                                    <td>@_oc.Empresa</td>
                                                    <td>@_oc.NumeroRequisicion</td>
                                                    <td>@_oc.NumOrdenCompra</td>
                                                    <td>@_oc.Solicitante</td>
                                                    <td>@_oc.Proveedor</td>
                                                    <td>@_oc.Total</td>
                                                    <td>@_oc.OrdenCompraEstatus</td>
                                                    <td>
                                                        @if (_oc.IdOrdenCompraEstatus.Equals(OrdenCompraEstatusEnum.Espera_autorizacion))
                                                        {
                                                            <a ID="lbAutOC" href="@Url.Action("OrdenCompraAutorizacion", "OrdenCompra", new { id = _oc.IdOrdenCompra })">
                                                                <i class="material-icons">spellcheck</i>
                                                                <span class="icon-name"></span>
                                                            </a>
                                                        }
                                                        @if ((_oc.EsGas == false && _oc.EsTransporteGas == false) && _oc.IdOrdenCompraEstatus.Equals(OrdenCompraEstatusEnum.Proceso_compra))
                                                        {
                                                            <a ID="lbAgregarMercancia" href="@Url.Action("EntradaMercancia", "OrdenCompra", new { idOrden = _oc.IdOrdenCompra })">
                                                                <i class="material-icons"> assignment_turned_in</i>
                                                                <span class="icon-name"></span>
                                                            </a>
                                                            @*<a ID="lbPDF" href="@Url.Action("", "OrdenCompra", new { id = _oc.IdOrdenCompra })">
                                    <i class="material-icons">picture_as_pdf</i>
                                    <span class="icon-name"></span>
                                </a>*@
                                                        }
                                                        @if (_oc.OrdenCompraEstatus.Equals(OrdenCompraEstatusEnum.Compra_cancelada))
                                                        {
                                                            @*<a ID="lbVisualizarOC" href="@Url.Action("OrdenCompraResumen", "OrdenCompra", new { id = _oc.IdOrdenCompra })">
                                    <i class="material-icons">remove_red_eye</i>
                                    <span class="icon-name"></span>
                                </a>*@
                                                        }
                                                        @if (_oc.IdOrdenCompraEstatus.Equals(OrdenCompraEstatusEnum.SolicitudPago))
                                                        {
                                                            <a ID="lbAutOC" href="@Url.Action("OrdenCompraPago", "OrdenCompra", new { id = _oc.IdOrdenCompra })">
                                                                <i class="material-icons">attach_money</i>
                                                                <span class="icon-name"></span>
                                                            </a>
                                                        }
                                                        @if ((_oc.EsGas == true || _oc.EsTransporteGas == true) && _oc.IdOrdenCompraEstatus.Equals(OrdenCompraEstatusEnum.EnComplementoCompra))
                                                        {
                                                            <a ID="lbVisualizarOC" href="@Url.Action("OrdenCompraComplementoGas", "OrdenCompra", new { id = _oc.IdOrdenCompra })">
                                                                <i class="material-icons">local_gas_station</i>
                                                                <span class="icon-name"></span>
                                                            </a>
                                                        }
                                                        @if ((_oc.EsGas == false && _oc.EsTransporteGas == false) && _oc.IdOrdenCompraEstatus.Equals(OrdenCompraEstatusEnum.EnComplementoCompra))
                                                        {
                                                            <a ID="lbVisualizarOC" href="@Url.Action("OrdenCompraComplemento", "OrdenCompra", new { id = _oc.IdOrdenCompra })">
                                                                <i class="material-icons">input</i>
                                                                <span class="icon-name"></span>
                                                            </a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row clearfix text-center">
                                <div class="col-md-5">
                                    Pagina @(ViewBag.Ordenes.PageCount < ViewBag.Ordenes.PageNumber ? 0 : ViewBag.Ordenes.PageNumber) de @ViewBag.Ordenes.PageCount
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    @Html.PagedListPager((IPagedList)ViewBag.Ordenes, pageO => Url.Action("Ordenes", new { pageO, @class = "btn btn-primary btn-simple" }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
<script src="assets/js/pages/forms/advanced-form-elements.js"></script>
<script src="~/Scripts/js/OrdenesJS.js"></script>
