@model MVC.Presentacion.Models.OrdenCompra.OrdenCompraDTO
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
<body>
    @using (Html.BeginForm("Autorizar", "OrdenCompra", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IdOrdenCompra)
        @Html.HiddenFor(m => m.FechaAutorizacion)
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Compras</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href=@Url.Action("Inicio", "Home")><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Compras</li>
                                <li class="breadcrumb-item">Orden de Compra </li>
                                <li class="breadcrumb-item">Autorizar</li>
                               
                             
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label> @Model.Empresa</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <b>Número de Requisición:</b>&nbsp;
                                            <label> @Model.NumeroRequisicion</label>
                                        </div>
                                        <div class="input-group">
                                            <b>Número de Orden de Compra:</b>&nbsp;
                                            <label>@Model.NumOrdenCompra</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-12">
                                    <div class="form-group form-float">
                                        <b>Fecha requerida:</b>
                                        @Html.TextBoxFor(m => m.FechaRequerida, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="form-group form-float">
                                        <b>Solicitante:</b>
                                        @Html.TextBoxFor(m => m.Solicitante, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 form-float">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <b>Motivo de compra:</b>
                                            @Html.TextAreaFor(m => m.MotivoRequisicion, new { @class = "form-control  no-resize btn-round", @placeholder = "Error de carga", @rows = "4", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="form-group form-float">
                                        <div class="form-group">
                                            <b>Se requiere en:</b>
                                            @Html.TextAreaFor(m => m.RequeridoEn, new { @class = "form-control  no-resize btn-round", @placeholder = "Error de carga", @rows = "4", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <b>Proveedor: </b>
                                            <label>@Model.Proveedor </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <td><strong>Tipo</strong></td>
                                                <td><strong>Producto</strong></td>
                                                <td><strong>Requeridos</strong></td>
                                                <td><strong>Unidad</strong></td>
                                                <td><strong>Centro de costo</strong></td>
                                                <td><strong>Cuenta Contable</strong></td>
                                                <td><strong>Cantidad</strong></td>
                                               @if (Model.EsTransporteGas == false && Model.EsGas == false)
                                               {
                                                    <td><strong>Precio</strong></td>
                                                    <td><strong>%Desc</strong></td>
                                                    <td><strong>%IVA</strong></td>
                                                    <td><strong>%Ieps</strong></td>
                                                    <td><strong>Importe</strong></td>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var m in Model.Productos)
                                            {
                                                <tr>
                                                    <td>@m.ProductoServicioTipo</td>
                                                    <td>@m.Producto</td>
                                                    @if (Model.EsTransporteGas == false)
                                                    {
                                                        <td>@m.CantidadAComprar</td>
                                                    }
                                                    else
                                                    {
                                                        <td>N/A</td>
                                                    }                                              
                                                    <td>@m.UnidadMedida</td>
                                                    <td>@m.CentroCosto</td>
                                                    <td>@m.CuentaContable</td>   
                                                    @if (Model.EsTransporteGas == false)
                                                    {
                                                        <td>@m.Cantidad</td>
                                                    }
                                                    else
                                                    {
                                                        <td>N/A</td>
                                                    }                           
                                                    @if (Model.EsTransporteGas == false && Model.EsGas == false)
                                                    {                                                        
                                                        <td>@m.Precio</td>
                                                        <td>@m.Descuento</td>
                                                        <td>@m.IVA</td>
                                                        <td>@m.IEPS</td>
                                                        <td>@m.Importe</td>
                                                    }                                                
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @if (ViewBag.MensajeError != null)
                            {
                                <div class="row clearfix">
                                    <div id="divMensajeError" class="container">
                                        <div class="alert alert-danger">
                                            <div class="alert-icon">
                                                <i class="zmdi zmdi-block"></i>
                                            </div>
                                            <strong>
                                                <label>@ViewBag.MensajeError</label>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row clearfix">
                                <div class="col-sm-4 center">
                                    <a href="@Url.Action("Ordenes", "OrdenCompra" )" ID="btnRegresar" class="btn btn-raised btn-primary btn-round" Text="Regresar">
                                        Regresar
                                    </a>
                                </div>
                                <div class="col-sm-4 center">
                                    <a href="#ModalCancelar" data-toggle="modal" id="btnCancel" data-target="#ModalCancelar" class="btn btn-raised btn-primary btn-round disabled">
                                        Cancelar
                                    </a>
                                </div>
                                <div class="col-sm-4 center">
                                    <a href="#ModalConfirmacion" data-toggle="modal" id="btnok" data-target="#ModalConfirmacion" class="btn btn-raised btn-primary btn-round ">
                                        Autorizar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalConfirmacionLabel">¿Está seguro?</h4>
                    </div>
                    <div class="modal-footer">
                        <input id="btnAutorizar" type="submit" value="Si" class="btn btn-raised btn-primary btn-round" />
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalCancelar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalCancelarLabel">Motivo de cancelación</h4>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            <div class="col-sm-12">
                                <asp:TextBox ID="txtMotivoCancela" TextMode="MultiLine" CssClass="form-control tex" Rows="5" placeholder="Cual es el motivo de la cancelación..."></asp:TextBox>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <asp:Button ID="btnCancelar" CssClass="btn btn-raised btn-primary btn-round" Text="Cancelar" OnClick="btnCancelar_Click" Enabled="false" />
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalMensaje" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalMensajeLabel">Orden de Compra exitosa</h4>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            <div class="col-sm-12">
                                <asp:Label ID="lblMensajeOrdenCompra" TextMode="MultiLine" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <asp:Button ID="btnCrear12" CssClass="btn btn-raised btn-primary btn-round" Text="Crear" OnClick="BtnCrear_Click" />
                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>