@using MVC.Presentacion.Models.OrdenCompra;
@using PagedList.Mvc;
@using PagedList;
@using System.Configuration;
@model OrdenesCompraModel
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
@{
    string EnabledAdminCentral = Convert.ToBoolean(ViewBag.EsAdminCentral).Equals(false) ? "disabled" : "";
}

<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>

<script type="text/javascript">
    var mensaje = '@ViewBag.Msj';
    if (mensaje != '') {
        $(window).on("load", showNotification('alert-success', mensaje, 'top', 'center', '', ''));
    }
</script>
<body>
    @using (Html.BeginForm("Ordenes", "OrdenCompra", FormMethod.Post))
    {
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
                <p>Espere por favor</p>
            </div>
        </div>
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Compras</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href=@Url.Action("Inicio", "Home")><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Compras</li>
                                <li class="breadcrumb-item">Orden de Compra</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <strong>Gasera: </strong>
                                    <select name="IdEmpresa" class="form-control show-tick selectpicker" @EnabledAdminCentral data-live-search="true">
                                        @foreach (var lst in ViewBag.Empresas)
                                        {
                                            <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <strong>Buscar:</strong>
                                        <input name="NumRequisicion" class="form-control" placeholder="N° de Requisición" />
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <td><b>Gasera</b></td>
                                                <td><b>N° Requisición</b></td>
                                                <td><b>Fecha Requerida</b></td>
                                                <td><b>Solicitante</b></td>
                                                <td><b>Estatus</b></td>
                                                <td><b>Acción</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var _req in ViewBag.Requisiciones)
                                            {
                                                <tr>
                                                    <td>@_req.NombreComercial</td>
                                                    <td>@_req.NumeroRequisicion</td>
                                                    <td>@_req.FechaRequerida.ToString(ConfigurationManager.AppSettings["FechaHora_F24H"])</td>
                                                    <td>@_req.UsuarioSolicitante</td>
                                                    <td>Generar orden de compra</td>
                                                    <td>
                                                        <a href="@Url.Action("OrdenCompra", "OrdenCompra", new { id = _req.IdRequisicion })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <i class="material-icons">launch</i>
                                                            <span>Genera orden compra</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row clearfix text-center">
                                <div class="col-md-5">
                                    Página @(ViewBag.Requisiciones.PageCount < ViewBag.Requisiciones.PageNumber ? 0 : ViewBag.Requisiciones.PageNumber) de @ViewBag.Requisiciones.PageCount
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    @Html.PagedListPager((IPagedList)ViewBag.Requisiciones, pageR => Url.Action("Ordenes", new { pageR, @class = "btn btn-primary btn-simple" }))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="body">        
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                @Html.Partial("_CB_Ordenes", (List<OrdenCompraDTO>)ViewBag.Ordenes)                               
                            </div>                       
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
@*<script src="~/assets/js/pages/forms/advanced-form-elements.js"></script>*@
<script src="~/Scripts/js/OrdenesJS.js"></script>
