@using MVC.Presentacion.Models.OrdenCompra;
@model OrdenesCompraModel
@{
    string EnabledAdminCentral = Convert.ToBoolean(ViewBag.EsAdminCentral).Equals(false) ? "disabled" : "";
}
@using (Html.BeginForm("OrdenCompra", "OrdenCompra", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Compras</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="~/DashBoard/Vista/Dashboard.aspx"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">
                                <Label> Compras / Ordern de Compra </Label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select name="IdEmpresa" class="form-control show-tick selectpicker" @EnabledAdminCentral data-live-search="true">
                                    @foreach (var lst in ViewBag.Empresas)
                                    {
                                    <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input name="NumRequisicion" class="form-control" placeholder="N° de Requisición" />
                            </div>
                        </div>
                    </div>
                    <div class="body row clearfix">
                        <div class="table-responsive">
                            <table class="table table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <td><b>Gasera</b></td>
                                        <td><b>N° Requisición</b></td>
                                        <td><b>Fecha Requerida</b></td>
                                        <td><b>Solicitante</b></td>
                                        <td><b>Estatus</b></td>
                                        <td><b>Accion</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var _req in Model.Requisiciones)
                                    {
                                    <tr>
                                        <td>@_req.NombreComercial</td>
                                        <td>@_req.NumeroRequisicion</td>
                                        <td>@_req.FechaRequerida</td>
                                        <td>@_req.UsuarioSolicitante</td>
                                        <td>@_req.RequisicionEstatus</td>
                                        <td>
                                            <a ID="lblAction" href="@Url.Action("OrdenCompra", "OrdenCompra", new { id = _req.IdRequisicion })">
                                                <i class="material-icons">launch</i>
                                                <span class="icon-name"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input name="NumeroRequisicion" class="form-control" placeholder="N° de Requisición" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input name="NumeroOrdenCompra" class="form-control" placeholder="N° Orden de Compra" />
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <label>Proveedor</label>
                                <select name="IdProveedor" class="form-control show-tick selectpicker" @EnabledAdminCentral data-live-search="true">
                                    @foreach (var lst in ViewBag.Proveedores)
                                    {
                                    <option value="@lst.IdProveedor">@lst.NombreComercial</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Estatus</label>
                                <select name="Estatus" class="form-control show-tick selectpicker" @EnabledAdminCentral data-live-search="true">
                                    @foreach (var lst in ViewBag.Estatus)
                                    {
                                    <option value="@lst.IdEstatus">@lst.Descripcion</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <label>Fecha de registro</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaRegistroDe, new { htmlAttributes = new { @class = "from-control" } })
                                    @Html.ValidationMessageFor(model => model.FechaRequeridaDe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>&nbsp; </label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaRegistroA, new { htmlAttributes = new { @class = "from-control" } })
                                    @Html.ValidationMessageFor(model => model.FechaRequeridaDe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Fecha de requisición</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaRequeridaDe, new { htmlAttributes = new { @class = "from-control" } })
                                    @Html.ValidationMessageFor(model => model.FechaRequeridaDe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>&nbsp;</label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FechaRequeridaA, new { htmlAttributes = new { @class = "from-control" } })
                                    @Html.ValidationMessageFor(model => model.FechaRequeridaDe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <b>&nbsp; </b>
                                <div class="input-group">
                                    <button ID="lblAction" class="tn btn-danger btn-simple btn-round btn-sm" formaction="Buscar">
                                        <i class="material-icons">search</i>
                                        <span class="icon-name"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="table-responsive">
                                <table class="table table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <td><b>Gasera</b></td>
                                            <td><b>N° Requisición</b></td>
                                            <td><b>No. Orden de Compra</b></td>
                                            <td><b>Solicitante</b></td>
                                            <td><b>Proveedor</b></td>
                                            <td><b>Importe</b></td>
                                            <td><b>Estatus</b></td>
                                            <td><b>Accion</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var _oc in Model.OrdenesCompra)
                                            {
                                            <tr>
                                                <td>@_oc.Empresa</td>
                                                <td>@_oc.NumeroRequisicion</td>
                                                <td>@_oc.NumOrdenCompra</td>
                                                <td>@_oc.usuarioSolicitante</td>
                                                <td>@_oc.Proveedor</td>
                                                <td>@_oc.Total</td>
                                                <td>@_oc.OrdenCompraEstatus</td>
                                                <td>
                                                    @if (_oc.OrdenCompraEstatus.Equals(OrdenCompraEstatusEnum.Espera_autorizacion))
                                                        {
                                                        <a ID="lbAutOC" href="@Url.Action("OrdenCompra", "OrdenCompra", new { id = _oc.IdOrdenCompra })">
                                                            <i class="material-icons">spellcheck</i>
                                                            <span class="icon-name"></span>
                                                        </a>
                                                        }
                                                    @if (_oc.OrdenCompraEstatus.Equals(OrdenCompraEstatusEnum.Proceso_compra))
                                                        {
                                                        <a ID="lbAgregarMercancia" href="@Url.Action("OrdenCompra", "OrdenCompra", new { id = _oc.IdOrdenCompra })">
                                                            <i class="material-icons"> assignment_turned_in</i>
                                                            <span class="icon-name"></span>
                                                        </a>
                                                        <a ID="lbPDF" href="@Url.Action("OrdenCompra", "OrdenCompra", new { id = _oc.IdOrdenCompra })">
                                                            <i class="material-icons">picture_as_pdf</i>
                                                            <span class="icon-name"></span>
                                                        </a>
                                                        }
                                                    @if(_oc.OrdenCompraEstatus.Equals(OrdenCompraEstatusEnum.Compra_exitosa) || _oc.OrdenCompraEstatus.Equals(OrdenCompraEstatusEnum.Compra_cancelada))
                                                        {

                                                        <a ID="lbVisualizarOC" href="@Url.Action("OrdenCompra", "OrdenCompra", new { id = _oc.IdOrdenCompra })">
                                                            <i class="material-icons">remove_red_eye</i>
                                                            <span class="icon-name"></span>
                                                        </a>
                                                        }
                                                </td>
                                            </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    }



