@model MVC.Presentacion.Models.OrdenCompra.OrdenCompraDTO
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var mensaje = '@ViewBag.Msj';
    if (mensaje != '') {
        $(window).on("load", showNotification('alert-success', mensaje, 'top', 'center', '', ''));
    }
</script>
<script src="~/Scripts/js/OrdenCompraComplementoJS.js"></script>
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
<section class="content home">
    <div class="container-fluid">
        @using (Html.BeginForm("OrdenCompraComplemento", "OrdenCompra", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.IdEmpresa)
            @Html.HiddenFor(m => m.IdEmpresa)
            @Html.HiddenFor(m => m.IdRequisicion)
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Compras</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href=@Url.Action("Inicio", "Home")><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item">Compras</li>
                            <li class="breadcrumb-item">Orden de Compra</li>
                            <li class="breadcrumb-item">Complemento</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> @Model.Empresa</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <b>Número de Requisición:</b>&nbsp;
                                        <label> @Model.NumeroRequisicion</label>
                                    </div>
                                    <div class="input-group">
                                        <b>Número de Orden de Compra:</b>&nbsp;
                                        <label> @Model.NumOrdenCompra</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-12">
                                <div class="form-group form-float">
                                    <b>Fecha requerida:</b>
                                    <input type="text" value="@Model.FechaRequerida" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <div class="form-group form-float">
                                    <b>Solicitante:</b>
                                    <input name="Solicitante" value="@Model.Solicitante" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 form-float">
                                <div class="form-group">
                                    <div class="form-group">
                                        <b>Motivo de compra:</b>
                                        <textarea name="MotivoCompra" class="form-control  no-resize btn-round" disabled placeholder="Error de carga" rows="4">@Model.MotivoRequisicion</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <div class="form-group form-float">
                                    <div class="form-group">
                                        <b>Se requiere en:</b>
                                        <textarea name="RequeridoEn" class="form-control  no-resize btn-round" disabled placeholder="Error de carga" rows="4">@Model.RequeridoEn</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.NombrePorvedor != null)
                        {
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <b>Proveedor:</b>&nbsp;
                                            <label>@ViewBag.NombrePorvedor</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <dtp:DateTimePicker ID="dtpFechaEntrada" />
                                </div>
                            </div>
                        }
                        @if (ViewBag.MensajeError != null)
                        {
                            <div class="row clearfix">
                                <div id="divMensajeError" class="container">
                                    <div class="alert alert-danger">
                                        <div class="alert-icon">
                                            <i class="zmdi zmdi-block"></i>
                                        </div>
                                        <strong>
                                            <label>@ViewBag.MensajeError</label>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <select name="IdProveedor" class="form-control show-tick z-index" data-live-search="true">
                                    @foreach (var item in ViewBag.Proveedores)
                                    {
                                        if (item.IdProveedor == Model.IdProveedor)
                                        {
                                            <option value="@item.IdProveedor" selected="selected">@item.NombreComercial</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdProveedor">@item.NombreComercial</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="row clearfix blockquote blockquote-info btn-round">
                            <div class="table-responsive">
                                @Html.Partial("_ProductComplementoPartial", Model.Productos)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Factura</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-md-3 form-control-label">
                                        <label>Folio Fiscal</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.FolioFiscalUUID, new { @class = "form-control", @placeholder = "UUID de la factura" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-3 form-control-label">
                                        <label>Folio Factura</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.FolioFactura, new { @class = "form-control", @placeholder = "Folio de la factura" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-8 offset-md-3 offset-sm-2">
                                        <input type="button" value="Guardar" formaction="" class="btn btn-raised btn-primary btn-round waves-effect" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Resumen de pagos</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix blockquote blockquote-info btn-round">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <td><b>Fecha Entrada</b></td>
                                                    <td><b>Fecha Pago</b></td>
                                                    <td><b>$ Total</b></td>
                                                    <td><b>$ Pagado</b></td>
                                                    <td><b>$ Por Pagar</b></td>
                                                    <td><b>Forma Pago</b></td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <label>Pagar: </label>
                                    @Html.TextBoxFor(m => m.MontoAPagar, new { @class = "form-control" })
                                    <input type="button" value="Solicitar Pago" formaction="OrdenCompraPago" class="btn btn-default btn-round" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>