@*@model MVC.Presentacion.Models.OrdenCompra.OrdenCompraModel*@
@model MVC.Presentacion.Models.OrdenCompra.OrdenCompraModel
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/js/OrdenCompraJS.js"></script>
</head>
<body>
    @*@using (Html.BeginForm("CrearOrdenCompra", "OrdenCompra", FormMethod.Post))*@
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.IdEmpresa)
        @Html.HiddenFor(m => m.IdSolicitante)
        @Html.HiddenFor(m => m.IdEmpresa)
        @Html.HiddenFor(m => m.FechaRequisicion)
        @Html.HiddenFor(m => m.IdRequisicion)
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
                <p>Espere por favor</p>
            </div>
        </div>
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Compras</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="~/DashBoard/Vista/Dashboard.aspx"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item active">
                                    <label>Compras / Ordern de Compra / Nueva </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label> @Model.Empresa</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <b>Número de Requisición:</b>&nbsp;
                                            <label> @Model.NumeroRequisicion</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-12">
                                    <div class="form-group form-float">
                                        <b>Fecha requerida:</b>
                                        <input type="text" value="@Model.FechaRequisicion" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="form-group form-float">
                                        <b>Solicitante:</b>
                                        <input name="Solicitante" value="@Model.Solicitante" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 form-float">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <b>Motivo de compra:</b>
                                            <textarea name="MotivoCompra" class="form-control  no-resize btn-round" disabled placeholder="Error de carga" rows="4">@Model.MotivoRequisicion</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="form-group form-float">
                                        <div class="form-group">
                                            <b>Se requiere en:</b>
                                            <textarea name="RequeridoEn" class="form-control  no-resize btn-round" disabled placeholder="Error de carga" rows="4">@Model.RequeridoEn</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (ViewBag.NombrePorvedor != null)
                            {
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <b>Proveedor:</b>&nbsp;
                                                <label>@ViewBag.NombrePorvedor</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <dtp:DateTimePicker ID="dtpFechaEntrada" />
                                    </div>
                                </div>
                            }
                            @if (ViewBag.MensajeError != null)
                            {

                                <div class="row clearfix">
                                    <div id="divMensajeError" class="container">
                                        <div class="alert alert-danger">
                                            <div class="alert-icon">
                                                <i class="zmdi zmdi-block"></i>
                                            </div>
                                            <strong>
                                                <label>@ViewBag.MensajeError</label>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                <div class="table-responsive">
                                    @*@Html.Action("ProductoOCPartial", new { id = Model.IdRequisicion })*@
                                    @Html.Partial("_ProductosOCPartial", Model.OrdenCompraProductos)
                                </div>
                            </div>
                            <div class="row clearfix">                                
                                <div class="col-sm-4 center">
                                    <a href="@Url.Action("Ordenes", "OrdenCompra")"  class="btn btn-raised btn-primary btn-round">
                                        Cancelar
                                    </a>
                                </div>
                                @*<div class="col-sm-4 center">
                                    <a href="#ModalConfirmacion" data-toggle="modal" id="btnok" data-target="#ModalConfirmacion" class="btn btn-raised btn-primary btn-round ">
                                        Crear
                                    </a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title" id="ModalConfirmacionLabel">¿Esta seguro?</h4>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Si" id="btnCrear" class="btn btn-raised btn-primary btn-round" />

                        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="modal fade" id="ModalCancelar" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="title" id="ModalCancelarLabel">Motivo de cancelcion</h4>
                        </div>
                        <div class="modal-body">
                            <div class="body">
                                <div class="col-sm-12">
                                    <asp:TextBox ID="txtMotivoCancela" TextMode="MultiLine" CssClass="form-control tex" Rows="5" placeholder="Cual es el motivo de la cancelacion..."></asp:TextBox>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <asp:Button ID="btnCancelar" CssClass="btn btn-raised btn-primary btn-round" Text="Cancelar" OnClick="btnCancelar_Click" Enabled="false" />
                            <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ModalMensaje" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="title" id="ModalMensajeLabel">Orden de Compra exitosa</h4>
                        </div>
                        <div class="modal-body">
                            <div class="body">
                                <div class="col-sm-12">
                                    <asp:Label ID="lblMensajeOrdenCompra" TextMode="MultiLine" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <asp:Button ID="btnCrear12" CssClass="btn btn-raised btn-primary btn-round" Text="Crear" OnClick="BtnCrear_Click" />
                            <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
    }
</body>
@*@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")*@
</html>
