@using MVC.Presentacion.Models.Catalogos
@model  EmpresaModel

@{
    ViewBag.Title = "Index";
}

<!-- Bootstrap Select Css -->
<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<link href="~/assets/css/main.css" rel="stylesheet" />
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<script type="text/javascript">
    var message = '@ViewBag.MessageExito';
    if (message != '') {
        $(window).on("load", showNotification('alert-success', message, 'top', 'center', '', ''));
    }
</script>
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
@using (Html.BeginForm("Nueva", "Empresas", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <b>Gasera</b>
                                <select name="IdEmpresa" id="ddlEmpresas" class="form-control selectpicker z-index show-tick" data-live-search="true">
                                    @foreach (var lst in ViewBag.listaEmpresas)
                                    {
                                        <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <b>Estatus</b>
                                <select name="IdStatus" class="form-control show-tick" data-live-search="true">
                                    <option value="Enfunciones">En funciones</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <input id="BtnNuevo" type="submit" value="Nueva" class="btn btn-raised btn-primary float-right" />
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table table-bordered table-striped table-hover js-basic-example dataTable" name="EmpresasGaseras">
                                        <thead>
                                            <tr>
                                                <th>Logo</th>
                                                <th>Razón social</th>
                                                <th>RFC</th>
                                                <th>Contacto</th>
                                                <th>Celular</th>
                                                <th>Telefono</th>
                                                <th>Correo</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @ViewBag.listaEmpresas)
                                            {
                                                <tr>
                                                    @if (@item.UrlLogotipo180px != null)
                                                    {
                                                        <td><img id="@item.UrlLogotipo180px" src="@Url.Content(@item.UrlLogotipo180px)" style="width:30px;height:30px" /></td>
                                                    }
                                                    else
                                                    {
                                                        <td>@item.UrlLogotipo180px</td>
                                                    }
                                                    <td>@item.RazonSocial</td>
                                                    <td>@item.Rfc</td>
                                                    <td>@item.Persona1</td>
                                                    <td>@item.Celular1</td>
                                                    <td>@item.Telefono1</td>
                                                    <td>@item.Email1</td>
                                                    <td>
                                                        <a ID="lblCrear" href="@Url.Action("EditarEmpresa", "Empresas", new { id = item.IdEmpresa })">
                                                            <i class="material-icons">edit</i>
                                                            <span class="icon-name"></span>
                                                        </a>
                                                        <a ID="lbEdit" href="@Url.Action("ActualizaParametros", "Empresas", new { id = item.IdEmpresa })">
                                                            <i class="zmdi zmdi-settings"></i>
                                                            <span class="icon-name"></span>
                                                        </a>
                                                        <a ID="lbBorrar" href="@Url.Action("BorrarEmpresa", "Empresas", new { id = item.IdEmpresa })">
                                                            <i class="material-icons">delete</i>
                                                            <span class="icon-name"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (ViewBag.MensajeError != null)
                {
                    <div class="row clearfix">
                        <div id="divMensajeError" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    <label>@ViewBag.MensajeError</label>
                                </strong>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}