@using MVC.Presentacion.Models.Catalogos
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
@model  EmpresaModel
@{
    ViewBag.Title = "Nueva";
}
<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<script src="~/Resources/js/Empresas.js"></script>
<script type="text/javascript">
    $(function () {
        $('select').on('change', function () {
            if ($('#ddlPais').val() !== "1") {
                $('#ddlEdo').parent().hide();
                $('#txtEdoP').show();
            }

            if ($('#ddlPais').find('option:selected').val() == "1" || $('#ddlPais').find('option:selected').val() == "0") {
                $('#ddlEdo').parent().show();
                $('#txtEdoP').hide();
            }
        });
    });
    function OnSelectedChangeCountry(s, e) {
        debugger
        var value = s.GetValue();
        if (value == 1)//Mexico
        {
            $('#txtEdoP').hide();
            $('#IdEstadoRep').show();
        }
        if (value == 2)//EU
        {
            $('#IdEstadoRep').hide();
            $('#txtEdoP').show();
        }
    }
    function OnSelectedChangeCountryTest(s, e) {
        debugger
        var value = s.GetValue();
        if (value == 1)//Mexico
        {
            $('#txtEdoP').hide();
            $('#IdEstadoRep').show();
        }
        if (value == 2)//EU
        {
            $('#IdEstadoRep').hide();
            $('#txtEdoP').show();
        }
    }
    function onComboBoxSelectedIndexChanged(s, e) {

        $('form').submit();
    }
</script>
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>
<style type="text/css">
    .hid {
        display: none;
    }
</style>

@using (Html.BeginForm((ViewBag.EsEdicion == null) ? "Crear" : "GuardaEdicionEmpresa", "Empresas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                @Html.HiddenFor(m => m.IdEmpresa)
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Gaseras</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item">Catálogo</li>
                            <li class="breadcrumb-item">Gasera</li>
                            @if (ViewBag.EsEdicion == null)
                            {
                                <li class="breadcrumb-item">Nueva</li>
                            }
                            else
                            {
                                <li class="breadcrumb-item">Edición</li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2>Información <strong>General</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div>
                                                    <label for="txtNomC">
                                                        Nombre Comercial:*
                                                    </label>
                                                    @Html.TextBoxFor(m => m.NombreComercial, new { @class = "form-control", @placeholder = "Nombre Comercial" })
                                                    @*@Html.TextBoxFor(m => m.IdEmpresa, new { @class = "hid" })
                                                        <input type="text" name="IdEmpresa" hidden="hidden"value="@((ViewBag.Empresa==null)?"":ViewBag.Empresa.IdEmpresa)" />*@
                                                    @Html.ValidationMessageFor(m => m.NombreComercial, "", new { @class = "alert-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.MessageError != null)
                {
                    <div class="row clearfix">
                        <div id="divMensajeError" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    <label>@ViewBag.MessageError</label>
                                </strong>
                            </div>
                        </div>
                    </div>
                }
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2>Datos <strong>Fiscales</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtRazonS">
                                                    Razón Social:*
                                                </label>
                                                @Html.TextBoxFor(m => m.RazonSocial, new { @class = "form-control", @placeholder = "Razón Social" })
                                                @Html.ValidationMessageFor(m => m.RazonSocial, "", new { @class = "alert-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label for="txtRfc">
                                                RFC:*
                                            </label>
                                            @Html.TextBoxFor(m => m.Rfc, new { @class = "form-control", @placeholder = "RFC" })
                                            @Html.ValidationMessageFor(m => m.Rfc, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2>Datos de <strong>Contacto</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            Persona de contacto 1:
                                            @Html.TextBoxFor(m => m.Persona1, new { @class = "form-control", @placeholder = "Persona de contacto 1" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <div>
                                                Teléfono 1:
                                                @Html.TextBoxFor(m => m.Telefono1, new { @class = "form-control", @placeholder = "Teléfono 1" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <div>
                                                Celular 1:
                                                @Html.TextBoxFor(m => m.Celular1, new { @class = "form-control", @placeholder = "Celular 1" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            Persona de contacto 2:
                                            @Html.TextBoxFor(m => m.Persona2, new { @class = "form-control", @placeholder = "Persona de contacto 2" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <div>
                                                Teléfono 2:
                                                @Html.TextBoxFor(m => m.Telefono2, new { @class = "form-control", @placeholder = "Teléfono 2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <div>
                                                Celular 2:
                                                @Html.TextBoxFor(m => m.Celular2, new { @class = "form-control", @placeholder = "Celular 2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group ">
                                            Persona de contacto 3:
                                            @Html.TextBoxFor(m => m.Persona3, new { @class = "form-control", @placeholder = "Persona de contacto 3" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <div>
                                                Teléfono 3:
                                                @Html.TextBoxFor(m => m.Telefono3, new { @class = "form-control", @placeholder = "Teléfono 3" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <div>
                                                Celular 3:
                                                @Html.TextBoxFor(m => m.Celular3, new { @class = "form-control", @placeholder = "Celular 3" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            E-mail 1:
                                            @Html.TextBoxFor(m => m.Email1, new { @class = "form-control", @placeholder = "E-mail 1" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                Sitio web 1:
                                                @Html.TextBoxFor(m => m.SitioWeb1, new { @class = "form-control", @placeholder = "Sitio web 1" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            E-mail 2:
                                            @Html.TextBoxFor(m => m.Email2, new { @class = "form-control", @placeholder = "E-mail 2" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                Sitio web 2:
                                                @Html.TextBoxFor(m => m.SitioWeb2, new { @class = "form-control", @placeholder = "Sitio web 2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            E-mail 3:
                                            @Html.TextBoxFor(m => m.Email3, new { @class = "form-control", @placeholder = "E-mail 3" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                Sitio web 3:
                                                @Html.TextBoxFor(m => m.SitioWeb3, new { @class = "form-control", @placeholder = "Sitio web 3" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Dirección</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="ddlPais">
                                                País:*
                                            </label>
                                            <select id="ddlPais" name="IdPais" class="form-control selectpicker z-index show-tick">
                                                @if (ViewBag.Empresa == null)
                                                {
                                                    foreach (var lst in ViewBag.ListaPaises)
                                                    {
                                                        <option value="@lst.IdPais">@lst.Pais</option>
                                                    }
                                                }
                                                else
                                                {
                                                    foreach (var lst in ViewBag.ListaPaises)
                                                    {
                                                        if (ViewBag.Empresa.IdPais == lst.IdPais)
                                                        {
                                                            <option value="@lst.IdPais" selected>@lst.Pais</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@lst.IdPais">@lst.Pais</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            @Html.ValidationMessageFor(m => m.IdPais, "", new { @class = "alert-danger" })
                                            <input type="text" class="form-control" name="IdPais" hidden />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="ddlEdo">
                                                Estado:*
                                            </label>
                                            @Html.TextBoxFor(m => m.EstadoProvincia, new { @id = "txtEdoP", @class = "form-control hid", @placeholder = "Estado" })

                                            <select name="IdEstadoRep" id="ddlEdo" class="form-control selectpicker z-index show-tick" data-live-search="true">
                                                @if (ViewBag.Empresa == null)
                                                {
                                                    foreach (var lst in ViewBag.ListaEstados)
                                                    {
                                                        <option value="@lst.IdEstadoRep">@lst.Estado</option>
                                                    }
                                                }
                                                else
                                                {
                                                    foreach (var lst in ViewBag.ListaEstados)
                                                    {
                                                        if (ViewBag.Empresa.IdEstadoRep == lst.IdEstadoRep)
                                                        {
                                                            <option value="@lst.IdEstadoRep" selected>@lst.Estado</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@lst.IdEstadoRep">@lst.Estado</option>
                                                        }
                                                    }
                                                }
                                            </select>                                          
                                            @Html.ValidationMessageFor(m => m.IdEstadoRep, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="txtMun">
                                                Municipio:*
                                            </label>
                                            @Html.TextBoxFor(m => m.Municipio, new { @class = "form-control", @placeholder = "Municipio" })
                                            @Html.ValidationMessageFor(m => m.Municipio, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label for="txtCP">
                                                C.P.:*
                                            </label>
                                            @Html.TextBoxFor(m => m.CodigoPostal, new { @class = "form-control", @placeholder = "Código Postal" })
                                            @Html.ValidationMessageFor(m => m.CodigoPostal, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtCol">
                                                    Colonia:*
                                                </label>
                                                @Html.TextBoxFor(m => m.Colonia, new { @class = "form-control", @placeholder = "Colonia" })
                                                @Html.ValidationMessageFor(m => m.Colonia, "", new { @class = "alert-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label for="txtCalle">
                                                Calle:*
                                            </label>
                                            @Html.TextBoxFor(m => m.Calle, new { @class = "form-control", @placeholder = "Calle" })
                                            @Html.ValidationMessageFor(m => m.Calle, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="form-group">
                                            <div>
                                                <label for="txtNume">
                                                    Núm. Ext.:*
                                                </label>
                                                @Html.TextBoxFor(m => m.NumExt, new { @class = "form-control", @placeholder = " Núm. Ext." })
                                                @Html.ValidationMessageFor(m => m.NumExt, "", new { @class = "alert-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="form-group">
                                            <label for="txtNumI">
                                                Núm. Int.:
                                            </label>
                                            @Html.TextBoxFor(m => m.NumInt, new { @class = "form-control", @placeholder = " Núm. Int." })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Logotipos</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            Pequeño (180px X 180px)
                                            @Html.TextBoxFor(m => m.UrlLogotipo180px, new { type = "file" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            Mediano (500px X 500px)
                                            @Html.TextBoxFor(m => m.UrlLogotipo500px, new { type = "file" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            Grande (1000px X 1000px)
                                            @Html.TextBoxFor(m => m.UrlLogotipo1000px, new { type = "file" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <input type="submit" value="Regresar" id="RegresaIndexNE" formaction=@Url.Action("Index") formmethod="post" class="btn btn-raised btn-primary btn-round float-left" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                @if (@ViewBag.EsEdicion == null)
                                {
                                <input type="submit" value="Crear" formaction="Crear" formmethod="post" class="btn btn-raised btn-primary btn-round float-right" />
                                }
                                else
                                {
                                <input type="submit" value="Actualizar" formmethod="post" class="btn btn-raised btn-primary btn-round float-right" />
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
}