@model MVC.Presentacion.Models.RecargaCombustibleModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="padding-top:10px;">
    @using (Html.BeginForm("Crear", "Mantenimiento", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id_DetalleRecargaComb)
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Cuentas Contables</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="~/DashBoard/Vista/Dashboard.aspx"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Equipo de Transporte</li>
                                <li class="breadcrumb-item">Recarga de combustible</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <b><strong></strong></b>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <b>Vehiculo</b>
                                        @Html.DevExpress().ComboBox(settings =>
                                   {
                                       settings.Name = "Id_Vehiculo";
                                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                       settings.SelectedIndex = 0;
                                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                       settings.Properties.TextField = "Descripcion";
                                       settings.Properties.ValueField = "IdVehiculo";
                                   }).BindList(ViewBag.Vehiculos).Bind(Model.Id_Vehiculo).GetHtml()
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <b>Kilometraje Actual</b>
                                        @Html.LabelFor(m => m.Chofer)
                                    </div>                                   
                                </div>                         
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <b>Kilometraje Actual</b>
                                        @Html.TextBoxFor(m => m.KilometrajeActual , Model.KilometrajeActual.ToString(), new { @class = "form-control number" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <b>Kilometraje Recorrido</b>
                                        @Html.TextBoxFor(m => m.KilometrajeRecorrido, Model.KilometrajeRecorrido.ToString(), new { @class = "form-control number" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <b>Litros Recargados</b>
                                        @Html.TextBoxFor(m => m.LitrosRecargados, Model.LitrosRecargados.ToString(), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <b>Tipo de combustible</b>
                                        @Html.DevExpress().ComboBox(settings =>
                                   {
                                       settings.Name = "IdTipoCombustible";
                                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                       settings.SelectedIndex = 0;
                                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                       settings.Properties.TextField = "Descripcion";
                                       settings.Properties.ValueField = "IdVehiculo";
                                   }).BindList(ViewBag.CMantenimiento).Bind(Model.IdTipoCombustible).GetHtml()
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <b>Fecha de Mantenimiento</b>
                                        @Html.DevExpress().DateEdit(settings =>
                                        {
                                            settings.Name = "FechaRecarga";
                                            settings.Properties.UseMaskBehavior = true;
                                            settings.Properties.EditFormat = EditFormat.Custom;
                                            settings.Properties.EditFormatString = "dd/MMMM/yyyy";
                                            settings.Properties.DisplayFormatString = "dd MMMM, yyyy";
                                            settings.Date = DateTime.Now;
                                            settings.PopupCalendarOwnerName = "FechaRecarga";
                                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                            settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                                        }).Bind(Model.FechaRecarga).GetHtml()
                                    </div>
                                    <Label class="alert-danger" hidden="hidden">Campo requerido</Label>
                                </div>
                                <div class="col-md-3">
                                    <b></b>
                                    <div class="form-group">
                                        @if (ViewBag.EsEdicion == null)
                                        {
                                            <button btn id="BtnCrear" formaction="Crear" class="btn btn-primary btn-icon  btn-icon-mini btn-round">
                                                <i class="zmdi zmdi-plus"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button btn id="btnUpDate" formaction="Modificar" class="btn btn-primary btn-icon  btn-icon-mini btn-round">
                                                <i class="zmdi zmdi-swap"></i>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                            @if (ViewBag.MensajeError != null)
                            {
                                <div id="DivAlerta" class="container">
                                    <div class="alert alert-danger">
                                        <div class="alert-icon">
                                            <i class="zmdi zmdi-block"></i>
                                        </div>
                                        <strong>
                                            @ViewBag.MensajeError
                                        </strong>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            Historial de <strong>Recargas</strong>
                        </div>
                        <div class="body">
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                <div class="table-responsive">
                                    <table class="table table-striped  filterable">
                                        <thead>
                                            <tr>
                                                <td><strong>Id</strong></td>
                                                <td><strong>Vehiculo</strong></td>
                                                <td><strong>Chofer</strong></td>
                                                <td><strong>Servicio Realizado</strong></td>
                                                <td><strong>Fecha Servicio</strong></td>
                                                <td><strong>Acción</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var mant in ViewBag.Manteniminetos)
                                            {
                                                <tr>
                                                    <td>mant.Id_DetalleMtto</td>
                                                    <td>mant.Vehiculo</td>
                                                    <td>mant.Chofer</td>
                                                    <td>mant.DescripcionMtto</td>
                                                    <td>mant.FechaMtto</td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
</html>
