@using MVC.Presentacion.Models.Catalogos
@model MVC.Presentacion.Models.Catalogos.LineaProductoDTO
@using PagedList.Mvc;
@using PagedList;
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
           
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )

@{
    string EnabledAdminCentral = ViewBag.EsAdmin == true ? string.Empty : "disabled";
}
<meta name="viewport" content="width=device-width" />
<title>Categoría</title>
<script language="JavaScript" type="text/javascript" src="~/assets/plugins/jquery/jquery-v3.2.1.min.js"></script>
<script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="~/assets/js/pages/ui/notifications.js"></script>

<script type="text/javascript">
    var mensaje = '@ViewBag.Msj';
    if (mensaje != '') {
        $(window).on("load", showNotification('alert-success', mensaje, 'top', 'center', '', ''));
    };
</script>

<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        @using (Html.BeginForm("CrearLineaProducto", "Producto", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.IdEmpresa)
            @Html.HiddenFor(m => m.IdProductoLinea)
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Línea de Producto</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">Producto / Línea de Porducto</li>
                        </ul>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Crear</strong> nueva línea de producto</h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <b>Gasera:</b>
                                        @if (ViewBag.EsAdmin)
                                        {
                                            <select id="ddlEmpresas" name="IdEmpresa" class="form-control selectpicker show-tick" data-live-search="true">
                                                @foreach (var lst in ViewBag.Empresas)
                                                {
                                                    <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control " disabled value="@ViewBag.Empresas" />
                                        }
                                        @Html.ValidationMessageFor(m => m.IdEmpresa, "", new { @class = "alert-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <b>Nombre de la línea:</b>
                                            @Html.TextBoxFor(m => m.Linea, new { @class = "form-control", placeholder = "Nombre de la línea de producto" })
                                            @Html.ValidationMessageFor(m => m.Linea, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <b>Descripción:</b>
                                        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Descripción" })
                                        @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "alert-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <b>&nbsp; </b>
                                        <div class="form-group">
                                            @if (ViewBag.EsEdicion == null)
                                            {
                                                <button btn id="BtnCrear" formaction="CrearLineaProducto" class="btn btn-primary btn-icon  btn-icon-mini btn-round">
                                                    <i class="zmdi zmdi-plus"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <button btn id="btnUpDate" formaction="EditarLineaProducto" class="btn btn-primary btn-icon  btn-icon-mini btn-round">
                                                    <i class="zmdi zmdi-swap"></i>
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                @if (ViewBag.MensajeError != null)
                                {
                                    <br />
                                    <div id="DivAlerta" class="container">
                                        <div class="alert alert-danger">
                                            <div class="alert-icon">
                                                <i class="zmdi zmdi-block"></i>
                                            </div>
                                            <strong>
                                                @ViewBag.MensajeError
                                            </strong>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        @if (ViewBag.EsAdmin)
                                        {
                                            <select id="ddlEmpresasFilter" class="form-control show-tick" data-live-search="true">
                                                @foreach (var lst in ViewBag.Empresas)
                                                {
                                                    <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" disabled value="@ViewBag.Empresas" />
                                        }
                                    </div>                                   
                                </div><br />
                                <div class="row clearfix blockquote blockquote-info btn-round">
                                    @Html.Partial("_CB_Lineas", (List<LineaProductoDTO>)TempData["DataSourceLineas"])
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


