@model MVC.Presentacion.Models.Catalogos.ProductoDTO
@using PagedList.Mvc;
@using PagedList;
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
@{
    string EnabledAdminCentral = ViewBag.EsAdmin == true ? string.Empty : "disabled";
}
@*<script language="JavaScript" type="text/javascript" src="~/assets/plugins/jquery/jquery-v3.2.1.min.js"></script>*@
<script language="JavaScript" type="text/javascript">
    $(function () {
        $('#ddlEmpresasFilter').on('change', function () {
            var id = $(this).val();

            var url = '@Url.Action("Producto", "Producto", new { idempresa = "__param__" })';
            window.location.href = url.replace('__param__', encodeURIComponent(id));
        });
    });
    function ChangeProdServ(s, e) {
        var sel = s.GetValue();
        if (sel == 2) {
            $('#divProd').show();
            $('#divServ').hide();
            $('#cbServicioTransporte').prop('checked', false);
        }
        if (sel == 3) {
            $('#divProd').hide();
            $('#divServ').show();
            $('#cbEsGas').prop('checked', false);
            $('#cbActivoVenta').prop('checked', false);
        }
        if (sel == 0) {
            $('#divProd').hide();
            $('#divServ').hide();
            $('#cbEsGas').prop('checked', false);
            $('#cbActivoVenta').prop('checked', false);
            $('#cbServicioTransporte').prop('checked', false);
        }
        cbServicioTransporte
    };
</script>
<section class="content home">
    <div class="container-fluid">
        @using (Html.BeginForm("CrearProducto", "Producto", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.IdProducto)
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Producto</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href=@Url.Action("Inicio", "Home")><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active">Catálogo</li>
                            <li class="breadcrumb-item active">Producto</li>
                        </ul>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Crear</strong> nuevo producto</h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <b>Gasera:</b>
                                            @if (ViewBag.EsAdmin)
                                            {
                                                <select id="empresas" name="IdEmpresa" class="form-control z-index show-tick" data-live-search="true">
                                                    @foreach (var lst in ViewBag.Empresas)
                                                    {
                                                        <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <div>
                                                    @ViewBag.Empresas
                                                </div>
                                                @Html.HiddenFor(m => m.IdEmpresa)
                                            }
                                            @Html.ValidationMessageFor(m => m.IdEmpresa, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <b>Tipo: ¿Es producto o Servicio?</b>
                                            @Html.DevExpress().ComboBox(settings =>
                                            {
                                                settings.Name = "IdProductoServicioTipo";
                                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                settings.SelectedIndex = 0;
                                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                //settings.Properties.ValueType = typeof(string);
                                                settings.Properties.Items.Add("Seleccione uno", "0");
                                                settings.Properties.Items.Add("Producto", "2");
                                                settings.Properties.Items.Add("Servicio", "3");
                                                settings.ClientEnabled = true;
                                                settings.Properties.ValueType = typeof(short);
                                                settings.Properties.ClientSideEvents.SelectedIndexChanged = "ChangeProdServ";
                                                settings.Properties.ClientSideEvents.Init = "ChangeProdServ";
                                            }).Bind(Model.IdProductoServicioTipo).GetHtml()
                                            @Html.ValidationMessageFor(m => m.IdProductoServicioTipo, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <b>Cuenta contable:</b>
                                            @Html.DevExpress().ComboBox(settings =>
                                            {
                                                settings.Name = "IdCuentaContable";
                                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                settings.SelectedIndex = 0;
                                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                settings.Properties.ValueType = typeof(int);
                                                settings.Properties.TextField = "Descripcion";
                                                settings.Properties.ValueField = "IdCuentaContable";
                                            }).BindList(ViewBag.CuentasContables).Bind(Model.IdCuentaContable).GetHtml()
                                            @Html.ValidationMessageFor(m => m.IdCuentaContable, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <b>Categorías:</b>
                                            @Html.DevExpress().ComboBox(settings =>
                                            {
                                                settings.Name = "IdCategoria";
                                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                settings.SelectedIndex = 0;
                                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                settings.Properties.TextField = "Nombre";
                                                settings.Properties.ValueField = "IdCategoria";
                                                settings.Properties.ValueType = typeof(short);
                                            }).BindList(ViewBag.Categorias).Bind(Model.IdCategoria).GetHtml()
                                            @Html.ValidationMessageFor(m => m.IdCategoria, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <b>Línea de Productos:</b>
                                            @Html.DevExpress().ComboBox(settings =>
                                            {
                                                settings.Name = "IdProductoLinea";
                                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                settings.SelectedIndex = 0;
                                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                settings.Properties.TextField = "Linea";
                                                settings.Properties.ValueField = "IdProductoLinea";
                                                settings.Properties.ValueType = typeof(short);
                                            }).BindList(ViewBag.LineasProducto).Bind(Model.IdProductoLinea).GetHtml()
                                            @Html.ValidationMessageFor(m => m.IdProductoLinea, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <b>Unidad de medida:</b>
                                            @Html.DevExpress().ComboBox(settings =>
                                           {
                                               settings.Name = "IdUnidadMedida";
                                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                               settings.SelectedIndex = 0;
                                               settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                               settings.Properties.TextField = "Acronimo";
                                               settings.Properties.ValueField = "IdUnidadMedida";
                                               settings.Properties.ValueType = typeof(short);
                                           }).BindList(ViewBag.UnidadesMedida).Bind(Model.IdUnidadMedida).GetHtml()
                                            @Html.ValidationMessageFor(m => m.IdUnidadMedida, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <b>Unidad de medida alternativa: (Opcional)</b>
                                            @Html.DevExpress().ComboBox(settings =>
                                            {
                                                settings.Name = "IdUnidadMedida2";
                                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                settings.SelectedIndex = 0;
                                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                settings.Properties.TextField = "Acronimo";
                                                settings.Properties.ValueField = "IdUnidadMedida";
                                                settings.Properties.ValueType = typeof(short);
                                            }).BindList(ViewBag.UnidadesMedida).Bind(Model.IdUnidadMedida2).GetHtml()
                                            @Html.ValidationMessageFor(m => m.IdUnidadMedida, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-8">
                                        <b>Descripción: </b>
                                        <div class="blockquote blockquote-info btn-round">
                                            @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", @Rows = 5 })
                                            @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            &nbsp;
                                        </div>
                                        <div id="divServ" style="display:none">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(m => m.EsTransporteGas, new { id = "cbServicioTransporte" })
                                                @*<input id="cbServicioTransporte" name="EsTransporteGas" type="checkbox">*@
                                                <label for="cbServicioTransporte" class="z-index:8">
                                                    ¿Es Servicio de transporte?
                                                </label>
                                            </div>
                                        </div>
                                        <div id="divProd" style="display:none">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(m => m.EsActivoVenta, new { id = "cbActivoVenta" })
                                                @*<input id="cbActivoVenta" name="EsActivoVenta" type="checkbox">*@
                                                <label for="cbActivoVenta">
                                                    ¿Es activo de venta?
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                @Html.CheckBoxFor(m => m.EsGas, new { id = "cbEsGas" })
                                                @*<input id="cbEsGas" name="EsGas" type="checkbox">*@
                                                <label for="cbEsGas">
                                                    ¿Es Gas?
                                                </label>
                                            </div>
                                        </div>
                                        <div><b>Almacén</b></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                Mínimo
                                                @Html.TextBoxFor(m => m.Minimos, Model.Minimos.ToString() ,new { @class = "form-control", @placeholder = "Minimo", type = "number" })
                                                @Html.ValidationMessageFor(m => m.Minimos, "", new { @class = "alert-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                Máximo
                                                @Html.TextBoxFor(m => m.Maximo, Model.Maximo.ToString(), new { @class = "form-control", @placeholder = "Maximo", type = "number" })
                                                @Html.ValidationMessageFor(m => m.Maximo, "", new { @class = "alert-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12 text-right">
                                        <b>&nbsp; </b>
                                        <div class="form-group">
                                            @if (ViewBag.EsEdicion == null)
                                            {
                                                <button btn id="BtnCrear" formaction="CrearProducto" class="btn btn-primary btn-round">
                                                    <i class="zmdi zmdi-plus"> </i> Agregar
                                                </button>
                                            }
                                            else
                                            {
                                                <button btn id="btnUpDate" formaction="EditarProducto" class="btn btn-primary btn-round">
                                                    <i class="zmdi zmdi-swap"></i> Terminar Edicion
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                @if (ViewBag.MensajeError != null)
                                {
                                    <br />
                                    <div id="DivAlerta" class="container">
                                        <div class="alert alert-danger">
                                            <div class="alert-icon">
                                                <i class="zmdi zmdi-block"></i>
                                            </div>
                                            <strong>
                                                @ViewBag.MensajeError
                                            </strong>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="header">
                                <strong>Lista </strong> de Productos
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        @if (ViewBag.EsAdmin)
                                        {
                                            <select id="ddlEmpresasFilter" class="form-control z-index show-tick" data-live-search="true">
                                                @foreach (var lst in ViewBag.Empresas)
                                                {
                                                    if (ViewBag.IdEmpresa != 0)
                                                    {
                                                        if (lst.IdEmpresa == ViewBag.IdEmpresa)
                                                        {
                                                            <option value="@lst.IdEmpresa" selected="selected">@lst.NombreComercial</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                                    }
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" disabled value="@ViewBag.Empresas" />
                                        }
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Buscar" id="txtNumeroFiltro" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix blockquote blockquote-info btn-round">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover filterable" name="RequisicionProductos">
                                            <thead>
                                                <tr>
                                                    <td><b>Tipo</b></td>
                                                    <td><b>Categoría</b></td>
                                                    <td><b>Línea</b></td>
                                                    <td><b>Descripción</b></td>
                                                    <td><b>Unidad de Medida</b></td>
                                                    <td><b>Activo Venta</b></td>
                                                    <td><b>Es Gas</b></td>
                                                    <td><b>Es Transporte</b></td>
                                                    <td><b>Acción</b></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var prod in ViewBag.Productos)
                                                {
                                                    <tr>
                                                        <td>@prod.TipoProducto </td>
                                                        <td>@prod.Categoria </td>
                                                        <td>@prod.ProductoLinea</td>
                                                        <td>@prod.Descripcion</td>
                                                        <td>@prod.UnidadMedida</td>
                                                        @if (prod.EsActivoVenta)
                                                        {
                                                            <td>Si</td> }
                                                        else
                                                        {
                                                            <td>No</td> }
                                                        @if (prod.EsGas)
                                                        {
                                                            <td>Si</td> }
                                                        else
                                                        {
                                                            <td>No</td>}
                                                        @if (prod.EsTransporteGas)
                                                        {
                                                            <td>Si</td> }
                                                        else
                                                        {
                                                            <td>No</td>}

                                                        <td>
                                                            <a href="@Url.Action("EditarProducto", "Producto" , new { Id=prod.IdProducto })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">edit</i>
                                                                <span>Editar  producto</span>
                                                            </a>
                                                            <a href="@Url.Action("EliminarProducto", "Producto" , new { Id=prod.IdProducto })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">delete</i>
                                                                <span>Eliminar producto</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        Página @(ViewBag.Productos.PageCount < ViewBag.Productos.PageNumber ? 0 : ViewBag.Productos.PageNumber) de @ViewBag.Productos.PageCount
                                    </div>
                                    <div class="col-md-6 text-right">
                                        @Html.PagedListPager((IPagedList)ViewBag.Productos, page => Url.Action("Producto", new { page, @class = "btn btn-primary btn-simple" }))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script src="~/Scripts/js/CProductoJS.js"></script>
