@model MVC.Presentacion.Models.Catalogos.ProveedorDTO
@{
    string EnabledAdminCentral = ViewBag.EsAdmin == true ? string.Empty : "disabled";
}
<section class="content home">
    <div class="container-fluid">
        @using (Html.BeginForm("CrearProveedor", "Producto", FormMethod.Post))
        { 
            @Html.HiddenFor(m => m.IdProveedor)
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2>Proveedores</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item active"> Catálogo </li>
                            <li class="breadcrumb-item active"> Proveedor </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Información <strong>General</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <b>Empresa</b>
                                    @if (ViewBag.EsAdmin)
                                    {
                                        <select id="ddlEmpresas" name="IdEmpresa" class="form-control selectpicker show-tick" data-live-search="true">
                                            @foreach (var lst in ViewBag.Empresas)
                                            {
                                                <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control " disabled value="@ViewBag.Empresas" />
                                        @Html.HiddenFor(m => m.IdEmpresa)
                                    }
                                    @Html.ValidationMessageFor(m => m.IdEmpresa, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <b>Tipo de proveedor</b>
                                    <select name="IdTipoProveedor" class="form-control selectpicker show-tick" data-live-search="true">
                                        @foreach (var cc in ViewBag.TipoProveedores)
                                        {
                                            if (Model != null && cc.IdTipoProveedor == Model.IdTipoProveedor)
                                            {
                                                <option value="@cc.IdTipoProveedor" selected>@cc.Tipo</option>
                                            }
                                            else
                                            {
                                                <option value="@cc.IdTipoProveedor">@cc.Tipo</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.IdTipoProveedor, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>Cuenta contable</b>
                                    <select name="IdCuentaContable" class="form-control selectpicker show-tick" data-live-search="true">
                                        @foreach (var cc in ViewBag.CuentasContables)
                                        {
                                            if (Model != null && cc.IdCuentaContable == Model.IdCuentaContable)
                                            {
                                                <option value="@cc. ViewBag.CuentasContables = CatalogoServicio.ListaCtaCtble(tkn);" selected>@cc.Descripcion</option>
                                            }
                                            else
                                            {
                                                <option value="@cc.IdCuentaContable">@cc.Descripcion</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.IdCuentaContable, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>Nombre comercial</b>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.NombreComercial, new { @class = "form-control", @placeholder = "Nombre comercial" })
                                        @Html.ValidationMessageFor(m => m.NombreComercial, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.CheckBoxFor(m => m.TransportistaProdutoPrinicpal, new { id = "cbServicioTransporte" })
                                        @*<input id="cbServicioTransporte" name="EsTransporteGas" type="checkbox">*@
                                        <label for="cbServicioTransporte">
                                            ¿Es Servicio de transporte?
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(m => m.ProdutoPrinicpal, new { id = "cbEsGas" })
                                        @*<input id="cbEsGas" name="EsGas" type="checkbox">*@
                                        <label for="cbEsGas">
                                            ¿Es Gas?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <p>¿Que es lo que vende?</p>
                                    <div class="blockquote blockquote-info btn-round">
                                        @Html.TextAreaFor(m => m.Vende, new { @class = "form-control", @Rows = 5, @placeholder = "Descripción de lo que vende el proveedor" })
                                        @Html.ValidationMessageFor(m => m.Vende, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Información de <strong>ubicación </strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <b>País</b>
                                    <select name="IdPais" class="form-control selectpicker show-tick" data-live-search="true">
                                        @foreach (var cc in ViewBag.Paises)
                                        {
                                            if (Model != null && cc.IdPais == Model.IdTipoProveedor)
                                            {
                                                <option value="@cc.IdPais" selected>@cc.Pais</option>
                                            }
                                            else
                                            {
                                                <option value="@cc.IdPais">@cc.Pais</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.IdPais, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>Estado de la rep.</b>
                                    <select name="IdEstadoRep" class="form-control selectpicker show-tick" data-live-search="true">
                                        @foreach (var cc in ViewBag.Estados)
                                        {
                                            if (Model != null && cc.IdEstadoRep == Model.IdEstadoRep)
                                            {
                                                <option value="@cc.IdEstadoRep" selected>@cc.Estado</option>
                                            }
                                            else
                                            {
                                                <option value="@cc.IdEstadoRep">@cc.Estado</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.IdEstadoRep, "", new { @class = "alert-danger" })
                                </div>
                                <!--Este debe aparecer si eligen un pais diferente a México y desaparecer la lista de estados de la rep.-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <b>Estado.</b>
                                        @Html.TextBoxFor(m => m.EstadoProvincia, new { @class = "form-control", @placeholder = "Estado/Provincia" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.EstadoProvincia, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Municipio, new { @class = "form-control", @placeholder = "Municipio" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Municipio, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.CodigoPostal, new { @class = "form-control", @placeholder = "Código postal" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.CodigoPostal, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Colonia, new { @class = "form-control", @placeholder = "Colonia o fraccionamiento" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Colonia, "", new { @class = "alert-danger" })

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Calle, new { @class = "form-control", @placeholder = "Calle" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Calle, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.NumExt, new { @class = "form-control", @placeholder = "Número exterior" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.NumExt, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.NumInt, new { @class = "form-control", @placeholder = "Número interior" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.NumInt, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Información <strong>Bancaria</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <b>Banco</b>
                                    <select name="IdBanco" class="form-control selectpicker show-tick" data-live-search="true">
                                        @foreach (var lst in ViewBag.Bancos)
                                        {
                                            if (Model != null && lst.IdBanco == Model.IdBanco)
                                            {
                                                <option value="@lst.IdBanco" selected>@lst.NombreCorto</option>
                                            }
                                            else
                                            {
                                                <option value="@lst.IdBanco">@lst.NombreCorto</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.IdBanco, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-6">
                                    <b>Cuenta</b>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Cuenta, new { @class = "form-control", @placeholder = "Número de cuenta" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <b>Forma de pago</b>
                                    <select name="IdFormaDePago" class="form-control selectpicker show-tick" data-live-search="true">
                                        @foreach (var lst in ViewBag.FormasPago)
                                        {
                                            if (lst.IdFormaPago == Model.IdFormaDePago)
                                            {
                                                <option value="@lst.IdFormaPago" selected>@lst.Descripcion</option>
                                            }
                                            else
                                            {
                                                <option value="@lst.IdFormaPago">@lst.Descripcion</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.IdFormaDePago, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-6">
                                    <b>Días de crédito</b>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.DiasCredito, new { @class = "form-control", @placeholder = "Días que otorga de crédito" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Información <strong>de Contacto</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <b>Nombre del Contacto</b>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                                            @Html.TextBoxFor(m => m.Persona1, new { @class = "form-control", @placeholder = "Nombre del primer contacto" })
                                        </div>
                                        <div>
                                            @Html.ValidationMessageFor(m => m.Persona1, "", new { @class = "alert-danger" })
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                                            @Html.TextBoxFor(m => m.Persona2, new { @class = "form-control", @placeholder = "Nombre del segundo contacto" })
                                        </div>
                                        <div>
                                            @Html.ValidationMessageFor(m => m.Persona2, "", new { @class = "alert-danger" })
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                                            @Html.TextBoxFor(m => m.Persona3, new { @class = "form-control", @placeholder = "Nombre del tercer contacto" })
                                        </div>
                                        <div>
                                            @Html.ValidationMessageFor(m => m.Persona3, "", new { @class = "alert-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <b>Teléfono</b>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
                                            @Html.TextBoxFor(m => m.Telefono1, new { @class = "form-control mobile-phone-number", @placeholder = "Ej: +00 (000) 000-00-00" })
                                        </div>
                                        <div>
                                            @Html.ValidationMessageFor(m => m.Telefono1, "", new { @class = "alert-danger" })
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
                                            @Html.TextBoxFor(m => m.Telefono2, new { @class = "form-control mobile-phone-number", @placeholder = "Ej: +00 (000) 000-00-00" })
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
                                            @Html.TextBoxFor(m => m.Telefono3, new { @class = "form-control mobile-phone-number", @placeholder = "Ej: +00 (000) 000-00-00" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <b>Celular</b>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-smartphone"></i></span>
                                        @Html.TextBoxFor(m => m.Celular1, new { @class = "form-control mobile-phone-number", @placeholder = "Ej: +00 (000) 000-00-00" })
                                    </div>
                                    <div>
                                        @Html.ValidationMessageFor(m => m.Celular1, "", new { @class = "alert-danger" })
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-smartphone"></i></span>
                                        @Html.TextBoxFor(m => m.Celular2, new { @class = "form-control mobile-phone-number", @placeholder = "Ej: +00 (000) 000-00-00" })
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-smartphone"></i></span>
                                        @Html.TextBoxFor(m => m.Celular3, new { @class = "form-control mobile-phone-number", @placeholder = "Ej: +00 (000) 000-00-00" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <b>Correo electrónico</b>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                        @Html.TextBoxFor(m => m.Email1, new { @class = "form-control email", @placeholder = "Ej: ejemplo3@example.com" })
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                        @Html.TextBoxFor(m => m.Email2, new { @class = "form-control email", @placeholder = "Ej: ejemplo3@example.com" })
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                        @Html.TextBoxFor(m => m.Email3, new { @class = "form-control email", @placeholder = "Ej: ejemplo3@example.com" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <b>Sitios web</b>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                        @Html.TextBoxFor(m => m.SitioWeb1, new { @class = "form-control email", @placeholder = "Ej: ejemplo1.com" })
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                        @Html.TextBoxFor(m => m.SitioWeb2, new { @class = "form-control email", @placeholder = "Ej: ejemplo1.com" })
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                        @Html.TextBoxFor(m => m.SitioWeb3, new { @class = "form-control email", @placeholder = "Ej: ejemplo1.com" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Información <strong>Fiscal</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <b>Tipo persona</b>
                                    <select name="IdTipoPersona" class="form-control selectpicker show-tick" data-live-search="true">
                                        @foreach (var cc in ViewBag.TipoPersonas)
                                        {
                                            if (Model != null && cc.IdTipoPersona == Model.IdTipoPersona)
                                            {
                                        <option value="@cc.IdTipoPersona" selected>@cc.Descripcion</option>
                                            }
                                            else
                                            {
                                        <option value="@cc.IdTipoPersona">@cc.Descripcion</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.IdTipoPersona, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-9">
                                    <b>Régimen Fiscal</b>
                                    <select name="IdRegimenFiscal" class="form-control selectpicker show-tick" data-live-search="true">
                                        @foreach (var cc in ViewBag.RegimenesFiscales)
                                        {
                                            if (Model != null && cc.IdRegimenFiscal == Model.IdRegimenFiscal)
                                            {
                                        <option value="@cc.IdRegimenFiscal" selected>@cc.Descripcion</option>
                                            }
                                            else
                                            {
                                        <option value="@cc.IdRegimenFiscal">@cc.Descripcion</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(m => m.IdRegimenFiscal, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <b>RFC</b>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-key"></i></span>
                                        @Html.TextBoxFor(m => m.Rfc, new { @class = "form-control key", @placeholder = "Ej: XXX-000000-XXX" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Rfc, "", new { @class = "alert-danger" })
                                </div>
                                <div class="col-md-9">
                                    <b>Razón Social</b>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.RazonSocial, new { @class = "form-control", @placeholder = "Razón social" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.RazonSocial, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="row clearfix">
                                @if (ViewBag.EsEdicion == null)
                                {
                                <button btn id="BtnCrear" formaction="CrearProveedor" class="btn btn-primary btn-round">
                                    <i class="zmdi zmdi-plus"> </i> Crear
                                </button>
                                }
                                else
                                {
                                <button btn id="btnUpDate" formaction="EditarProveedor" class="btn btn-primary btn-round">
                                    <i class="zmdi zmdi-swap"> </i> Terminar Edición
                                </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </section>
