@using System.Web.UI.WebControls;
@model MVC.Presentacion.Models.Facturacion.FacturacionModel

@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<!DOCTYPE html>
<html>
<head>
    @*<script src="~/Resources/js/lib/jquery-1.9.1.js"></script>*@
    <script src="~/Resources/js/Clientes.js"></script>
    <link href="~/Resources/css/toggleCl.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.enableOnInput').prop('disabled', true);
            $("#EditarInfoCliente").click(function () {
                $('.enableOnInput').prop('disabled', false);
                $('.btnGuardarInfoCliente').prop('disabled', false);
            });
        });
        function OnSelectedChangeCountry(s, e) {
            if (s.GetValue() !== 1) {
                $('#ddlEdo').hide();
                $('#txtEdoP').show();
            }
            else {
                $('#ddlEdo').show();
                $('#txtEdoP').hide();
            }
        };        
        function OnSelectedChangeFilter(s, e) {
            if (s.GetValue() == 2) {//($('#ddlTipopersona').find('option:selected').text() == 'Moral') {
                $('#div_hideRP').show();
                $('#div_hidePM').hide();
                $('#hide_razonS').show();
            }
            if (s.GetValue() == 1) {// ($('#ddlTipopersona').find('option:selected').text() == 'Física') {
                $('#div_hideRP').hide();
                $('#hide_razonS').hide();
                $('#div_hidePM').show();
            }
            if (s.GetValue() == 0) {//($('#ddlTipopersona').find('option:selected').text() == 'Seleccione') {
                $('#div_hidePM').show();
                $('#div_hideRP').show();
                $('#hide_razonS').show();
            }
        }
    </script>
    <style type="text/css">
        .hid {
            display: none;
        }
    </style>
</head>
<body style="height:100%">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Cliente)
        <section class="content home">
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Facturación</h2>
                        <ul class="breadcrumb padding-0">
                            <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item">Facturación</li>
                            <li class="breadcrumb-item">Autoservicio</li>
                        </ul>
                    </div>
                </div>
                @if (ViewBag.MessageError != null)
                {
                    <div class="row clearfix">
                        <div id="divMensajeError" class="container">
                            <div class="alert alert-danger">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>
                                    <label>@ViewBag.MessageError</label>
                                </strong>
                            </div>
                        </div>
                    </div>
                }
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2><strong>Fiscales</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <strong>Tipo Persona:*</strong>
                                                    @Html.DevExpress().ComboBox(settings =>
                                               {
                                                   settings.Name = "IdTipoPersona";
                                                   settings.Width = Unit.Percentage(100);
                                                   settings.SelectedIndex = Model.Cliente.IdTipoPersona.Value;
                                                   settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                   settings.Theme = "Material";
                                                   settings.Properties.TextField = "Descripcion";
                                                   settings.Properties.ValueField = "IdTipoPersona";
                                                   settings.ClientEnabled = true;
                                                   settings.Properties.ValueType = typeof(int);
                                                   settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectedChangeFilter";
                                                   settings.Properties.ClientSideEvents.Init = "OnSelectedChangeFilter";
                                               }).BindList(ViewBag.TipoPersona).GetHtml()
                                                    @Html.ValidationMessageFor(m => m.Cliente.IdTipoPersona, "", new { @class = "alert-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <strong> Régimen Fiscal:*</strong>
                                                    @Html.DevExpress().ComboBox(settings =>
                                               {
                                                   settings.Name = "IdRegimenFiscal";
                                                   settings.Width = Unit.Percentage(100);
                                                   settings.SelectedIndex = Model.Cliente.IdRegimenFiscal.Value;
                                                   settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                   settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                   settings.Theme = "Material";
                                                   settings.ControlStyle.CssClass = "enableOnInput";
                                                   settings.Properties.TextField = "Descripcion";
                                                   settings.Properties.ValueField = "IdRegimenFiscal";
                                                   settings.Properties.ValueType = typeof(int);
                                               }).BindList(ViewBag.Regimen).GetHtml()
                                                    @Html.ValidationMessageFor(m => m.Cliente.IdRegimenFiscal, "", new { @class = "alert-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <strong>RFC:*</strong>
                                                    @Html.TextBoxFor(m => m.Cliente.Rfc, new { @class = "form-control enableOnInput" })
                                                    @Html.ValidationMessageFor(m => m.Cliente.Rfc, "", new { @class = "alert-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="form-group" id="hide_razonS">
                                                    <strong> Razón Social:*</strong>
                                                    @Html.TextBoxFor(m => m.Cliente.RazonSocial, new { @class = "form-control enableOnInput" })
                                                    @Html.ValidationMessageFor(m => m.Cliente.RazonSocial, "", new { @class = "alert-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" id="div_hideRP">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2><strong>Representante Legal</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    Nombre Completo:@Html.TextBoxFor(m => m.Cliente.RepresentanteLegal, new { @class = "form-control enableOnInput" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <div>
                                                        Teléfono:@Html.TextBoxFor(m => m.Cliente.Telefono, new { @class = "form-control enableOnInput" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    Dirección:@Html.TextBoxFor(m => m.Cliente.Domicilio, new { @class = "form-control enableOnInput" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    Celular:@Html.TextBoxFor(m => m.Cliente.Celular, new { @class = "form-control enableOnInput" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    E-mail:@Html.TextBoxFor(m => m.Cliente.CorreoElectronico, new { @class = "form-control enableOnInput" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" id="div_hidePM">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    Nombres:* @Html.TextBoxFor(m => m.Cliente.Nombre, new { @class = "form-control enableOnInput" })
                                    @Html.ValidationMessageFor(m => m.Cliente.Nombre, "", new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <div>
                                        Apellido Paterno:*
                                        @Html.TextBoxFor(m => m.Cliente.Apellido1, new { @class = "form-control enableOnInput" })
                                        @Html.ValidationMessageFor(m => m.Cliente.Apellido1, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <div>
                                        Apellido Materno:
                                        @Html.TextBoxFor(m => m.Cliente.Apellido2, new { @class = "form-control enableOnInput" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" id="div_hideRP">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="header">
                                        <h2><strong>Dirección</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="txtNume">
                                                            País:*
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    @Html.DevExpress().ComboBox(settings =>
                                       {
                                           settings.Name = "cliente.Locacion.IdPais";
                                           settings.Width = Unit.Percentage(100);
                                           settings.SelectedIndex = Model.Cliente.Locacion.IdPais;
                                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                           settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                           settings.Theme = "Material";
                                           settings.ControlStyle.CssClass = "enableOnInput";
                                           settings.Properties.TextField = "Pais";
                                           settings.Properties.ValueField = "IdPais";
                                           settings.Properties.ValueType = typeof(byte);
                                           settings.ClientEnabled = true;
                                           settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectedChangeCountry";
                                       }).BindList(ViewBag.Paises).GetHtml()
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="txtNume">
                                                            Estado:*
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <input type="text" name="EstadoProvincia" id="txtEdoP" class="form-control hid" placeholder="Estado" />
                                                    <div id="ddlEdo">
                                                        @Html.DevExpress().ComboBox(settings =>
                                       {
                                           settings.Name = "Locacion.IdEstadoRep";
                                           settings.Width = Unit.Percentage(100);
                                           settings.SelectedIndex = Model.Cliente.Locacion.IdEstadoRep;
                                           settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                           settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                           settings.Theme = "Material";
                                           settings.ControlStyle.CssClass = "enableOnInput";
                                           settings.Properties.TextField = "Estado";
                                           settings.Properties.ValueField = "IdEstadoRep";
                                           settings.Properties.ValueType = typeof(int);
                                       }).BindList(ViewBag.Estados).GetHtml()
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="txtNume">
                                                            Municipio:*
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.Cliente.Locacion.Municipio, new { @class = "form-control enableOnInput" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="txtNume">
                                                            Colonia:*
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.Cliente.Locacion.Colonia, new { @class = "form-control enableOnInput" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.Cliente.Locacion.Colonia, "", new { @class = "alert-danger" })
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="txtNume">
                                                            Calle:*
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.Cliente.Locacion.Calle, new { @class = "form-control enableOnInput" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.Cliente.Locacion.Calle, "", new { @class = "alert-danger" })
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="txtNume">
                                                            Núm Ext:*
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.Cliente.Locacion.NumExt, new { @class = "form-control enableOnInput" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.Cliente.Locacion.NumExt, "", new { @class = "alert-danger" })
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="txtNume">
                                                            Núm.Cliente. Int:
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.Cliente.Locacion.NumInt, new { @class = "form-control enableOnInput" })
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="txtNume">
                                                            Cod. Postal:*
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.Cliente.Locacion.CodigoPostal, new { @class = "form-control enableOnInput" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.Cliente.Locacion.CodigoPostal, "", new { @class = "alert-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input type="button" value="Editar" id="EditarInfoCliente" class="btn btn-raised btn-primary btn-round" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input type="submit" value="Guardar" id="btnGuardarInfoCliente" formaction="GuardarInfoCliente" formmethod="post" class="btn btn-raised btn-primary btn-round enableOnInput" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input type="submit" value="Continuar" formaction="ContinuarGenerarFactura" formmethod="post" class="btn btn-raised btn-primary btn-round" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
</html>
