@*@model  List<MVC.Presentacion.Models.Facturacion.FacturacionModel>*@
@using MVC.Presentacion.Models.Facturacion
    @model List<FacturacionModel>
@Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Material" },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Material" }
        )
@Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.GridView }
        )
<html>
<head>
    <script src="~/Resources/js/lib/jquery-1.9.1.js"></script>
    <script src="~/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="~/assets/js/pages/ui/notifications.js"></script>
    <script type="text/javascript">
        var mensaje = '@ViewBag.Msj';
        var tipo = '@ViewBag.Tipo';
        if (mensaje != '') {
            $(window).on("load", showNotification(tipo, mensaje, 'top', 'center', '', ''));
        }
    </script>
</head>
<body>
    @using (Html.BeginForm("Buscar", "Facturacion", FormMethod.Post))
    {
        <section class="content home">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>Facturación</h2>
                            <ul class="breadcrumb padding-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")"><i class="zmdi zmdi-home"></i></a></li>
                                <li class="breadcrumb-item">Facturación</li>
                                <li class="breadcrumb-item">Autoservicio</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <strong>Número de Ticket:*</strong>
                                        @Html.TextBoxFor(m => m[0].Ticket, new { @class = "form-control", @placeholder = "Número de Ticket" })
                                        @Html.ValidationMessageFor(m => m[0].Ticket, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <strong>Número de Cliente:*</strong>
                                        @Html.TextBoxFor(m => m[0].IdCliente, new { @class = "form-control", @placeholder = "Número de Cliente" })
                                        @Html.ValidationMessageFor(m => m[0].IdCliente, "", new { @class = "alert-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <strong>Fecha de venta:</strong>
                                    @Html.DevExpress().DateEdit(settings =>
                                       {
                                           settings.Name = "FechaVenta";
                                           settings.Properties.UseMaskBehavior = true;
                                           settings.Properties.EditFormat = EditFormat.Custom;
                                           settings.Theme = "Material";
                                           settings.Properties.EditFormatString = "dd/MM/yyyy";
                                           settings.Properties.NullText = "dd/MM/yyyy";
                                           settings.Width = System.Web.UI.WebControls.Unit.Percentage(80);
                                           settings.Properties.CalendarProperties.FastNavProperties.DisplayMode = FastNavigationDisplayMode.Inline;
                                       }).Bind(Model[0].FechaVenta).GetHtml()
                                </div>
                                <div class="col-sm-2">
                                    <strong>Monto de venta:</strong>
                                    @Html.TextBoxFor(m => m[0].MontoVenta, new { @class = "form-control", @placeholder = "Monto de venta" })
                                </div>
                                <div class="col-sm-1" style="top:10px">
                                        <div class="form-group">
                                            <input type="submit" name="Buscar" value="Buscar" class="btn btn-raised btn-primary btn-round float-left" />
                                        </div>
                                    </div>
                                <div class="col-sm-1" style="top:10px">
                                    <div class="form-group">
                                        <input type="submit" name="Facturar" value="Facturar" formaction=@Url.Action("Facturar") formmethod="post" class="btn btn-raised btn-primary btn-round float-left" />
                                    </div>
                                </div>

                            </div>
                            <br />
                            @if (ViewBag.MensajeError != null)
                            {
                                <div class="row clearfix">
                                    <div id="divMensajeError" class="container">
                                        <div class="alert alert-danger">
                                            <div class="alert-icon">
                                                <i class="zmdi zmdi-block"></i>
                                            </div>
                                            <strong>
                                                <label>@ViewBag.MensajeError</label>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row clearfix blockquote blockquote-info btn-round">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Ticket</th>
                                                <th>Importe</th>
                                                <th>RFC</th>                                               
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.Model != null)
                                            {
                                                foreach (var item in ViewBag.Model)
                                                {
                                                    <tr>
                                                        <th>@item.IdCliente</th>
                                                        <th>@item.Ticket</th>
                                                        <td>@item.Importe</td>
                                                        <td>@item.Rfc</td>                                                      
                                                        <td>

                                                            @*<a ID="lbBorrar" href="@Url.Action("CancelarPedido", "Pedidos", new {  idPedido =item.IdPedido })" class="tip" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">delete</i>
                                    <span>Cancelar pedido</span>
                                </a>*@
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
</html>
