@using MVC.Presentacion.Models.Catalogos
@model  PuntoVentaModel

@{
    ViewBag.Title = "Index";
}
<!-- Bootstrap Select Css -->
<link rel="stylesheet" href="~/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
<script src="~/Resources/js/lib/jquery-1.9.1.js"></script>

<script type="text/javascript">  
    $(function () {
        $('select').on('change', function () {
         
        //    $('#tblChoferes tbody tr td:eq(' + 3 + ')').css("background-color", "none");
            
            var _lstId = [];

            var _lstrows = [];

            var getIdRepeat = -1;

            var currentIndexSelect = $('#tblChoferes tbody tr')[0].rowIndex;
            var currentSelect = $('#tblChoferes tbody tr:eq(' + currentIndexSelect + ')').find('td option:selected').val()
          
            ////collect the values from selected;
            $('#tblChoferes tbody tr').each(function () {
                //var customerId = $(this).find("#idtd").html();
                var value = $(this).find('td option:selected').val();

                var rowindex = $(this).index();

                _lstrows.push(rowindex);
                _lstId.push(value);
                if (value == currentSelect) {
                    if (currentIndexSelect != rowindex) {
                        //
                        getIdRepeat = $(this).index();
                        //  $(this).parent('select').eq(0).attr('selected', 'selected')//.val($(this).val())
                        // $('#selectBox > option').eq(index).attr('selected', 'selected')
                        return false;
                    }
                }

            });

            var uniq = _lstId.map((name) => { return { count: 1, name: name } }).reduce((a, b) => {
                a[b.name] = (a[b.name] || 0) + b.count
                return a
            }, {})

            var duplicates = Object.keys(uniq).filter((a) => uniq[a] > 1)

            var isMyObjectEmpty = !Object.keys(duplicates).length;


            //if (!isMyObjectEmpty) {

           
            if (getIdRepeat >= 0) {           

                var currentSelect = $('#tblChoferes tbody tr').find('td option:selected').val()
                var currentId = $('#tblChoferes tbody tr')[0].rowIndex;
                //if (duplicates == currentSelect) {
                //myFunction(currentSelect);
                // $('#tblChoferes tbody tr:eq(' + getIdRepeat + ') td:eq(' + 3 + ') option[value=0]').attr('selected', 'selected');
                $('#tblChoferes tbody tr:eq(' + getIdRepeat + ') td:eq(' + 3 + ')').css("background-color", "red");

                //$("#tblChoferes tr td:nth-child(4):first").css("background-color", "red");
                //$("#tblChoferes tbody tr td option[value=0]").attr('selected', 'selected');

                //$("#tblChoferes tr td:nth-child(4):first").css("background-color", "red");
                //$("#tblChoferes tbody tr td option[value=0]").attr('selected', 'selected');
                //}
            }

            /********************************/
            //get new value selected


            //var tr = $(this).closest("tr");
            //tr.find("select option").attr("disabled", ""); //enable everything

            ////collect the values from selected;
            //var arr = $.map
            //(
            //   tr.find("select option:selected"), function (n) {
            //       return n.value;
            //   }
            // );
            /***********GUARDARChofer************/
            debugger
            var url = "/PuntoVenta/Guardar";
            var idChofer = currentSelect;           
            //var idEmpresa = $('#tblChoferes tbody tr:eq(' + currentIndexSelect + ') td:eq(' + 0 + ')').text();
            var uri = $('#tblChoferes tbody tr:eq(' + currentIndexSelect + ') td:eq(' + 0 + ')').prevObject[0].activeElement.baseURI;
            var idEmpresa = uri.substring(uri.lastIndexOf('=') + 1);
            var idPV = uri.substring(uri.lastIndexOf('/') + 1).substring(0, 1);
                   

            $.getJSON(url, { idEmpresa: idEmpresa, idChofer: idChofer, idPV: idPV}, function (data) {
               
                if (data == "[]") {
                   //get messages Error
                }
                else {
                  //get message Sucess
                }
            });
        });

    });   
</script>

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="~/assets/images/LogoCorpKonsilio183x183.png" width="48" height="48" alt="Alpino"></div>
        <p>Espere por favor</p>
    </div>
</div>
@using (Html.BeginForm("Registrar", "PuntoVenta", FormMethod.Post))
{
    <section class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-sm-3">
                                    <b>Gasera</b>
                                    <select name="IdEmpresa" id="ddlEmpresas" class="form-control selectpicker z-index show-tick" data-live-search="true" onchange="">
                                        @foreach (var lst in ViewBag.Empresas)
                                        {
                                        <option value="@lst.IdEmpresa">@lst.NombreComercial</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table table-bordered table-striped table-hover js-basic-example dataTable" id="tblChoferes">
                                        <thead>
                                            <tr>
                                                <th>Gasera</th>
                                                <th>Unidad</th>
                                                <th>Punto de venta</th>
                                                <th>Operador/Chofer</th>
                                                <th>Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @ViewBag.ListaPV)
                                            {
                                                <tr>
                                                    <td>@item.Empresa</td>
                                                    <td>@item.UnidadesAlmacen</td>
                                                    <td>@item.PuntoVenta</td>
                                                    @if (ViewBag.Usuarios != null)
                                                    {
                                                        <td id="idtd">
                                                            <select name="IdUsuario" class="form-control selectpicker z-index show-tick">
                                                                <option value="0">Seleccione...</option>
                                                                @foreach (var lst in ViewBag.Usuarios)
                                                                {
                                                                    if (@lst.IdUsuario == item.IdUsuario)
                                                                    {
                                                                        <option value="@lst.IdUsuario" selected>@lst.Nombre @lst.Apellido1 @lst.Apellido2</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@lst.IdUsuario">@lst.Nombre @lst.Apellido1 @lst.Apellido2</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </td>}
                                                    else
                                                    {
                                                        <td>@item.OperadorChofer</td>
                                                    }
                                                    <td>
                                                        <a ID="lbEdit" href="@Url.Action("AsignarChofer", "PuntoVenta" , new { idE = item.IdEmpresa,id=item.IdPuntoVenta })">
                                                            <i class="material-icons">edit</i>
                                                            <span class="icon-name"></span>
                                                        </a>
                                                        <a ID="lbBorrar" href="@Url.Action("BorrarPuntoVenta", "PuntoVenta" , new {idE = item.IdEmpresa, id=item.IdPuntoVenta })">
                                                            <i class="material-icons">delete</i>
                                                            <span class="icon-name"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                @if (ViewBag.MessageExito != "" && ViewBag.MessageExito != null)
                {

                    <div data-notify="container" class="bootstrap-notify-container alert alert-dismissible bg-green p-r-35 animated fadeInDown"
                         role="alert" data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031;
                         bottom: 20px; left: 0px; right: 0px;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        <span data-notify="icon"></span>
                        <span data-notify="title"></span> <span data-notify="message">@ViewBag.MessageExito</span>
                        <a href="#" target="_blank" data-notify="url"></a>
                    </div>
                }

                @if (ViewBag.MessageError != "" && ViewBag.MessageError != null)
                {
                    <div data-notify="container" class="bootstrap-notify-container alert alert-dismissible bg-red p-r-35 animated fadeInDown"
                         role="alert" data-notify-position="bottom-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031;
                         bottom: 20px; left: 0px; right: 0px;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        <span data-notify="icon"></span>
                        <span data-notify="title"></span> <span data-notify="message">@ViewBag.MessageError</span><a href="#" target="_blank" data-notify="url"></a>
                    </div>
                }

            </div>
        </div>
    </section>

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


